#AreaPageVseobecneParametreP3_ImageVseobecneParametreP3 {
  top: 0px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_ImageVseobecneParametreP3 {
  left: 0px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_ImageVseobecneParametreP3 {
  width: 1366px;
}

#AreaPageVseobecneParametreP3_ImageVseobecneParametreP3 {
  height: 588px;
}

#AreaPageVseobecneParametreP3_ImageVseobecneParametreP3 {
  z-index: 0;
}

#AreaPageVseobecneParametreP3_ImageVseobecneParametreP3 {
  opacity: 0.15;
}

#AreaPageVseobecneParametreP3_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label1 {
  width: 400px;
}

#AreaPageVseobecneParametreP3_Label1 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label1 {
  z-index: 1;
}

#AreaPageVseobecneParametreP3_GroupBox2 {
  top: 80px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_GroupBox2 {
  left: 63px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_GroupBox2 {
  width: 1240px;
}

#AreaPageVseobecneParametreP3_GroupBox2 {
  height: 500px;
}

#AreaPageVseobecneParametreP3_GroupBox2 {
  z-index: 2;
}

#AreaPageVseobecneParametreP3_GroupBox2 {
  background-color: oldlace;
}

#AreaPageVseobecneParametreP3_GroupBox2 > .header span {
  color: black;
}

#AreaPageVseobecneParametreP3_GroupBox2 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageVseobecneParametreP3_Label12 {
  top: 11px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label12 {
  left: 8px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label12 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label12 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label12 {
  z-index: 0;
}

#AreaPageVseobecneParametreP3_Label12 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label12 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label12 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label12 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label12 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label12:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label12:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label12 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label12:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label12:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label12 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label12 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label12 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label12 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_9 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_9 {
  top: 16px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_9 {
  left: 175px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_9 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_9 {
  z-index: 1;
}

#AreaPageVseobecneParametreP3_NumericInput_9:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_9.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_9 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_9.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_9.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_9.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_9.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_9.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_9 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_9.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_9.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_9.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_9 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_9 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_9 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP3_Label14 {
  top: 59px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label14 {
  left: 8px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label14 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label14 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label14 {
  z-index: 2;
}

#AreaPageVseobecneParametreP3_Label14 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label14 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label14 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label14 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label14 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label14:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label14:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label14 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label14:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label14:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label14 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label14 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label14 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label14 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_10 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_10 {
  top: 64px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_10 {
  left: 175px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_10 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_10 {
  z-index: 3;
}

#AreaPageVseobecneParametreP3_NumericInput_10:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_10.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_10 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_10.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_10.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_10.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_10.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_10.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_10 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_10.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_10.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_10.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_10 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_10 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_10 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP3_Label33 {
  top: 11px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label33 {
  left: 618px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label33 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label33 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label33 {
  z-index: 4;
}

#AreaPageVseobecneParametreP3_Label33 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label33 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label33 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label33 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label33 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label33:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label33:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label33 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label33:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label33:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label33 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label33 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label33 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label33 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_26 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_26 {
  top: 16px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_26 {
  left: 783px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_26 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_26 {
  z-index: 5;
}

#AreaPageVseobecneParametreP3_NumericInput_26:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_26.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_26 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_26.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_26.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_26.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_26.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_26.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_26 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_26.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_26.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_26.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_26 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_26 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_26 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP3_Label40 {
  top: 59px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label40 {
  left: 618px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label40 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label40 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label40 {
  z-index: 6;
}

#AreaPageVseobecneParametreP3_Label40 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label40 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label40 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label40 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label40 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label40:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label40:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label40 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label40:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label40:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label40 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label40 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label40 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label40 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_33 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_33 {
  top: 64px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_33 {
  left: 783px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_33 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_33 {
  z-index: 7;
}

#AreaPageVseobecneParametreP3_NumericInput_33:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_33.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_33 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_33.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_33.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_33.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_33.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_33.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_33 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_33.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_33.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_33.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_33 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_33 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_33 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP3_Label45 {
  top: 59px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label45 {
  left: 312px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label45 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label45 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label45 {
  z-index: 8;
}

#AreaPageVseobecneParametreP3_Label45 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label45 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label45 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label45 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label45 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label45:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label45:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label45 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label45:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label45:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label45 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label45 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label45 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label45 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_38 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_38 {
  top: 64px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_38 {
  left: 479px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_38 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_38 {
  z-index: 9;
}

#AreaPageVseobecneParametreP3_NumericInput_38:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_38.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_38 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_38.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_38.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_38.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_38.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_38.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_38 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_38.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_38.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_38.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_38 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_38 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_38 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP3_Label46 {
  top: 108px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label46 {
  left: 312px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label46 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label46 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label46 {
  z-index: 10;
}

#AreaPageVseobecneParametreP3_Label46 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label46 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label46 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label46 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label46 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label46:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label46:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label46 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label46:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label46:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label46 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label46 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label46 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label46 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_39 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_39 {
  top: 113px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_39 {
  left: 479px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_39 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_39 {
  z-index: 11;
}

#AreaPageVseobecneParametreP3_NumericInput_39:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_39.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_39 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_39.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_39.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_39.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_39.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_39.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_39 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_39.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_39.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_39.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_39 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_39 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_39 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP3_Label48 {
  top: 11px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label48 {
  left: 312px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label48 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label48 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label48 {
  z-index: 12;
}

#AreaPageVseobecneParametreP3_Label48 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label48 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label48 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label48 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label48 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label48:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label48:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label48 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label48:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label48:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label48 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label48 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label48 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label48 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_41 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_41 {
  top: 16px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_41 {
  left: 479px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_41 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_41 {
  z-index: 13;
}

#AreaPageVseobecneParametreP3_NumericInput_41:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_41.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_41 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_41.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_41.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_41.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_41.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_41.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_41 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_41.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_41.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_41.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_41 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_41 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_41 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP3_Label49 {
  top: 209px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label49 {
  left: 312px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label49 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label49 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label49 {
  z-index: 14;
}

#AreaPageVseobecneParametreP3_Label49 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label49 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label49 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label49 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label49 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label49:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label49:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label49 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label49:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label49:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label49 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label49 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label49 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label49 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_42 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_42 {
  top: 214px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_42 {
  left: 479px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_42 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_42 {
  z-index: 15;
}

#AreaPageVseobecneParametreP3_NumericInput_42:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_42.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_42 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_42.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_42.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_42.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_42.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_42.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_42 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_42.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_42.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_42.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_42 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_42 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_42 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP3_Label50 {
  top: 259px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label50 {
  left: 312px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label50 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label50 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label50 {
  z-index: 16;
}

#AreaPageVseobecneParametreP3_Label50 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label50 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label50 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label50 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label50 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label50:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label50:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label50 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label50:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label50:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label50 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label50 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label50 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label50 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_43 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_43 {
  top: 264px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_43 {
  left: 479px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_43 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_43 {
  z-index: 17;
}

#AreaPageVseobecneParametreP3_NumericInput_43:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_43.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_43 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_43.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_43.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_43.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_43.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_43.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_43 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_43.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_43.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_43.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_43 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_43 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_43 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP3_Label53 {
  top: 159px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label53 {
  left: 312px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label53 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label53 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label53 {
  z-index: 18;
}

#AreaPageVseobecneParametreP3_Label53 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label53 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label53 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label53 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label53 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label53:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label53:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label53 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label53:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label53:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label53 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label53 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label53 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label53 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_46 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_46 {
  top: 164px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_46 {
  left: 479px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_46 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_46 {
  z-index: 19;
}

#AreaPageVseobecneParametreP3_NumericInput_46:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_46.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_46 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_46.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_46.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_46.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_46.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_46.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_46 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_46.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_46.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_46.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_46 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_46 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_46 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP3_Label56 {
  top: 108px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label56 {
  left: 8px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label56 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label56 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label56 {
  z-index: 20;
}

#AreaPageVseobecneParametreP3_Label56 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label56 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label56 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label56 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label56 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label56:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label56:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label56 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label56:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label56:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label56 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label56 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label56 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label56 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_48 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_48 {
  top: 113px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_48 {
  left: 175px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_48 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_48 {
  z-index: 21;
}

#AreaPageVseobecneParametreP3_NumericInput_48:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_48.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_48 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_48.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_48.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_48.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_48.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_48.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_48 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_48.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_48.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_48.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_48 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_48 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_48 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP3_Label57 {
  top: 159px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label57 {
  left: 8px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label57 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label57 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label57 {
  z-index: 22;
}

#AreaPageVseobecneParametreP3_Label57 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label57 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label57 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label57 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label57 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label57:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label57:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label57 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label57:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label57:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label57 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label57 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label57 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label57 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_49 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_49 {
  top: 164px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_49 {
  left: 175px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_49 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_49 {
  z-index: 23;
}

#AreaPageVseobecneParametreP3_NumericInput_49:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_49.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_49 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_49.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_49.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_49.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_49.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_49.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_49 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_49.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_49.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_49.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_49 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_49 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_49 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP3_Label35 {
  top: 11px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label35 {
  left: 921px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label35 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label35 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label35 {
  z-index: 24;
}

#AreaPageVseobecneParametreP3_Label35 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label35 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label35 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label35 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label35 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label35:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label35:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label35 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label35:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label35:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label35 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label35 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label35 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label35 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_28 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_28 {
  top: 16px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_28 {
  left: 1086px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_28 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_28 {
  z-index: 25;
}

#AreaPageVseobecneParametreP3_NumericInput_28:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_28.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_28 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_28.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_28.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_28.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_28.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_28.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_28 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_28.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_28.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_28.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_28 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_28 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_28 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP3_Label41 {
  top: 59px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label41 {
  left: 921px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_Label41 {
  width: 290px;
}

#AreaPageVseobecneParametreP3_Label41 {
  height: 40px;
}

#AreaPageVseobecneParametreP3_Label41 {
  z-index: 26;
}

#AreaPageVseobecneParametreP3_Label41 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP3_Label41 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_Label41 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP3_Label41 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP3_Label41 {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label41:before {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label41:after {
  border-color: black;
}

#AreaPageVseobecneParametreP3_Label41 {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label41:before {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label41:after {
  border-style: none;
}

#AreaPageVseobecneParametreP3_Label41 span {
  color: black;
}

#AreaPageVseobecneParametreP3_Label41 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_Label41 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP3_Label41 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP3_NumericInput_34 {
  height: 30px;
}

#AreaPageVseobecneParametreP3_NumericInput_34 {
  top: 64px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_34 {
  left: 1086px;
  position: absolute;
}

#AreaPageVseobecneParametreP3_NumericInput_34 {
  width: 118px;
}

#AreaPageVseobecneParametreP3_NumericInput_34 {
  z-index: 27;
}

#AreaPageVseobecneParametreP3_NumericInput_34:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_34.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP3_NumericInput_34 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP3_NumericInput_34.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP3_NumericInput_34.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP3_NumericInput_34.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP3_NumericInput_34.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_34.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_34 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_34.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP3_NumericInput_34.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_34.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP3_NumericInput_34 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP3_NumericInput_34 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP3_NumericInput_34 {
  box-shadow: none;
}
