#AreaPageSetupP1_page1_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageSetupP1_page1_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageSetupP1_page1_Image1 {
  width: 1366px;
}

#AreaPageSetupP1_page1_Image1 {
  height: 588px;
}

#AreaPageSetupP1_page1_Image1 {
  z-index: 0;
}

#AreaPageSetupP1_page1_Image1 {
  opacity: 0.2;
}

#AreaPageSetupP1_page1_Label1 {
  top: 13px;
  position: absolute;
}

#AreaPageSetupP1_page1_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageSetupP1_page1_Label1 {
  width: 400px;
}

#AreaPageSetupP1_page1_Label1 {
  height: 40px;
}

#AreaPageSetupP1_page1_Label1 {
  z-index: 1;
}

#AreaPageSetupP1_page1_Label1 {
  border-width: 3px;
}

#AreaPageSetupP1_page1_Label1 {
  border-radius: 5px;
}

#AreaPageSetupP1_page1_Label1 {
  background-color: #e0e0e0;
}

#AreaPageSetupP1_page1_Label1 {
  border-style: ridge;
}

#AreaPageSetupP1_page1_Label1:before {
  border-style: ridge;
}

#AreaPageSetupP1_page1_Label1:after {
  border-style: ridge;
}

#AreaPageSetupP1_page1_Label1 span {
  color: black;
}

#AreaPageSetupP1_page1_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageSetupP1_page1_Label1 {
  font-size: 22px;
}

#AreaPageSetupP1_page1_Label1 {
  font-weight: bold;
}

#AreaPageSetupP1_page1_Label1 {
  box-shadow: 2px 2px 15px black;
}

#AreaPageSetupP1_page1_ToggleSwitch_Kamery_ON_OFF {
  top: 100px;
  position: absolute;
}

#AreaPageSetupP1_page1_ToggleSwitch_Kamery_ON_OFF {
  left: 508px;
  position: absolute;
}

#AreaPageSetupP1_page1_ToggleSwitch_Kamery_ON_OFF {
  width: 350px;
}

#AreaPageSetupP1_page1_ToggleSwitch_Kamery_ON_OFF {
  height: 60px;
}

#AreaPageSetupP1_page1_ToggleSwitch_Kamery_ON_OFF {
  z-index: 2;
}

#AreaPageSetupP1_page1_ToggleSwitch_Kamery_ON_OFF:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageSetupP1_page1_ToggleSwitch_Kamery_ON_OFF:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageSetupP1_page1_ToggleSwitch_Kamery_ON_OFF .wrapper .before {
  font-size: 20px;
}

#AreaPageSetupP1_page1_ToggleSwitch_Kamery_ON_OFF .wrapper .after {
  font-size: 20px;
}

#AreaPageSetupP1_page1_ToggleSwitch_Kamery_ON_OFF:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageSetupP1_page1_ToggleSwitch_Kamery_ON_OFF.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageSetupP1_page1_ToggleSwitch_Kamery_ON_OFF.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageSetupP1_page1_ToggleSwitch_FTPkomunikacia_ON_OFF {
  top: 202px;
  position: absolute;
}

#AreaPageSetupP1_page1_ToggleSwitch_FTPkomunikacia_ON_OFF {
  left: 508px;
  position: absolute;
}

#AreaPageSetupP1_page1_ToggleSwitch_FTPkomunikacia_ON_OFF {
  width: 350px;
}

#AreaPageSetupP1_page1_ToggleSwitch_FTPkomunikacia_ON_OFF {
  height: 60px;
}

#AreaPageSetupP1_page1_ToggleSwitch_FTPkomunikacia_ON_OFF {
  z-index: 3;
}

#AreaPageSetupP1_page1_ToggleSwitch_FTPkomunikacia_ON_OFF:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageSetupP1_page1_ToggleSwitch_FTPkomunikacia_ON_OFF:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageSetupP1_page1_ToggleSwitch_FTPkomunikacia_ON_OFF .wrapper .before {
  font-size: 20px;
}

#AreaPageSetupP1_page1_ToggleSwitch_FTPkomunikacia_ON_OFF .wrapper .after {
  font-size: 20px;
}

#AreaPageSetupP1_page1_ToggleSwitch_FTPkomunikacia_ON_OFF:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageSetupP1_page1_ToggleSwitch_FTPkomunikacia_ON_OFF.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageSetupP1_page1_ToggleSwitch_FTPkomunikacia_ON_OFF.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageSetupP1_page1_ToggleSwitch_Panatrace_ON_OFF {
  top: 303px;
  position: absolute;
}

#AreaPageSetupP1_page1_ToggleSwitch_Panatrace_ON_OFF {
  left: 508px;
  position: absolute;
}

#AreaPageSetupP1_page1_ToggleSwitch_Panatrace_ON_OFF {
  width: 350px;
}

#AreaPageSetupP1_page1_ToggleSwitch_Panatrace_ON_OFF {
  height: 60px;
}

#AreaPageSetupP1_page1_ToggleSwitch_Panatrace_ON_OFF {
  z-index: 4;
}

#AreaPageSetupP1_page1_ToggleSwitch_Panatrace_ON_OFF:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageSetupP1_page1_ToggleSwitch_Panatrace_ON_OFF:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageSetupP1_page1_ToggleSwitch_Panatrace_ON_OFF .wrapper .before {
  font-size: 20px;
}

#AreaPageSetupP1_page1_ToggleSwitch_Panatrace_ON_OFF .wrapper .after {
  font-size: 20px;
}

#AreaPageSetupP1_page1_ToggleSwitch_Panatrace_ON_OFF:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageSetupP1_page1_ToggleSwitch_Panatrace_ON_OFF.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageSetupP1_page1_ToggleSwitch_Panatrace_ON_OFF.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageSetupP1_page1_ToggleSwitch_VysledkaSkrutkovania_ON_OFF {
  top: 405px;
  position: absolute;
}

#AreaPageSetupP1_page1_ToggleSwitch_VysledkaSkrutkovania_ON_OFF {
  left: 508px;
  position: absolute;
}

#AreaPageSetupP1_page1_ToggleSwitch_VysledkaSkrutkovania_ON_OFF {
  width: 350px;
}

#AreaPageSetupP1_page1_ToggleSwitch_VysledkaSkrutkovania_ON_OFF {
  height: 60px;
}

#AreaPageSetupP1_page1_ToggleSwitch_VysledkaSkrutkovania_ON_OFF {
  z-index: 5;
}

#AreaPageSetupP1_page1_ToggleSwitch_VysledkaSkrutkovania_ON_OFF:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageSetupP1_page1_ToggleSwitch_VysledkaSkrutkovania_ON_OFF:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageSetupP1_page1_ToggleSwitch_VysledkaSkrutkovania_ON_OFF .wrapper .before {
  font-size: 20px;
}

#AreaPageSetupP1_page1_ToggleSwitch_VysledkaSkrutkovania_ON_OFF .wrapper .after {
  font-size: 20px;
}

#AreaPageSetupP1_page1_ToggleSwitch_VysledkaSkrutkovania_ON_OFF:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageSetupP1_page1_ToggleSwitch_VysledkaSkrutkovania_ON_OFF.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageSetupP1_page1_ToggleSwitch_VysledkaSkrutkovania_ON_OFF.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
