@import "mixins.scss";
#AreaPageManualP1_Skrutkovanie_Image1 {
	@include elemTop(0);
}
#AreaPageManualP1_Skrutkovanie_Image1 {
	@include elemLeft(0);
}
#AreaPageManualP1_Skrutkovanie_Image1 {
	@include elemAutoWidth(1366);
}
#AreaPageManualP1_Skrutkovanie_Image1 {
	@include elemAutoHeight(588);
}
#AreaPageManualP1_Skrutkovanie_Image1 {
		z-index: 0;
}
#AreaPageManualP1_Skrutkovanie_Image1 {
		opacity: 0.2;
}
#AreaPageManualP1_Skrutkovanie_Label1 {
	@include elemTop(13);
}
#AreaPageManualP1_Skrutkovanie_Label1 {
	@include elemLeft(483);
}
#AreaPageManualP1_Skrutkovanie_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageManualP1_Skrutkovanie_Label1 {
	@include elemAutoHeight(40);
}
#AreaPageManualP1_Skrutkovanie_Label1 {
		z-index: 1;
}
#AreaPageManualP1_Skrutkovanie_Label1 {
		border-width: 3px;
}
#AreaPageManualP1_Skrutkovanie_Label1 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_Label1 {
		background-color: rgba(224, 224, 224, 1);
}
#AreaPageManualP1_Skrutkovanie_Label1 {
		border-style: ridge;
}
#AreaPageManualP1_Skrutkovanie_Label1 {
	&:before{
		border-style: ridge;
	}
}
#AreaPageManualP1_Skrutkovanie_Label1 {
	&:after{
		border-style: ridge;
	}
}
#AreaPageManualP1_Skrutkovanie_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label1 {
	@include text-alignment-all('center');
}
#AreaPageManualP1_Skrutkovanie_Label1 {
		font-size: 22px;
}
#AreaPageManualP1_Skrutkovanie_Label1 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_Label1 {
	@include box-shadow(2px 2px 15px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Skrutkovanie_GroupBox2 {
	@include elemTop(68);
}
#AreaPageManualP1_Skrutkovanie_GroupBox2 {
	@include elemLeft(18);
}
#AreaPageManualP1_Skrutkovanie_GroupBox2 {
	@include elemWidth(430);
}
#AreaPageManualP1_Skrutkovanie_GroupBox2 {
	@include elemHeight(250);
}
#AreaPageManualP1_Skrutkovanie_GroupBox2 {
		z-index: 2;
}
#AreaPageManualP1_Skrutkovanie_GroupBox2 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP1_Skrutkovanie_GroupBox2 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_GroupBox2 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Skrutkovanie_ImageList8 {
	@include elemTop(85);
}
#AreaPageManualP1_Skrutkovanie_ImageList8 {
	@include elemLeft(301);
}
#AreaPageManualP1_Skrutkovanie_ImageList8 {
	@include elemWidth(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList8 {
	@include elemHeight(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList8 {
		z-index: 0;
}
#AreaPageManualP1_Skrutkovanie_ImageList8 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_ZasunStoperPoz4 {
	@include elemTop(81);
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_ZasunStoperPoz4 {
	@include elemLeft(139);
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_ZasunStoperPoz4 {
	@include elemAutoWidth(150);
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_ZasunStoperPoz4 {
	@include elemAutoHeight(50);
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_ZasunStoperPoz4 {
		z-index: 1;
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_ZasunStoperPoz4 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_ZasunStoperPoz4 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_ZasunStoperPoz4 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_ZasunStoperPoz4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP1_Skrutkovanie_ImageList9 {
	@include elemTop(110);
}
#AreaPageManualP1_Skrutkovanie_ImageList9 {
	@include elemLeft(301);
}
#AreaPageManualP1_Skrutkovanie_ImageList9 {
	@include elemWidth(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList9 {
	@include elemHeight(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList9 {
		z-index: 2;
}
#AreaPageManualP1_Skrutkovanie_ImageList9 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_GroupBox4 {
	@include elemTop(328);
}
#AreaPageManualP1_Skrutkovanie_GroupBox4 {
	@include elemLeft(18);
}
#AreaPageManualP1_Skrutkovanie_GroupBox4 {
	@include elemWidth(430);
}
#AreaPageManualP1_Skrutkovanie_GroupBox4 {
	@include elemHeight(250);
}
#AreaPageManualP1_Skrutkovanie_GroupBox4 {
		z-index: 3;
}
#AreaPageManualP1_Skrutkovanie_GroupBox4 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP1_Skrutkovanie_GroupBox4 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_GroupBox4 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_Stoper {
	@include elemTop(107);
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_Stoper {
	@include elemLeft(139);
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_Stoper {
	@include elemAutoWidth(150);
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_Stoper {
	@include elemAutoHeight(50);
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_Stoper {
		z-index: 0;
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_Stoper {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_Stoper {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_Stoper {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_Stoper {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_ToggleSwitch_Stoper {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_Label15 {
	@include elemTop(13);
}
#AreaPageManualP1_Skrutkovanie_Label15 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_Label15 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_Label15 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_Label15 {
		z-index: 1;
}
#AreaPageManualP1_Skrutkovanie_Label15 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_Label15 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_Label15 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_Label15 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_Label15 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label15 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label15 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_Label15 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label15 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label15 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label15 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_Label15 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_ImageList10 {
	@include elemTop(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList10 {
	@include elemLeft(171);
}
#AreaPageManualP1_Skrutkovanie_ImageList10 {
	@include elemWidth(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList10 {
	@include elemHeight(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList10 {
		z-index: 2;
}
#AreaPageManualP1_Skrutkovanie_ImageList10 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	@include elemTop(8);
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	@include elemLeft(1248);
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	@include elemAutoWidth(105);
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	@include elemAutoHeight(50);
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
		z-index: 4;
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
		border-style: solid;
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&.active{
		border-style: solid;
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&.checked{
		border-style: solid;
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&:not(.active):not(.checked){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&.disabled{
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	@include border-radius(8px);
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&.active.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	span{
		font-size: 20px;
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_NavigationButton_NextPage {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_GroupBox3 {
	@include elemTop(68);
}
#AreaPageManualP1_Skrutkovanie_GroupBox3 {
	@include elemLeft(468);
}
#AreaPageManualP1_Skrutkovanie_GroupBox3 {
	@include elemWidth(430);
}
#AreaPageManualP1_Skrutkovanie_GroupBox3 {
	@include elemHeight(510);
}
#AreaPageManualP1_Skrutkovanie_GroupBox3 {
		z-index: 5;
}
#AreaPageManualP1_Skrutkovanie_GroupBox3 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP1_Skrutkovanie_GroupBox3 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_GroupBox3 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VZAD {
	@include elemTop(81);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VZAD {
	@include elemLeft(26);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VZAD {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VZAD {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VZAD {
		z-index: 0;
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VZAD {
	@include border-radius(10px);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VZAD {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VZAD {
	@include text-alignment(left);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VZAD {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VZAD {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VZAD {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VPRED {
	@include elemTop(81);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VPRED {
	@include elemLeft(238);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VPRED {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VPRED {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VPRED {
		z-index: 1;
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VPRED {
	@include border-radius(10px);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VPRED {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VPRED {
	@include text-alignment(left);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VPRED {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VPRED {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsX_VPRED {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_Label11 {
	@include elemTop(273);
}
#AreaPageManualP1_Skrutkovanie_Label11 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_Label11 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_Label11 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_Label11 {
		z-index: 2;
}
#AreaPageManualP1_Skrutkovanie_Label11 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_Label11 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_Label11 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_Label11 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_Label11 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label11 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label11 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_Label11 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label11 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label11 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label11 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_Label11 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_Line3 {
		z-index: 3;
}
#AreaPageManualP1_Skrutkovanie_Line3 {
	line{
		stroke-width: 2px;
	}
}
#AreaPageManualP1_Skrutkovanie_Label12 {
	@include elemTop(325);
}
#AreaPageManualP1_Skrutkovanie_Label12 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_Label12 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_Label12 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_Label12 {
		z-index: 4;
}
#AreaPageManualP1_Skrutkovanie_Label12 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_Label12 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_Label12 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_Label12 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_Label12 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label12 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label12 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_Label12 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label12 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label12 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label12 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_Label12 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_Label27 {
	@include elemTop(151);
}
#AreaPageManualP1_Skrutkovanie_Label27 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_Label27 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_Label27 {
	@include elemAutoHeight(77);
}
#AreaPageManualP1_Skrutkovanie_Label27 {
		z-index: 5;
}
#AreaPageManualP1_Skrutkovanie_Label27 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_Label27 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_Label27 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_Label27 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_Label27 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label27 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label27 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_Label27 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label27 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label27 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label27 {
	@include text-alignment-all('center top');
}
#AreaPageManualP1_Skrutkovanie_Label27 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_Label27 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_Label28 {
	@include elemTop(151);
}
#AreaPageManualP1_Skrutkovanie_Label28 {
	@include elemLeft(223);
}
#AreaPageManualP1_Skrutkovanie_Label28 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_Label28 {
	@include elemAutoHeight(77);
}
#AreaPageManualP1_Skrutkovanie_Label28 {
		z-index: 6;
}
#AreaPageManualP1_Skrutkovanie_Label28 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_Label28 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_Label28 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_Label28 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_Label28 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label28 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label28 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_Label28 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label28 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label28 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label28 {
	@include text-alignment-all('center top');
}
#AreaPageManualP1_Skrutkovanie_Label28 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_Label28 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_Label17 {
	@include elemTop(15);
}
#AreaPageManualP1_Skrutkovanie_Label17 {
	@include elemLeft(221);
}
#AreaPageManualP1_Skrutkovanie_Label17 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_Label17 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_Label17 {
		z-index: 8;
}
#AreaPageManualP1_Skrutkovanie_Label17 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_Label17 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_Label17 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_Label17 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_Label17 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label17 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label17 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_Label17 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label17 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label17 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label17 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_Label17 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsX {
	@include elemTop(15);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsX {
	@include elemLeft(26);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsX {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsX {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsX {
		z-index: 7;
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsX {
	@include border-radius(10px);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsX {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsX {
	@include text-alignment(left);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsX {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsX {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsX {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_NumericInput_6 {
	@include elemAutoHeight(30);
}
#AreaPageManualP1_Skrutkovanie_NumericInput_6 {
	@include elemTop(187);
}
#AreaPageManualP1_Skrutkovanie_NumericInput_6 {
	@include elemLeft(238);
}
#AreaPageManualP1_Skrutkovanie_NumericInput_6 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_NumericInput_6 {
		z-index: 10;
}
#AreaPageManualP1_Skrutkovanie_NumericInput_6 {
	&.disabled{
		background-color: rgba(192, 192, 192, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_NumericInput_6 {
	&.active:not(.disabled){
		background-color: rgba(255, 255, 255, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_NumericOutput2 {
	@include elemAutoHeight(30);
}
#AreaPageManualP1_Skrutkovanie_NumericOutput2 {
	@include elemTop(187);
}
#AreaPageManualP1_Skrutkovanie_NumericOutput2 {
	@include elemLeft(26);
}
#AreaPageManualP1_Skrutkovanie_NumericOutput2 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_NumericOutput2 {
		z-index: 9;
}
#AreaPageManualP1_Skrutkovanie_NumericOutput2 {
		border-style: ridge;
}
#AreaPageManualP1_Skrutkovanie_NumericOutput2 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_NumericOutput2 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_NumericOutput2 {
	input{
	@include text-alignment(center);
	}
}
#AreaPageManualP1_Skrutkovanie_ImageList11 {
	@include elemTop(26);
}
#AreaPageManualP1_Skrutkovanie_ImageList11 {
	@include elemLeft(381);
}
#AreaPageManualP1_Skrutkovanie_ImageList11 {
	@include elemWidth(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList11 {
	@include elemHeight(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList11 {
		z-index: 11;
}
#AreaPageManualP1_Skrutkovanie_ImageList11 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_ImageList12 {
	@include elemTop(284);
}
#AreaPageManualP1_Skrutkovanie_ImageList12 {
	@include elemLeft(171);
}
#AreaPageManualP1_Skrutkovanie_ImageList12 {
	@include elemWidth(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList12 {
	@include elemHeight(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList12 {
		z-index: 12;
}
#AreaPageManualP1_Skrutkovanie_ImageList12 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_ImageList13 {
	@include elemTop(336);
}
#AreaPageManualP1_Skrutkovanie_ImageList13 {
	@include elemLeft(171);
}
#AreaPageManualP1_Skrutkovanie_ImageList13 {
	@include elemWidth(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList13 {
	@include elemHeight(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList13 {
		z-index: 13;
}
#AreaPageManualP1_Skrutkovanie_ImageList13 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_GroupBox5 {
	@include elemTop(68);
}
#AreaPageManualP1_Skrutkovanie_GroupBox5 {
	@include elemLeft(923);
}
#AreaPageManualP1_Skrutkovanie_GroupBox5 {
	@include elemWidth(430);
}
#AreaPageManualP1_Skrutkovanie_GroupBox5 {
	@include elemHeight(510);
}
#AreaPageManualP1_Skrutkovanie_GroupBox5 {
		z-index: 6;
}
#AreaPageManualP1_Skrutkovanie_GroupBox5 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP1_Skrutkovanie_GroupBox5 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_GroupBox5 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	@include elemTop(81);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	@include elemLeft(26);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
		z-index: 0;
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	@include border-radius(10px);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	@include text-alignment(left);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	@include elemTop(81);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	@include elemLeft(239);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
		z-index: 1;
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	@include border-radius(10px);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	@include text-alignment(left);
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_Line4 {
		z-index: 2;
}
#AreaPageManualP1_Skrutkovanie_Line4 {
	line{
		stroke-width: 2px;
	}
}
#AreaPageManualP1_Skrutkovanie_Label13 {
	@include elemTop(273);
}
#AreaPageManualP1_Skrutkovanie_Label13 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_Label13 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_Label13 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_Label13 {
		z-index: 3;
}
#AreaPageManualP1_Skrutkovanie_Label13 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_Label13 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_Label13 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_Label13 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_Label13 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label13 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label13 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_Label13 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label13 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label13 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label13 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_Label13 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_Label14 {
	@include elemTop(325);
}
#AreaPageManualP1_Skrutkovanie_Label14 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_Label14 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_Label14 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_Label14 {
		z-index: 4;
}
#AreaPageManualP1_Skrutkovanie_Label14 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_Label14 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_Label14 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_Label14 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_Label14 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label14 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label14 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_Label14 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label14 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label14 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label14 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_Label14 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_Label29 {
	@include elemTop(151);
}
#AreaPageManualP1_Skrutkovanie_Label29 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_Label29 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_Label29 {
	@include elemAutoHeight(77);
}
#AreaPageManualP1_Skrutkovanie_Label29 {
		z-index: 5;
}
#AreaPageManualP1_Skrutkovanie_Label29 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_Label29 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_Label29 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_Label29 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_Label29 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label29 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label29 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_Label29 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label29 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label29 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label29 {
	@include text-alignment-all('center top');
}
#AreaPageManualP1_Skrutkovanie_Label29 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_Label29 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_Label30 {
	@include elemTop(151);
}
#AreaPageManualP1_Skrutkovanie_Label30 {
	@include elemLeft(224);
}
#AreaPageManualP1_Skrutkovanie_Label30 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_Label30 {
	@include elemAutoHeight(77);
}
#AreaPageManualP1_Skrutkovanie_Label30 {
		z-index: 6;
}
#AreaPageManualP1_Skrutkovanie_Label30 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_Label30 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_Label30 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_Label30 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_Label30 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label30 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label30 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_Label30 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label30 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label30 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label30 {
	@include text-alignment-all('center top');
}
#AreaPageManualP1_Skrutkovanie_Label30 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_Label30 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_Label18 {
	@include elemTop(15);
}
#AreaPageManualP1_Skrutkovanie_Label18 {
	@include elemLeft(224);
}
#AreaPageManualP1_Skrutkovanie_Label18 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_Label18 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_Label18 {
		z-index: 8;
}
#AreaPageManualP1_Skrutkovanie_Label18 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_Label18 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_Label18 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_Label18 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_Label18 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label18 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label18 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_Label18 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label18 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_Label18 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Label18 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_Label18 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsY {
	@include elemTop(15);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsY {
	@include elemLeft(26);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsY {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsY {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsY {
		z-index: 7;
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsY {
	@include border-radius(10px);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsY {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsY {
	@include text-alignment(left);
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsY {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsY {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_Button_ResetServaOsY {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_NumericInput_7 {
	@include elemAutoHeight(30);
}
#AreaPageManualP1_Skrutkovanie_NumericInput_7 {
	@include elemTop(187);
}
#AreaPageManualP1_Skrutkovanie_NumericInput_7 {
	@include elemLeft(239);
}
#AreaPageManualP1_Skrutkovanie_NumericInput_7 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_NumericInput_7 {
		z-index: 10;
}
#AreaPageManualP1_Skrutkovanie_NumericInput_7 {
	input{
	@include text-alignment(center);
	}
}
#AreaPageManualP1_Skrutkovanie_NumericOutput3 {
	@include elemAutoHeight(30);
}
#AreaPageManualP1_Skrutkovanie_NumericOutput3 {
	@include elemTop(187);
}
#AreaPageManualP1_Skrutkovanie_NumericOutput3 {
	@include elemLeft(26);
}
#AreaPageManualP1_Skrutkovanie_NumericOutput3 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_NumericOutput3 {
		z-index: 9;
}
#AreaPageManualP1_Skrutkovanie_NumericOutput3 {
	input{
	@include text-alignment(center);
	}
}
#AreaPageManualP1_Skrutkovanie_ImageList14 {
	@include elemTop(26);
}
#AreaPageManualP1_Skrutkovanie_ImageList14 {
	@include elemLeft(386);
}
#AreaPageManualP1_Skrutkovanie_ImageList14 {
	@include elemWidth(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList14 {
	@include elemHeight(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList14 {
		z-index: 11;
}
#AreaPageManualP1_Skrutkovanie_ImageList14 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_ImageList15 {
	@include elemTop(284);
}
#AreaPageManualP1_Skrutkovanie_ImageList15 {
	@include elemLeft(171);
}
#AreaPageManualP1_Skrutkovanie_ImageList15 {
	@include elemWidth(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList15 {
	@include elemHeight(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList15 {
		z-index: 12;
}
#AreaPageManualP1_Skrutkovanie_ImageList15 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_ImageList16 {
	@include elemTop(336);
}
#AreaPageManualP1_Skrutkovanie_ImageList16 {
	@include elemLeft(171);
}
#AreaPageManualP1_Skrutkovanie_ImageList16 {
	@include elemWidth(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList16 {
	@include elemHeight(24);
}
#AreaPageManualP1_Skrutkovanie_ImageList16 {
		z-index: 13;
}
#AreaPageManualP1_Skrutkovanie_ImageList16 {
		border-width: 0px;
}
