#AreaTimeDialogP34_Rectangle1 {
  top: 0px;
  position: absolute;
}

#AreaTimeDialogP34_Rectangle1 {
  left: 0px;
  position: absolute;
}

#AreaTimeDialogP34_Rectangle1 {
  width: 500px;
}

#AreaTimeDialogP34_Rectangle1 {
  height: 350px;
}

#AreaTimeDialogP34_Rectangle1 {
  z-index: 0;
}

#AreaTimeDialogP34_Rectangle1 {
  border-width: 2px;
}

#AreaTimeDialogP34_Rectangle1 {
  background-color: #99b4d1;
}

#AreaTimeDialogP34_Image1 {
  top: 10px;
  position: absolute;
}

#AreaTimeDialogP34_Image1 {
  left: 20px;
  position: absolute;
}

#AreaTimeDialogP34_Image1 {
  width: 60px;
}

#AreaTimeDialogP34_Image1 {
  height: 60px;
}

#AreaTimeDialogP34_Image1 {
  z-index: 1;
}

#AreaTimeDialogP34_Line1 {
  z-index: 2;
}

#AreaTimeDialogP34_Line1 line {
  stroke: white;
}

#AreaTimeDialogP34_Line1 line {
  stroke-width: 3px;
}

#AreaTimeDialogP34_Label1 {
  top: 15px;
  position: absolute;
}

#AreaTimeDialogP34_Label1 {
  left: 130px;
  position: absolute;
}

#AreaTimeDialogP34_Label1 {
  width: 300px;
}

#AreaTimeDialogP34_Label1 {
  height: 50px;
}

#AreaTimeDialogP34_Label1 {
  z-index: 3;
}

#AreaTimeDialogP34_Label1 span {
  color: black;
}

#AreaTimeDialogP34_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaTimeDialogP34_Label1 {
  font-size: 22px;
}

#AreaTimeDialogP34_Label1 {
  font-weight: bold;
}

#AreaTimeDialogP34_DateTimeInput_Cas {
  top: 130px;
  position: absolute;
}

#AreaTimeDialogP34_DateTimeInput_Cas {
  left: 160px;
  position: absolute;
}

#AreaTimeDialogP34_DateTimeInput_Cas {
  width: 260px;
}

#AreaTimeDialogP34_DateTimeInput_Cas {
  height: 40px;
}

#AreaTimeDialogP34_DateTimeInput_Cas {
  z-index: 4;
}

#AreaTimeDialogP34_DateTimeInput_Cas:not(.disabled):not(.active) {
  border-width: 3px;
}

#AreaTimeDialogP34_DateTimeInput_Cas:not(.active):not(.disabled) {
  border-color: #474747;
}

#AreaTimeDialogP34_DateTimeInput_Cas:not(.active):not(.disabled) span {
  color: black;
}

#AreaTimeDialogP34_DateTimeInput_Cas {
  justify-content: center;
  text-align: center;
}

#AreaTimeDialogP34_DateTimeInput_Cas {
  font-size: 20px;
}

#AreaTimeDialogP34_DateTimeInput_Cas {
  box-shadow: 4px 1px 3px #474747;
}

#AreaTimeDialogP34_Label2 {
  width: 80px;
}

#AreaTimeDialogP34_Label2 {
  height: 30px;
}

#AreaTimeDialogP34_Label2 {
  top: 135px;
  position: absolute;
}

#AreaTimeDialogP34_Label2 {
  left: 50px;
  position: absolute;
}

#AreaTimeDialogP34_Label2 {
  z-index: 5;
}

#AreaTimeDialogP34_Label2 span {
  color: black;
}

#AreaTimeDialogP34_Label2 {
  font-size: 20px;
}

#AreaTimeDialogP34_Label2 {
  font-weight: bold;
}

#AreaTimeDialogP34_DateTimeInput_Cas1 {
  top: 200px;
  position: absolute;
}

#AreaTimeDialogP34_DateTimeInput_Cas1 {
  left: 160px;
  position: absolute;
}

#AreaTimeDialogP34_DateTimeInput_Cas1 {
  width: 260px;
}

#AreaTimeDialogP34_DateTimeInput_Cas1 {
  height: 40px;
}

#AreaTimeDialogP34_DateTimeInput_Cas1 {
  z-index: 6;
}

#AreaTimeDialogP34_DateTimeInput_Cas1:not(.disabled):not(.active) {
  border-width: 3px;
}

#AreaTimeDialogP34_DateTimeInput_Cas1:not(.active):not(.disabled) {
  border-color: #474747;
}

#AreaTimeDialogP34_DateTimeInput_Cas1:not(.active):not(.disabled) span {
  color: black;
}

#AreaTimeDialogP34_DateTimeInput_Cas1 {
  justify-content: center;
  text-align: center;
}

#AreaTimeDialogP34_DateTimeInput_Cas1 {
  font-size: 20px;
}

#AreaTimeDialogP34_DateTimeInput_Cas1 {
  box-shadow: 4px 1px 3px #474747;
}

#AreaTimeDialogP34_Label3 {
  width: 80px;
}

#AreaTimeDialogP34_Label3 {
  height: 30px;
}

#AreaTimeDialogP34_Label3 {
  top: 205px;
  position: absolute;
}

#AreaTimeDialogP34_Label3 {
  left: 50px;
  position: absolute;
}

#AreaTimeDialogP34_Label3 {
  z-index: 7;
}

#AreaTimeDialogP34_Label3 span {
  color: black;
}

#AreaTimeDialogP34_Label3 {
  font-size: 20px;
}

#AreaTimeDialogP34_Label3 {
  font-weight: bold;
}

#AreaTimeDialogP34_LogoutButton_Exit {
  top: 280px;
  position: absolute;
}

#AreaTimeDialogP34_LogoutButton_Exit {
  left: 175px;
  position: absolute;
}

#AreaTimeDialogP34_LogoutButton_Exit {
  width: 150px;
}

#AreaTimeDialogP34_LogoutButton_Exit {
  height: 40px;
}

#AreaTimeDialogP34_LogoutButton_Exit {
  z-index: 8;
}

#AreaTimeDialogP34_LogoutButton_Exit {
  border-radius: 10px;
}

#AreaTimeDialogP34_LogoutButton_Exit:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaTimeDialogP34_Rectangle2 {
  top: 0px;
  position: absolute;
}

#AreaTimeDialogP34_Rectangle2 {
  left: 0px;
  position: absolute;
}

#AreaTimeDialogP34_Rectangle2 {
  width: 500px;
}

#AreaTimeDialogP34_Rectangle2 {
  height: 350px;
}

#AreaTimeDialogP34_Rectangle2 {
  z-index: 9;
}

#AreaTimeDialogP34_Rectangle2 {
  border-width: 2px;
}

#AreaTimeDialogP34_Rectangle2 {
  background-color: #99b4d1;
}

#AreaTimeDialogP34_Image2 {
  top: 10px;
  position: absolute;
}

#AreaTimeDialogP34_Image2 {
  left: 20px;
  position: absolute;
}

#AreaTimeDialogP34_Image2 {
  width: 60px;
}

#AreaTimeDialogP34_Image2 {
  height: 60px;
}

#AreaTimeDialogP34_Image2 {
  z-index: 10;
}

#AreaTimeDialogP34_Image2 {
  box-shadow: 2px 2px 10px black;
}

#AreaTimeDialogP34_Line2 {
  z-index: 11;
}

#AreaTimeDialogP34_Line2 line {
  stroke: white;
}

#AreaTimeDialogP34_Line2 line {
  stroke-width: 3px;
}

#AreaTimeDialogP34_Label4 {
  top: 15px;
  position: absolute;
}

#AreaTimeDialogP34_Label4 {
  left: 130px;
  position: absolute;
}

#AreaTimeDialogP34_Label4 {
  width: 300px;
}

#AreaTimeDialogP34_Label4 {
  height: 50px;
}

#AreaTimeDialogP34_Label4 {
  z-index: 12;
}

#AreaTimeDialogP34_Label4 span {
  color: black;
}

#AreaTimeDialogP34_Label4 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaTimeDialogP34_Label4 {
  font-size: 22px;
}

#AreaTimeDialogP34_Label4 {
  font-weight: bold;
}

#AreaTimeDialogP34_DateTimeInput_Cas2 {
  top: 130px;
  position: absolute;
}

#AreaTimeDialogP34_DateTimeInput_Cas2 {
  left: 160px;
  position: absolute;
}

#AreaTimeDialogP34_DateTimeInput_Cas2 {
  width: 260px;
}

#AreaTimeDialogP34_DateTimeInput_Cas2 {
  height: 40px;
}

#AreaTimeDialogP34_DateTimeInput_Cas2 {
  z-index: 13;
}

#AreaTimeDialogP34_DateTimeInput_Cas2:not(.disabled):not(.active) {
  border-width: 3px;
}

#AreaTimeDialogP34_DateTimeInput_Cas2:not(.active):not(.disabled) {
  border-color: #474747;
}

#AreaTimeDialogP34_DateTimeInput_Cas2:not(.active):not(.disabled) span {
  color: black;
}

#AreaTimeDialogP34_DateTimeInput_Cas2 {
  justify-content: center;
  text-align: center;
}

#AreaTimeDialogP34_DateTimeInput_Cas2 {
  font-size: 20px;
}

#AreaTimeDialogP34_DateTimeInput_Cas2 {
  box-shadow: 4px 1px 3px #474747;
}

#AreaTimeDialogP34_Label5 {
  width: 80px;
}

#AreaTimeDialogP34_Label5 {
  height: 30px;
}

#AreaTimeDialogP34_Label5 {
  top: 135px;
  position: absolute;
}

#AreaTimeDialogP34_Label5 {
  left: 50px;
  position: absolute;
}

#AreaTimeDialogP34_Label5 {
  z-index: 14;
}

#AreaTimeDialogP34_Label5 span {
  color: black;
}

#AreaTimeDialogP34_Label5 {
  font-size: 20px;
}

#AreaTimeDialogP34_Label5 {
  font-weight: bold;
}

#AreaTimeDialogP34_DateTimeInput_Cas3 {
  top: 200px;
  position: absolute;
}

#AreaTimeDialogP34_DateTimeInput_Cas3 {
  left: 160px;
  position: absolute;
}

#AreaTimeDialogP34_DateTimeInput_Cas3 {
  width: 260px;
}

#AreaTimeDialogP34_DateTimeInput_Cas3 {
  height: 40px;
}

#AreaTimeDialogP34_DateTimeInput_Cas3 {
  z-index: 15;
}

#AreaTimeDialogP34_DateTimeInput_Cas3:not(.disabled):not(.active) {
  border-width: 3px;
}

#AreaTimeDialogP34_DateTimeInput_Cas3:not(.active):not(.disabled) {
  border-color: #474747;
}

#AreaTimeDialogP34_DateTimeInput_Cas3:not(.active):not(.disabled) span {
  color: black;
}

#AreaTimeDialogP34_DateTimeInput_Cas3 {
  justify-content: center;
  text-align: center;
}

#AreaTimeDialogP34_DateTimeInput_Cas3 {
  font-size: 20px;
}

#AreaTimeDialogP34_DateTimeInput_Cas3 {
  box-shadow: 4px 1px 3px #474747;
}

#AreaTimeDialogP34_Label6 {
  width: 80px;
}

#AreaTimeDialogP34_Label6 {
  height: 30px;
}

#AreaTimeDialogP34_Label6 {
  top: 205px;
  position: absolute;
}

#AreaTimeDialogP34_Label6 {
  left: 50px;
  position: absolute;
}

#AreaTimeDialogP34_Label6 {
  z-index: 16;
}

#AreaTimeDialogP34_Label6 span {
  color: black;
}

#AreaTimeDialogP34_Label6 {
  font-size: 20px;
}

#AreaTimeDialogP34_Label6 {
  font-weight: bold;
}

#AreaTimeDialogP34_LogoutButton_Exit1 {
  top: 280px;
  position: absolute;
}

#AreaTimeDialogP34_LogoutButton_Exit1 {
  left: 175px;
  position: absolute;
}

#AreaTimeDialogP34_LogoutButton_Exit1 {
  width: 150px;
}

#AreaTimeDialogP34_LogoutButton_Exit1 {
  height: 40px;
}

#AreaTimeDialogP34_LogoutButton_Exit1 {
  z-index: 17;
}

#AreaTimeDialogP34_LogoutButton_Exit1 {
  border-radius: 10px;
}

#AreaTimeDialogP34_LogoutButton_Exit1:not(.disabled):not(.active):not(.checked) span {
  color: black;
}
