@import "mixins.scss";
#AreaPageManualP4_Dopravniky_ImagePageDopravniky {
	@include elemTop(0);
}
#AreaPageManualP4_Dopravniky_ImagePageDopravniky {
	@include elemLeft(0);
}
#AreaPageManualP4_Dopravniky_ImagePageDopravniky {
	@include elemAutoWidth(1366);
}
#AreaPageManualP4_Dopravniky_ImagePageDopravniky {
	@include elemAutoHeight(588);
}
#AreaPageManualP4_Dopravniky_ImagePageDopravniky {
		z-index: 0;
}
#AreaPageManualP4_Dopravniky_ImagePageDopravniky {
		opacity: 0.15;
}
#AreaPageManualP4_Dopravniky_Label1 {
	@include elemTop(13);
}
#AreaPageManualP4_Dopravniky_Label1 {
	@include elemLeft(483);
}
#AreaPageManualP4_Dopravniky_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageManualP4_Dopravniky_Label1 {
	@include elemAutoHeight(40);
}
#AreaPageManualP4_Dopravniky_Label1 {
		z-index: 1;
}
#AreaPageManualP4_Dopravniky_Label1 {
		border-width: 3px;
}
#AreaPageManualP4_Dopravniky_Image1 {
	@include elemTop(70);
}
#AreaPageManualP4_Dopravniky_Image1 {
	@include elemLeft(15);
}
#AreaPageManualP4_Dopravniky_Image1 {
	@include elemAutoWidth(1342);
}
#AreaPageManualP4_Dopravniky_Image1 {
	@include elemAutoHeight(505);
}
#AreaPageManualP4_Dopravniky_Image1 {
		z-index: 2;
}
#AreaPageManualP4_Dopravniky_Image1 {
		background-color: rgba(220, 220, 220, 1);
}
#AreaPageManualP4_Dopravniky_Image1 {
		border-style: solid;
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	@include elemTop(13);
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	@include elemLeft(1250);
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	@include elemAutoWidth(105);
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
		z-index: 3;
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
		border-style: solid;
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&.active{
		border-style: solid;
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&.checked{
		border-style: solid;
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&:not(.active):not(.checked){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&.disabled{
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	@include border-radius(8px);
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&.active.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	span{
		font-size: 20px;
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_NavigationButton_NextPage {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	@include elemTop(154);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	@include elemLeft(22);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	@include elemAutoWidth(180);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_HornyDopravnik1 {
		z-index: 4;
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik {
	@include elemTop(414);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik {
	@include elemLeft(22);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik {
	@include elemAutoWidth(180);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik {
		z-index: 5;
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	@include elemTop(280);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	@include elemLeft(556);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	@include elemAutoWidth(180);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
		z-index: 6;
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_Rectangle1 {
	@include elemTop(314);
}
#AreaPageManualP4_Dopravniky_Rectangle1 {
	@include elemLeft(286);
}
#AreaPageManualP4_Dopravniky_Rectangle1 {
	@include elemWidth(180);
}
#AreaPageManualP4_Dopravniky_Rectangle1 {
	@include elemHeight(234);
}
#AreaPageManualP4_Dopravniky_Rectangle1 {
		z-index: 7;
}
#AreaPageManualP4_Dopravniky_Rectangle1 {
		border-style: solid;
}
#AreaPageManualP4_Dopravniky_Rectangle1 {
		border-width: 4px;
}
#AreaPageManualP4_Dopravniky_Rectangle1 {
	@include border-radius(5px);
}
#AreaPageManualP4_Dopravniky_Rectangle1 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Dopravniky_Label5 {
	@include elemTop(438);
}
#AreaPageManualP4_Dopravniky_Label5 {
	@include elemLeft(304);
}
#AreaPageManualP4_Dopravniky_Label5 {
	@include elemAutoWidth(140);
}
#AreaPageManualP4_Dopravniky_Label5 {
	@include elemAutoHeight(20);
}
#AreaPageManualP4_Dopravniky_Label5 {
		z-index: 8;
}
#AreaPageManualP4_Dopravniky_Label5 {
		border-width: 1px;
}
#AreaPageManualP4_Dopravniky_Label5 {
		background-color: rgba(220, 220, 220, 1);
}
#AreaPageManualP4_Dopravniky_Label5 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_Label5 {
	@include text-alignment-all('center');
}
#AreaPageManualP4_Dopravniky_Label5 {
		font-size: 18px;
}
#AreaPageManualP4_Dopravniky_Label5 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
	@include elemTop(324);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
	@include elemLeft(296);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
	@include elemAutoWidth(130);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
		z-index: 9;
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ImageList16 {
	@include elemTop(326);
}
#AreaPageManualP4_Dopravniky_ImageList16 {
	@include elemLeft(432);
}
#AreaPageManualP4_Dopravniky_ImageList16 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList16 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList16 {
		z-index: 10;
}
#AreaPageManualP4_Dopravniky_ImageList16 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_ImageList17 {
	@include elemTop(352);
}
#AreaPageManualP4_Dopravniky_ImageList17 {
	@include elemLeft(432);
}
#AreaPageManualP4_Dopravniky_ImageList17 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList17 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList17 {
		z-index: 11;
}
#AreaPageManualP4_Dopravniky_ImageList17 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper1 {
	@include elemTop(488);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper1 {
	@include elemLeft(296);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper1 {
	@include elemAutoWidth(130);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper1 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper1 {
		z-index: 12;
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper1 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper1 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper1 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper1 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper1 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper1 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper1 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ImageList18 {
	@include elemTop(398);
}
#AreaPageManualP4_Dopravniky_ImageList18 {
	@include elemLeft(418);
}
#AreaPageManualP4_Dopravniky_ImageList18 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList18 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList18 {
		z-index: 13;
}
#AreaPageManualP4_Dopravniky_ImageList18 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_Rectangle2 {
	@include elemTop(70);
}
#AreaPageManualP4_Dopravniky_Rectangle2 {
	@include elemLeft(288);
}
#AreaPageManualP4_Dopravniky_Rectangle2 {
	@include elemWidth(180);
}
#AreaPageManualP4_Dopravniky_Rectangle2 {
	@include elemHeight(236);
}
#AreaPageManualP4_Dopravniky_Rectangle2 {
		z-index: 14;
}
#AreaPageManualP4_Dopravniky_Rectangle2 {
		border-style: solid;
}
#AreaPageManualP4_Dopravniky_Rectangle2 {
		border-width: 4px;
}
#AreaPageManualP4_Dopravniky_Rectangle2 {
	@include border-radius(5px);
}
#AreaPageManualP4_Dopravniky_Rectangle2 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Dopravniky_Label6 {
	@include elemTop(188);
}
#AreaPageManualP4_Dopravniky_Label6 {
	@include elemLeft(306);
}
#AreaPageManualP4_Dopravniky_Label6 {
	@include elemAutoWidth(140);
}
#AreaPageManualP4_Dopravniky_Label6 {
	@include elemAutoHeight(20);
}
#AreaPageManualP4_Dopravniky_Label6 {
		z-index: 15;
}
#AreaPageManualP4_Dopravniky_Label6 {
		border-width: 1px;
}
#AreaPageManualP4_Dopravniky_Label6 {
		background-color: rgba(220, 220, 220, 1);
}
#AreaPageManualP4_Dopravniky_Label6 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_Label6 {
	@include text-alignment-all('center');
}
#AreaPageManualP4_Dopravniky_Label6 {
		font-size: 18px;
}
#AreaPageManualP4_Dopravniky_Label6 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
	@include elemTop(80);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
	@include elemLeft(298);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
	@include elemAutoWidth(130);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
		z-index: 16;
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ImageList19 {
	@include elemTop(82);
}
#AreaPageManualP4_Dopravniky_ImageList19 {
	@include elemLeft(434);
}
#AreaPageManualP4_Dopravniky_ImageList19 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList19 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList19 {
		z-index: 17;
}
#AreaPageManualP4_Dopravniky_ImageList19 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_ImageList20 {
	@include elemTop(108);
}
#AreaPageManualP4_Dopravniky_ImageList20 {
	@include elemLeft(434);
}
#AreaPageManualP4_Dopravniky_ImageList20 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList20 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList20 {
		z-index: 18;
}
#AreaPageManualP4_Dopravniky_ImageList20 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper2 {
	@include elemTop(244);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper2 {
	@include elemLeft(298);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper2 {
	@include elemAutoWidth(130);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper2 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper2 {
		z-index: 19;
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper2 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper2 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper2 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper2 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper2 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper2 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper2 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ImageList21 {
	@include elemTop(150);
}
#AreaPageManualP4_Dopravniky_ImageList21 {
	@include elemLeft(418);
}
#AreaPageManualP4_Dopravniky_ImageList21 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList21 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList21 {
		z-index: 20;
}
#AreaPageManualP4_Dopravniky_ImageList21 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_Rectangle3 {
	@include elemTop(314);
}
#AreaPageManualP4_Dopravniky_Rectangle3 {
	@include elemLeft(912);
}
#AreaPageManualP4_Dopravniky_Rectangle3 {
	@include elemWidth(180);
}
#AreaPageManualP4_Dopravniky_Rectangle3 {
	@include elemHeight(234);
}
#AreaPageManualP4_Dopravniky_Rectangle3 {
		z-index: 21;
}
#AreaPageManualP4_Dopravniky_Rectangle3 {
		border-style: solid;
}
#AreaPageManualP4_Dopravniky_Rectangle3 {
		border-width: 4px;
}
#AreaPageManualP4_Dopravniky_Rectangle3 {
	@include border-radius(5px);
}
#AreaPageManualP4_Dopravniky_Rectangle3 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Dopravniky_Label7 {
	@include elemTop(438);
}
#AreaPageManualP4_Dopravniky_Label7 {
	@include elemLeft(930);
}
#AreaPageManualP4_Dopravniky_Label7 {
	@include elemAutoWidth(140);
}
#AreaPageManualP4_Dopravniky_Label7 {
	@include elemAutoHeight(20);
}
#AreaPageManualP4_Dopravniky_Label7 {
		z-index: 22;
}
#AreaPageManualP4_Dopravniky_Label7 {
		border-width: 1px;
}
#AreaPageManualP4_Dopravniky_Label7 {
		background-color: rgba(220, 220, 220, 1);
}
#AreaPageManualP4_Dopravniky_Label7 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_Label7 {
	@include text-alignment-all('center');
}
#AreaPageManualP4_Dopravniky_Label7 {
		font-size: 18px;
}
#AreaPageManualP4_Dopravniky_Label7 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
	@include elemTop(324);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
	@include elemLeft(922);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
	@include elemAutoWidth(130);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
		z-index: 23;
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Dopravniky_ImageList22 {
	@include elemTop(326);
}
#AreaPageManualP4_Dopravniky_ImageList22 {
	@include elemLeft(1058);
}
#AreaPageManualP4_Dopravniky_ImageList22 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList22 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList22 {
		z-index: 24;
}
#AreaPageManualP4_Dopravniky_ImageList22 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_ImageList23 {
	@include elemTop(352);
}
#AreaPageManualP4_Dopravniky_ImageList23 {
	@include elemLeft(1058);
}
#AreaPageManualP4_Dopravniky_ImageList23 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList23 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList23 {
		z-index: 25;
}
#AreaPageManualP4_Dopravniky_ImageList23 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper3 {
	@include elemTop(488);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper3 {
	@include elemLeft(922);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper3 {
	@include elemAutoWidth(130);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper3 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper3 {
		z-index: 26;
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper3 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper3 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper3 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper3 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper3 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper3 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ToggleSwitch_Stoper3 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ImageList24 {
	@include elemTop(398);
}
#AreaPageManualP4_Dopravniky_ImageList24 {
	@include elemLeft(1044);
}
#AreaPageManualP4_Dopravniky_ImageList24 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList24 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList24 {
		z-index: 27;
}
#AreaPageManualP4_Dopravniky_ImageList24 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_Rectangle5 {
	@include elemTop(80);
}
#AreaPageManualP4_Dopravniky_Rectangle5 {
	@include elemLeft(550);
}
#AreaPageManualP4_Dopravniky_Rectangle5 {
	@include elemWidth(205);
}
#AreaPageManualP4_Dopravniky_Rectangle5 {
	@include elemHeight(190);
}
#AreaPageManualP4_Dopravniky_Rectangle5 {
		z-index: 28;
}
#AreaPageManualP4_Dopravniky_Rectangle5 {
		border-style: solid;
}
#AreaPageManualP4_Dopravniky_Rectangle5 {
		border-width: 4px;
}
#AreaPageManualP4_Dopravniky_Rectangle5 {
	@include border-radius(5px);
}
#AreaPageManualP4_Dopravniky_Rectangle5 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Dopravniky_ImageList26 {
	@include elemTop(88);
}
#AreaPageManualP4_Dopravniky_ImageList26 {
	@include elemLeft(722);
}
#AreaPageManualP4_Dopravniky_ImageList26 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList26 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList26 {
		z-index: 29;
}
#AreaPageManualP4_Dopravniky_ImageList26 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
	@include elemTop(90);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
	@include elemLeft(566);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
	@include elemAutoWidth(140);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
		z-index: 30;
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
	@include border-radius(10px);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
	@include text-alignment(left);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ImageList30 {
	@include elemTop(100);
}
#AreaPageManualP4_Dopravniky_ImageList30 {
	@include elemLeft(674);
}
#AreaPageManualP4_Dopravniky_ImageList30 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList30 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList30 {
		z-index: 31;
}
#AreaPageManualP4_Dopravniky_ImageList30 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
	@include elemTop(144);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
	@include elemLeft(566);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
	@include elemAutoWidth(140);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
		z-index: 32;
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
	@include border-radius(10px);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
	@include text-alignment(left);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ImageList32 {
	@include elemTop(154);
}
#AreaPageManualP4_Dopravniky_ImageList32 {
	@include elemLeft(674);
}
#AreaPageManualP4_Dopravniky_ImageList32 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList32 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList32 {
		z-index: 33;
}
#AreaPageManualP4_Dopravniky_ImageList32 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_Rectangle6 {
	@include elemTop(356);
}
#AreaPageManualP4_Dopravniky_Rectangle6 {
	@include elemLeft(550);
}
#AreaPageManualP4_Dopravniky_Rectangle6 {
	@include elemWidth(205);
}
#AreaPageManualP4_Dopravniky_Rectangle6 {
	@include elemHeight(190);
}
#AreaPageManualP4_Dopravniky_Rectangle6 {
		z-index: 34;
}
#AreaPageManualP4_Dopravniky_Rectangle6 {
		border-style: solid;
}
#AreaPageManualP4_Dopravniky_Rectangle6 {
		border-width: 4px;
}
#AreaPageManualP4_Dopravniky_Rectangle6 {
	@include border-radius(5px);
}
#AreaPageManualP4_Dopravniky_Rectangle6 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Dopravniky_ImageList27 {
	@include elemTop(514);
}
#AreaPageManualP4_Dopravniky_ImageList27 {
	@include elemLeft(722);
}
#AreaPageManualP4_Dopravniky_ImageList27 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList27 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList27 {
		z-index: 35;
}
#AreaPageManualP4_Dopravniky_ImageList27 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
	@include elemTop(480);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
	@include elemLeft(566);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
	@include elemAutoWidth(140);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
		z-index: 36;
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
	@include border-radius(10px);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
	@include text-alignment(left);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
	@include elemTop(372);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
	@include elemLeft(566);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
	@include elemAutoWidth(140);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
		z-index: 37;
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
	@include border-radius(10px);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
	@include text-alignment(left);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ImageList33 {
	@include elemTop(382);
}
#AreaPageManualP4_Dopravniky_ImageList33 {
	@include elemLeft(674);
}
#AreaPageManualP4_Dopravniky_ImageList33 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList33 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList33 {
		z-index: 38;
}
#AreaPageManualP4_Dopravniky_ImageList33 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_ImageList34 {
	@include elemTop(490);
}
#AreaPageManualP4_Dopravniky_ImageList34 {
	@include elemLeft(674);
}
#AreaPageManualP4_Dopravniky_ImageList34 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList34 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList34 {
		z-index: 39;
}
#AreaPageManualP4_Dopravniky_ImageList34 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
	@include elemTop(426);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
	@include elemLeft(566);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
	@include elemAutoWidth(140);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
		z-index: 40;
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
	@include border-radius(10px);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
	@include text-alignment(left);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_ImageList35 {
	@include elemTop(436);
}
#AreaPageManualP4_Dopravniky_ImageList35 {
	@include elemLeft(674);
}
#AreaPageManualP4_Dopravniky_ImageList35 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList35 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList35 {
		z-index: 41;
}
#AreaPageManualP4_Dopravniky_ImageList35 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_ImageList28 {
	@include elemTop(382);
}
#AreaPageManualP4_Dopravniky_ImageList28 {
	@include elemLeft(848);
}
#AreaPageManualP4_Dopravniky_ImageList28 {
	@include elemWidth(25);
}
#AreaPageManualP4_Dopravniky_ImageList28 {
	@include elemHeight(25);
}
#AreaPageManualP4_Dopravniky_ImageList28 {
		z-index: 43;
}
#AreaPageManualP4_Dopravniky_ImageList28 {
		border-width: 0px;
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
	@include elemTop(372);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
	@include elemLeft(762);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
	@include elemAutoWidth(120);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
		z-index: 42;
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
	@include border-radius(10px);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
	@include text-alignment(left);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
	@include elemTop(114);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
	@include elemLeft(762);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
	@include elemAutoWidth(120);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
		z-index: 44;
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
	@include border-radius(10px);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
	@include text-alignment(left);
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
