#AreaPageManualP3_Skrutkovanie_page2_ImagePageSkrutkovanie2 {
  top: 0px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImagePageSkrutkovanie2 {
  left: 0px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImagePageSkrutkovanie2 {
  width: 1366px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImagePageSkrutkovanie2 {
  height: 588px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImagePageSkrutkovanie2 {
  z-index: 0;
}

#AreaPageManualP3_Skrutkovanie_page2_ImagePageSkrutkovanie2 {
  opacity: 0.15;
}

#AreaPageManualP3_Skrutkovanie_page2_Label1 {
  top: 15px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label1 {
  width: 400px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label1 {
  height: 40px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label1 {
  z-index: 1;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton2 {
  top: 10px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton2 {
  left: 10px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton2 {
  width: 110px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton2 {
  height: 50px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton2 {
  z-index: 2;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton2 {
  border-radius: 4px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton2:not(.active):not(.checked) {
  box-shadow: 3px 3px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton2.disabled.active {
  box-shadow: 3px 3px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton2.disabled.checked {
  box-shadow: 3px 3px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton1 {
  top: 10px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton1 {
  left: 1240px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton1 {
  width: 110px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton1 {
  height: 50px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton1 {
  z-index: 3;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton1 {
  border-radius: 4px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton1:not(.active):not(.checked) {
  box-shadow: 3px 3px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton1.disabled.active {
  box-shadow: 3px 3px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton1.disabled.checked {
  box-shadow: 3px 3px 14px black;
}
