@import "mixins.scss";
#AreaPageManualP4_Etiketovanie_ImagePageEtiketovanie {
	@include elemTop(0);
}
#AreaPageManualP4_Etiketovanie_ImagePageEtiketovanie {
	@include elemLeft(0);
}
#AreaPageManualP4_Etiketovanie_ImagePageEtiketovanie {
	@include elemAutoWidth(1366);
}
#AreaPageManualP4_Etiketovanie_ImagePageEtiketovanie {
	@include elemAutoHeight(588);
}
#AreaPageManualP4_Etiketovanie_ImagePageEtiketovanie {
		z-index: 0;
}
#AreaPageManualP4_Etiketovanie_ImagePageEtiketovanie {
		opacity: 0.15;
}
#AreaPageManualP4_Etiketovanie_Label1 {
	@include elemTop(13);
}
#AreaPageManualP4_Etiketovanie_Label1 {
	@include elemLeft(483);
}
#AreaPageManualP4_Etiketovanie_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageManualP4_Etiketovanie_Label1 {
	@include elemAutoHeight(40);
}
#AreaPageManualP4_Etiketovanie_Label1 {
		z-index: 1;
}
#AreaPageManualP4_Etiketovanie_Label1 {
		border-width: 3px;
}
#AreaPageManualP4_Etiketovanie_GroupBox3 {
	@include elemTop(68);
}
#AreaPageManualP4_Etiketovanie_GroupBox3 {
	@include elemLeft(22);
}
#AreaPageManualP4_Etiketovanie_GroupBox3 {
	@include elemWidth(430);
}
#AreaPageManualP4_Etiketovanie_GroupBox3 {
	@include elemHeight(250);
}
#AreaPageManualP4_Etiketovanie_GroupBox3 {
		z-index: 2;
}
#AreaPageManualP4_Etiketovanie_GroupBox3 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP4_Etiketovanie_GroupBox3 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_GroupBox3 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP4_Etiketovanie_ImageList8 {
	@include elemTop(83);
}
#AreaPageManualP4_Etiketovanie_ImageList8 {
	@include elemLeft(301);
}
#AreaPageManualP4_Etiketovanie_ImageList8 {
	@include elemWidth(25);
}
#AreaPageManualP4_Etiketovanie_ImageList8 {
	@include elemHeight(25);
}
#AreaPageManualP4_Etiketovanie_ImageList8 {
		z-index: 0;
}
#AreaPageManualP4_Etiketovanie_ImageList8 {
		border-width: 0px;
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_ZasunStoperPoz4 {
	@include elemTop(81);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_ZasunStoperPoz4 {
	@include elemLeft(139);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_ZasunStoperPoz4 {
	@include elemAutoWidth(150);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_ZasunStoperPoz4 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_ZasunStoperPoz4 {
		z-index: 1;
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_ZasunStoperPoz4 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_ZasunStoperPoz4 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_ZasunStoperPoz4 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_ZasunStoperPoz4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_Etiketovanie_ImageList9 {
	@include elemTop(109);
}
#AreaPageManualP4_Etiketovanie_ImageList9 {
	@include elemLeft(301);
}
#AreaPageManualP4_Etiketovanie_ImageList9 {
	@include elemWidth(25);
}
#AreaPageManualP4_Etiketovanie_ImageList9 {
	@include elemHeight(25);
}
#AreaPageManualP4_Etiketovanie_ImageList9 {
		z-index: 2;
}
#AreaPageManualP4_Etiketovanie_ImageList9 {
		border-width: 0px;
}
#AreaPageManualP4_Etiketovanie_GroupBox4 {
	@include elemTop(328);
}
#AreaPageManualP4_Etiketovanie_GroupBox4 {
	@include elemLeft(22);
}
#AreaPageManualP4_Etiketovanie_GroupBox4 {
	@include elemWidth(430);
}
#AreaPageManualP4_Etiketovanie_GroupBox4 {
	@include elemHeight(250);
}
#AreaPageManualP4_Etiketovanie_GroupBox4 {
		z-index: 3;
}
#AreaPageManualP4_Etiketovanie_GroupBox4 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP4_Etiketovanie_GroupBox4 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_GroupBox4 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
	@include elemTop(107);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
	@include elemLeft(139);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
	@include elemAutoWidth(150);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
		z-index: 0;
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_Label15 {
	@include elemTop(13);
}
#AreaPageManualP4_Etiketovanie_Label15 {
	@include elemLeft(11);
}
#AreaPageManualP4_Etiketovanie_Label15 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_Etiketovanie_Label15 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Label15 {
		z-index: 1;
}
#AreaPageManualP4_Etiketovanie_Label15 {
		border-width: 2px;
}
#AreaPageManualP4_Etiketovanie_Label15 {
	@include border-radius(5px);
}
#AreaPageManualP4_Etiketovanie_Label15 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_Etiketovanie_Label15 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Etiketovanie_Label15 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label15 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label15 {
		border-style: outset;
}
#AreaPageManualP4_Etiketovanie_Label15 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label15 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label15 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label15 {
		font-size: 14px;
}
#AreaPageManualP4_Etiketovanie_Label15 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Etiketovanie_ImageList10 {
	@include elemTop(24);
}
#AreaPageManualP4_Etiketovanie_ImageList10 {
	@include elemLeft(171);
}
#AreaPageManualP4_Etiketovanie_ImageList10 {
	@include elemWidth(25);
}
#AreaPageManualP4_Etiketovanie_ImageList10 {
	@include elemHeight(25);
}
#AreaPageManualP4_Etiketovanie_ImageList10 {
		z-index: 2;
}
#AreaPageManualP4_Etiketovanie_ImageList10 {
		border-width: 0px;
}
#AreaPageManualP4_Etiketovanie_GroupBox6 {
	@include elemTop(68);
}
#AreaPageManualP4_Etiketovanie_GroupBox6 {
	@include elemLeft(468);
}
#AreaPageManualP4_Etiketovanie_GroupBox6 {
	@include elemWidth(430);
}
#AreaPageManualP4_Etiketovanie_GroupBox6 {
	@include elemHeight(510);
}
#AreaPageManualP4_Etiketovanie_GroupBox6 {
		z-index: 4;
}
#AreaPageManualP4_Etiketovanie_GroupBox6 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP4_Etiketovanie_GroupBox6 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_GroupBox6 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_DOLE {
	@include elemTop(81);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_DOLE {
	@include elemLeft(26);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_DOLE {
	@include elemAutoWidth(165);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_DOLE {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_DOLE {
		z-index: 0;
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_DOLE {
	@include border-radius(10px);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_DOLE {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_DOLE {
	@include text-alignment(left);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_DOLE {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_DOLE {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_DOLE {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_HORE {
	@include elemTop(81);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_HORE {
	@include elemLeft(239);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_HORE {
	@include elemAutoWidth(165);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_HORE {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_HORE {
		z-index: 1;
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_HORE {
	@include border-radius(10px);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_HORE {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_HORE {
	@include text-alignment(left);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_HORE {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_HORE {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggOsZ_M4_HORE {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_Line4 {
		z-index: 2;
}
#AreaPageManualP4_Etiketovanie_Line4 {
	line{
		stroke-width: 2px;
	}
}
#AreaPageManualP4_Etiketovanie_Label13 {
	@include elemTop(273);
}
#AreaPageManualP4_Etiketovanie_Label13 {
	@include elemLeft(11);
}
#AreaPageManualP4_Etiketovanie_Label13 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_Etiketovanie_Label13 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Label13 {
		z-index: 3;
}
#AreaPageManualP4_Etiketovanie_Label13 {
		border-width: 2px;
}
#AreaPageManualP4_Etiketovanie_Label13 {
	@include border-radius(5px);
}
#AreaPageManualP4_Etiketovanie_Label13 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_Etiketovanie_Label13 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Etiketovanie_Label13 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label13 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label13 {
		border-style: outset;
}
#AreaPageManualP4_Etiketovanie_Label13 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label13 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label13 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label13 {
		font-size: 14px;
}
#AreaPageManualP4_Etiketovanie_Label13 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Etiketovanie_Label29 {
	@include elemTop(151);
}
#AreaPageManualP4_Etiketovanie_Label29 {
	@include elemLeft(11);
}
#AreaPageManualP4_Etiketovanie_Label29 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_Etiketovanie_Label29 {
	@include elemAutoHeight(77);
}
#AreaPageManualP4_Etiketovanie_Label29 {
		z-index: 4;
}
#AreaPageManualP4_Etiketovanie_Label29 {
		border-width: 2px;
}
#AreaPageManualP4_Etiketovanie_Label29 {
	@include border-radius(5px);
}
#AreaPageManualP4_Etiketovanie_Label29 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_Etiketovanie_Label29 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Etiketovanie_Label29 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label29 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label29 {
		border-style: outset;
}
#AreaPageManualP4_Etiketovanie_Label29 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label29 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label29 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label29 {
	@include text-alignment-all('center top');
}
#AreaPageManualP4_Etiketovanie_Label29 {
		font-size: 14px;
}
#AreaPageManualP4_Etiketovanie_Label29 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Etiketovanie_Label30 {
	@include elemTop(151);
}
#AreaPageManualP4_Etiketovanie_Label30 {
	@include elemLeft(224);
}
#AreaPageManualP4_Etiketovanie_Label30 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_Etiketovanie_Label30 {
	@include elemAutoHeight(77);
}
#AreaPageManualP4_Etiketovanie_Label30 {
		z-index: 5;
}
#AreaPageManualP4_Etiketovanie_Label30 {
		border-width: 2px;
}
#AreaPageManualP4_Etiketovanie_Label30 {
	@include border-radius(5px);
}
#AreaPageManualP4_Etiketovanie_Label30 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_Etiketovanie_Label30 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Etiketovanie_Label30 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label30 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label30 {
		border-style: outset;
}
#AreaPageManualP4_Etiketovanie_Label30 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label30 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label30 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label30 {
	@include text-alignment-all('center top');
}
#AreaPageManualP4_Etiketovanie_Label30 {
		font-size: 14px;
}
#AreaPageManualP4_Etiketovanie_Label30 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Etiketovanie_Label18 {
	@include elemTop(15);
}
#AreaPageManualP4_Etiketovanie_Label18 {
	@include elemLeft(224);
}
#AreaPageManualP4_Etiketovanie_Label18 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_Etiketovanie_Label18 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Label18 {
		z-index: 7;
}
#AreaPageManualP4_Etiketovanie_Label18 {
		border-width: 2px;
}
#AreaPageManualP4_Etiketovanie_Label18 {
	@include border-radius(5px);
}
#AreaPageManualP4_Etiketovanie_Label18 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_Etiketovanie_Label18 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Etiketovanie_Label18 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label18 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label18 {
		border-style: outset;
}
#AreaPageManualP4_Etiketovanie_Label18 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label18 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label18 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label18 {
		font-size: 14px;
}
#AreaPageManualP4_Etiketovanie_Label18 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M4 {
	@include elemTop(15);
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M4 {
	@include elemLeft(26);
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M4 {
	@include elemAutoWidth(165);
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M4 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M4 {
		z-index: 6;
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M4 {
	@include border-radius(10px);
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M4 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M4 {
	@include text-alignment(left);
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M4 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_NumericInput_7 {
	@include elemAutoHeight(30);
}
#AreaPageManualP4_Etiketovanie_NumericInput_7 {
	@include elemTop(187);
}
#AreaPageManualP4_Etiketovanie_NumericInput_7 {
	@include elemLeft(239);
}
#AreaPageManualP4_Etiketovanie_NumericInput_7 {
	@include elemAutoWidth(165);
}
#AreaPageManualP4_Etiketovanie_NumericInput_7 {
		z-index: 9;
}
#AreaPageManualP4_Etiketovanie_NumericInput_7 {
	&.disabled{
		background-color: rgba(192, 192, 192, 1);
	}
}
#AreaPageManualP4_Etiketovanie_NumericOutput4 {
	@include elemAutoHeight(30);
}
#AreaPageManualP4_Etiketovanie_NumericOutput4 {
	@include elemTop(187);
}
#AreaPageManualP4_Etiketovanie_NumericOutput4 {
	@include elemLeft(26);
}
#AreaPageManualP4_Etiketovanie_NumericOutput4 {
	@include elemAutoWidth(165);
}
#AreaPageManualP4_Etiketovanie_NumericOutput4 {
		z-index: 8;
}
#AreaPageManualP4_Etiketovanie_ImageList15 {
	@include elemTop(26);
}
#AreaPageManualP4_Etiketovanie_ImageList15 {
	@include elemLeft(387);
}
#AreaPageManualP4_Etiketovanie_ImageList15 {
	@include elemWidth(24);
}
#AreaPageManualP4_Etiketovanie_ImageList15 {
	@include elemHeight(24);
}
#AreaPageManualP4_Etiketovanie_ImageList15 {
		z-index: 10;
}
#AreaPageManualP4_Etiketovanie_ImageList15 {
		border-width: 0px;
}
#AreaPageManualP4_Etiketovanie_ImageList17 {
	@include elemTop(284);
}
#AreaPageManualP4_Etiketovanie_ImageList17 {
	@include elemLeft(172);
}
#AreaPageManualP4_Etiketovanie_ImageList17 {
	@include elemWidth(25);
}
#AreaPageManualP4_Etiketovanie_ImageList17 {
	@include elemHeight(25);
}
#AreaPageManualP4_Etiketovanie_ImageList17 {
		z-index: 11;
}
#AreaPageManualP4_Etiketovanie_ImageList17 {
		border-width: 0px;
}
#AreaPageManualP4_Etiketovanie_Label22 {
	@include elemTop(325);
}
#AreaPageManualP4_Etiketovanie_Label22 {
	@include elemLeft(11);
}
#AreaPageManualP4_Etiketovanie_Label22 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_Etiketovanie_Label22 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Label22 {
		z-index: 12;
}
#AreaPageManualP4_Etiketovanie_Label22 {
		border-width: 2px;
}
#AreaPageManualP4_Etiketovanie_Label22 {
	@include border-radius(5px);
}
#AreaPageManualP4_Etiketovanie_Label22 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_Etiketovanie_Label22 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Etiketovanie_Label22 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label22 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label22 {
		border-style: outset;
}
#AreaPageManualP4_Etiketovanie_Label22 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label22 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label22 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label22 {
		font-size: 14px;
}
#AreaPageManualP4_Etiketovanie_Label22 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Etiketovanie_ImageList25 {
	@include elemTop(337);
}
#AreaPageManualP4_Etiketovanie_ImageList25 {
	@include elemLeft(172);
}
#AreaPageManualP4_Etiketovanie_ImageList25 {
	@include elemWidth(25);
}
#AreaPageManualP4_Etiketovanie_ImageList25 {
	@include elemHeight(25);
}
#AreaPageManualP4_Etiketovanie_ImageList25 {
		z-index: 13;
}
#AreaPageManualP4_Etiketovanie_ImageList25 {
		border-width: 0px;
}
#AreaPageManualP4_Etiketovanie_GroupBox5 {
	@include elemTop(68);
}
#AreaPageManualP4_Etiketovanie_GroupBox5 {
	@include elemLeft(918);
}
#AreaPageManualP4_Etiketovanie_GroupBox5 {
	@include elemWidth(430);
}
#AreaPageManualP4_Etiketovanie_GroupBox5 {
	@include elemHeight(510);
}
#AreaPageManualP4_Etiketovanie_GroupBox5 {
		z-index: 5;
}
#AreaPageManualP4_Etiketovanie_GroupBox5 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP4_Etiketovanie_GroupBox5 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_GroupBox5 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VZAD {
	@include elemTop(15);
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VZAD {
	@include elemLeft(233);
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VZAD {
	@include elemAutoWidth(170);
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VZAD {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VZAD {
		z-index: 0;
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VZAD {
	@include border-radius(10px);
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VZAD {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VZAD {
	@include text-alignment(left);
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VZAD {
	span{
		font-size: 16px;
	}
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VZAD {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VZAD {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VZAD {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VPRED {
	@include elemTop(15);
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VPRED {
	@include elemLeft(21);
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VPRED {
	@include elemAutoWidth(170);
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VPRED {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VPRED {
		z-index: 1;
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VPRED {
	@include border-radius(10px);
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VPRED {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VPRED {
	@include text-alignment(right);
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VPRED {
	span{
		font-size: 16px;
	}
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VPRED {
	span{
	@include font-weight-bold(true);
	}
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VPRED {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VPRED {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_Button_OtocPodavac_M5_VPRED {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVZAD {
	@include elemTop(89);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVZAD {
	@include elemLeft(21);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVZAD {
	@include elemAutoWidth(170);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVZAD {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVZAD {
		z-index: 2;
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVZAD {
	@include text-alignment(right);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVPRED {
	@include elemTop(89);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVPRED {
	@include elemLeft(233);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVPRED {
	@include elemAutoWidth(170);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVPRED {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVPRED {
		z-index: 3;
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVPRED {
	@include border-radius(10px);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVPRED {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVPRED {
	@include text-alignment(left);
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVPRED {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVPRED {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_MomentaryPushButton_DopravnikVPRED {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper1 {
	@include elemTop(163);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper1 {
	@include elemLeft(21);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper1 {
	@include elemAutoWidth(170);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper1 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper1 {
		z-index: 4;
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper1 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper1 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper1 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper1 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper1 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper1 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper1 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M5 {
	@include elemTop(237);
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M5 {
	@include elemLeft(233);
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M5 {
	@include elemAutoWidth(170);
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M5 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M5 {
		z-index: 5;
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M5 {
	@include border-radius(10px);
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M5 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M5 {
	@include text-alignment(left);
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M5 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M5 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_Button_ResetServaOsZ_M5 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_ImageList20 {
	@include elemTop(247);
}
#AreaPageManualP4_Etiketovanie_ImageList20 {
	@include elemLeft(368);
}
#AreaPageManualP4_Etiketovanie_ImageList20 {
	@include elemWidth(25);
}
#AreaPageManualP4_Etiketovanie_ImageList20 {
	@include elemHeight(25);
}
#AreaPageManualP4_Etiketovanie_ImageList20 {
		z-index: 6;
}
#AreaPageManualP4_Etiketovanie_ImageList20 {
		border-width: 0px;
}
#AreaPageManualP4_Etiketovanie_Line5 {
		z-index: 7;
}
#AreaPageManualP4_Etiketovanie_Line5 {
	line{
		stroke-width: 2px;
	}
}
#AreaPageManualP4_Etiketovanie_Label14 {
	@include elemTop(315);
}
#AreaPageManualP4_Etiketovanie_Label14 {
	@include elemLeft(13);
}
#AreaPageManualP4_Etiketovanie_Label14 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_Etiketovanie_Label14 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Label14 {
		z-index: 8;
}
#AreaPageManualP4_Etiketovanie_Label14 {
		border-width: 2px;
}
#AreaPageManualP4_Etiketovanie_Label14 {
	@include border-radius(5px);
}
#AreaPageManualP4_Etiketovanie_Label14 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_Etiketovanie_Label14 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Etiketovanie_Label14 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label14 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label14 {
		border-style: outset;
}
#AreaPageManualP4_Etiketovanie_Label14 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label14 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label14 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label14 {
		font-size: 14px;
}
#AreaPageManualP4_Etiketovanie_Label14 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Etiketovanie_ImageList18 {
	@include elemTop(325);
}
#AreaPageManualP4_Etiketovanie_ImageList18 {
	@include elemLeft(174);
}
#AreaPageManualP4_Etiketovanie_ImageList18 {
	@include elemWidth(25);
}
#AreaPageManualP4_Etiketovanie_ImageList18 {
	@include elemHeight(25);
}
#AreaPageManualP4_Etiketovanie_ImageList18 {
		z-index: 9;
}
#AreaPageManualP4_Etiketovanie_ImageList18 {
		border-width: 0px;
}
#AreaPageManualP4_Etiketovanie_Label16 {
	@include elemTop(315);
}
#AreaPageManualP4_Etiketovanie_Label16 {
	@include elemLeft(225);
}
#AreaPageManualP4_Etiketovanie_Label16 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_Etiketovanie_Label16 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Label16 {
		z-index: 10;
}
#AreaPageManualP4_Etiketovanie_Label16 {
		border-width: 2px;
}
#AreaPageManualP4_Etiketovanie_Label16 {
	@include border-radius(5px);
}
#AreaPageManualP4_Etiketovanie_Label16 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_Etiketovanie_Label16 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Etiketovanie_Label16 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label16 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label16 {
		border-style: outset;
}
#AreaPageManualP4_Etiketovanie_Label16 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label16 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label16 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label16 {
		font-size: 14px;
}
#AreaPageManualP4_Etiketovanie_Label16 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Etiketovanie_ImageList19 {
	@include elemTop(325);
}
#AreaPageManualP4_Etiketovanie_ImageList19 {
	@include elemLeft(387);
}
#AreaPageManualP4_Etiketovanie_ImageList19 {
	@include elemWidth(25);
}
#AreaPageManualP4_Etiketovanie_ImageList19 {
	@include elemHeight(25);
}
#AreaPageManualP4_Etiketovanie_ImageList19 {
		z-index: 11;
}
#AreaPageManualP4_Etiketovanie_ImageList19 {
		border-width: 0px;
}
#AreaPageManualP4_Etiketovanie_Label17 {
	@include elemTop(367);
}
#AreaPageManualP4_Etiketovanie_Label17 {
	@include elemLeft(13);
}
#AreaPageManualP4_Etiketovanie_Label17 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_Etiketovanie_Label17 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Label17 {
		z-index: 12;
}
#AreaPageManualP4_Etiketovanie_Label17 {
		border-width: 2px;
}
#AreaPageManualP4_Etiketovanie_Label17 {
	@include border-radius(5px);
}
#AreaPageManualP4_Etiketovanie_Label17 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_Etiketovanie_Label17 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Etiketovanie_Label17 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label17 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label17 {
		border-style: outset;
}
#AreaPageManualP4_Etiketovanie_Label17 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label17 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label17 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label17 {
		font-size: 14px;
}
#AreaPageManualP4_Etiketovanie_Label17 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Etiketovanie_ImageList21 {
	@include elemTop(377);
}
#AreaPageManualP4_Etiketovanie_ImageList21 {
	@include elemLeft(175);
}
#AreaPageManualP4_Etiketovanie_ImageList21 {
	@include elemWidth(25);
}
#AreaPageManualP4_Etiketovanie_ImageList21 {
	@include elemHeight(25);
}
#AreaPageManualP4_Etiketovanie_ImageList21 {
		z-index: 13;
}
#AreaPageManualP4_Etiketovanie_ImageList21 {
		border-width: 0px;
}
#AreaPageManualP4_Etiketovanie_Label19 {
	@include elemTop(367);
}
#AreaPageManualP4_Etiketovanie_Label19 {
	@include elemLeft(225);
}
#AreaPageManualP4_Etiketovanie_Label19 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_Etiketovanie_Label19 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Label19 {
		z-index: 14;
}
#AreaPageManualP4_Etiketovanie_Label19 {
		border-width: 2px;
}
#AreaPageManualP4_Etiketovanie_Label19 {
	@include border-radius(5px);
}
#AreaPageManualP4_Etiketovanie_Label19 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_Etiketovanie_Label19 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Etiketovanie_Label19 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label19 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label19 {
		border-style: outset;
}
#AreaPageManualP4_Etiketovanie_Label19 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label19 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label19 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label19 {
		font-size: 14px;
}
#AreaPageManualP4_Etiketovanie_Label19 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Etiketovanie_ImageList22 {
	@include elemTop(377);
}
#AreaPageManualP4_Etiketovanie_ImageList22 {
	@include elemLeft(387);
}
#AreaPageManualP4_Etiketovanie_ImageList22 {
	@include elemWidth(25);
}
#AreaPageManualP4_Etiketovanie_ImageList22 {
	@include elemHeight(25);
}
#AreaPageManualP4_Etiketovanie_ImageList22 {
		z-index: 15;
}
#AreaPageManualP4_Etiketovanie_ImageList22 {
		border-width: 0px;
}
#AreaPageManualP4_Etiketovanie_Label20 {
	@include elemTop(419);
}
#AreaPageManualP4_Etiketovanie_Label20 {
	@include elemLeft(13);
}
#AreaPageManualP4_Etiketovanie_Label20 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_Etiketovanie_Label20 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Label20 {
		z-index: 16;
}
#AreaPageManualP4_Etiketovanie_Label20 {
		border-width: 2px;
}
#AreaPageManualP4_Etiketovanie_Label20 {
	@include border-radius(5px);
}
#AreaPageManualP4_Etiketovanie_Label20 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_Etiketovanie_Label20 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Etiketovanie_Label20 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label20 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label20 {
		border-style: outset;
}
#AreaPageManualP4_Etiketovanie_Label20 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label20 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label20 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label20 {
		font-size: 14px;
}
#AreaPageManualP4_Etiketovanie_Label20 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Etiketovanie_ImageList23 {
	@include elemTop(429);
}
#AreaPageManualP4_Etiketovanie_ImageList23 {
	@include elemLeft(175);
}
#AreaPageManualP4_Etiketovanie_ImageList23 {
	@include elemWidth(25);
}
#AreaPageManualP4_Etiketovanie_ImageList23 {
	@include elemHeight(25);
}
#AreaPageManualP4_Etiketovanie_ImageList23 {
		z-index: 17;
}
#AreaPageManualP4_Etiketovanie_ImageList23 {
		border-width: 0px;
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK30 {
	@include elemTop(163);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK30 {
	@include elemLeft(233);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK30 {
	@include elemAutoWidth(170);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK30 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK30 {
		z-index: 18;
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK30 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK30 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK30 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK30 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK30 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK30 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK30 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK31 {
	@include elemTop(237);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK31 {
	@include elemLeft(21);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK31 {
	@include elemAutoWidth(170);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK31 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK31 {
		z-index: 19;
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK31 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK31 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK31 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK31 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK31 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK31 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_ToggleSwitch_VibracieZasobnikaK31 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_Etiketovanie_Label21 {
	@include elemTop(419);
}
#AreaPageManualP4_Etiketovanie_Label21 {
	@include elemLeft(225);
}
#AreaPageManualP4_Etiketovanie_Label21 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_Etiketovanie_Label21 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_Etiketovanie_Label21 {
		z-index: 20;
}
#AreaPageManualP4_Etiketovanie_Label21 {
		border-width: 2px;
}
#AreaPageManualP4_Etiketovanie_Label21 {
	@include border-radius(5px);
}
#AreaPageManualP4_Etiketovanie_Label21 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_Etiketovanie_Label21 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_Etiketovanie_Label21 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label21 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label21 {
		border-style: outset;
}
#AreaPageManualP4_Etiketovanie_Label21 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label21 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_Etiketovanie_Label21 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_Etiketovanie_Label21 {
		font-size: 14px;
}
#AreaPageManualP4_Etiketovanie_Label21 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_Etiketovanie_ImageList24 {
	@include elemTop(429);
}
#AreaPageManualP4_Etiketovanie_ImageList24 {
	@include elemLeft(387);
}
#AreaPageManualP4_Etiketovanie_ImageList24 {
	@include elemWidth(25);
}
#AreaPageManualP4_Etiketovanie_ImageList24 {
	@include elemHeight(25);
}
#AreaPageManualP4_Etiketovanie_ImageList24 {
		z-index: 21;
}
#AreaPageManualP4_Etiketovanie_ImageList24 {
		border-width: 0px;
}
