#AreaPageTolerancieSkrutkovaniaP3_ImageTolerancieSkrutkovaniaP3 {
  top: 0px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_ImageTolerancieSkrutkovaniaP3 {
  left: 0px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_ImageTolerancieSkrutkovaniaP3 {
  width: 1366px;
}

#AreaPageTolerancieSkrutkovaniaP3_ImageTolerancieSkrutkovaniaP3 {
  height: 588px;
}

#AreaPageTolerancieSkrutkovaniaP3_ImageTolerancieSkrutkovaniaP3 {
  z-index: 0;
}

#AreaPageTolerancieSkrutkovaniaP3_ImageTolerancieSkrutkovaniaP3 {
  opacity: 0.15;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  width: 400px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  height: 40px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  z-index: 1;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  top: 78px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  left: 12px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  width: 440px;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  height: 500px;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  z-index: 2;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  background-color: oldlace;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 > .header span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  top: 11px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  left: 7px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  width: 424px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  height: 75px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  z-index: 0;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  border-width: 2px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  background-color: lightgray;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8:before {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8:after {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  border-style: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8:before {
  border-style: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8:after {
  border-style: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  font-size: 16px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  left: 133px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  z-index: 1;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  left: 228px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  z-index: 2;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  left: 236px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  z-index: 3;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  top: 101px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  left: 7px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  width: 424px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  height: 75px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  z-index: 4;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  border-width: 2px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  background-color: lightgray;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10:before {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10:after {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  border-style: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10:before {
  border-style: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10:after {
  border-style: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  font-size: 16px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  top: 109px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  left: 133px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  z-index: 5;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  top: 141px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  left: 228px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  z-index: 6;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  top: 109px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  left: 236px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  z-index: 7;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 {
  top: 141px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 {
  left: 126px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 {
  z-index: 8;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 {
  border-width: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 {
  background-color: #e0e0e0;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput2 .breaseNumericOutput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  top: 141px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  left: 331px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  z-index: 9;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  top: 109px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  left: 338px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  z-index: 10;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  left: 338px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  z-index: 11;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 {
  left: 126px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 {
  z-index: 12;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 {
  border-width: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 {
  background-color: #e0e0e0;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput6 .breaseNumericOutput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7 {
  left: 331px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7 {
  z-index: 13;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_7 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  top: 78px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  left: 463px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  width: 440px;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  height: 500px;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  z-index: 3;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  background-color: oldlace;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 > .header span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  top: 11px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  left: 7px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  width: 424px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  height: 75px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  z-index: 0;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  border-width: 2px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  background-color: lightgray;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42:before {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42:after {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  border-style: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42:before {
  border-style: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42:after {
  border-style: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  font-size: 16px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  left: 133px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  z-index: 1;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32 {
  left: 330px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32 {
  z-index: 2;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_32 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  left: 338px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  z-index: 3;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33 {
  left: 228px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33 {
  z-index: 4;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_33 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  left: 236px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  z-index: 5;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  left: 125px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  z-index: 6;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  border-width: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  background-color: #e0e0e0;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 .breaseNumericOutput_unit {
  font-size: 10px;
}
