#AreaPageStavyStanicP4_ImageStavyStanicP4 {
  top: 0px;
  position: absolute;
}

#AreaPageStavyStanicP4_ImageStavyStanicP4 {
  left: 0px;
  position: absolute;
}

#AreaPageStavyStanicP4_ImageStavyStanicP4 {
  width: 1366px;
}

#AreaPageStavyStanicP4_ImageStavyStanicP4 {
  height: 588px;
}

#AreaPageStavyStanicP4_ImageStavyStanicP4 {
  z-index: 0;
}

#AreaPageStavyStanicP4_ImageStavyStanicP4 {
  opacity: 0.15;
}

#AreaPageStavyStanicP4_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label1 {
  width: 400px;
}

#AreaPageStavyStanicP4_Label1 {
  height: 40px;
}

#AreaPageStavyStanicP4_Label1 {
  z-index: 1;
}

#AreaPageStavyStanicP4_Label8 {
  top: 66px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label8 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label8 {
  width: 1344px;
}

#AreaPageStavyStanicP4_Label8 {
  height: 42px;
}

#AreaPageStavyStanicP4_Label8 {
  z-index: 2;
}

#AreaPageStavyStanicP4_Label8 {
  border-radius: 4px;
}

#AreaPageStavyStanicP4_Label8 {
  background-color: oldlace;
}

#AreaPageStavyStanicP4_Label8 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP4_Label8 {
  border-color: black;
}

#AreaPageStavyStanicP4_Label8:before {
  border-color: black;
}

#AreaPageStavyStanicP4_Label8:after {
  border-color: black;
}

#AreaPageStavyStanicP4_Label8 {
  border-style: none;
}

#AreaPageStavyStanicP4_Label8:before {
  border-style: none;
}

#AreaPageStavyStanicP4_Label8:after {
  border-style: none;
}

#AreaPageStavyStanicP4_Label8 span {
  color: black;
}

#AreaPageStavyStanicP4_Label8 {
  font-size: 15px;
}

#AreaPageStavyStanicP4_Label8 {
  font-weight: bold;
}

#AreaPageStavyStanicP4_Label8 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP4_TextOutput1 {
  height: 30px;
}

#AreaPageStavyStanicP4_TextOutput1 {
  top: 72px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput1 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput1 {
  width: 1226px;
}

#AreaPageStavyStanicP4_TextOutput1 {
  z-index: 3;
}

#AreaPageStavyStanicP4_TextOutput1 {
  background-color: dimgray;
}

#AreaPageStavyStanicP4_TextOutput1 span {
  color: white;
}

#AreaPageStavyStanicP4_TextOutput1 {
  font-size: 12px;
}

#AreaPageStavyStanicP4_TextOutput1 {
  box-shadow: none;
}

#AreaPageStavyStanicP4_Label11 {
  top: 114px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label11 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label11 {
  width: 1344px;
}

#AreaPageStavyStanicP4_Label11 {
  height: 42px;
}

#AreaPageStavyStanicP4_Label11 {
  z-index: 4;
}

#AreaPageStavyStanicP4_Label11 {
  border-radius: 4px;
}

#AreaPageStavyStanicP4_Label11 {
  background-color: oldlace;
}

#AreaPageStavyStanicP4_Label11 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP4_Label11 {
  border-color: black;
}

#AreaPageStavyStanicP4_Label11:before {
  border-color: black;
}

#AreaPageStavyStanicP4_Label11:after {
  border-color: black;
}

#AreaPageStavyStanicP4_Label11 {
  border-style: none;
}

#AreaPageStavyStanicP4_Label11:before {
  border-style: none;
}

#AreaPageStavyStanicP4_Label11:after {
  border-style: none;
}

#AreaPageStavyStanicP4_Label11 span {
  color: black;
}

#AreaPageStavyStanicP4_Label11 {
  font-size: 15px;
}

#AreaPageStavyStanicP4_Label11 {
  font-weight: bold;
}

#AreaPageStavyStanicP4_Label11 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP4_TextOutput4 {
  height: 30px;
}

#AreaPageStavyStanicP4_TextOutput4 {
  top: 120px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput4 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput4 {
  width: 1226px;
}

#AreaPageStavyStanicP4_TextOutput4 {
  z-index: 5;
}

#AreaPageStavyStanicP4_TextOutput4 {
  background-color: dimgray;
}

#AreaPageStavyStanicP4_TextOutput4 span {
  color: white;
}

#AreaPageStavyStanicP4_TextOutput4 {
  font-size: 12px;
}

#AreaPageStavyStanicP4_TextOutput4 {
  box-shadow: none;
}

#AreaPageStavyStanicP4_Label9 {
  top: 162px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label9 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label9 {
  width: 1344px;
}

#AreaPageStavyStanicP4_Label9 {
  height: 42px;
}

#AreaPageStavyStanicP4_Label9 {
  z-index: 6;
}

#AreaPageStavyStanicP4_Label9 {
  border-radius: 4px;
}

#AreaPageStavyStanicP4_Label9 {
  background-color: oldlace;
}

#AreaPageStavyStanicP4_Label9 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP4_Label9 {
  border-color: black;
}

#AreaPageStavyStanicP4_Label9:before {
  border-color: black;
}

#AreaPageStavyStanicP4_Label9:after {
  border-color: black;
}

#AreaPageStavyStanicP4_Label9 {
  border-style: none;
}

#AreaPageStavyStanicP4_Label9:before {
  border-style: none;
}

#AreaPageStavyStanicP4_Label9:after {
  border-style: none;
}

#AreaPageStavyStanicP4_Label9 span {
  color: black;
}

#AreaPageStavyStanicP4_Label9 {
  font-size: 15px;
}

#AreaPageStavyStanicP4_Label9 {
  font-weight: bold;
}

#AreaPageStavyStanicP4_Label9 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP4_TextOutput2 {
  height: 30px;
}

#AreaPageStavyStanicP4_TextOutput2 {
  top: 168px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput2 {
  left: 122px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput2 {
  width: 1226px;
}

#AreaPageStavyStanicP4_TextOutput2 {
  z-index: 7;
}

#AreaPageStavyStanicP4_TextOutput2 {
  background-color: dimgray;
}

#AreaPageStavyStanicP4_TextOutput2 span {
  color: white;
}

#AreaPageStavyStanicP4_TextOutput2 {
  font-size: 12px;
}

#AreaPageStavyStanicP4_TextOutput2 {
  box-shadow: none;
}

#AreaPageStavyStanicP4_Label10 {
  top: 210px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label10 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label10 {
  width: 1344px;
}

#AreaPageStavyStanicP4_Label10 {
  height: 42px;
}

#AreaPageStavyStanicP4_Label10 {
  z-index: 8;
}

#AreaPageStavyStanicP4_Label10 {
  border-radius: 4px;
}

#AreaPageStavyStanicP4_Label10 {
  background-color: oldlace;
}

#AreaPageStavyStanicP4_Label10 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP4_Label10 {
  border-color: black;
}

#AreaPageStavyStanicP4_Label10:before {
  border-color: black;
}

#AreaPageStavyStanicP4_Label10:after {
  border-color: black;
}

#AreaPageStavyStanicP4_Label10 {
  border-style: none;
}

#AreaPageStavyStanicP4_Label10:before {
  border-style: none;
}

#AreaPageStavyStanicP4_Label10:after {
  border-style: none;
}

#AreaPageStavyStanicP4_Label10 span {
  color: black;
}

#AreaPageStavyStanicP4_Label10 {
  font-size: 15px;
}

#AreaPageStavyStanicP4_Label10 {
  font-weight: bold;
}

#AreaPageStavyStanicP4_Label10 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP4_TextOutput3 {
  height: 30px;
}

#AreaPageStavyStanicP4_TextOutput3 {
  top: 216px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput3 {
  left: 122px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput3 {
  width: 1226px;
}

#AreaPageStavyStanicP4_TextOutput3 {
  z-index: 9;
}

#AreaPageStavyStanicP4_TextOutput3 {
  background-color: dimgray;
}

#AreaPageStavyStanicP4_TextOutput3 span {
  color: white;
}

#AreaPageStavyStanicP4_TextOutput3 {
  font-size: 12px;
}

#AreaPageStavyStanicP4_TextOutput3 {
  box-shadow: none;
}

#AreaPageStavyStanicP4_Label14 {
  top: 258px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label14 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label14 {
  width: 1344px;
}

#AreaPageStavyStanicP4_Label14 {
  height: 42px;
}

#AreaPageStavyStanicP4_Label14 {
  z-index: 10;
}

#AreaPageStavyStanicP4_Label14 {
  border-radius: 4px;
}

#AreaPageStavyStanicP4_Label14 {
  background-color: oldlace;
}

#AreaPageStavyStanicP4_Label14 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP4_Label14 {
  border-color: black;
}

#AreaPageStavyStanicP4_Label14:before {
  border-color: black;
}

#AreaPageStavyStanicP4_Label14:after {
  border-color: black;
}

#AreaPageStavyStanicP4_Label14 {
  border-style: none;
}

#AreaPageStavyStanicP4_Label14:before {
  border-style: none;
}

#AreaPageStavyStanicP4_Label14:after {
  border-style: none;
}

#AreaPageStavyStanicP4_Label14 span {
  color: black;
}

#AreaPageStavyStanicP4_Label14 {
  font-size: 15px;
}

#AreaPageStavyStanicP4_Label14 {
  font-weight: bold;
}

#AreaPageStavyStanicP4_Label14 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP4_TextOutput7 {
  height: 30px;
}

#AreaPageStavyStanicP4_TextOutput7 {
  top: 264px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput7 {
  left: 122px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput7 {
  width: 1226px;
}

#AreaPageStavyStanicP4_TextOutput7 {
  z-index: 11;
}

#AreaPageStavyStanicP4_TextOutput7 {
  background-color: dimgray;
}

#AreaPageStavyStanicP4_TextOutput7 span {
  color: white;
}

#AreaPageStavyStanicP4_TextOutput7 {
  font-size: 12px;
}

#AreaPageStavyStanicP4_TextOutput7 {
  box-shadow: none;
}

#AreaPageStavyStanicP4_Label15 {
  top: 306px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label15 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label15 {
  width: 1344px;
}

#AreaPageStavyStanicP4_Label15 {
  height: 42px;
}

#AreaPageStavyStanicP4_Label15 {
  z-index: 12;
}

#AreaPageStavyStanicP4_Label15 {
  border-radius: 4px;
}

#AreaPageStavyStanicP4_Label15 {
  background-color: oldlace;
}

#AreaPageStavyStanicP4_Label15 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP4_Label15 {
  border-color: black;
}

#AreaPageStavyStanicP4_Label15:before {
  border-color: black;
}

#AreaPageStavyStanicP4_Label15:after {
  border-color: black;
}

#AreaPageStavyStanicP4_Label15 {
  border-style: none;
}

#AreaPageStavyStanicP4_Label15:before {
  border-style: none;
}

#AreaPageStavyStanicP4_Label15:after {
  border-style: none;
}

#AreaPageStavyStanicP4_Label15 span {
  color: black;
}

#AreaPageStavyStanicP4_Label15 {
  font-size: 15px;
}

#AreaPageStavyStanicP4_Label15 {
  font-weight: bold;
}

#AreaPageStavyStanicP4_Label15 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP4_TextOutput8 {
  height: 30px;
}

#AreaPageStavyStanicP4_TextOutput8 {
  top: 312px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput8 {
  left: 122px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput8 {
  width: 1226px;
}

#AreaPageStavyStanicP4_TextOutput8 {
  z-index: 13;
}

#AreaPageStavyStanicP4_TextOutput8 {
  background-color: dimgray;
}

#AreaPageStavyStanicP4_TextOutput8 span {
  color: white;
}

#AreaPageStavyStanicP4_TextOutput8 {
  font-size: 12px;
}

#AreaPageStavyStanicP4_TextOutput8 {
  box-shadow: none;
}

#AreaPageStavyStanicP4_Label16 {
  top: 354px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label16 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label16 {
  width: 1344px;
}

#AreaPageStavyStanicP4_Label16 {
  height: 42px;
}

#AreaPageStavyStanicP4_Label16 {
  z-index: 14;
}

#AreaPageStavyStanicP4_Label16 {
  border-radius: 4px;
}

#AreaPageStavyStanicP4_Label16 {
  background-color: oldlace;
}

#AreaPageStavyStanicP4_Label16 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP4_Label16 {
  border-color: black;
}

#AreaPageStavyStanicP4_Label16:before {
  border-color: black;
}

#AreaPageStavyStanicP4_Label16:after {
  border-color: black;
}

#AreaPageStavyStanicP4_Label16 {
  border-style: none;
}

#AreaPageStavyStanicP4_Label16:before {
  border-style: none;
}

#AreaPageStavyStanicP4_Label16:after {
  border-style: none;
}

#AreaPageStavyStanicP4_Label16 span {
  color: black;
}

#AreaPageStavyStanicP4_Label16 {
  font-size: 15px;
}

#AreaPageStavyStanicP4_Label16 {
  font-weight: bold;
}

#AreaPageStavyStanicP4_Label16 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP4_TextOutput9 {
  height: 30px;
}

#AreaPageStavyStanicP4_TextOutput9 {
  top: 360px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput9 {
  left: 122px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput9 {
  width: 1226px;
}

#AreaPageStavyStanicP4_TextOutput9 {
  z-index: 15;
}

#AreaPageStavyStanicP4_TextOutput9 {
  background-color: dimgray;
}

#AreaPageStavyStanicP4_TextOutput9 span {
  color: white;
}

#AreaPageStavyStanicP4_TextOutput9 {
  font-size: 12px;
}

#AreaPageStavyStanicP4_TextOutput9 {
  box-shadow: none;
}

#AreaPageStavyStanicP4_Label12 {
  top: 402px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label12 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label12 {
  width: 1344px;
}

#AreaPageStavyStanicP4_Label12 {
  height: 42px;
}

#AreaPageStavyStanicP4_Label12 {
  z-index: 16;
}

#AreaPageStavyStanicP4_Label12 {
  border-radius: 4px;
}

#AreaPageStavyStanicP4_Label12 {
  background-color: oldlace;
}

#AreaPageStavyStanicP4_Label12 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP4_Label12 {
  border-color: black;
}

#AreaPageStavyStanicP4_Label12:before {
  border-color: black;
}

#AreaPageStavyStanicP4_Label12:after {
  border-color: black;
}

#AreaPageStavyStanicP4_Label12 {
  border-style: none;
}

#AreaPageStavyStanicP4_Label12:before {
  border-style: none;
}

#AreaPageStavyStanicP4_Label12:after {
  border-style: none;
}

#AreaPageStavyStanicP4_Label12 span {
  color: black;
}

#AreaPageStavyStanicP4_Label12 {
  font-size: 15px;
}

#AreaPageStavyStanicP4_Label12 {
  font-weight: bold;
}

#AreaPageStavyStanicP4_Label12 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP4_TextOutput5 {
  height: 30px;
}

#AreaPageStavyStanicP4_TextOutput5 {
  top: 408px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput5 {
  left: 122px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput5 {
  width: 1226px;
}

#AreaPageStavyStanicP4_TextOutput5 {
  z-index: 17;
}

#AreaPageStavyStanicP4_TextOutput5 {
  background-color: dimgray;
}

#AreaPageStavyStanicP4_TextOutput5 span {
  color: white;
}

#AreaPageStavyStanicP4_TextOutput5 {
  font-size: 12px;
}

#AreaPageStavyStanicP4_TextOutput5 {
  box-shadow: none;
}
