#AreaPageManualP3_Skrutkovanie_page2_ImagePageSkrutkovanie2 {
  top: 0px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImagePageSkrutkovanie2 {
  left: 0px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImagePageSkrutkovanie2 {
  width: 1366px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImagePageSkrutkovanie2 {
  height: 588px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImagePageSkrutkovanie2 {
  z-index: 0;
}

#AreaPageManualP3_Skrutkovanie_page2_ImagePageSkrutkovanie2 {
  opacity: 0.15;
}

#AreaPageManualP3_Skrutkovanie_page2_Label1 {
  top: 13px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label1 {
  width: 400px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label1 {
  height: 40px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label1 {
  z-index: 1;
}

#AreaPageManualP3_Skrutkovanie_page2_Label1 {
  border-width: 3px;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox5 {
  top: 70px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox5 {
  left: 12px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox5 {
  width: 429px;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox5 {
  height: 245px;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox5 {
  z-index: 2;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox5 {
  background-color: oldlace;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox5 > .header span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox5 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
  top: 19px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
  z-index: 0;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
  top: 143px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
  left: 236px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
  z-index: 1;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  top: 143px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  z-index: 2;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 span {
  font-size: 16px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 {
  top: 19px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 {
  left: 221px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 {
  height: 77px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 {
  z-index: 3;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label27 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12 {
  top: 81px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12 {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12 {
  z-index: 4;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label12 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList11 {
  top: 92px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList11 {
  left: 140px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList11 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList11 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList11 {
  z-index: 5;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList11 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList12 {
  top: 154px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList12 {
  left: 140px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList12 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList12 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList12 {
  z-index: 6;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList12 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericOutput2 {
  height: 30px;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericOutput2 {
  top: 55px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericOutput2 {
  left: 236px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericOutput2 {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericOutput2 {
  z-index: 7;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage {
  top: 13px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage {
  left: 12px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage {
  width: 105px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage {
  height: 50px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage {
  z-index: 3;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage {
  border-style: solid;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage.active {
  border-style: solid;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage.checked {
  border-style: solid;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage.disabled {
  border-style: solid;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage:not(.active):not(.checked) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage.disabled {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage {
  border-radius: 8px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage.active.checked:not(.disabled) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage span {
  font-size: 20px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_PreviewPage.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox7 {
  top: 70px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox7 {
  left: 468px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox7 {
  width: 430px;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox7 {
  height: 510px;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox7 {
  z-index: 4;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox7 {
  background-color: oldlace;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox7 > .header span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_GroupBox7 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
  top: 81px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
  left: 26px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
  z-index: 0;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
  border-radius: 10px;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
  top: 81px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
  left: 239px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
  z-index: 1;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
  border-radius: 10px;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_Line5 {
  z-index: 2;
}

#AreaPageManualP3_Skrutkovanie_page2_Line5 line {
  stroke-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16 {
  top: 273px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16 {
  z-index: 3;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label16 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17 {
  top: 328px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17 {
  z-index: 4;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label17 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 {
  top: 151px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 {
  height: 77px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 {
  z-index: 5;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label31 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 {
  top: 151px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 {
  left: 224px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 {
  height: 77px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 {
  z-index: 6;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label32 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19 {
  top: 15px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19 {
  left: 224px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19 {
  z-index: 8;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label19 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
  top: 15px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
  left: 26px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
  z-index: 7;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
  border-radius: 10px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_ResetServaOsZ_M5:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_ResetServaOsZ_M5:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_ResetServaOsZ_M5.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_ResetServaOsZ_M5.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20 {
  top: 273px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20 {
  left: 224px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20 {
  z-index: 9;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page2_Label20 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericInput_6 {
  height: 30px;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericInput_6 {
  top: 187px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericInput_6 {
  left: 239px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericInput_6 {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericInput_6 {
  z-index: 11;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericInput_6.disabled {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericOutput4 {
  height: 30px;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericOutput4 {
  top: 187px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericOutput4 {
  left: 26px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericOutput4 {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page2_NumericOutput4 {
  z-index: 10;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList17 {
  top: 26px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList17 {
  left: 387px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList17 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList17 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList17 {
  z-index: 12;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList17 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList18 {
  top: 284px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList18 {
  left: 387px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList18 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList18 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList18 {
  z-index: 13;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList18 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList19 {
  top: 284px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList19 {
  left: 172px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList19 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList19 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList19 {
  z-index: 14;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList19 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList20 {
  top: 339px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList20 {
  left: 172px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList20 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList20 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList20 {
  z-index: 15;
}

#AreaPageManualP3_Skrutkovanie_page2_ImageList20 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET2 {
  top: 399px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET2 {
  left: 26px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET2 {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET2 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET2 {
  z-index: 16;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET2 {
  border-radius: 10px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET2:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET2 {
  justify-content: center;
  text-align: center;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET2:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET2.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET2.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET3 {
  top: 399px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET3 {
  left: 239px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET3 {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET3 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET3 {
  z-index: 17;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET3 {
  border-radius: 10px;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET3:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET3 {
  justify-content: center;
  text-align: center;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_Button_SET3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage {
  top: 13px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage {
  left: 1246px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage {
  width: 105px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage {
  height: 50px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage {
  z-index: 5;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage {
  border-style: solid;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage.active {
  border-style: solid;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage.checked {
  border-style: solid;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage.disabled {
  border-style: solid;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage:not(.active):not(.checked) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage.disabled {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage {
  border-radius: 8px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage.active.checked:not(.disabled) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage span {
  font-size: 20px;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page2_NavigationButton_NextPage.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
