@import "mixins.scss";
#AreaPageParametreMainP4_ImageParametreP2 {
	@include elemTop(0);
}
#AreaPageParametreMainP4_ImageParametreP2 {
	@include elemLeft(0);
}
#AreaPageParametreMainP4_ImageParametreP2 {
	@include elemAutoWidth(1366);
}
#AreaPageParametreMainP4_ImageParametreP2 {
	@include elemAutoHeight(588);
}
#AreaPageParametreMainP4_ImageParametreP2 {
		z-index: 0;
}
#AreaPageParametreMainP4_ImageParametreP2 {
		opacity: 0.15;
}
#AreaPageParametreMainP4_Label1 {
	@include elemTop(20);
}
#AreaPageParametreMainP4_Label1 {
	@include elemLeft(483);
}
#AreaPageParametreMainP4_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageParametreMainP4_Label1 {
	@include elemAutoHeight(40);
}
#AreaPageParametreMainP4_Label1 {
		z-index: 1;
}
#AreaPageParametreMainP4_NavigationButtonRR_VseobecneParametre {
	@include elemTop(135);
}
#AreaPageParametreMainP4_NavigationButtonRR_VseobecneParametre {
	@include elemLeft(510);
}
#AreaPageParametreMainP4_NavigationButtonRR_VseobecneParametre {
	@include elemAutoWidth(350);
}
#AreaPageParametreMainP4_NavigationButtonRR_VseobecneParametre {
	@include elemAutoHeight(75);
}
#AreaPageParametreMainP4_NavigationButtonRR_VseobecneParametre {
		z-index: 2;
}
#AreaPageParametreMainP4_NavigationButtonRR_VseobecneParametre {
	&:not(.active):not(.checked){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageParametreMainP4_NavigationButtonRR_VseobecneParametre {
	&.disabled{
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageParametreMainP4_NavigationButtonRR_VseobecneParametre {
	@include border-radius(5px);
}
#AreaPageParametreMainP4_NavigationButtonRR_VseobecneParametre {
	&:not(.disabled):not(.checked){
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageParametreMainP4_NavigationButtonRR_VseobecneParametre {
	span{
		font-size: 22px;
	}
}
#AreaPageParametreMainP4_NavigationButtonRR_StavyStanic {
	@include elemTop(285);
}
#AreaPageParametreMainP4_NavigationButtonRR_StavyStanic {
	@include elemLeft(510);
}
#AreaPageParametreMainP4_NavigationButtonRR_StavyStanic {
	@include elemAutoWidth(350);
}
#AreaPageParametreMainP4_NavigationButtonRR_StavyStanic {
	@include elemAutoHeight(75);
}
#AreaPageParametreMainP4_NavigationButtonRR_StavyStanic {
		z-index: 3;
}
#AreaPageParametreMainP4_NavigationButtonRR_StavyStanic {
	&:not(.active):not(.checked){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageParametreMainP4_NavigationButtonRR_StavyStanic {
	&.disabled{
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageParametreMainP4_NavigationButtonRR_StavyStanic {
	@include border-radius(5px);
}
#AreaPageParametreMainP4_NavigationButtonRR_StavyStanic {
	&:not(.disabled):not(.checked){
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageParametreMainP4_NavigationButtonRR_StavyStanic {
	span{
		font-size: 22px;
	}
}
