#AreaPageManualP3_Skrutkovanie_page1_ImagePageSkrutkovanie1 {
  top: 0px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImagePageSkrutkovanie1 {
  left: 0px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImagePageSkrutkovanie1 {
  width: 1366px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImagePageSkrutkovanie1 {
  height: 588px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImagePageSkrutkovanie1 {
  z-index: 0;
}

#AreaPageManualP3_Skrutkovanie_page1_ImagePageSkrutkovanie1 {
  opacity: 0.15;
}

#AreaPageManualP3_Skrutkovanie_page1_Label1 {
  top: 13px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label1 {
  width: 400px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label1 {
  height: 40px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label1 {
  z-index: 1;
}

#AreaPageManualP3_Skrutkovanie_page1_Label1 {
  border-width: 3px;
}

#AreaPageManualP3_Skrutkovanie_page1_Image1 {
  top: 90px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Image1 {
  left: 1070px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Image1 {
  width: 265px;
}

#AreaPageManualP3_Skrutkovanie_page1_Image1 {
  height: 450px;
}

#AreaPageManualP3_Skrutkovanie_page1_Image1 {
  z-index: 2;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  top: 72px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  left: 16px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  width: 430px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  height: 250px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  z-index: 3;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  background-color: oldlace;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 > .header span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList8 {
  top: 83px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList8 {
  left: 301px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList8 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList8 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList8 {
  z-index: 0;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList8 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_ZasunStoperPoz4 {
  top: 81px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_ZasunStoperPoz4 {
  left: 139px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_ZasunStoperPoz4 {
  width: 150px;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_ZasunStoperPoz4 {
  height: 50px;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_ZasunStoperPoz4 {
  z-index: 1;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_ZasunStoperPoz4:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_ZasunStoperPoz4:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_ZasunStoperPoz4 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_ZasunStoperPoz4 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_ZasunStoperPoz4:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_ZasunStoperPoz4.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_ZasunStoperPoz4.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList9 {
  top: 109px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList9 {
  left: 301px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList9 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList9 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList9 {
  z-index: 2;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList9 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  top: 332px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  left: 16px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  width: 430px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  height: 250px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  z-index: 4;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  background-color: oldlace;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 > .header span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper {
  top: 107px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper {
  left: 139px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper {
  width: 150px;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper {
  height: 50px;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper {
  z-index: 0;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  top: 13px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  z-index: 1;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList10 {
  top: 24px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList10 {
  left: 171px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList10 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList10 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList10 {
  z-index: 2;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList10 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  top: 72px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  left: 468px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  width: 430px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  height: 510px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  z-index: 5;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  background-color: oldlace;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 > .header span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  top: 81px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  left: 26px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  z-index: 0;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  border-radius: 10px;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  top: 81px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  left: 239px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  z-index: 1;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  border-radius: 10px;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_Line4 {
  z-index: 2;
}

#AreaPageManualP3_Skrutkovanie_page1_Line4 line {
  stroke-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  top: 273px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  z-index: 3;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  top: 325px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  z-index: 4;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  top: 151px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  height: 77px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  z-index: 5;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  top: 151px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  left: 224px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  height: 77px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  z-index: 6;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  top: 15px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  left: 224px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  z-index: 8;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  top: 15px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  left: 26px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  z-index: 7;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  border-radius: 10px;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_7 {
  height: 30px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_7 {
  top: 187px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_7 {
  left: 239px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_7 {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_7 {
  z-index: 10;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_7 input {
  justify-content: center;
  text-align: center;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput3 {
  height: 30px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput3 {
  top: 187px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput3 {
  left: 26px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput3 {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput3 {
  z-index: 9;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput3 input {
  justify-content: center;
  text-align: center;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList14 {
  top: 26px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList14 {
  left: 386px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList14 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList14 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList14 {
  z-index: 11;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList14 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList15 {
  top: 284px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList15 {
  left: 171px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList15 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList15 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList15 {
  z-index: 12;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList15 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList16 {
  top: 336px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList16 {
  left: 171px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList16 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList16 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList16 {
  z-index: 13;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList16 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage {
  top: 15px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage {
  left: 1240px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage {
  width: 105px;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage {
  height: 50px;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage {
  z-index: 6;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage {
  border-style: solid;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage.active {
  border-style: solid;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage.checked {
  border-style: solid;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage.disabled {
  border-style: solid;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage:not(.active):not(.checked) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage.disabled {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage {
  border-radius: 8px;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage.active.checked:not(.disabled) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage span {
  font-size: 20px;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton_NextPage.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
