@import "mixins.scss";
#AreaPageManualP2_Maticovacka_ImageRR_Maticovacka {
	@include elemTop(0);
}
#AreaPageManualP2_Maticovacka_ImageRR_Maticovacka {
	@include elemLeft(0);
}
#AreaPageManualP2_Maticovacka_ImageRR_Maticovacka {
	@include elemAutoWidth(1366);
}
#AreaPageManualP2_Maticovacka_ImageRR_Maticovacka {
	@include elemAutoHeight(588);
}
#AreaPageManualP2_Maticovacka_ImageRR_Maticovacka {
		z-index: 0;
}
#AreaPageManualP2_Maticovacka_ImageRR_Maticovacka {
		opacity: 0.15;
}
#AreaPageManualP2_Maticovacka_Label1 {
	@include elemTop(13);
}
#AreaPageManualP2_Maticovacka_Label1 {
	@include elemLeft(483);
}
#AreaPageManualP2_Maticovacka_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageManualP2_Maticovacka_Label1 {
	@include elemAutoHeight(40);
}
#AreaPageManualP2_Maticovacka_Label1 {
		z-index: 1;
}
#AreaPageManualP2_Maticovacka_Label1 {
		border-width: 3px;
}
#AreaPageManualP2_Maticovacka_Label1 {
		border-style: ridge;
}
#AreaPageManualP2_Maticovacka_Label1 {
	&:before{
		border-style: ridge;
	}
}
#AreaPageManualP2_Maticovacka_Label1 {
	&:after{
		border-style: ridge;
	}
}
#AreaPageManualP2_Maticovacka_GroupBox2 {
	@include elemTop(64);
}
#AreaPageManualP2_Maticovacka_GroupBox2 {
	@include elemLeft(18);
}
#AreaPageManualP2_Maticovacka_GroupBox2 {
	@include elemWidth(430);
}
#AreaPageManualP2_Maticovacka_GroupBox2 {
	@include elemHeight(250);
}
#AreaPageManualP2_Maticovacka_GroupBox2 {
		z-index: 2;
}
#AreaPageManualP2_Maticovacka_GroupBox2 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP2_Maticovacka_GroupBox2 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_GroupBox2 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP2_Maticovacka_ImageList8 {
	@include elemTop(83);
}
#AreaPageManualP2_Maticovacka_ImageList8 {
	@include elemLeft(301);
}
#AreaPageManualP2_Maticovacka_ImageList8 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList8 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList8 {
		z-index: 0;
}
#AreaPageManualP2_Maticovacka_ImageList8 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_ZasunStoperPoz4 {
	@include elemTop(81);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_ZasunStoperPoz4 {
	@include elemLeft(139);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_ZasunStoperPoz4 {
	@include elemAutoWidth(150);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_ZasunStoperPoz4 {
	@include elemAutoHeight(50);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_ZasunStoperPoz4 {
		z-index: 1;
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_ZasunStoperPoz4 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_ZasunStoperPoz4 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_ZasunStoperPoz4 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_ZasunStoperPoz4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP2_Maticovacka_ImageList9 {
	@include elemTop(111);
}
#AreaPageManualP2_Maticovacka_ImageList9 {
	@include elemLeft(301);
}
#AreaPageManualP2_Maticovacka_ImageList9 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList9 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList9 {
		z-index: 2;
}
#AreaPageManualP2_Maticovacka_ImageList9 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_GroupBox4 {
	@include elemTop(324);
}
#AreaPageManualP2_Maticovacka_GroupBox4 {
	@include elemLeft(18);
}
#AreaPageManualP2_Maticovacka_GroupBox4 {
	@include elemWidth(430);
}
#AreaPageManualP2_Maticovacka_GroupBox4 {
	@include elemHeight(250);
}
#AreaPageManualP2_Maticovacka_GroupBox4 {
		z-index: 3;
}
#AreaPageManualP2_Maticovacka_GroupBox4 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP2_Maticovacka_GroupBox4 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_GroupBox4 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
	@include elemTop(107);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
	@include elemLeft(139);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
	@include elemAutoWidth(150);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
	@include elemAutoHeight(50);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
		z-index: 0;
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_Label15 {
	@include elemTop(13);
}
#AreaPageManualP2_Maticovacka_Label15 {
	@include elemLeft(11);
}
#AreaPageManualP2_Maticovacka_Label15 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Maticovacka_Label15 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Label15 {
		z-index: 1;
}
#AreaPageManualP2_Maticovacka_Label15 {
		border-width: 2px;
}
#AreaPageManualP2_Maticovacka_Label15 {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Label15 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Maticovacka_Label15 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Maticovacka_Label15 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label15 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label15 {
		border-style: outset;
}
#AreaPageManualP2_Maticovacka_Label15 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label15 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label15 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label15 {
		font-size: 14px;
}
#AreaPageManualP2_Maticovacka_Label15 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Maticovacka_ImageList10 {
	@include elemTop(24);
}
#AreaPageManualP2_Maticovacka_ImageList10 {
	@include elemLeft(171);
}
#AreaPageManualP2_Maticovacka_ImageList10 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList10 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList10 {
		z-index: 2;
}
#AreaPageManualP2_Maticovacka_ImageList10 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_GroupBox5 {
	@include elemTop(64);
}
#AreaPageManualP2_Maticovacka_GroupBox5 {
	@include elemLeft(469);
}
#AreaPageManualP2_Maticovacka_GroupBox5 {
	@include elemWidth(430);
}
#AreaPageManualP2_Maticovacka_GroupBox5 {
	@include elemHeight(510);
}
#AreaPageManualP2_Maticovacka_GroupBox5 {
		z-index: 8;
}
#AreaPageManualP2_Maticovacka_GroupBox5 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP2_Maticovacka_GroupBox5 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_GroupBox5 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VysunutieSkrutkovackyK30 {
	@include elemTop(35);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VysunutieSkrutkovackyK30 {
	@include elemLeft(26);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VysunutieSkrutkovackyK30 {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VysunutieSkrutkovackyK30 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VysunutieSkrutkovackyK30 {
		z-index: 0;
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VysunutieSkrutkovackyK30 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VysunutieSkrutkovackyK30 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VysunutieSkrutkovackyK30 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VysunutieSkrutkovackyK30 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VysunutieSkrutkovackyK30 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VysunutieSkrutkovackyK30 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VysunutieSkrutkovackyK30 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK30 {
	@include elemTop(111);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK30 {
	@include elemLeft(236);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK30 {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK30 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK30 {
		z-index: 1;
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK30 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK30 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK30 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK30 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK30 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK30 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK30 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_Button_CistenieSkrutkovackyK30 {
	@include elemTop(111);
}
#AreaPageManualP2_Maticovacka_Button_CistenieSkrutkovackyK30 {
	@include elemLeft(26);
}
#AreaPageManualP2_Maticovacka_Button_CistenieSkrutkovackyK30 {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Maticovacka_Button_CistenieSkrutkovackyK30 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Button_CistenieSkrutkovackyK30 {
		z-index: 2;
}
#AreaPageManualP2_Maticovacka_Button_CistenieSkrutkovackyK30 {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Button_CistenieSkrutkovackyK30 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Button_CistenieSkrutkovackyK30 {
	@include text-alignment(left);
}
#AreaPageManualP2_Maticovacka_Button_CistenieSkrutkovackyK30 {
	span{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_Button_CistenieSkrutkovackyK30 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_Button_CistenieSkrutkovackyK30 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_Button_CistenieSkrutkovackyK30 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_Label27 {
	@include elemTop(19);
}
#AreaPageManualP2_Maticovacka_Label27 {
	@include elemLeft(221);
}
#AreaPageManualP2_Maticovacka_Label27 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Maticovacka_Label27 {
	@include elemAutoHeight(77);
}
#AreaPageManualP2_Maticovacka_Label27 {
		z-index: 3;
}
#AreaPageManualP2_Maticovacka_Label27 {
		border-width: 2px;
}
#AreaPageManualP2_Maticovacka_Label27 {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Label27 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Maticovacka_Label27 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Maticovacka_Label27 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label27 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label27 {
		border-style: outset;
}
#AreaPageManualP2_Maticovacka_Label27 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label27 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label27 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label27 {
	@include text-alignment-all('center top');
}
#AreaPageManualP2_Maticovacka_Label27 {
		font-size: 14px;
}
#AreaPageManualP2_Maticovacka_Label27 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Maticovacka_Label12 {
	@include elemTop(311);
}
#AreaPageManualP2_Maticovacka_Label12 {
	@include elemLeft(11);
}
#AreaPageManualP2_Maticovacka_Label12 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Maticovacka_Label12 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Label12 {
		z-index: 4;
}
#AreaPageManualP2_Maticovacka_Label12 {
		border-width: 2px;
}
#AreaPageManualP2_Maticovacka_Label12 {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Label12 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Maticovacka_Label12 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Maticovacka_Label12 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label12 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label12 {
		border-style: outset;
}
#AreaPageManualP2_Maticovacka_Label12 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label12 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label12 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label12 {
		font-size: 14px;
}
#AreaPageManualP2_Maticovacka_Label12 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Maticovacka_ImageList11 {
	@include elemTop(323);
}
#AreaPageManualP2_Maticovacka_ImageList11 {
	@include elemLeft(173);
}
#AreaPageManualP2_Maticovacka_ImageList11 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList11 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList11 {
		z-index: 5;
}
#AreaPageManualP2_Maticovacka_ImageList11 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_ImageList12 {
	@include elemTop(121);
}
#AreaPageManualP2_Maticovacka_ImageList12 {
	@include elemLeft(160);
}
#AreaPageManualP2_Maticovacka_ImageList12 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList12 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList12 {
		z-index: 6;
}
#AreaPageManualP2_Maticovacka_ImageList12 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_NumericOutput2 {
	@include elemAutoHeight(30);
}
#AreaPageManualP2_Maticovacka_NumericOutput2 {
	@include elemTop(55);
}
#AreaPageManualP2_Maticovacka_NumericOutput2 {
	@include elemLeft(236);
}
#AreaPageManualP2_Maticovacka_NumericOutput2 {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Maticovacka_NumericOutput2 {
		z-index: 7;
}
#AreaPageManualP2_Maticovacka_Line4 {
		z-index: 8;
}
#AreaPageManualP2_Maticovacka_Line4 {
	line{
		stroke-width: 2px;
	}
}
#AreaPageManualP2_Maticovacka_Label13 {
	@include elemTop(259);
}
#AreaPageManualP2_Maticovacka_Label13 {
	@include elemLeft(11);
}
#AreaPageManualP2_Maticovacka_Label13 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Maticovacka_Label13 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Label13 {
		z-index: 9;
}
#AreaPageManualP2_Maticovacka_Label13 {
		border-width: 2px;
}
#AreaPageManualP2_Maticovacka_Label13 {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Label13 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Maticovacka_Label13 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Maticovacka_Label13 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label13 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label13 {
		border-style: outset;
}
#AreaPageManualP2_Maticovacka_Label13 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label13 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label13 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label13 {
		font-size: 14px;
}
#AreaPageManualP2_Maticovacka_Label13 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Maticovacka_ImageList15 {
	@include elemTop(269);
}
#AreaPageManualP2_Maticovacka_ImageList15 {
	@include elemLeft(173);
}
#AreaPageManualP2_Maticovacka_ImageList15 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList15 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList15 {
		z-index: 10;
}
#AreaPageManualP2_Maticovacka_ImageList15 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_Label14 {
	@include elemTop(363);
}
#AreaPageManualP2_Maticovacka_Label14 {
	@include elemLeft(11);
}
#AreaPageManualP2_Maticovacka_Label14 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Maticovacka_Label14 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Label14 {
		z-index: 11;
}
#AreaPageManualP2_Maticovacka_Label14 {
		border-width: 2px;
}
#AreaPageManualP2_Maticovacka_Label14 {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Label14 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Maticovacka_Label14 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Maticovacka_Label14 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label14 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label14 {
		border-style: outset;
}
#AreaPageManualP2_Maticovacka_Label14 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label14 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label14 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label14 {
		font-size: 14px;
}
#AreaPageManualP2_Maticovacka_Label14 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Maticovacka_ImageList13 {
	@include elemTop(375);
}
#AreaPageManualP2_Maticovacka_ImageList13 {
	@include elemLeft(173);
}
#AreaPageManualP2_Maticovacka_ImageList13 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList13 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList13 {
		z-index: 12;
}
#AreaPageManualP2_Maticovacka_ImageList13 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_Label16 {
	@include elemTop(415);
}
#AreaPageManualP2_Maticovacka_Label16 {
	@include elemLeft(11);
}
#AreaPageManualP2_Maticovacka_Label16 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Maticovacka_Label16 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Label16 {
		z-index: 13;
}
#AreaPageManualP2_Maticovacka_Label16 {
		border-width: 2px;
}
#AreaPageManualP2_Maticovacka_Label16 {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Label16 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Maticovacka_Label16 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Maticovacka_Label16 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label16 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label16 {
		border-style: outset;
}
#AreaPageManualP2_Maticovacka_Label16 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label16 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label16 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label16 {
		font-size: 14px;
}
#AreaPageManualP2_Maticovacka_Label16 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Maticovacka_ImageList17 {
	@include elemTop(427);
}
#AreaPageManualP2_Maticovacka_ImageList17 {
	@include elemLeft(173);
}
#AreaPageManualP2_Maticovacka_ImageList17 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList17 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList17 {
		z-index: 14;
}
#AreaPageManualP2_Maticovacka_ImageList17 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK31 {
	@include elemTop(181);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK31 {
	@include elemLeft(236);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK31 {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK31 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK31 {
		z-index: 15;
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK31 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK31 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK31 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK31 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK31 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK31 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieSkrutkyK31 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_GroupBox10 {
	@include elemTop(64);
}
#AreaPageManualP2_Maticovacka_GroupBox10 {
	@include elemLeft(920);
}
#AreaPageManualP2_Maticovacka_GroupBox10 {
	@include elemWidth(430);
}
#AreaPageManualP2_Maticovacka_GroupBox10 {
	@include elemHeight(510);
}
#AreaPageManualP2_Maticovacka_GroupBox10 {
		z-index: 9;
}
#AreaPageManualP2_Maticovacka_GroupBox10 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP2_Maticovacka_GroupBox10 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_GroupBox10 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP2_Maticovacka_ImageList31 {
	@include elemTop(233);
}
#AreaPageManualP2_Maticovacka_ImageList31 {
	@include elemLeft(174);
}
#AreaPageManualP2_Maticovacka_ImageList31 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList31 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList31 {
		z-index: 7;
}
#AreaPageManualP2_Maticovacka_ImageList31 {
		border-style: none;
}
#AreaPageManualP2_Maticovacka_ImageList31 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_Line6 {
		z-index: 0;
}
#AreaPageManualP2_Maticovacka_Line6 {
	line{
		stroke-width: 2px;
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnikaM4 {
	@include elemTop(19);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnikaM4 {
	@include elemLeft(24);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnikaM4 {
	@include elemAutoWidth(170);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnikaM4 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnikaM4 {
		z-index: 1;
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnikaM4 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnikaM4 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnikaM4 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnikaM4 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnikaM4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnikaM4 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnikaM4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_ImageList33 {
	@include elemTop(233);
}
#AreaPageManualP2_Maticovacka_ImageList33 {
	@include elemLeft(384);
}
#AreaPageManualP2_Maticovacka_ImageList33 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList33 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList33 {
		z-index: 11;
}
#AreaPageManualP2_Maticovacka_ImageList33 {
		border-style: none;
}
#AreaPageManualP2_Maticovacka_ImageList33 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VZAD {
	@include elemTop(95);
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VZAD {
	@include elemLeft(235);
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VZAD {
	@include elemAutoWidth(170);
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VZAD {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VZAD {
		z-index: 2;
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VZAD {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VZAD {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VZAD {
	@include text-alignment(left);
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VZAD {
	span{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VZAD {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VZAD {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VZAD {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VPRED {
	@include elemTop(95);
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VPRED {
	@include elemLeft(24);
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VPRED {
	@include elemAutoWidth(170);
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VPRED {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VPRED {
		z-index: 3;
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VPRED {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VPRED {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VPRED {
	@include text-alignment(left);
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VPRED {
	span{
		font-size: 16px;
	}
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VPRED {
	span{
	@include font-weight-bold(true);
	}
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VPRED {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VPRED {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_Button_OtocPodavac_M4_VPRED {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Maticovacka_ImageList35 {
	@include elemTop(179);
}
#AreaPageManualP2_Maticovacka_ImageList35 {
	@include elemLeft(174);
}
#AreaPageManualP2_Maticovacka_ImageList35 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList35 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList35 {
		z-index: 5;
}
#AreaPageManualP2_Maticovacka_ImageList35 {
		border-style: none;
}
#AreaPageManualP2_Maticovacka_ImageList35 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_ImageList36 {
	@include elemTop(179);
}
#AreaPageManualP2_Maticovacka_ImageList36 {
	@include elemLeft(384);
}
#AreaPageManualP2_Maticovacka_ImageList36 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList36 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList36 {
		z-index: 9;
}
#AreaPageManualP2_Maticovacka_ImageList36 {
		border-style: none;
}
#AreaPageManualP2_Maticovacka_ImageList36 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_Label23 {
	@include elemTop(169);
}
#AreaPageManualP2_Maticovacka_Label23 {
	@include elemLeft(11);
}
#AreaPageManualP2_Maticovacka_Label23 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Maticovacka_Label23 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Label23 {
		z-index: 4;
}
#AreaPageManualP2_Maticovacka_Label23 {
		border-width: 2px;
}
#AreaPageManualP2_Maticovacka_Label23 {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Label23 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Maticovacka_Label23 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Maticovacka_Label23 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label23 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label23 {
		border-style: outset;
}
#AreaPageManualP2_Maticovacka_Label23 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label23 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label23 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label23 {
		font-size: 14px;
}
#AreaPageManualP2_Maticovacka_Label23 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Maticovacka_Label24 {
	@include elemTop(223);
}
#AreaPageManualP2_Maticovacka_Label24 {
	@include elemLeft(11);
}
#AreaPageManualP2_Maticovacka_Label24 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Maticovacka_Label24 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Label24 {
		z-index: 6;
}
#AreaPageManualP2_Maticovacka_Label24 {
		border-width: 2px;
}
#AreaPageManualP2_Maticovacka_Label24 {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Label24 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Maticovacka_Label24 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Maticovacka_Label24 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label24 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label24 {
		border-style: outset;
}
#AreaPageManualP2_Maticovacka_Label24 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label24 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label24 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label24 {
		font-size: 14px;
}
#AreaPageManualP2_Maticovacka_Label24 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Maticovacka_Label26 {
	@include elemTop(169);
}
#AreaPageManualP2_Maticovacka_Label26 {
	@include elemLeft(222);
}
#AreaPageManualP2_Maticovacka_Label26 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Maticovacka_Label26 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Label26 {
		z-index: 8;
}
#AreaPageManualP2_Maticovacka_Label26 {
		border-width: 2px;
}
#AreaPageManualP2_Maticovacka_Label26 {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Label26 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Maticovacka_Label26 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Maticovacka_Label26 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label26 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label26 {
		border-style: outset;
}
#AreaPageManualP2_Maticovacka_Label26 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label26 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label26 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label26 {
		font-size: 14px;
}
#AreaPageManualP2_Maticovacka_Label26 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Maticovacka_Label28 {
	@include elemTop(223);
}
#AreaPageManualP2_Maticovacka_Label28 {
	@include elemLeft(222);
}
#AreaPageManualP2_Maticovacka_Label28 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Maticovacka_Label28 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Label28 {
		z-index: 10;
}
#AreaPageManualP2_Maticovacka_Label28 {
		border-width: 2px;
}
#AreaPageManualP2_Maticovacka_Label28 {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Label28 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Maticovacka_Label28 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Maticovacka_Label28 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label28 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label28 {
		border-style: outset;
}
#AreaPageManualP2_Maticovacka_Label28 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label28 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label28 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label28 {
		font-size: 14px;
}
#AreaPageManualP2_Maticovacka_Label28 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Maticovacka_ImageList32 {
	@include elemTop(287);
}
#AreaPageManualP2_Maticovacka_ImageList32 {
	@include elemLeft(174);
}
#AreaPageManualP2_Maticovacka_ImageList32 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList32 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList32 {
		z-index: 13;
}
#AreaPageManualP2_Maticovacka_ImageList32 {
		border-style: none;
}
#AreaPageManualP2_Maticovacka_ImageList32 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_Label25 {
	@include elemTop(277);
}
#AreaPageManualP2_Maticovacka_Label25 {
	@include elemLeft(11);
}
#AreaPageManualP2_Maticovacka_Label25 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Maticovacka_Label25 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Label25 {
		z-index: 12;
}
#AreaPageManualP2_Maticovacka_Label25 {
		border-width: 2px;
}
#AreaPageManualP2_Maticovacka_Label25 {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Label25 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Maticovacka_Label25 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Maticovacka_Label25 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label25 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label25 {
		border-style: outset;
}
#AreaPageManualP2_Maticovacka_Label25 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label25 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label25 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label25 {
		font-size: 14px;
}
#AreaPageManualP2_Maticovacka_Label25 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Maticovacka_ImageList34 {
	@include elemTop(287);
}
#AreaPageManualP2_Maticovacka_ImageList34 {
	@include elemLeft(384);
}
#AreaPageManualP2_Maticovacka_ImageList34 {
	@include elemWidth(25);
}
#AreaPageManualP2_Maticovacka_ImageList34 {
	@include elemHeight(25);
}
#AreaPageManualP2_Maticovacka_ImageList34 {
		z-index: 15;
}
#AreaPageManualP2_Maticovacka_ImageList34 {
		border-style: none;
}
#AreaPageManualP2_Maticovacka_ImageList34 {
		border-width: 0px;
}
#AreaPageManualP2_Maticovacka_Label29 {
	@include elemTop(277);
}
#AreaPageManualP2_Maticovacka_Label29 {
	@include elemLeft(222);
}
#AreaPageManualP2_Maticovacka_Label29 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Maticovacka_Label29 {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Maticovacka_Label29 {
		z-index: 14;
}
#AreaPageManualP2_Maticovacka_Label29 {
		border-width: 2px;
}
#AreaPageManualP2_Maticovacka_Label29 {
	@include border-radius(5px);
}
#AreaPageManualP2_Maticovacka_Label29 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Maticovacka_Label29 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Maticovacka_Label29 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label29 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label29 {
		border-style: outset;
}
#AreaPageManualP2_Maticovacka_Label29 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label29 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Maticovacka_Label29 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Maticovacka_Label29 {
		font-size: 14px;
}
#AreaPageManualP2_Maticovacka_Label29 {
	@include font-weight-bold(true);
}
