@import "mixins.scss";
#AreaHlasenie8_ST2_GroupBox1 {
	@include elemTop(0);
}
#AreaHlasenie8_ST2_GroupBox1 {
	@include elemLeft(0);
}
#AreaHlasenie8_ST2_GroupBox1 {
	@include elemWidth(500);
}
#AreaHlasenie8_ST2_GroupBox1 {
	@include elemHeight(520);
}
#AreaHlasenie8_ST2_GroupBox1 {
		z-index: 0;
}
#AreaHlasenie8_ST2_GroupBox1 {
		border-width: 6px;
}
#AreaHlasenie8_ST2_GroupBox1 {
	> .header{
		border-width: 6px;
	}
}
#AreaHlasenie8_ST2_GroupBox1 {
	@include border-radius(0px);
}
#AreaHlasenie8_ST2_GroupBox1 {
		background-color: rgba(255, 192, 128, 1);
}
#AreaHlasenie8_ST2_Label1 {
	@include elemTop(16);
}
#AreaHlasenie8_ST2_Label1 {
	@include elemLeft(21);
}
#AreaHlasenie8_ST2_Label1 {
	@include elemAutoWidth(450);
}
#AreaHlasenie8_ST2_Label1 {
	@include elemAutoHeight(70);
}
#AreaHlasenie8_ST2_Label1 {
		z-index: 0;
}
#AreaHlasenie8_ST2_Label1 {
		border-width: 2px;
}
#AreaHlasenie8_ST2_Label1 {
	@include border-radius(2px);
}
#AreaHlasenie8_ST2_Label1 {
		background-color: rgba(169, 169, 169, 1);
}
#AreaHlasenie8_ST2_Label1 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaHlasenie8_ST2_Label1 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie8_ST2_Label1 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie8_ST2_Label1 {
		border-style: solid;
}
#AreaHlasenie8_ST2_Label1 {
	&:before{
		border-style: solid;
	}
}
#AreaHlasenie8_ST2_Label1 {
	&:after{
		border-style: solid;
	}
}
#AreaHlasenie8_ST2_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie8_ST2_Label1 {
	@include text-alignment-all('center');
}
#AreaHlasenie8_ST2_Label1 {
		font-size: 20px;
}
#AreaHlasenie8_ST2_Label1 {
	@include font-weight-bold(true);
}
#AreaHlasenie8_ST2_Label1 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
#AreaHlasenie8_ST2_Button_OznacPaletkuOK {
	@include elemTop(416);
}
#AreaHlasenie8_ST2_Button_OznacPaletkuOK {
	@include elemLeft(61);
}
#AreaHlasenie8_ST2_Button_OznacPaletkuOK {
	@include elemAutoWidth(170);
}
#AreaHlasenie8_ST2_Button_OznacPaletkuOK {
	@include elemAutoHeight(45);
}
#AreaHlasenie8_ST2_Button_OznacPaletkuOK {
		z-index: 1;
}
#AreaHlasenie8_ST2_Button_OznacPaletkuOK {
	@include border-radius(10px);
}
#AreaHlasenie8_ST2_Button_OznacPaletkuOK {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(192, 255, 192, 1) 20%,rgba(0,255,0,1) 100%)');
	}
}
#AreaHlasenie8_ST2_Button_OznacPaletkuOK {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie8_ST2_Button_OznacPaletkuOK {
	span{
		font-size: 18px;
	}
}
#AreaHlasenie8_ST2_Button_OznacPaletkuOK {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie8_ST2_Button_OznacPaletkuOK {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie8_ST2_Button_OznacPaletkuOK {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie8_ST2_Button_OznacPaletkuNG {
	@include elemTop(416);
}
#AreaHlasenie8_ST2_Button_OznacPaletkuNG {
	@include elemLeft(261);
}
#AreaHlasenie8_ST2_Button_OznacPaletkuNG {
	@include elemAutoWidth(170);
}
#AreaHlasenie8_ST2_Button_OznacPaletkuNG {
	@include elemAutoHeight(45);
}
#AreaHlasenie8_ST2_Button_OznacPaletkuNG {
		z-index: 2;
}
#AreaHlasenie8_ST2_Button_OznacPaletkuNG {
	@include border-radius(10px);
}
#AreaHlasenie8_ST2_Button_OznacPaletkuNG {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(255, 192, 192, 1) 20%,rgba(255,0,0,1) 100%)');
	}
}
#AreaHlasenie8_ST2_Button_OznacPaletkuNG {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie8_ST2_Button_OznacPaletkuNG {
	span{
		font-size: 18px;
	}
}
#AreaHlasenie8_ST2_Button_OznacPaletkuNG {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie8_ST2_Button_OznacPaletkuNG {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie8_ST2_Button_OznacPaletkuNG {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie8_ST2_Label2 {
	@include elemTop(138);
}
#AreaHlasenie8_ST2_Label2 {
	@include elemLeft(19);
}
#AreaHlasenie8_ST2_Label2 {
	@include elemAutoWidth(450);
}
#AreaHlasenie8_ST2_Label2 {
	@include elemAutoHeight(35);
}
#AreaHlasenie8_ST2_Label2 {
		z-index: 3;
}
#AreaHlasenie8_ST2_Label2 {
	@include border-radius(4px);
}
#AreaHlasenie8_ST2_Label2 {
		background-color: rgba(224, 224, 224, 1);
}
#AreaHlasenie8_ST2_Label2 {
		border-style: none;
}
#AreaHlasenie8_ST2_Label2 {
	&:before{
		border-style: none;
	}
}
#AreaHlasenie8_ST2_Label2 {
	&:after{
		border-style: none;
	}
}
#AreaHlasenie8_ST2_Label2 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
#AreaHlasenie8_ST2_ImageList1 {
	@include elemTop(142);
}
#AreaHlasenie8_ST2_ImageList1 {
	@include elemLeft(429);
}
#AreaHlasenie8_ST2_ImageList1 {
	@include elemWidth(28);
}
#AreaHlasenie8_ST2_ImageList1 {
	@include elemHeight(28);
}
#AreaHlasenie8_ST2_ImageList1 {
		z-index: 4;
}
#AreaHlasenie8_ST2_ImageList1 {
	@include border-radius(50px);
}
#AreaHlasenie8_ST2_ImageList1 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
#AreaHlasenie8_ST2_Label3 {
	@include elemTop(178);
}
#AreaHlasenie8_ST2_Label3 {
	@include elemLeft(19);
}
#AreaHlasenie8_ST2_Label3 {
	@include elemAutoWidth(450);
}
#AreaHlasenie8_ST2_Label3 {
	@include elemAutoHeight(35);
}
#AreaHlasenie8_ST2_Label3 {
		z-index: 5;
}
#AreaHlasenie8_ST2_Label3 {
	@include border-radius(4px);
}
#AreaHlasenie8_ST2_Label3 {
		background-color: rgba(224, 224, 224, 1);
}
#AreaHlasenie8_ST2_Label3 {
		border-style: none;
}
#AreaHlasenie8_ST2_Label3 {
	&:before{
		border-style: none;
	}
}
#AreaHlasenie8_ST2_Label3 {
	&:after{
		border-style: none;
	}
}
#AreaHlasenie8_ST2_Label3 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
#AreaHlasenie8_ST2_ImageList2 {
	@include elemTop(182);
}
#AreaHlasenie8_ST2_ImageList2 {
	@include elemLeft(429);
}
#AreaHlasenie8_ST2_ImageList2 {
	@include elemWidth(28);
}
#AreaHlasenie8_ST2_ImageList2 {
	@include elemHeight(28);
}
#AreaHlasenie8_ST2_ImageList2 {
		z-index: 6;
}
#AreaHlasenie8_ST2_ImageList2 {
	@include border-radius(50px);
}
#AreaHlasenie8_ST2_ImageList2 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
#AreaHlasenie8_ST2_Label5 {
	@include elemTop(218);
}
#AreaHlasenie8_ST2_Label5 {
	@include elemLeft(19);
}
#AreaHlasenie8_ST2_Label5 {
	@include elemAutoWidth(450);
}
#AreaHlasenie8_ST2_Label5 {
	@include elemAutoHeight(35);
}
#AreaHlasenie8_ST2_Label5 {
		z-index: 7;
}
#AreaHlasenie8_ST2_Label5 {
	@include border-radius(4px);
}
#AreaHlasenie8_ST2_Label5 {
		background-color: rgba(224, 224, 224, 1);
}
#AreaHlasenie8_ST2_Label5 {
		border-style: none;
}
#AreaHlasenie8_ST2_Label5 {
	&:before{
		border-style: none;
	}
}
#AreaHlasenie8_ST2_Label5 {
	&:after{
		border-style: none;
	}
}
#AreaHlasenie8_ST2_Label5 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
#AreaHlasenie8_ST2_ImageList4 {
	@include elemTop(222);
}
#AreaHlasenie8_ST2_ImageList4 {
	@include elemLeft(429);
}
#AreaHlasenie8_ST2_ImageList4 {
	@include elemWidth(28);
}
#AreaHlasenie8_ST2_ImageList4 {
	@include elemHeight(28);
}
#AreaHlasenie8_ST2_ImageList4 {
		z-index: 8;
}
#AreaHlasenie8_ST2_ImageList4 {
	@include border-radius(50px);
}
#AreaHlasenie8_ST2_ImageList4 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
