#AreaHlasenie4_ST3_GroupBox1 {
  top: 0px;
  position: absolute;
}

#AreaHlasenie4_ST3_GroupBox1 {
  left: 0px;
  position: absolute;
}

#AreaHlasenie4_ST3_GroupBox1 {
  width: 500px;
}

#AreaHlasenie4_ST3_GroupBox1 {
  height: 300px;
}

#AreaHlasenie4_ST3_GroupBox1 {
  z-index: 0;
}

#AreaHlasenie4_ST3_GroupBox1 {
  border-width: 6px;
}

#AreaHlasenie4_ST3_GroupBox1 > .header {
  border-width: 6px;
}

#AreaHlasenie4_ST3_GroupBox1 {
  border-radius: 0px;
}

#AreaHlasenie4_ST3_GroupBox1 {
  background-color: #ffc080;
}

#AreaHlasenie4_ST3_Image1 {
  top: 10px;
  position: absolute;
}

#AreaHlasenie4_ST3_Image1 {
  left: 10px;
  position: absolute;
}

#AreaHlasenie4_ST3_Image1 {
  width: 80px;
}

#AreaHlasenie4_ST3_Image1 {
  height: 80px;
}

#AreaHlasenie4_ST3_Image1 {
  z-index: 0;
}

#AreaHlasenie4_ST3_Image1 {
  border-radius: 50px;
}

#AreaHlasenie4_ST3_Image1 {
  box-shadow: 2px 2px 10px black;
}

#AreaHlasenie4_ST3_Label1 {
  top: 106px;
  position: absolute;
}

#AreaHlasenie4_ST3_Label1 {
  left: 21px;
  position: absolute;
}

#AreaHlasenie4_ST3_Label1 {
  width: 450px;
}

#AreaHlasenie4_ST3_Label1 {
  height: 100px;
}

#AreaHlasenie4_ST3_Label1 {
  z-index: 1;
}

#AreaHlasenie4_ST3_Label1 span {
  color: black;
}

#AreaHlasenie4_ST3_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaHlasenie4_ST3_Label1 {
  font-size: 25px;
}

#AreaHlasenie4_ST3_Label1 {
  font-weight: bold;
}
