#AreaPageManualP3_Skrutkovanie_page1_ImagePageSkrutkovanie1 {
  top: 0px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImagePageSkrutkovanie1 {
  left: 0px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImagePageSkrutkovanie1 {
  width: 1366px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImagePageSkrutkovanie1 {
  height: 588px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImagePageSkrutkovanie1 {
  z-index: 0;
}

#AreaPageManualP3_Skrutkovanie_page1_ImagePageSkrutkovanie1 {
  opacity: 0.15;
}

#AreaPageManualP3_Skrutkovanie_page1_Label1 {
  top: 15px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label1 {
  width: 400px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label1 {
  height: 40px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label1 {
  z-index: 1;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton1 {
  top: 10px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton1 {
  left: 1240px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton1 {
  width: 110px;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton1 {
  height: 50px;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton1 {
  z-index: 2;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton1 {
  border-radius: 4px;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton1:not(.active):not(.checked) {
  box-shadow: 3px 3px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton1.disabled.active {
  box-shadow: 3px 3px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_NavigationButton1.disabled.checked {
  box-shadow: 3px 3px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_Image1 {
  top: 90px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Image1 {
  left: 1070px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Image1 {
  width: 265px;
}

#AreaPageManualP3_Skrutkovanie_page1_Image1 {
  height: 450px;
}

#AreaPageManualP3_Skrutkovanie_page1_Image1 {
  z-index: 3;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  top: 60px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  left: 60px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  width: 430px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  height: 250px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  z-index: 4;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  background-color: oldlace;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 > .header span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox2 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZostupCentrovania {
  top: 81px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZostupCentrovania {
  left: 17px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZostupCentrovania {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZostupCentrovania {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZostupCentrovania {
  z-index: 0;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZostupCentrovania {
  border-radius: 10px;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZostupCentrovania:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZostupCentrovania {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZostupCentrovania:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZostupCentrovania.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZostupCentrovania.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList5 {
  top: 91px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList5 {
  left: 147px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList5 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList5 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList5 {
  z-index: 1;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList5 {
  border-style: none;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList5 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZdvihCentrovania {
  top: 81px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZdvihCentrovania {
  left: 245px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZdvihCentrovania {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZdvihCentrovania {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZdvihCentrovania {
  z-index: 2;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZdvihCentrovania {
  border-radius: 10px;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZdvihCentrovania:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZdvihCentrovania {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZdvihCentrovania:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZdvihCentrovania.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ZdvihCentrovania.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList4 {
  top: 91px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList4 {
  left: 373px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList4 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList4 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList4 {
  z-index: 3;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList4 {
  border-style: none;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList4 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  top: 320px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  left: 60px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  width: 430px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  height: 250px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  z-index: 5;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  background-color: oldlace;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 > .header span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox4 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper {
  top: 107px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper {
  left: 132px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper {
  z-index: 0;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_ToggleSwitch_Stoper.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  top: 13px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  width: 269px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  z-index: 1;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label15 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList19 {
  top: 23px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList19 {
  left: 246px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList19 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList19 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList19 {
  z-index: 2;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList19 {
  border-style: none;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList19 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_SrobovanieCisloPaletky {
  height: 30px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_SrobovanieCisloPaletky {
  top: 21px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_SrobovanieCisloPaletky {
  left: 166px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_SrobovanieCisloPaletky {
  width: 71px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_SrobovanieCisloPaletky {
  z-index: 3;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_SrobovanieCisloPaletky {
  border-width: 4px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_SrobovanieCisloPaletky {
  border-style: ridge;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_SrobovanieCisloPaletky input {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_SrobovanieCisloPaletky span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_SrobovanieCisloPaletky input {
  justify-content: center;
  text-align: center;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_SrobovanieCisloPaletky input {
  font-size: 16px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  top: 65px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  left: 550px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  width: 430px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  height: 510px;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  z-index: 6;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  background-color: oldlace;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 > .header span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_GroupBox5 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_OsY_ZadanaRychlost {
  height: 30px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_OsY_ZadanaRychlost {
  top: 187px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_OsY_ZadanaRychlost {
  left: 239px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_OsY_ZadanaRychlost {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_OsY_ZadanaRychlost {
  z-index: 10;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_OsY_ZadanaRychlost:not(.active):not(.disabled) {
  border-width: 2px 4px 2px 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_OsY_ZadanaRychlost input {
  font-size: 18px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericInput_OsY_ZadanaRychlost {
  box-shadow: 4px 4px 8px black;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_OsY_AktualnaPozicia {
  height: 30px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_OsY_AktualnaPozicia {
  top: 187px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_OsY_AktualnaPozicia {
  left: 26px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_OsY_AktualnaPozicia {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_OsY_AktualnaPozicia {
  z-index: 8;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_OsY_AktualnaPozicia {
  border-width: 4px;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_OsY_AktualnaPozicia {
  border-style: ridge;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_OsY_AktualnaPozicia input {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_OsY_AktualnaPozicia span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_NumericOutput_OsY_AktualnaPozicia input {
  font-size: 16px;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  top: 81px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  left: 26px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  z-index: 0;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  border-radius: 10px;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VPRED.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  top: 81px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  left: 239px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  z-index: 1;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  border-radius: 10px;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_MomentaryPushButton_JoggOsY_VZAD.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList17 {
  top: 283px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList17 {
  left: 171px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList17 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList17 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList17 {
  z-index: 4;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList17 {
  border-style: none;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList17 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page1_Line4 {
  z-index: 2;
}

#AreaPageManualP3_Skrutkovanie_page1_Line4 line {
  stroke-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList18 {
  top: 335px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList18 {
  left: 171px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList18 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList18 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList18 {
  z-index: 6;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList18 {
  border-style: none;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList18 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  top: 273px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  z-index: 3;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label13 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  top: 325px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  z-index: 5;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label14 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  top: 151px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  height: 77px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  z-index: 7;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label29 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  top: 151px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  left: 224px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  height: 77px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  z-index: 9;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label30 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList7 {
  top: 25px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList7 {
  left: 386px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList7 {
  width: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList7 {
  height: 25px;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList7 {
  z-index: 13;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList7 {
  border-style: none;
}

#AreaPageManualP3_Skrutkovanie_page1_ImageList7 {
  border-width: 0px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  top: 15px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  left: 224px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  width: 195px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  z-index: 12;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  border-width: 2px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  border-radius: 5px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  background-color: silver;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18:before {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18:after {
  border-color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18:before {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18:after {
  border-style: outset;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  font-size: 14px;
}

#AreaPageManualP3_Skrutkovanie_page1_Label18 {
  font-weight: bold;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  top: 15px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  left: 26px;
  position: absolute;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  width: 165px;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  height: 45px;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  z-index: 11;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  border-radius: 10px;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Skrutkovanie_page1_Button_ResetServaOsY.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
