@import "mixins.scss";
#AreaPageAutomatP2_ImageAutomat {
	@include elemTop(0);
}
#AreaPageAutomatP2_ImageAutomat {
	@include elemLeft(0);
}
#AreaPageAutomatP2_ImageAutomat {
	@include elemAutoWidth(1366);
}
#AreaPageAutomatP2_ImageAutomat {
	@include elemAutoHeight(588);
}
#AreaPageAutomatP2_ImageAutomat {
		z-index: 0;
}
#AreaPageAutomatP2_ImageAutomat {
		opacity: 0.15;
}
#AreaPageAutomatP2_Label1 {
	@include elemTop(13);
}
#AreaPageAutomatP2_Label1 {
	@include elemLeft(483);
}
#AreaPageAutomatP2_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageAutomatP2_Label1 {
	@include elemAutoHeight(40);
}
#AreaPageAutomatP2_Label1 {
		z-index: 1;
}
#AreaPageAutomatP2_Label1 {
		border-width: 3px;
}
#AreaPageAutomatP2_Label1 {
	@include border-radius(5px);
}
#AreaPageAutomatP2_Label1 {
		border-style: ridge;
}
#AreaPageAutomatP2_Label1 {
	&:before{
		border-style: ridge;
	}
}
#AreaPageAutomatP2_Label1 {
	&:after{
		border-style: ridge;
	}
}
#AreaPageAutomatP2_Label1 {
	@include box-shadow(2px 2px 15px rgba(0, 0, 0, 1));
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
	@include elemTop(13);
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
	@include elemLeft(900);
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
	@include elemAutoWidth(160);
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
	@include elemAutoHeight(50);
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
		z-index: 2;
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
	@include border-radius(10px);
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
	@include text-alignment(center);
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
	span{
		font-size: 18px;
	}
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
	&.checked:not(.active):not(.disabled){
		background-color: rgba(169, 169, 169, 1);
	}
}
#AreaPageAutomatP2_ToggleButton_Prihlasenie {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_Image1 {
	@include elemTop(70);
}
#AreaPageAutomatP2_Image1 {
	@include elemLeft(12);
}
#AreaPageAutomatP2_Image1 {
	@include elemAutoWidth(1342);
}
#AreaPageAutomatP2_Image1 {
	@include elemAutoHeight(500);
}
#AreaPageAutomatP2_Image1 {
		z-index: 3;
}
#AreaPageAutomatP2_Image1 {
		background-color: rgba(220, 220, 220, 1);
}
#AreaPageAutomatP2_Image1 {
		border-style: solid;
}
#AreaPageAutomatP2_Image1 {
		margin: 0px;
}
#AreaPageAutomatP2_GroupBox_OvladanieBunky {
	@include elemTop(80);
}
#AreaPageAutomatP2_GroupBox_OvladanieBunky {
	@include elemLeft(20);
}
#AreaPageAutomatP2_GroupBox_OvladanieBunky {
	@include elemWidth(250);
}
#AreaPageAutomatP2_GroupBox_OvladanieBunky {
	@include elemHeight(480);
}
#AreaPageAutomatP2_GroupBox_OvladanieBunky {
		z-index: 4;
}
#AreaPageAutomatP2_GroupBox_OvladanieBunky {
	@include border-radius(6px 6px 6px 6px);
}
#AreaPageAutomatP2_GroupBox_OvladanieBunky {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageAutomatP2_GroupBox_OvladanieBunky {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_GroupBox_OvladanieBunky {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageAutomatP2_Button_START {
	@include elemTop(13);
}
#AreaPageAutomatP2_Button_START {
	@include elemLeft(14);
}
#AreaPageAutomatP2_Button_START {
	@include elemAutoWidth(220);
}
#AreaPageAutomatP2_Button_START {
	@include elemAutoHeight(60);
}
#AreaPageAutomatP2_Button_START {
		z-index: 0;
}
#AreaPageAutomatP2_Button_START {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(192, 255, 192, 1) 20%,rgba(0,255,0,1) 100%)');
	}
}
#AreaPageAutomatP2_Button_START {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_Button_START {
	span{
		font-size: 25px;
	}
}
#AreaPageAutomatP2_Button_START {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP2_Button_START {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP2_Button_START {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP2_Button_STOP {
	@include elemTop(93);
}
#AreaPageAutomatP2_Button_STOP {
	@include elemLeft(14);
}
#AreaPageAutomatP2_Button_STOP {
	@include elemAutoWidth(220);
}
#AreaPageAutomatP2_Button_STOP {
	@include elemAutoHeight(60);
}
#AreaPageAutomatP2_Button_STOP {
		z-index: 1;
}
#AreaPageAutomatP2_Button_STOP {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(255, 192, 192, 1) 20%,rgba(255,0,0,1) 100%)');
	}
}
#AreaPageAutomatP2_Button_STOP {
	span{
		font-size: 25px;
	}
}
#AreaPageAutomatP2_Button_STOP {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP2_Button_STOP {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP2_Button_STOP {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP2_Button_UkoncenieCyklu {
	@include elemTop(173);
}
#AreaPageAutomatP2_Button_UkoncenieCyklu {
	@include elemLeft(14);
}
#AreaPageAutomatP2_Button_UkoncenieCyklu {
	@include elemAutoWidth(220);
}
#AreaPageAutomatP2_Button_UkoncenieCyklu {
	@include elemAutoHeight(60);
}
#AreaPageAutomatP2_Button_UkoncenieCyklu {
		z-index: 2;
}
#AreaPageAutomatP2_Button_UkoncenieCyklu {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(192, 255, 255, 1) 20%,rgba(0,255,255,1) 100%)');
	}
}
#AreaPageAutomatP2_Button_UkoncenieCyklu {
	span{
		font-size: 23px;
	}
}
#AreaPageAutomatP2_Button_UkoncenieCyklu {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP2_Button_UkoncenieCyklu {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP2_Button_UkoncenieCyklu {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP2_ImageList6 {
	@include elemTop(319);
}
#AreaPageAutomatP2_ImageList6 {
	@include elemLeft(474);
}
#AreaPageAutomatP2_ImageList6 {
	@include elemWidth(28);
}
#AreaPageAutomatP2_ImageList6 {
	@include elemHeight(28);
}
#AreaPageAutomatP2_ImageList6 {
		z-index: 5;
}
#AreaPageAutomatP2_ImageList6 {
		border-style: solid;
}
#AreaPageAutomatP2_ImageList6 {
		border-width: 2px;
}
#AreaPageAutomatP2_ImageList6 {
	@include border-radius(15px);
}
#AreaPageAutomatP2_grpFileExplorerStatus {
	@include elemTop(13);
}
#AreaPageAutomatP2_grpFileExplorerStatus {
	@include elemLeft(1080);
}
#AreaPageAutomatP2_grpFileExplorerStatus {
	@include elemWidth(272);
}
#AreaPageAutomatP2_grpFileExplorerStatus {
	@include elemHeight(47);
}
#AreaPageAutomatP2_grpFileExplorerStatus {
		z-index: 6;
}
#AreaPageAutomatP2_grpFileExplorerStatus {
	@include border-radius(8px 8px 8px 8px);
}
#AreaPageAutomatP2_grpFileExplorerStatus {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageAutomatP2_grpFileExplorerStatus {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageAutomatP2_labRecError1 {
	@include elemTop(2);
}
#AreaPageAutomatP2_labRecError1 {
	@include elemLeft(9);
}
#AreaPageAutomatP2_labRecError1 {
	@include elemAutoWidth(142);
}
#AreaPageAutomatP2_labRecError1 {
	@include elemAutoHeight(40);
}
#AreaPageAutomatP2_labRecError1 {
		z-index: 0;
}
#AreaPageAutomatP2_labRecError1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_labRecError1 {
	@include text-alignment-all('right');
}
#AreaPageAutomatP2_labRecError1 {
		font-size: 18px;
}
#AreaPageAutomatP2_labRecError1 {
	@include font-weight-bold(true);
}
#AreaPageAutomatP2_labRecStatus {
	@include elemTop(41);
}
#AreaPageAutomatP2_labRecStatus {
	@include elemLeft(11);
}
#AreaPageAutomatP2_labRecStatus {
	@include elemAutoWidth(111);
}
#AreaPageAutomatP2_labRecStatus {
	@include elemAutoHeight(40);
}
#AreaPageAutomatP2_labRecStatus {
		z-index: 1;
}
#AreaPageAutomatP2_labRecStatus {
	@include text-alignment-all('left');
}
#AreaPageAutomatP2_labRecStatus {
		font-size: 15px;
}
#AreaPageAutomatP2_labRecStatus {
	@include font-weight-bold(true);
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
	@include elemTop(5);
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
	@include elemLeft(171);
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
	@include elemAutoWidth(88);
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
	@include elemAutoHeight(35);
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
		z-index: 2;
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
		border-width: 3px;
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
	@include border-radius(3px);
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
		background-color: rgba(255, 133, 0, 1);
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
		border-color: rgba(153, 153, 153, 1);
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
	&:before{
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
	&:after{
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
		border-style: ridge;
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
	&:before{
		border-style: ridge;
	}
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
	&:after{
		border-style: ridge;
	}
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
	@include text-alignment-all('center');
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
		font-size: 20px;
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
	@include font-weight-bold(true);
}
#AreaPageAutomatP2_TextOutput_NazovModelu1 {
	span{
		padding: 0px 5px 0px 5px;
	}
}
#AreaPageAutomatP2_ImageList7 {
	@include elemTop(390);
}
#AreaPageAutomatP2_ImageList7 {
	@include elemLeft(550);
}
#AreaPageAutomatP2_ImageList7 {
	@include elemWidth(28);
}
#AreaPageAutomatP2_ImageList7 {
	@include elemHeight(28);
}
#AreaPageAutomatP2_ImageList7 {
		z-index: 7;
}
#AreaPageAutomatP2_ImageList7 {
		border-style: solid;
}
#AreaPageAutomatP2_ImageList7 {
		border-width: 2px;
}
#AreaPageAutomatP2_ImageList7 {
	@include border-radius(15px);
}
#AreaPageAutomatP2_ImageList8 {
	@include elemTop(490);
}
#AreaPageAutomatP2_ImageList8 {
	@include elemLeft(650);
}
#AreaPageAutomatP2_ImageList8 {
	@include elemWidth(28);
}
#AreaPageAutomatP2_ImageList8 {
	@include elemHeight(28);
}
#AreaPageAutomatP2_ImageList8 {
		z-index: 8;
}
#AreaPageAutomatP2_ImageList8 {
		border-style: solid;
}
#AreaPageAutomatP2_ImageList8 {
		border-width: 2px;
}
#AreaPageAutomatP2_ImageList8 {
	@include border-radius(15px);
}
#AreaPageAutomatP2_ImageList9 {
	@include elemTop(390);
}
#AreaPageAutomatP2_ImageList9 {
	@include elemLeft(635);
}
#AreaPageAutomatP2_ImageList9 {
	@include elemWidth(28);
}
#AreaPageAutomatP2_ImageList9 {
	@include elemHeight(28);
}
#AreaPageAutomatP2_ImageList9 {
		z-index: 9;
}
#AreaPageAutomatP2_ImageList9 {
		border-style: solid;
}
#AreaPageAutomatP2_ImageList9 {
		border-width: 2px;
}
#AreaPageAutomatP2_ImageList9 {
	@include border-radius(15px);
}
#AreaPageAutomatP2_ImageList10 {
	@include elemTop(390);
}
#AreaPageAutomatP2_ImageList10 {
	@include elemLeft(760);
}
#AreaPageAutomatP2_ImageList10 {
	@include elemWidth(28);
}
#AreaPageAutomatP2_ImageList10 {
	@include elemHeight(28);
}
#AreaPageAutomatP2_ImageList10 {
		z-index: 10;
}
#AreaPageAutomatP2_ImageList10 {
		border-style: solid;
}
#AreaPageAutomatP2_ImageList10 {
		border-width: 2px;
}
#AreaPageAutomatP2_ImageList10 {
	@include border-radius(15px);
}
#AreaPageAutomatP2_ImageList11 {
	@include elemTop(319);
}
#AreaPageAutomatP2_ImageList11 {
	@include elemLeft(735);
}
#AreaPageAutomatP2_ImageList11 {
	@include elemWidth(28);
}
#AreaPageAutomatP2_ImageList11 {
	@include elemHeight(28);
}
#AreaPageAutomatP2_ImageList11 {
		z-index: 11;
}
#AreaPageAutomatP2_ImageList11 {
		border-style: solid;
}
#AreaPageAutomatP2_ImageList11 {
		border-width: 2px;
}
#AreaPageAutomatP2_ImageList11 {
	@include border-radius(15px);
}
#AreaPageAutomatP2_ImageList12 {
	@include elemTop(230);
}
#AreaPageAutomatP2_ImageList12 {
	@include elemLeft(905);
}
#AreaPageAutomatP2_ImageList12 {
	@include elemWidth(28);
}
#AreaPageAutomatP2_ImageList12 {
	@include elemHeight(28);
}
#AreaPageAutomatP2_ImageList12 {
		z-index: 12;
}
#AreaPageAutomatP2_ImageList12 {
		border-style: solid;
}
#AreaPageAutomatP2_ImageList12 {
		border-width: 2px;
}
#AreaPageAutomatP2_ImageList12 {
	@include border-radius(15px);
}
#AreaPageAutomatP2_ImageList13 {
	@include elemTop(390);
}
#AreaPageAutomatP2_ImageList13 {
	@include elemLeft(835);
}
#AreaPageAutomatP2_ImageList13 {
	@include elemWidth(28);
}
#AreaPageAutomatP2_ImageList13 {
	@include elemHeight(28);
}
#AreaPageAutomatP2_ImageList13 {
		z-index: 13;
}
#AreaPageAutomatP2_ImageList13 {
		border-style: solid;
}
#AreaPageAutomatP2_ImageList13 {
		border-width: 2px;
}
#AreaPageAutomatP2_ImageList13 {
	@include border-radius(15px);
}
#AreaPageAutomatP2_ImageList14 {
	@include elemTop(319);
}
#AreaPageAutomatP2_ImageList14 {
	@include elemLeft(835);
}
#AreaPageAutomatP2_ImageList14 {
	@include elemWidth(28);
}
#AreaPageAutomatP2_ImageList14 {
	@include elemHeight(28);
}
#AreaPageAutomatP2_ImageList14 {
		z-index: 14;
}
#AreaPageAutomatP2_ImageList14 {
		border-style: solid;
}
#AreaPageAutomatP2_ImageList14 {
		border-width: 2px;
}
#AreaPageAutomatP2_ImageList14 {
	@include border-radius(15px);
}
#AreaPageAutomatP2_ImageList15 {
	@include elemTop(265);
}
#AreaPageAutomatP2_ImageList15 {
	@include elemLeft(860);
}
#AreaPageAutomatP2_ImageList15 {
	@include elemWidth(28);
}
#AreaPageAutomatP2_ImageList15 {
	@include elemHeight(28);
}
#AreaPageAutomatP2_ImageList15 {
		z-index: 15;
}
#AreaPageAutomatP2_ImageList15 {
		border-style: solid;
}
#AreaPageAutomatP2_ImageList15 {
		border-width: 2px;
}
#AreaPageAutomatP2_ImageList15 {
	@include border-radius(15px);
}
#AreaPageAutomatP2_ImageList16 {
	@include elemTop(430);
}
#AreaPageAutomatP2_ImageList16 {
	@include elemLeft(550);
}
#AreaPageAutomatP2_ImageList16 {
	@include elemWidth(28);
}
#AreaPageAutomatP2_ImageList16 {
	@include elemHeight(28);
}
#AreaPageAutomatP2_ImageList16 {
		z-index: 16;
}
#AreaPageAutomatP2_ImageList16 {
		border-style: solid;
}
#AreaPageAutomatP2_ImageList16 {
		border-width: 2px;
}
#AreaPageAutomatP2_ImageList16 {
	@include border-radius(15px);
}
#AreaPageAutomatP2_ImageList17 {
	@include elemTop(390);
}
#AreaPageAutomatP2_ImageList17 {
	@include elemLeft(700);
}
#AreaPageAutomatP2_ImageList17 {
	@include elemWidth(28);
}
#AreaPageAutomatP2_ImageList17 {
	@include elemHeight(28);
}
#AreaPageAutomatP2_ImageList17 {
		z-index: 17;
}
#AreaPageAutomatP2_ImageList17 {
		border-style: solid;
}
#AreaPageAutomatP2_ImageList17 {
		border-width: 2px;
}
#AreaPageAutomatP2_ImageList17 {
	@include border-radius(15px);
}
#AreaPageAutomatP2_GroupBox7 {
	@include elemTop(111);
}
#AreaPageAutomatP2_GroupBox7 {
	@include elemLeft(468);
}
#AreaPageAutomatP2_GroupBox7 {
	@include elemWidth(100);
}
#AreaPageAutomatP2_GroupBox7 {
	@include elemHeight(90);
}
#AreaPageAutomatP2_GroupBox7 {
		z-index: 18;
}
#AreaPageAutomatP2_GroupBox7 {
		border-width: 3px;
}
#AreaPageAutomatP2_GroupBox7 {
	> .header{
		border-width: 3px;
	}
}
#AreaPageAutomatP2_GroupBox7 {
	@include border-radius(3px 3px 3px 3px);
}
#AreaPageAutomatP2_GroupBox7 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageAutomatP2_GroupBox7 {
		border-style: ridge;
}
#AreaPageAutomatP2_GroupBox7 {
	> .header{
		border-bottom-style: ridge;
	}
}
#AreaPageAutomatP2_GroupBox7 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_GroupBox7 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
	@include elemTop(18);
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
	@include elemLeft(2);
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
	@include elemAutoWidth(90);
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
		z-index: 0;
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
		border-width: 2px;
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
		background-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
	input{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
	span.breaseNumericOutput_unit{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
	input{
	@include text-alignment(center);
	}
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
	.breaseNumericOutput_unit{
		font-size: 12px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST1_TaktimeMIN {
	input{
	@include font-weight-bold(false);
	}
}
#AreaPageAutomatP2_Label2 {
	@include elemTop(-1);
}
#AreaPageAutomatP2_Label2 {
	@include elemLeft(7);
}
#AreaPageAutomatP2_Label2 {
	@include elemAutoWidth(81);
}
#AreaPageAutomatP2_Label2 {
	@include elemAutoHeight(19);
}
#AreaPageAutomatP2_Label2 {
		z-index: 1;
}
#AreaPageAutomatP2_Label2 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_Label2 {
	@include text-alignment-all('center');
}
#AreaPageAutomatP2_Label2 {
		font-size: 12px;
}
#AreaPageAutomatP2_Label2 {
	@include font-weight-bold(true);
}
#AreaPageAutomatP2_NumericOutput_ST1 {
	@include elemTop(60);
}
#AreaPageAutomatP2_NumericOutput_ST1 {
	@include elemLeft(2);
}
#AreaPageAutomatP2_NumericOutput_ST1 {
	@include elemAutoWidth(90);
}
#AreaPageAutomatP2_NumericOutput_ST1 {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP2_NumericOutput_ST1 {
		z-index: 3;
}
#AreaPageAutomatP2_NumericOutput_ST1 {
		border-width: 2px;
}
#AreaPageAutomatP2_NumericOutput_ST1 {
		background-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST1 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST1 {
	input{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST1 {
	span.breaseNumericOutput_unit{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST1 {
	input{
	@include text-alignment(center);
	}
}
#AreaPageAutomatP2_NumericOutput_ST1 {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST1 {
	.breaseNumericOutput_unit{
		font-size: 12px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST1 {
	input{
	@include font-weight-bold(false);
	}
}
#AreaPageAutomatP2_Label3 {
	@include elemTop(39);
}
#AreaPageAutomatP2_Label3 {
	@include elemLeft(7);
}
#AreaPageAutomatP2_Label3 {
	@include elemAutoWidth(81);
}
#AreaPageAutomatP2_Label3 {
	@include elemAutoHeight(19);
}
#AreaPageAutomatP2_Label3 {
		z-index: 2;
}
#AreaPageAutomatP2_Label3 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_Label3 {
	@include text-alignment-all('center');
}
#AreaPageAutomatP2_Label3 {
		font-size: 12px;
}
#AreaPageAutomatP2_Label3 {
	@include font-weight-bold(true);
}
#AreaPageAutomatP2_GroupBox8 {
	@include elemTop(111);
}
#AreaPageAutomatP2_GroupBox8 {
	@include elemLeft(624);
}
#AreaPageAutomatP2_GroupBox8 {
	@include elemWidth(100);
}
#AreaPageAutomatP2_GroupBox8 {
	@include elemHeight(90);
}
#AreaPageAutomatP2_GroupBox8 {
		z-index: 19;
}
#AreaPageAutomatP2_GroupBox8 {
		border-width: 3px;
}
#AreaPageAutomatP2_GroupBox8 {
	> .header{
		border-width: 3px;
	}
}
#AreaPageAutomatP2_GroupBox8 {
	@include border-radius(3px 3px 3px 3px);
}
#AreaPageAutomatP2_GroupBox8 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageAutomatP2_GroupBox8 {
		border-style: ridge;
}
#AreaPageAutomatP2_GroupBox8 {
	> .header{
		border-bottom-style: ridge;
	}
}
#AreaPageAutomatP2_GroupBox8 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_GroupBox8 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageAutomatP2_NumericOutput_ST2 {
	@include elemTop(18);
}
#AreaPageAutomatP2_NumericOutput_ST2 {
	@include elemLeft(2);
}
#AreaPageAutomatP2_NumericOutput_ST2 {
	@include elemAutoWidth(90);
}
#AreaPageAutomatP2_NumericOutput_ST2 {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP2_NumericOutput_ST2 {
		z-index: 0;
}
#AreaPageAutomatP2_NumericOutput_ST2 {
		border-width: 2px;
}
#AreaPageAutomatP2_NumericOutput_ST2 {
		background-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST2 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST2 {
	input{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST2 {
	span.breaseNumericOutput_unit{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST2 {
	input{
	@include text-alignment(center);
	}
}
#AreaPageAutomatP2_NumericOutput_ST2 {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST2 {
	.breaseNumericOutput_unit{
		font-size: 12px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST2 {
	input{
	@include font-weight-bold(false);
	}
}
#AreaPageAutomatP2_Label4 {
	@include elemTop(-1);
}
#AreaPageAutomatP2_Label4 {
	@include elemLeft(7);
}
#AreaPageAutomatP2_Label4 {
	@include elemAutoWidth(81);
}
#AreaPageAutomatP2_Label4 {
	@include elemAutoHeight(19);
}
#AreaPageAutomatP2_Label4 {
		z-index: 1;
}
#AreaPageAutomatP2_Label4 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_Label4 {
	@include text-alignment-all('center');
}
#AreaPageAutomatP2_Label4 {
		font-size: 12px;
}
#AreaPageAutomatP2_Label4 {
	@include font-weight-bold(true);
}
#AreaPageAutomatP2_Label5 {
	@include elemTop(39);
}
#AreaPageAutomatP2_Label5 {
	@include elemLeft(7);
}
#AreaPageAutomatP2_Label5 {
	@include elemAutoWidth(81);
}
#AreaPageAutomatP2_Label5 {
	@include elemAutoHeight(19);
}
#AreaPageAutomatP2_Label5 {
		z-index: 2;
}
#AreaPageAutomatP2_Label5 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_Label5 {
	@include text-alignment-all('center');
}
#AreaPageAutomatP2_Label5 {
		font-size: 12px;
}
#AreaPageAutomatP2_Label5 {
	@include font-weight-bold(true);
}
#AreaPageAutomatP2_NumericOutput_ST3 {
	@include elemTop(60);
}
#AreaPageAutomatP2_NumericOutput_ST3 {
	@include elemLeft(2);
}
#AreaPageAutomatP2_NumericOutput_ST3 {
	@include elemAutoWidth(90);
}
#AreaPageAutomatP2_NumericOutput_ST3 {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP2_NumericOutput_ST3 {
		z-index: 3;
}
#AreaPageAutomatP2_NumericOutput_ST3 {
		border-width: 2px;
}
#AreaPageAutomatP2_NumericOutput_ST3 {
		background-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST3 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST3 {
	input{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST3 {
	span.breaseNumericOutput_unit{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST3 {
	input{
	@include text-alignment(center);
	}
}
#AreaPageAutomatP2_NumericOutput_ST3 {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST3 {
	.breaseNumericOutput_unit{
		font-size: 12px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST3 {
	input{
	@include font-weight-bold(false);
	}
}
#AreaPageAutomatP2_GroupBox11 {
	@include elemTop(111);
}
#AreaPageAutomatP2_GroupBox11 {
	@include elemLeft(750);
}
#AreaPageAutomatP2_GroupBox11 {
	@include elemWidth(100);
}
#AreaPageAutomatP2_GroupBox11 {
	@include elemHeight(90);
}
#AreaPageAutomatP2_GroupBox11 {
		z-index: 20;
}
#AreaPageAutomatP2_GroupBox11 {
		border-width: 3px;
}
#AreaPageAutomatP2_GroupBox11 {
	> .header{
		border-width: 3px;
	}
}
#AreaPageAutomatP2_GroupBox11 {
	@include border-radius(3px 3px 3px 3px);
}
#AreaPageAutomatP2_GroupBox11 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageAutomatP2_GroupBox11 {
		border-style: ridge;
}
#AreaPageAutomatP2_GroupBox11 {
	> .header{
		border-bottom-style: ridge;
	}
}
#AreaPageAutomatP2_GroupBox11 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_GroupBox11 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageAutomatP2_NumericOutput_ST4 {
	@include elemTop(18);
}
#AreaPageAutomatP2_NumericOutput_ST4 {
	@include elemLeft(2);
}
#AreaPageAutomatP2_NumericOutput_ST4 {
	@include elemAutoWidth(90);
}
#AreaPageAutomatP2_NumericOutput_ST4 {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP2_NumericOutput_ST4 {
		z-index: 0;
}
#AreaPageAutomatP2_NumericOutput_ST4 {
		border-width: 2px;
}
#AreaPageAutomatP2_NumericOutput_ST4 {
		background-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST4 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST4 {
	input{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST4 {
	span.breaseNumericOutput_unit{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST4 {
	input{
	@include text-alignment(center);
	}
}
#AreaPageAutomatP2_NumericOutput_ST4 {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST4 {
	.breaseNumericOutput_unit{
		font-size: 12px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST4 {
	input{
	@include font-weight-bold(false);
	}
}
#AreaPageAutomatP2_Label6 {
	@include elemTop(-1);
}
#AreaPageAutomatP2_Label6 {
	@include elemLeft(7);
}
#AreaPageAutomatP2_Label6 {
	@include elemAutoWidth(81);
}
#AreaPageAutomatP2_Label6 {
	@include elemAutoHeight(19);
}
#AreaPageAutomatP2_Label6 {
		z-index: 1;
}
#AreaPageAutomatP2_Label6 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_Label6 {
	@include text-alignment-all('center');
}
#AreaPageAutomatP2_Label6 {
		font-size: 12px;
}
#AreaPageAutomatP2_Label6 {
	@include font-weight-bold(true);
}
#AreaPageAutomatP2_Label7 {
	@include elemTop(39);
}
#AreaPageAutomatP2_Label7 {
	@include elemLeft(7);
}
#AreaPageAutomatP2_Label7 {
	@include elemAutoWidth(81);
}
#AreaPageAutomatP2_Label7 {
	@include elemAutoHeight(19);
}
#AreaPageAutomatP2_Label7 {
		z-index: 2;
}
#AreaPageAutomatP2_Label7 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_Label7 {
	@include text-alignment-all('center');
}
#AreaPageAutomatP2_Label7 {
		font-size: 12px;
}
#AreaPageAutomatP2_Label7 {
	@include font-weight-bold(true);
}
#AreaPageAutomatP2_NumericOutput_ST5 {
	@include elemTop(60);
}
#AreaPageAutomatP2_NumericOutput_ST5 {
	@include elemLeft(2);
}
#AreaPageAutomatP2_NumericOutput_ST5 {
	@include elemAutoWidth(90);
}
#AreaPageAutomatP2_NumericOutput_ST5 {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP2_NumericOutput_ST5 {
		z-index: 3;
}
#AreaPageAutomatP2_NumericOutput_ST5 {
		border-width: 2px;
}
#AreaPageAutomatP2_NumericOutput_ST5 {
		background-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST5 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST5 {
	input{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST5 {
	span.breaseNumericOutput_unit{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST5 {
	input{
	@include text-alignment(center);
	}
}
#AreaPageAutomatP2_NumericOutput_ST5 {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST5 {
	.breaseNumericOutput_unit{
		font-size: 12px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST5 {
	input{
	@include font-weight-bold(false);
	}
}
#AreaPageAutomatP2_GroupBox13 {
	@include elemTop(111);
}
#AreaPageAutomatP2_GroupBox13 {
	@include elemLeft(870);
}
#AreaPageAutomatP2_GroupBox13 {
	@include elemWidth(100);
}
#AreaPageAutomatP2_GroupBox13 {
	@include elemHeight(90);
}
#AreaPageAutomatP2_GroupBox13 {
		z-index: 21;
}
#AreaPageAutomatP2_GroupBox13 {
		border-width: 3px;
}
#AreaPageAutomatP2_GroupBox13 {
	> .header{
		border-width: 3px;
	}
}
#AreaPageAutomatP2_GroupBox13 {
	@include border-radius(3px 3px 3px 3px);
}
#AreaPageAutomatP2_GroupBox13 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageAutomatP2_GroupBox13 {
		border-style: ridge;
}
#AreaPageAutomatP2_GroupBox13 {
	> .header{
		border-bottom-style: ridge;
	}
}
#AreaPageAutomatP2_GroupBox13 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_GroupBox13 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageAutomatP2_NumericOutput_ST6 {
	@include elemTop(18);
}
#AreaPageAutomatP2_NumericOutput_ST6 {
	@include elemLeft(2);
}
#AreaPageAutomatP2_NumericOutput_ST6 {
	@include elemAutoWidth(90);
}
#AreaPageAutomatP2_NumericOutput_ST6 {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP2_NumericOutput_ST6 {
		z-index: 0;
}
#AreaPageAutomatP2_NumericOutput_ST6 {
		border-width: 2px;
}
#AreaPageAutomatP2_NumericOutput_ST6 {
		background-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST6 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST6 {
	input{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST6 {
	span.breaseNumericOutput_unit{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST6 {
	input{
	@include text-alignment(center);
	}
}
#AreaPageAutomatP2_NumericOutput_ST6 {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST6 {
	.breaseNumericOutput_unit{
		font-size: 12px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST6 {
	input{
	@include font-weight-bold(false);
	}
}
#AreaPageAutomatP2_Label8 {
	@include elemTop(-1);
}
#AreaPageAutomatP2_Label8 {
	@include elemLeft(7);
}
#AreaPageAutomatP2_Label8 {
	@include elemAutoWidth(81);
}
#AreaPageAutomatP2_Label8 {
	@include elemAutoHeight(19);
}
#AreaPageAutomatP2_Label8 {
		z-index: 1;
}
#AreaPageAutomatP2_Label8 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_Label8 {
	@include text-alignment-all('center');
}
#AreaPageAutomatP2_Label8 {
		font-size: 12px;
}
#AreaPageAutomatP2_Label8 {
	@include font-weight-bold(true);
}
#AreaPageAutomatP2_Label9 {
	@include elemTop(39);
}
#AreaPageAutomatP2_Label9 {
	@include elemLeft(7);
}
#AreaPageAutomatP2_Label9 {
	@include elemAutoWidth(81);
}
#AreaPageAutomatP2_Label9 {
	@include elemAutoHeight(19);
}
#AreaPageAutomatP2_Label9 {
		z-index: 2;
}
#AreaPageAutomatP2_Label9 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP2_Label9 {
	@include text-alignment-all('center');
}
#AreaPageAutomatP2_Label9 {
		font-size: 12px;
}
#AreaPageAutomatP2_Label9 {
	@include font-weight-bold(true);
}
#AreaPageAutomatP2_NumericOutput_ST7 {
	@include elemTop(60);
}
#AreaPageAutomatP2_NumericOutput_ST7 {
	@include elemLeft(2);
}
#AreaPageAutomatP2_NumericOutput_ST7 {
	@include elemAutoWidth(90);
}
#AreaPageAutomatP2_NumericOutput_ST7 {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP2_NumericOutput_ST7 {
		z-index: 3;
}
#AreaPageAutomatP2_NumericOutput_ST7 {
		border-width: 2px;
}
#AreaPageAutomatP2_NumericOutput_ST7 {
		background-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST7 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageAutomatP2_NumericOutput_ST7 {
	input{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST7 {
	span.breaseNumericOutput_unit{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageAutomatP2_NumericOutput_ST7 {
	input{
	@include text-alignment(center);
	}
}
#AreaPageAutomatP2_NumericOutput_ST7 {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST7 {
	.breaseNumericOutput_unit{
		font-size: 12px;
	}
}
#AreaPageAutomatP2_NumericOutput_ST7 {
	input{
	@include font-weight-bold(false);
	}
}
