@import "mixins.scss";
#AreaPageManualP3_Dopravniky_ImagePageManualDopravnikyP3 {
	@include elemTop(0);
}
#AreaPageManualP3_Dopravniky_ImagePageManualDopravnikyP3 {
	@include elemLeft(0);
}
#AreaPageManualP3_Dopravniky_ImagePageManualDopravnikyP3 {
	@include elemAutoWidth(1366);
}
#AreaPageManualP3_Dopravniky_ImagePageManualDopravnikyP3 {
	@include elemAutoHeight(588);
}
#AreaPageManualP3_Dopravniky_ImagePageManualDopravnikyP3 {
		z-index: 0;
}
#AreaPageManualP3_Dopravniky_ImagePageManualDopravnikyP3 {
		opacity: 0.15;
}
#AreaPageManualP3_Dopravniky_Label1 {
	@include elemTop(20);
}
#AreaPageManualP3_Dopravniky_Label1 {
	@include elemLeft(483);
}
#AreaPageManualP3_Dopravniky_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageManualP3_Dopravniky_Label1 {
	@include elemAutoHeight(40);
}
#AreaPageManualP3_Dopravniky_Label1 {
		z-index: 1;
}
#AreaPageManualP3_Dopravniky_Image1 {
	@include elemTop(70);
}
#AreaPageManualP3_Dopravniky_Image1 {
	@include elemLeft(12);
}
#AreaPageManualP3_Dopravniky_Image1 {
	@include elemAutoWidth(1342);
}
#AreaPageManualP3_Dopravniky_Image1 {
	@include elemAutoHeight(500);
}
#AreaPageManualP3_Dopravniky_Image1 {
		z-index: 2;
}
#AreaPageManualP3_Dopravniky_ImageList1 {
	@include elemTop(365);
}
#AreaPageManualP3_Dopravniky_ImageList1 {
	@include elemLeft(455);
}
#AreaPageManualP3_Dopravniky_ImageList1 {
	@include elemWidth(24);
}
#AreaPageManualP3_Dopravniky_ImageList1 {
	@include elemHeight(24);
}
#AreaPageManualP3_Dopravniky_ImageList1 {
		z-index: 3;
}
#AreaPageManualP3_Dopravniky_ImageList1 {
		border-width: 0px;
}
#AreaPageManualP3_Dopravniky_ImageList2 {
	@include elemTop(365);
}
#AreaPageManualP3_Dopravniky_ImageList2 {
	@include elemLeft(580);
}
#AreaPageManualP3_Dopravniky_ImageList2 {
	@include elemWidth(24);
}
#AreaPageManualP3_Dopravniky_ImageList2 {
	@include elemHeight(24);
}
#AreaPageManualP3_Dopravniky_ImageList2 {
		z-index: 4;
}
#AreaPageManualP3_Dopravniky_ImageList2 {
		border-width: 0px;
}
#AreaPageManualP3_Dopravniky_ImageList3 {
	@include elemTop(365);
}
#AreaPageManualP3_Dopravniky_ImageList3 {
	@include elemLeft(870);
}
#AreaPageManualP3_Dopravniky_ImageList3 {
	@include elemWidth(24);
}
#AreaPageManualP3_Dopravniky_ImageList3 {
	@include elemHeight(24);
}
#AreaPageManualP3_Dopravniky_ImageList3 {
		z-index: 5;
}
#AreaPageManualP3_Dopravniky_ImageList3 {
		border-width: 0px;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
	@include elemTop(375);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
	@include elemLeft(65);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
	@include elemAutoWidth(180);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
		z-index: 6;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	@include elemTop(215);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	@include elemLeft(330);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	@include elemAutoWidth(180);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
		z-index: 7;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik2 {
	@include elemTop(495);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik2 {
	@include elemLeft(1150);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik2 {
	@include elemAutoWidth(180);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik2 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik2 {
		z-index: 8;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik2 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik2 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik2 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik2 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik2 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik2 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik2 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie {
	@include elemTop(295);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie {
	@include elemLeft(340);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie {
	@include elemAutoWidth(160);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie {
		z-index: 9;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie {
	@include elemTop(480);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie {
	@include elemLeft(335);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie {
	@include elemAutoWidth(180);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie {
		z-index: 10;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie1 {
	@include elemTop(295);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie1 {
	@include elemLeft(515);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie1 {
	@include elemAutoWidth(160);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie1 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie1 {
		z-index: 11;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie1 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie1 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie1 {
		opacity: 1;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie1 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie1 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie1 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie1 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie1 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie2 {
	@include elemTop(295);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie2 {
	@include elemLeft(690);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie2 {
	@include elemAutoWidth(160);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie2 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie2 {
		z-index: 12;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie2 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie2 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie2 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie2 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie2 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie2 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie2 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie3 {
	@include elemTop(295);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie3 {
	@include elemLeft(870);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie3 {
	@include elemAutoWidth(160);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie3 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie3 {
		z-index: 13;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie3 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie3 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie3 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie3 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie3 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie3 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie3 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie1 {
	@include elemTop(480);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie1 {
	@include elemLeft(580);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie1 {
	@include elemAutoWidth(180);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie1 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie1 {
		z-index: 14;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie1 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie1 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie1 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie1 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie1 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie1 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie1 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie2 {
	@include elemTop(480);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie2 {
	@include elemLeft(890);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie2 {
	@include elemAutoWidth(180);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie2 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie2 {
		z-index: 15;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie2 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie2 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie2 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie2 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie2 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie2 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie2 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie3 {
	@include elemTop(75);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie3 {
	@include elemLeft(585);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie3 {
	@include elemAutoWidth(180);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie3 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie3 {
		z-index: 16;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie3 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie3 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie3 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie3 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie3 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie3 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie3 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie4 {
	@include elemTop(75);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie4 {
	@include elemLeft(890);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie4 {
	@include elemAutoWidth(180);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie4 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie4 {
		z-index: 17;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie4 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie4 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie4 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie4 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie4 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZacentrujSkrutkovanie4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ImageList4 {
	@include elemTop(210);
}
#AreaPageManualP3_Dopravniky_ImageList4 {
	@include elemLeft(870);
}
#AreaPageManualP3_Dopravniky_ImageList4 {
	@include elemWidth(24);
}
#AreaPageManualP3_Dopravniky_ImageList4 {
	@include elemHeight(24);
}
#AreaPageManualP3_Dopravniky_ImageList4 {
		z-index: 18;
}
#AreaPageManualP3_Dopravniky_ImageList4 {
		border-width: 0px;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie4 {
	@include elemTop(140);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie4 {
	@include elemLeft(800);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie4 {
	@include elemAutoWidth(160);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie4 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie4 {
		z-index: 19;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie4 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie4 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie4 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie4 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie4 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperSkrutkovanie4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
	@include elemTop(290);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
	@include elemLeft(65);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
	@include elemAutoWidth(180);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
		z-index: 20;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	@include elemTop(295);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	@include elemLeft(1115);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	@include elemAutoWidth(180);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
		z-index: 21;
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
