#AreaPageManualP2_Dopravniky_ImageRR_Dopravniky {
  top: 0px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageRR_Dopravniky {
  left: 0px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageRR_Dopravniky {
  width: 1366px;
}

#AreaPageManualP2_Dopravniky_ImageRR_Dopravniky {
  height: 588px;
}

#AreaPageManualP2_Dopravniky_ImageRR_Dopravniky {
  z-index: 0;
}

#AreaPageManualP2_Dopravniky_ImageRR_Dopravniky {
  opacity: 0.15;
}

#AreaPageManualP2_Dopravniky_Label1 {
  top: 13px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label1 {
  width: 400px;
}

#AreaPageManualP2_Dopravniky_Label1 {
  height: 40px;
}

#AreaPageManualP2_Dopravniky_Label1 {
  z-index: 1;
}

#AreaPageManualP2_Dopravniky_Label1 {
  border-width: 3px;
}

#AreaPageManualP2_Dopravniky_Label1 {
  border-radius: 3px;
}

#AreaPageManualP2_Dopravniky_Label1 {
  border-style: ridge;
}

#AreaPageManualP2_Dopravniky_Label1:before {
  border-style: ridge;
}

#AreaPageManualP2_Dopravniky_Label1:after {
  border-style: ridge;
}

#AreaPageManualP2_Dopravniky_Image1 {
  top: 58px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Image1 {
  left: 13px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Image1 {
  width: 1340px;
}

#AreaPageManualP2_Dopravniky_Image1 {
  height: 500px;
}

#AreaPageManualP2_Dopravniky_Image1 {
  z-index: 2;
}

#AreaPageManualP2_Dopravniky_Image1 {
  background-color: oldlace;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  top: 485px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  left: 1140px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  width: 180px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  z-index: 3;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik {
  top: 142px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik {
  left: 35px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik {
  width: 180px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik {
  z-index: 4;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ImageList1 {
  top: 213px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList1 {
  left: 430px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList1 {
  width: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList1 {
  height: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList1 {
  z-index: 5;
}

#AreaPageManualP2_Dopravniky_ImageList1 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ImageList2 {
  top: 213px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList2 {
  left: 616px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList2 {
  width: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList2 {
  height: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList2 {
  z-index: 6;
}

#AreaPageManualP2_Dopravniky_ImageList2 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ImageList3 {
  top: 213px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList3 {
  left: 752px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList3 {
  width: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList3 {
  height: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList3 {
  z-index: 7;
}

#AreaPageManualP2_Dopravniky_ImageList3 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ImageList4 {
  top: 213px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList4 {
  left: 901px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList4 {
  width: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList4 {
  height: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList4 {
  z-index: 8;
}

#AreaPageManualP2_Dopravniky_ImageList4 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ImageList5 {
  top: 213px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList5 {
  left: 1049px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList5 {
  width: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList5 {
  height: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList5 {
  z-index: 9;
}

#AreaPageManualP2_Dopravniky_ImageList5 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ImageList6 {
  top: 421px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList6 {
  left: 156px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList6 {
  width: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList6 {
  height: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList6 {
  z-index: 10;
}

#AreaPageManualP2_Dopravniky_ImageList6 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ImageList7 {
  top: 382px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList7 {
  left: 1092px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList7 {
  width: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList7 {
  height: 24px;
}

#AreaPageManualP2_Dopravniky_ImageList7 {
  z-index: 11;
}

#AreaPageManualP2_Dopravniky_ImageList7 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperSpodny {
  top: 485px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperSpodny {
  left: 92px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperSpodny {
  width: 180px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperSpodny {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperSpodny {
  z-index: 12;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperSpodny:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperSpodny:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperSpodny .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperSpodny .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperSpodny:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperSpodny.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperSpodny.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz1 {
  top: 142px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz1 {
  left: 306px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz1 {
  width: 160px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz1 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz1 {
  z-index: 13;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz1:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz1:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz1 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz1 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz1:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz1.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz1.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz2 {
  top: 142px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz2 {
  left: 485px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz2 {
  width: 160px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz2 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz2 {
  z-index: 14;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz2:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz2:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz2 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz2 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz2:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz2.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz2.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz3 {
  top: 142px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz3 {
  left: 661px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz3 {
  width: 160px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz3 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz3 {
  z-index: 15;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz3:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz3:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz3 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz3 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz3:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz3.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz3.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
  top: 142px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
  left: 836px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
  width: 160px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
  z-index: 16;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz4:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz4:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz4 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz4 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz4:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz4.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz4.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz5 {
  top: 142px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz5 {
  left: 1006px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz5 {
  width: 160px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz5 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz5 {
  z-index: 17;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz5:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz5:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz5 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz5 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz5:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz5.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz5.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz2 {
  top: 305px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz2 {
  left: 465px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz2 {
  width: 180px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz2 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz2 {
  z-index: 18;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz2:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz2:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz2 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz2 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz2:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz2.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz2.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz4 {
  top: 305px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz4 {
  left: 730px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz4 {
  width: 180px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz4 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz4 {
  z-index: 19;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz4:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz4:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz4 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz4 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz4:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz4.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz4.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz5 {
  top: 305px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz5 {
  left: 925px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz5 {
  width: 180px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz5 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz5 {
  z-index: 20;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz5:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz5:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz5 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz5 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz5:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz5.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZacentrujPoz5.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}
