@import "mixins.scss";
#AreaHlasenie9_ST2_GroupBox1 {
	@include elemTop(0);
}
#AreaHlasenie9_ST2_GroupBox1 {
	@include elemLeft(0);
}
#AreaHlasenie9_ST2_GroupBox1 {
	@include elemWidth(500);
}
#AreaHlasenie9_ST2_GroupBox1 {
	@include elemHeight(300);
}
#AreaHlasenie9_ST2_GroupBox1 {
		z-index: 0;
}
#AreaHlasenie9_ST2_GroupBox1 {
		border-width: 4px;
}
#AreaHlasenie9_ST2_GroupBox1 {
	> .header{
		border-width: 4px;
	}
}
#AreaHlasenie9_ST2_GroupBox1 {
	@include border-radius(0px);
}
#AreaHlasenie9_ST2_GroupBox1 {
		background-color: rgba(255, 192, 128, 1);
}
#AreaHlasenie9_ST2_Label1 {
	@include elemTop(81);
}
#AreaHlasenie9_ST2_Label1 {
	@include elemLeft(21);
}
#AreaHlasenie9_ST2_Label1 {
	@include elemAutoWidth(450);
}
#AreaHlasenie9_ST2_Label1 {
	@include elemAutoHeight(100);
}
#AreaHlasenie9_ST2_Label1 {
		z-index: 0;
}
#AreaHlasenie9_ST2_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie9_ST2_Label1 {
	@include text-alignment-all('center');
}
#AreaHlasenie9_ST2_Label1 {
		font-size: 25px;
}
#AreaHlasenie9_ST2_Label1 {
	@include font-weight-bold(true);
}
#AreaHlasenie9_ST2_Label2 {
	@include elemTop(21);
}
#AreaHlasenie9_ST2_Label2 {
	@include elemLeft(71);
}
#AreaHlasenie9_ST2_Label2 {
	@include elemAutoWidth(350);
}
#AreaHlasenie9_ST2_Label2 {
	@include elemAutoHeight(40);
}
#AreaHlasenie9_ST2_Label2 {
		z-index: 1;
}
#AreaHlasenie9_ST2_Label2 {
		border-width: 2px;
}
#AreaHlasenie9_ST2_Label2 {
	@include border-radius(2px);
}
#AreaHlasenie9_ST2_Label2 {
		background-color: rgba(169, 169, 169, 1);
}
#AreaHlasenie9_ST2_Label2 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaHlasenie9_ST2_Label2 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie9_ST2_Label2 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie9_ST2_Label2 {
		border-style: solid;
}
#AreaHlasenie9_ST2_Label2 {
	&:before{
		border-style: solid;
	}
}
#AreaHlasenie9_ST2_Label2 {
	&:after{
		border-style: solid;
	}
}
#AreaHlasenie9_ST2_Label2 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie9_ST2_Label2 {
	@include text-alignment-all('center');
}
#AreaHlasenie9_ST2_Label2 {
		font-size: 20px;
}
#AreaHlasenie9_ST2_Label2 {
	@include font-weight-bold(true);
}
#AreaHlasenie9_ST2_Button_OpatovnyDopyt {
	@include elemTop(211);
}
#AreaHlasenie9_ST2_Button_OpatovnyDopyt {
	@include elemLeft(61);
}
#AreaHlasenie9_ST2_Button_OpatovnyDopyt {
	@include elemAutoWidth(170);
}
#AreaHlasenie9_ST2_Button_OpatovnyDopyt {
	@include elemAutoHeight(45);
}
#AreaHlasenie9_ST2_Button_OpatovnyDopyt {
		z-index: 2;
}
#AreaHlasenie9_ST2_Button_OpatovnyDopyt {
	@include border-radius(10px);
}
#AreaHlasenie9_ST2_Button_OpatovnyDopyt {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(192, 255, 192, 1) 20%,rgba(0,255,0,1) 100%)');
	}
}
#AreaHlasenie9_ST2_Button_OpatovnyDopyt {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie9_ST2_Button_OpatovnyDopyt {
	span{
		font-size: 18px;
	}
}
#AreaHlasenie9_ST2_Button_OpatovnyDopyt {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie9_ST2_Button_OpatovnyDopyt {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie9_ST2_Button_OpatovnyDopyt {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie9_ST2_Button_OznacPaletkuNG {
	@include elemTop(211);
}
#AreaHlasenie9_ST2_Button_OznacPaletkuNG {
	@include elemLeft(261);
}
#AreaHlasenie9_ST2_Button_OznacPaletkuNG {
	@include elemAutoWidth(170);
}
#AreaHlasenie9_ST2_Button_OznacPaletkuNG {
	@include elemAutoHeight(45);
}
#AreaHlasenie9_ST2_Button_OznacPaletkuNG {
		z-index: 3;
}
#AreaHlasenie9_ST2_Button_OznacPaletkuNG {
	@include border-radius(10px);
}
#AreaHlasenie9_ST2_Button_OznacPaletkuNG {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(255, 192, 192, 1) 20%,rgba(255,0,0,1) 100%)');
	}
}
#AreaHlasenie9_ST2_Button_OznacPaletkuNG {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie9_ST2_Button_OznacPaletkuNG {
	span{
		font-size: 18px;
	}
}
#AreaHlasenie9_ST2_Button_OznacPaletkuNG {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie9_ST2_Button_OznacPaletkuNG {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie9_ST2_Button_OznacPaletkuNG {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
