@import "mixins.scss";
#AreaPageManualP3_LeakageB_ImagePageLeakageB {
	@include elemTop(0);
}
#AreaPageManualP3_LeakageB_ImagePageLeakageB {
	@include elemLeft(0);
}
#AreaPageManualP3_LeakageB_ImagePageLeakageB {
	@include elemAutoWidth(1366);
}
#AreaPageManualP3_LeakageB_ImagePageLeakageB {
	@include elemAutoHeight(588);
}
#AreaPageManualP3_LeakageB_ImagePageLeakageB {
		z-index: 0;
}
#AreaPageManualP3_LeakageB_ImagePageLeakageB {
		opacity: 0.15;
}
#AreaPageManualP3_LeakageB_Label1 {
	@include elemTop(13);
}
#AreaPageManualP3_LeakageB_Label1 {
	@include elemLeft(483);
}
#AreaPageManualP3_LeakageB_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageManualP3_LeakageB_Label1 {
	@include elemAutoHeight(40);
}
#AreaPageManualP3_LeakageB_Label1 {
		z-index: 1;
}
#AreaPageManualP3_LeakageB_Label1 {
		border-width: 3px;
}
#AreaPageManualP3_LeakageB_Label1 {
	@include text-alignment-all('center');
}
#AreaPageManualP3_LeakageB_Image1 {
	@include elemTop(88);
}
#AreaPageManualP3_LeakageB_Image1 {
	@include elemLeft(1036);
}
#AreaPageManualP3_LeakageB_Image1 {
	@include elemAutoWidth(265);
}
#AreaPageManualP3_LeakageB_Image1 {
	@include elemAutoHeight(450);
}
#AreaPageManualP3_LeakageB_Image1 {
		z-index: 2;
}
#AreaPageManualP3_LeakageB_Image1 {
		background-color: rgba(220, 220, 220, 1);
}
#AreaPageManualP3_LeakageB_Image1 {
		border-style: none;
}
#AreaPageManualP3_LeakageB_GroupBox2 {
	@include elemTop(66);
}
#AreaPageManualP3_LeakageB_GroupBox2 {
	@include elemLeft(18);
}
#AreaPageManualP3_LeakageB_GroupBox2 {
	@include elemWidth(430);
}
#AreaPageManualP3_LeakageB_GroupBox2 {
	@include elemHeight(250);
}
#AreaPageManualP3_LeakageB_GroupBox2 {
		z-index: 3;
}
#AreaPageManualP3_LeakageB_GroupBox2 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP3_LeakageB_GroupBox2 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_GroupBox2 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP3_LeakageB_ImageList8 {
	@include elemTop(83);
}
#AreaPageManualP3_LeakageB_ImageList8 {
	@include elemLeft(301);
}
#AreaPageManualP3_LeakageB_ImageList8 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageB_ImageList8 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageB_ImageList8 {
		z-index: 0;
}
#AreaPageManualP3_LeakageB_ImageList8 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz4 {
	@include elemTop(81);
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz4 {
	@include elemLeft(139);
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz4 {
	@include elemAutoWidth(150);
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz4 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz4 {
		z-index: 1;
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz4 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz4 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz4 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_LeakageB_ImageList9 {
	@include elemTop(109);
}
#AreaPageManualP3_LeakageB_ImageList9 {
	@include elemLeft(301);
}
#AreaPageManualP3_LeakageB_ImageList9 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageB_ImageList9 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageB_ImageList9 {
		z-index: 2;
}
#AreaPageManualP3_LeakageB_ImageList9 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageB_GroupBox4 {
	@include elemTop(326);
}
#AreaPageManualP3_LeakageB_GroupBox4 {
	@include elemLeft(18);
}
#AreaPageManualP3_LeakageB_GroupBox4 {
	@include elemWidth(430);
}
#AreaPageManualP3_LeakageB_GroupBox4 {
	@include elemHeight(250);
}
#AreaPageManualP3_LeakageB_GroupBox4 {
		z-index: 4;
}
#AreaPageManualP3_LeakageB_GroupBox4 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP3_LeakageB_GroupBox4 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_GroupBox4 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP3_LeakageB_ToggleSwitch_Stoper {
	@include elemTop(107);
}
#AreaPageManualP3_LeakageB_ToggleSwitch_Stoper {
	@include elemLeft(139);
}
#AreaPageManualP3_LeakageB_ToggleSwitch_Stoper {
	@include elemAutoWidth(150);
}
#AreaPageManualP3_LeakageB_ToggleSwitch_Stoper {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_LeakageB_ToggleSwitch_Stoper {
		z-index: 0;
}
#AreaPageManualP3_LeakageB_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_Stoper {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_Stoper {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_Stoper {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_Stoper {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_Stoper {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageB_Label15 {
	@include elemTop(13);
}
#AreaPageManualP3_LeakageB_Label15 {
	@include elemLeft(11);
}
#AreaPageManualP3_LeakageB_Label15 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_LeakageB_Label15 {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageB_Label15 {
		z-index: 1;
}
#AreaPageManualP3_LeakageB_Label15 {
		border-width: 2px;
}
#AreaPageManualP3_LeakageB_Label15 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageB_Label15 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_LeakageB_Label15 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_LeakageB_Label15 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label15 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label15 {
		border-style: outset;
}
#AreaPageManualP3_LeakageB_Label15 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label15 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label15 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label15 {
		font-size: 14px;
}
#AreaPageManualP3_LeakageB_Label15 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_LeakageB_ImageList10 {
	@include elemTop(24);
}
#AreaPageManualP3_LeakageB_ImageList10 {
	@include elemLeft(171);
}
#AreaPageManualP3_LeakageB_ImageList10 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageB_ImageList10 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageB_ImageList10 {
		z-index: 2;
}
#AreaPageManualP3_LeakageB_ImageList10 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageB_GroupBox5 {
	@include elemTop(66);
}
#AreaPageManualP3_LeakageB_GroupBox5 {
	@include elemLeft(468);
}
#AreaPageManualP3_LeakageB_GroupBox5 {
	@include elemWidth(430);
}
#AreaPageManualP3_LeakageB_GroupBox5 {
	@include elemHeight(510);
}
#AreaPageManualP3_LeakageB_GroupBox5 {
		z-index: 5;
}
#AreaPageManualP3_LeakageB_GroupBox5 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP3_LeakageB_GroupBox5 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_GroupBox5 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VPRED {
	@include elemTop(17);
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VPRED {
	@include elemLeft(25);
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VPRED {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VPRED {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VPRED {
		z-index: 0;
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VPRED {
	@include border-radius(10px);
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VPRED {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VPRED {
	@include text-alignment(left);
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VPRED {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VPRED {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VPRED {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VZAD {
	@include elemTop(17);
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VZAD {
	@include elemLeft(238);
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VZAD {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VZAD {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VZAD {
		z-index: 1;
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VZAD {
	@include border-radius(10px);
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VZAD {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VZAD {
	@include text-alignment(left);
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VZAD {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VZAD {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageB_MomentaryPushButton_JoggOsY_VZAD {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageB_Line4 {
		z-index: 2;
}
#AreaPageManualP3_LeakageB_Line4 {
	line{
		stroke-width: 2px;
	}
}
#AreaPageManualP3_LeakageB_Label13 {
	@include elemTop(263);
}
#AreaPageManualP3_LeakageB_Label13 {
	@include elemLeft(11);
}
#AreaPageManualP3_LeakageB_Label13 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_LeakageB_Label13 {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageB_Label13 {
		z-index: 3;
}
#AreaPageManualP3_LeakageB_Label13 {
		border-width: 2px;
}
#AreaPageManualP3_LeakageB_Label13 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageB_Label13 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_LeakageB_Label13 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_LeakageB_Label13 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label13 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label13 {
		border-style: outset;
}
#AreaPageManualP3_LeakageB_Label13 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label13 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label13 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label13 {
		font-size: 14px;
}
#AreaPageManualP3_LeakageB_Label13 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_LeakageB_Label14 {
	@include elemTop(313);
}
#AreaPageManualP3_LeakageB_Label14 {
	@include elemLeft(11);
}
#AreaPageManualP3_LeakageB_Label14 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_LeakageB_Label14 {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageB_Label14 {
		z-index: 4;
}
#AreaPageManualP3_LeakageB_Label14 {
		border-width: 2px;
}
#AreaPageManualP3_LeakageB_Label14 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageB_Label14 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_LeakageB_Label14 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_LeakageB_Label14 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label14 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label14 {
		border-style: outset;
}
#AreaPageManualP3_LeakageB_Label14 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label14 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label14 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label14 {
		font-size: 14px;
}
#AreaPageManualP3_LeakageB_Label14 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_LeakageB_ImageList15 {
	@include elemTop(275);
}
#AreaPageManualP3_LeakageB_ImageList15 {
	@include elemLeft(171);
}
#AreaPageManualP3_LeakageB_ImageList15 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageB_ImageList15 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageB_ImageList15 {
		z-index: 5;
}
#AreaPageManualP3_LeakageB_ImageList15 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageB_ImageList16 {
	@include elemTop(325);
}
#AreaPageManualP3_LeakageB_ImageList16 {
	@include elemLeft(171);
}
#AreaPageManualP3_LeakageB_ImageList16 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageB_ImageList16 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageB_ImageList16 {
		z-index: 6;
}
#AreaPageManualP3_LeakageB_ImageList16 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageB_ImageList17 {
	@include elemTop(27);
}
#AreaPageManualP3_LeakageB_ImageList17 {
	@include elemLeft(368);
}
#AreaPageManualP3_LeakageB_ImageList17 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageB_ImageList17 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageB_ImageList17 {
		z-index: 7;
}
#AreaPageManualP3_LeakageB_ImageList17 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageB_ImageList18 {
	@include elemTop(27);
}
#AreaPageManualP3_LeakageB_ImageList18 {
	@include elemLeft(156);
}
#AreaPageManualP3_LeakageB_ImageList18 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageB_ImageList18 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageB_ImageList18 {
		z-index: 8;
}
#AreaPageManualP3_LeakageB_ImageList18 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz5 {
	@include elemTop(93);
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz5 {
	@include elemLeft(25);
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz5 {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz5 {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz5 {
		z-index: 9;
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz5 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz5 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz5 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz5 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz5 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz5 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_LeakageB_ToggleSwitch_ZasunStoperPoz5 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP3_LeakageB_Label29 {
	@include elemTop(169);
}
#AreaPageManualP3_LeakageB_Label29 {
	@include elemLeft(11);
}
#AreaPageManualP3_LeakageB_Label29 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_LeakageB_Label29 {
	@include elemAutoHeight(77);
}
#AreaPageManualP3_LeakageB_Label29 {
		z-index: 10;
}
#AreaPageManualP3_LeakageB_Label29 {
		border-width: 2px;
}
#AreaPageManualP3_LeakageB_Label29 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageB_Label29 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_LeakageB_Label29 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_LeakageB_Label29 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label29 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label29 {
		border-style: outset;
}
#AreaPageManualP3_LeakageB_Label29 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label29 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label29 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label29 {
	@include text-alignment-all('center top');
}
#AreaPageManualP3_LeakageB_Label29 {
		font-size: 14px;
}
#AreaPageManualP3_LeakageB_Label29 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_LeakageB_Button_ResetServaOsY {
	@include elemTop(96);
}
#AreaPageManualP3_LeakageB_Button_ResetServaOsY {
	@include elemLeft(238);
}
#AreaPageManualP3_LeakageB_Button_ResetServaOsY {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_LeakageB_Button_ResetServaOsY {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageB_Button_ResetServaOsY {
		z-index: 11;
}
#AreaPageManualP3_LeakageB_Button_ResetServaOsY {
	@include border-radius(10px);
}
#AreaPageManualP3_LeakageB_Button_ResetServaOsY {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Button_ResetServaOsY {
	@include text-alignment(left);
}
#AreaPageManualP3_LeakageB_Button_ResetServaOsY {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageB_Button_ResetServaOsY {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageB_Button_ResetServaOsY {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageB_NumericOutput3 {
	@include elemAutoHeight(30);
}
#AreaPageManualP3_LeakageB_NumericOutput3 {
	@include elemTop(205);
}
#AreaPageManualP3_LeakageB_NumericOutput3 {
	@include elemLeft(26);
}
#AreaPageManualP3_LeakageB_NumericOutput3 {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_LeakageB_NumericOutput3 {
		z-index: 12;
}
#AreaPageManualP3_LeakageB_NumericOutput3 {
	input{
	@include text-alignment(center);
	}
}
#AreaPageManualP3_LeakageB_ImageList19 {
	@include elemTop(106);
}
#AreaPageManualP3_LeakageB_ImageList19 {
	@include elemLeft(368);
}
#AreaPageManualP3_LeakageB_ImageList19 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageB_ImageList19 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageB_ImageList19 {
		z-index: 13;
}
#AreaPageManualP3_LeakageB_ImageList19 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageB_Label16 {
	@include elemTop(363);
}
#AreaPageManualP3_LeakageB_Label16 {
	@include elemLeft(11);
}
#AreaPageManualP3_LeakageB_Label16 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_LeakageB_Label16 {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageB_Label16 {
		z-index: 14;
}
#AreaPageManualP3_LeakageB_Label16 {
		border-width: 2px;
}
#AreaPageManualP3_LeakageB_Label16 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageB_Label16 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_LeakageB_Label16 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_LeakageB_Label16 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label16 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label16 {
		border-style: outset;
}
#AreaPageManualP3_LeakageB_Label16 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label16 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label16 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label16 {
		font-size: 14px;
}
#AreaPageManualP3_LeakageB_Label16 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_LeakageB_ImageList20 {
	@include elemTop(375);
}
#AreaPageManualP3_LeakageB_ImageList20 {
	@include elemLeft(171);
}
#AreaPageManualP3_LeakageB_ImageList20 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageB_ImageList20 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageB_ImageList20 {
		z-index: 15;
}
#AreaPageManualP3_LeakageB_ImageList20 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageB_Label17 {
	@include elemTop(413);
}
#AreaPageManualP3_LeakageB_Label17 {
	@include elemLeft(11);
}
#AreaPageManualP3_LeakageB_Label17 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_LeakageB_Label17 {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageB_Label17 {
		z-index: 16;
}
#AreaPageManualP3_LeakageB_Label17 {
		border-width: 2px;
}
#AreaPageManualP3_LeakageB_Label17 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageB_Label17 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_LeakageB_Label17 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_LeakageB_Label17 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label17 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label17 {
		border-style: outset;
}
#AreaPageManualP3_LeakageB_Label17 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label17 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label17 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label17 {
		font-size: 14px;
}
#AreaPageManualP3_LeakageB_Label17 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_LeakageB_ImageList21 {
	@include elemTop(424);
}
#AreaPageManualP3_LeakageB_ImageList21 {
	@include elemLeft(171);
}
#AreaPageManualP3_LeakageB_ImageList21 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageB_ImageList21 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageB_ImageList21 {
		z-index: 17;
}
#AreaPageManualP3_LeakageB_ImageList21 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageB_Label18 {
	@include elemTop(263);
}
#AreaPageManualP3_LeakageB_Label18 {
	@include elemLeft(223);
}
#AreaPageManualP3_LeakageB_Label18 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_LeakageB_Label18 {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageB_Label18 {
		z-index: 18;
}
#AreaPageManualP3_LeakageB_Label18 {
		border-width: 2px;
}
#AreaPageManualP3_LeakageB_Label18 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageB_Label18 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_LeakageB_Label18 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_LeakageB_Label18 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label18 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label18 {
		border-style: outset;
}
#AreaPageManualP3_LeakageB_Label18 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label18 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageB_Label18 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageB_Label18 {
		font-size: 14px;
}
#AreaPageManualP3_LeakageB_Label18 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_LeakageB_ImageList22 {
	@include elemTop(273);
}
#AreaPageManualP3_LeakageB_ImageList22 {
	@include elemLeft(381);
}
#AreaPageManualP3_LeakageB_ImageList22 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageB_ImageList22 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageB_ImageList22 {
		z-index: 19;
}
#AreaPageManualP3_LeakageB_ImageList22 {
		border-width: 0px;
}
