@import "mixins.scss";
#AreaTimeP34_Rectangle1 {
	@include elemTop(0);
}
#AreaTimeP34_Rectangle1 {
	@include elemLeft(0);
}
#AreaTimeP34_Rectangle1 {
	@include elemWidth(500);
}
#AreaTimeP34_Rectangle1 {
	@include elemHeight(350);
}
#AreaTimeP34_Rectangle1 {
		z-index: 0;
}
#AreaTimeP34_Rectangle1 {
		border-width: 2px;
}
#AreaTimeP34_Rectangle1 {
		background-color: rgba(153, 180, 209, 1);
}
#AreaTimeP34_Image1 {
	@include elemTop(10);
}
#AreaTimeP34_Image1 {
	@include elemLeft(20);
}
#AreaTimeP34_Image1 {
	@include elemAutoWidth(60);
}
#AreaTimeP34_Image1 {
	@include elemAutoHeight(60);
}
#AreaTimeP34_Image1 {
		z-index: 1;
}
#AreaTimeP34_Line1 {
		z-index: 2;
}
#AreaTimeP34_Line1 {
	line{
		stroke: rgba(255, 255, 255, 1);
	}
}
#AreaTimeP34_Line1 {
	line{
		stroke-width: 3px;
	}
}
#AreaTimeP34_Label1 {
	@include elemTop(15);
}
#AreaTimeP34_Label1 {
	@include elemLeft(130);
}
#AreaTimeP34_Label1 {
	@include elemAutoWidth(300);
}
#AreaTimeP34_Label1 {
	@include elemAutoHeight(50);
}
#AreaTimeP34_Label1 {
		z-index: 3;
}
#AreaTimeP34_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_Label1 {
	@include text-alignment-all('center');
}
#AreaTimeP34_Label1 {
		font-size: 22px;
}
#AreaTimeP34_Label1 {
	@include font-weight-bold(true);
}
#AreaTimeP34_DateTimeInput_Cas {
	@include elemTop(130);
}
#AreaTimeP34_DateTimeInput_Cas {
	@include elemLeft(160);
}
#AreaTimeP34_DateTimeInput_Cas {
	@include elemWidth(260);
}
#AreaTimeP34_DateTimeInput_Cas {
	@include elemHeight(40);
}
#AreaTimeP34_DateTimeInput_Cas {
		z-index: 4;
}
#AreaTimeP34_DateTimeInput_Cas {
	&:not(.disabled):not(.active){
		border-width: 3px;
	}
}
#AreaTimeP34_DateTimeInput_Cas {
	&:not(.active):not(.disabled){
		border-color: rgba(71, 71, 71, 1);
	}
}
#AreaTimeP34_DateTimeInput_Cas {
	&:not(.active):not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_DateTimeInput_Cas {
	@include text-alignment(center);
}
#AreaTimeP34_DateTimeInput_Cas {
		font-size: 20px;
}
#AreaTimeP34_DateTimeInput_Cas {
	@include box-shadow(4px 1px 3px rgba(71, 71, 71, 1));
}
#AreaTimeP34_Label2 {
	@include elemAutoWidth(80);
}
#AreaTimeP34_Label2 {
	@include elemAutoHeight(30);
}
#AreaTimeP34_Label2 {
	@include elemTop(135);
}
#AreaTimeP34_Label2 {
	@include elemLeft(50);
}
#AreaTimeP34_Label2 {
		z-index: 5;
}
#AreaTimeP34_Label2 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_Label2 {
		font-size: 20px;
}
#AreaTimeP34_Label2 {
	@include font-weight-bold(true);
}
#AreaTimeP34_DateTimeInput_Cas1 {
	@include elemTop(200);
}
#AreaTimeP34_DateTimeInput_Cas1 {
	@include elemLeft(160);
}
#AreaTimeP34_DateTimeInput_Cas1 {
	@include elemWidth(260);
}
#AreaTimeP34_DateTimeInput_Cas1 {
	@include elemHeight(40);
}
#AreaTimeP34_DateTimeInput_Cas1 {
		z-index: 6;
}
#AreaTimeP34_DateTimeInput_Cas1 {
	&:not(.disabled):not(.active){
		border-width: 3px;
	}
}
#AreaTimeP34_DateTimeInput_Cas1 {
	&:not(.active):not(.disabled){
		border-color: rgba(71, 71, 71, 1);
	}
}
#AreaTimeP34_DateTimeInput_Cas1 {
	&:not(.active):not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_DateTimeInput_Cas1 {
	@include text-alignment(center);
}
#AreaTimeP34_DateTimeInput_Cas1 {
		font-size: 20px;
}
#AreaTimeP34_DateTimeInput_Cas1 {
	@include box-shadow(4px 1px 3px rgba(71, 71, 71, 1));
}
#AreaTimeP34_Label3 {
	@include elemAutoWidth(80);
}
#AreaTimeP34_Label3 {
	@include elemAutoHeight(30);
}
#AreaTimeP34_Label3 {
	@include elemTop(205);
}
#AreaTimeP34_Label3 {
	@include elemLeft(50);
}
#AreaTimeP34_Label3 {
		z-index: 7;
}
#AreaTimeP34_Label3 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_Label3 {
		font-size: 20px;
}
#AreaTimeP34_Label3 {
	@include font-weight-bold(true);
}
#AreaTimeP34_LogoutButton_Exit {
	@include elemTop(280);
}
#AreaTimeP34_LogoutButton_Exit {
	@include elemLeft(175);
}
#AreaTimeP34_LogoutButton_Exit {
	@include elemAutoWidth(150);
}
#AreaTimeP34_LogoutButton_Exit {
	@include elemAutoHeight(40);
}
#AreaTimeP34_LogoutButton_Exit {
		z-index: 8;
}
#AreaTimeP34_LogoutButton_Exit {
	@include border-radius(10px);
}
#AreaTimeP34_LogoutButton_Exit {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_Rectangle2 {
	@include elemTop(0);
}
#AreaTimeP34_Rectangle2 {
	@include elemLeft(0);
}
#AreaTimeP34_Rectangle2 {
	@include elemWidth(500);
}
#AreaTimeP34_Rectangle2 {
	@include elemHeight(350);
}
#AreaTimeP34_Rectangle2 {
		z-index: 9;
}
#AreaTimeP34_Rectangle2 {
		border-width: 2px;
}
#AreaTimeP34_Rectangle2 {
		background-color: rgba(153, 180, 209, 1);
}
#AreaTimeP34_Line2 {
		z-index: 10;
}
#AreaTimeP34_Line2 {
	line{
		stroke: rgba(255, 255, 255, 1);
	}
}
#AreaTimeP34_Line2 {
	line{
		stroke-width: 3px;
	}
}
#AreaTimeP34_Label5 {
	@include elemAutoWidth(80);
}
#AreaTimeP34_Label5 {
	@include elemAutoHeight(30);
}
#AreaTimeP34_Label5 {
	@include elemTop(135);
}
#AreaTimeP34_Label5 {
	@include elemLeft(24);
}
#AreaTimeP34_Label5 {
		z-index: 11;
}
#AreaTimeP34_Label5 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_Label5 {
		font-size: 20px;
}
#AreaTimeP34_Label5 {
	@include font-weight-bold(true);
}
#AreaTimeP34_Label6 {
	@include elemAutoWidth(80);
}
#AreaTimeP34_Label6 {
	@include elemAutoHeight(30);
}
#AreaTimeP34_Label6 {
	@include elemTop(197);
}
#AreaTimeP34_Label6 {
	@include elemLeft(24);
}
#AreaTimeP34_Label6 {
		z-index: 12;
}
#AreaTimeP34_Label6 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_Label6 {
		font-size: 20px;
}
#AreaTimeP34_Label6 {
	@include font-weight-bold(true);
}
#AreaTimeP34_Label4 {
	@include elemAutoHeight(30);
}
#AreaTimeP34_Label4 {
	@include elemTop(22);
}
#AreaTimeP34_Label4 {
	@include elemLeft(125);
}
#AreaTimeP34_Label4 {
	@include elemAutoWidth(250);
}
#AreaTimeP34_Label4 {
		z-index: 13;
}
#AreaTimeP34_Label4 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_Label4 {
	@include text-alignment-all('center');
}
#AreaTimeP34_Label4 {
		font-size: 20px;
}
#AreaTimeP34_Label4 {
	@include font-weight-bold(true);
}
#AreaTimeP34_Image2 {
	@include elemTop(8);
}
#AreaTimeP34_Image2 {
	@include elemLeft(24);
}
#AreaTimeP34_Image2 {
	@include elemAutoWidth(60);
}
#AreaTimeP34_Image2 {
	@include elemAutoHeight(58);
}
#AreaTimeP34_Image2 {
		z-index: 14;
}
#AreaTimeP34_Image2 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
#AreaTimeP34_DateTimeInput1 {
	@include elemWidth(250);
}
#AreaTimeP34_DateTimeInput1 {
	@include elemTop(130);
}
#AreaTimeP34_DateTimeInput1 {
	@include elemLeft(125);
}
#AreaTimeP34_DateTimeInput1 {
	@include elemHeight(35);
}
#AreaTimeP34_DateTimeInput1 {
		z-index: 15;
}
#AreaTimeP34_DateTimeInput1 {
	&:not(.disabled):not(.active){
		border-width: 2px 4px 2px 2px;
	}
}
#AreaTimeP34_DateTimeInput1 {
	&.active:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_DateTimeInput1 {
	&:not(.active):not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_DateTimeInput1 {
	@include text-alignment(center);
}
#AreaTimeP34_DateTimeInput1 {
		font-size: 20px;
}
#AreaTimeP34_DateTimeInput1 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaTimeP34_DateTimeInput2 {
	@include elemWidth(250);
}
#AreaTimeP34_DateTimeInput2 {
	@include elemTop(192);
}
#AreaTimeP34_DateTimeInput2 {
	@include elemLeft(125);
}
#AreaTimeP34_DateTimeInput2 {
	@include elemHeight(35);
}
#AreaTimeP34_DateTimeInput2 {
		z-index: 16;
}
#AreaTimeP34_DateTimeInput2 {
	&:not(.disabled):not(.active){
		border-width: 2px 4px 2px 2px;
	}
}
#AreaTimeP34_DateTimeInput2 {
	&.active:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_DateTimeInput2 {
	&:not(.active):not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_DateTimeInput2 {
	@include text-alignment(center);
}
#AreaTimeP34_DateTimeInput2 {
		font-size: 20px;
}
#AreaTimeP34_DateTimeInput2 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaTimeP34_LogoutButton2 {
	@include elemTop(276);
}
#AreaTimeP34_LogoutButton2 {
	@include elemLeft(175);
}
#AreaTimeP34_LogoutButton2 {
	@include elemAutoWidth(150);
}
#AreaTimeP34_LogoutButton2 {
	@include elemAutoHeight(40);
}
#AreaTimeP34_LogoutButton2 {
		z-index: 17;
}
#AreaTimeP34_LogoutButton2 {
	@include border-radius(10px);
}
#AreaTimeP34_LogoutButton2 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaTimeP34_LogoutButton2 {
	@include text-alignment(center);
}
#AreaTimeP34_LogoutButton2 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaTimeP34_LogoutButton2 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaTimeP34_LogoutButton2 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
