#AreaPageManualMainP3_ImagePageManualMainP3 {
  top: 0px;
  position: absolute;
}

#AreaPageManualMainP3_ImagePageManualMainP3 {
  left: 0px;
  position: absolute;
}

#AreaPageManualMainP3_ImagePageManualMainP3 {
  width: 1366px;
}

#AreaPageManualMainP3_ImagePageManualMainP3 {
  height: 588px;
}

#AreaPageManualMainP3_ImagePageManualMainP3 {
  z-index: 0;
}

#AreaPageManualMainP3_ImagePageManualMainP3 {
  opacity: 0.15;
}

#AreaPageManualMainP3_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageManualMainP3_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualMainP3_Label1 {
  width: 400px;
}

#AreaPageManualMainP3_Label1 {
  height: 40px;
}

#AreaPageManualMainP3_Label1 {
  z-index: 1;
}

#AreaPageManualMainP3_Image1 {
  top: 70px;
  position: absolute;
}

#AreaPageManualMainP3_Image1 {
  left: 10px;
  position: absolute;
}

#AreaPageManualMainP3_Image1 {
  width: 1342px;
}

#AreaPageManualMainP3_Image1 {
  height: 500px;
}

#AreaPageManualMainP3_Image1 {
  z-index: 2;
}

#AreaPageManualMainP3_Image1 {
  background-color: gainsboro;
}

#AreaPageManualMainP3_Image1 {
  border-style: hidden;
}

#AreaPageManualMainP3_Image1 {
  border-width: 2px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3 {
  top: 75px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3 {
  left: 528px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3 {
  width: 310px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3 {
  height: 65px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3 {
  z-index: 3;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3 img {
  height: 55px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3 svg {
  height: 55px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3:not(.active):not(.checked) {
  border-width: 3px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3.disabled {
  border-width: 3px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3 {
  border-radius: 5px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3:not(.disabled):not(.checked) {
  border-color: #0052cc;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3 span {
  font-size: 22px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageBP3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3 {
  top: 500px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3 {
  left: 528px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3 {
  width: 310px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3 {
  height: 65px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3 {
  z-index: 4;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3 img {
  height: 55px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3 svg {
  height: 55px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3:not(.active):not(.checked) {
  border-width: 3px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3.disabled {
  border-width: 3px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3 {
  border-radius: 5px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3:not(.disabled):not(.checked) {
  border-color: #ff751a;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3 span {
  font-size: 22px;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonRR_LeakageAP3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3 {
  top: 380px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3 {
  left: 1030px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3 {
  width: 310px;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3 {
  height: 65px;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3 {
  z-index: 5;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3 img {
  height: 55px;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3 svg {
  height: 55px;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3:not(.active):not(.checked) {
  border-width: 3px;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3.disabled {
  border-width: 3px;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3 {
  border-radius: 5px;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3:not(.disabled):not(.checked) {
  border-color: black;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3 span {
  font-size: 22px;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonRR_DopravnikyP3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3 {
  top: 390px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3 {
  left: 20px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3 {
  width: 310px;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3 {
  height: 65px;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3 {
  z-index: 6;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3 img {
  height: 55px;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3 svg {
  height: 55px;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3:not(.active):not(.checked) {
  border-width: 3px;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3.disabled {
  border-width: 3px;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3 {
  border-radius: 5px;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3:not(.disabled):not(.checked) {
  border-color: green;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3 span {
  font-size: 22px;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonRR_SkrutkovanieP3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_Rectangle1 {
  top: 290px;
  position: absolute;
}

#AreaPageManualMainP3_Rectangle1 {
  left: 350px;
  position: absolute;
}

#AreaPageManualMainP3_Rectangle1 {
  width: 130px;
}

#AreaPageManualMainP3_Rectangle1 {
  height: 200px;
}

#AreaPageManualMainP3_Rectangle1 {
  z-index: 7;
}

#AreaPageManualMainP3_Rectangle1 {
  border-style: solid;
}

#AreaPageManualMainP3_Rectangle1 {
  border-width: 4px;
}

#AreaPageManualMainP3_Rectangle1 {
  border-radius: 5px;
}

#AreaPageManualMainP3_Rectangle1 {
  border-color: green;
}

#AreaPageManualMainP3_Rectangle2 {
  top: 330px;
  position: absolute;
}

#AreaPageManualMainP3_Rectangle2 {
  left: 740px;
  position: absolute;
}

#AreaPageManualMainP3_Rectangle2 {
  width: 115px;
}

#AreaPageManualMainP3_Rectangle2 {
  height: 160px;
}

#AreaPageManualMainP3_Rectangle2 {
  z-index: 8;
}

#AreaPageManualMainP3_Rectangle2 {
  border-style: solid;
}

#AreaPageManualMainP3_Rectangle2 {
  border-width: 4px;
}

#AreaPageManualMainP3_Rectangle2 {
  border-radius: 5px;
}

#AreaPageManualMainP3_Rectangle2 {
  border-color: #ff751a;
}

#AreaPageManualMainP3_Rectangle3 {
  top: 150px;
  position: absolute;
}

#AreaPageManualMainP3_Rectangle3 {
  left: 740px;
  position: absolute;
}

#AreaPageManualMainP3_Rectangle3 {
  width: 115px;
}

#AreaPageManualMainP3_Rectangle3 {
  height: 160px;
}

#AreaPageManualMainP3_Rectangle3 {
  z-index: 9;
}

#AreaPageManualMainP3_Rectangle3 {
  border-style: solid;
}

#AreaPageManualMainP3_Rectangle3 {
  border-width: 4px;
}

#AreaPageManualMainP3_Rectangle3 {
  border-radius: 5px;
}

#AreaPageManualMainP3_Rectangle3 {
  border-color: #0052cc;
}
