@import "mixins.scss";
#AreaPageManualP1_Skrutkovanie_page2_Image1 {
	@include elemTop(0);
}
#AreaPageManualP1_Skrutkovanie_page2_Image1 {
	@include elemLeft(0);
}
#AreaPageManualP1_Skrutkovanie_page2_Image1 {
	@include elemAutoWidth(1366);
}
#AreaPageManualP1_Skrutkovanie_page2_Image1 {
	@include elemAutoHeight(588);
}
#AreaPageManualP1_Skrutkovanie_page2_Image1 {
		z-index: 0;
}
#AreaPageManualP1_Skrutkovanie_page2_Image1 {
		opacity: 0.2;
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
	@include elemTop(8);
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
	@include elemLeft(483);
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
	@include elemAutoHeight(50);
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
		z-index: 1;
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
		border-width: 5px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
		background-color: rgba(224, 224, 224, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
		border-style: ridge;
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
	&:before{
		border-style: ridge;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
	&:after{
		border-style: ridge;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
	@include text-alignment-all('center');
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
		font-size: 22px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_Label1 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	@include elemTop(8);
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	@include elemLeft(18);
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	@include elemAutoWidth(105);
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	@include elemAutoHeight(50);
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
		z-index: 2;
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
		border-style: solid;
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&.active{
		border-style: solid;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&.checked{
		border-style: solid;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&:not(.active):not(.checked){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&.disabled{
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	@include border-radius(8px);
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&.active.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	span{
		font-size: 20px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_PreviewPage {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox5 {
	@include elemTop(70);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox5 {
	@include elemLeft(18);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox5 {
	@include elemWidth(429);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox5 {
	@include elemHeight(245);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox5 {
		z-index: 3;
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox5 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox5 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox5 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
	@include elemTop(19);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
		z-index: 0;
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
	@include elemTop(143);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
	@include elemLeft(236);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
		z-index: 1;
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_PoziciaVysunutiaSkrutkovackyK30 {
	@include elemAutoHeight(30);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_PoziciaVysunutiaSkrutkovackyK30 {
	@include elemTop(55);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_PoziciaVysunutiaSkrutkovackyK30 {
	@include elemLeft(237);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_PoziciaVysunutiaSkrutkovackyK30 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_PoziciaVysunutiaSkrutkovackyK30 {
		z-index: 5;
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_PoziciaVysunutiaSkrutkovackyK30 {
		border-width: 4px;
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_PoziciaVysunutiaSkrutkovackyK30 {
		border-style: ridge;
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_PoziciaVysunutiaSkrutkovackyK30 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_PoziciaVysunutiaSkrutkovackyK30 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_PoziciaVysunutiaSkrutkovackyK30 {
	input{
	@include text-alignment(center);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_PoziciaVysunutiaSkrutkovackyK30 {
	input{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList18 {
	@include elemTop(91);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList18 {
	@include elemLeft(139);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList18 {
	@include elemWidth(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList18 {
	@include elemHeight(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList18 {
		z-index: 7;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList18 {
		border-style: none;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList18 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
	@include elemTop(143);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
		z-index: 2;
}
#AreaPageManualP1_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
	@include text-alignment(left);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
	span{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList7 {
	@include elemTop(153);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList7 {
	@include elemLeft(139);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList7 {
	@include elemWidth(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList7 {
	@include elemHeight(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList7 {
		z-index: 3;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList7 {
		border-style: none;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList7 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
	@include elemTop(19);
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
	@include elemLeft(221);
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
	@include elemAutoHeight(77);
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
		z-index: 4;
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
	@include text-alignment-all('center top');
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label27 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
	@include elemTop(81);
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
		z-index: 6;
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label12 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	@include elemTop(8);
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	@include elemLeft(1248);
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	@include elemAutoWidth(105);
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	@include elemAutoHeight(50);
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
		z-index: 4;
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
		border-style: solid;
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&.active{
		border-style: solid;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&.checked{
		border-style: solid;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&:not(.active):not(.checked){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&.disabled{
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	@include border-radius(8px);
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&.active.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	span{
		font-size: 20px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NavigationButton_NextPage {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox6 {
	@include elemTop(70);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox6 {
	@include elemLeft(468);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox6 {
	@include elemWidth(430);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox6 {
	@include elemHeight(510);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox6 {
		z-index: 5;
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox6 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox6 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox6 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M4_ZadanaRychlost {
	@include elemAutoHeight(30);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M4_ZadanaRychlost {
	@include elemTop(187);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M4_ZadanaRychlost {
	@include elemLeft(239);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M4_ZadanaRychlost {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M4_ZadanaRychlost {
		z-index: 10;
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M4_ZadanaRychlost {
	&:not(.active):not(.disabled){
		border-width: 2px 4px 2px 2px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M4_ZadanaRychlost {
	input{
		font-size: 18px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M4_ZadanaRychlost {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M4_AktualnaPozicia {
	@include elemAutoHeight(30);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M4_AktualnaPozicia {
	@include elemTop(187);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M4_AktualnaPozicia {
	@include elemLeft(26);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M4_AktualnaPozicia {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M4_AktualnaPozicia {
		z-index: 8;
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M4_AktualnaPozicia {
		border-width: 4px;
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M4_AktualnaPozicia {
		border-style: ridge;
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M4_AktualnaPozicia {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M4_AktualnaPozicia {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M4_AktualnaPozicia {
	input{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
	@include elemTop(81);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
	@include elemLeft(26);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
		z-index: 0;
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
	@include border-radius(10px);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
	@include text-alignment(left);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
	@include elemTop(81);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
	@include elemLeft(239);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
		z-index: 1;
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
	@include border-radius(10px);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
	@include text-alignment(left);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList17 {
	@include elemTop(283);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList17 {
	@include elemLeft(171);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList17 {
	@include elemWidth(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList17 {
	@include elemHeight(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList17 {
		z-index: 4;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList17 {
		border-style: none;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList17 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_page2_Line4 {
		z-index: 2;
}
#AreaPageManualP1_Skrutkovanie_page2_Line4 {
	line{
		stroke-width: 2px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList19 {
	@include elemTop(338);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList19 {
	@include elemLeft(171);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList19 {
	@include elemWidth(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList19 {
	@include elemHeight(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList19 {
		z-index: 6;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList19 {
		border-style: none;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList19 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
	@include elemTop(273);
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
		z-index: 3;
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label13 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
	@include elemTop(328);
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
		z-index: 5;
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label14 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
	@include elemTop(151);
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
	@include elemAutoHeight(77);
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
		z-index: 7;
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
	@include text-alignment-all('center top');
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label29 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
	@include elemTop(151);
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
	@include elemLeft(224);
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
	@include elemAutoHeight(77);
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
		z-index: 9;
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
	@include text-alignment-all('center top');
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label30 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList8 {
	@include elemTop(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList8 {
	@include elemLeft(386);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList8 {
	@include elemWidth(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList8 {
	@include elemHeight(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList8 {
		z-index: 13;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList8 {
		border-style: none;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList8 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
	@include elemTop(15);
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
	@include elemLeft(224);
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
		z-index: 12;
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label18 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
	@include elemTop(15);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
	@include elemLeft(26);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
		z-index: 11;
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
	@include border-radius(10px);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
	@include text-alignment(left);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM4 {
	@include elemTop(328);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM4 {
	@include elemLeft(239);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM4 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM4 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM4 {
		z-index: 14;
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM4 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM4 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM4 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM4 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM4 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList20 {
	@include elemTop(283);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList20 {
	@include elemLeft(386);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList20 {
	@include elemWidth(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList20 {
	@include elemHeight(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList20 {
		z-index: 16;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList20 {
		border-style: none;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList20 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
	@include elemTop(273);
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
	@include elemLeft(224);
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
		z-index: 15;
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label15 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox7 {
	@include elemTop(70);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox7 {
	@include elemLeft(923);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox7 {
	@include elemWidth(430);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox7 {
	@include elemHeight(510);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox7 {
		z-index: 6;
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox7 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox7 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_GroupBox7 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M5_ZadanaRychlost {
	@include elemAutoHeight(30);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M5_ZadanaRychlost {
	@include elemTop(187);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M5_ZadanaRychlost {
	@include elemLeft(239);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M5_ZadanaRychlost {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M5_ZadanaRychlost {
		z-index: 10;
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M5_ZadanaRychlost {
	&:not(.active):not(.disabled){
		border-width: 2px 4px 2px 2px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M5_ZadanaRychlost {
	input{
		font-size: 18px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NumericInput_OsZ_M5_ZadanaRychlost {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M5_AktualnaPozicia {
	@include elemAutoHeight(30);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M5_AktualnaPozicia {
	@include elemTop(187);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M5_AktualnaPozicia {
	@include elemLeft(26);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M5_AktualnaPozicia {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M5_AktualnaPozicia {
		z-index: 8;
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M5_AktualnaPozicia {
		border-width: 4px;
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M5_AktualnaPozicia {
		border-style: ridge;
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M5_AktualnaPozicia {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M5_AktualnaPozicia {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_NumericOutput_OsZ_M5_AktualnaPozicia {
	input{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
	@include elemTop(81);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
	@include elemLeft(26);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
		z-index: 0;
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
	@include border-radius(10px);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
	@include text-alignment(left);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_DOLE {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
	@include elemTop(81);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
	@include elemLeft(239);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
		z-index: 1;
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
	@include border-radius(10px);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
	@include text-alignment(left);
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M5_HORE {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList21 {
	@include elemTop(283);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList21 {
	@include elemLeft(171);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList21 {
	@include elemWidth(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList21 {
	@include elemHeight(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList21 {
		z-index: 4;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList21 {
		border-style: none;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList21 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_page2_Line5 {
		z-index: 2;
}
#AreaPageManualP1_Skrutkovanie_page2_Line5 {
	line{
		stroke-width: 2px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList22 {
	@include elemTop(338);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList22 {
	@include elemLeft(171);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList22 {
	@include elemWidth(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList22 {
	@include elemHeight(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList22 {
		z-index: 6;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList22 {
		border-style: none;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList22 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
	@include elemTop(273);
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
		z-index: 3;
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label16 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
	@include elemTop(328);
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
		z-index: 5;
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label17 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
	@include elemTop(151);
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
	@include elemLeft(11);
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
	@include elemAutoHeight(77);
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
		z-index: 7;
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
	@include text-alignment-all('center top');
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label31 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
	@include elemTop(151);
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
	@include elemLeft(224);
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
	@include elemAutoHeight(77);
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
		z-index: 9;
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
	@include text-alignment-all('center top');
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label32 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList9 {
	@include elemTop(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList9 {
	@include elemLeft(386);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList9 {
	@include elemWidth(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList9 {
	@include elemHeight(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList9 {
		z-index: 13;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList9 {
		border-style: none;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList9 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
	@include elemTop(15);
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
	@include elemLeft(224);
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
		z-index: 12;
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label19 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
	@include elemTop(15);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
	@include elemLeft(26);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
		z-index: 11;
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
	@include border-radius(10px);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
	@include text-alignment(left);
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Button_ResetServaOsZ_M5 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM5 {
	@include elemTop(328);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM5 {
	@include elemLeft(239);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM5 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM5 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM5 {
		z-index: 14;
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM5 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM5 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM5 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM5 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM5 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM5 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyM5 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList23 {
	@include elemTop(283);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList23 {
	@include elemLeft(386);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList23 {
	@include elemWidth(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList23 {
	@include elemHeight(25);
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList23 {
		z-index: 16;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList23 {
		border-style: none;
}
#AreaPageManualP1_Skrutkovanie_page2_ImageList23 {
		border-width: 0px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
	@include elemTop(273);
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
	@include elemLeft(224);
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
		z-index: 15;
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
		border-width: 2px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
	@include border-radius(5px);
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
		border-style: outset;
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
		font-size: 14px;
}
#AreaPageManualP1_Skrutkovanie_page2_Label20 {
	@include font-weight-bold(true);
}
