#AreaPageManual_Skrutkovanie_page2_ImageRR_Skrutkovanie {
  top: 0px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageRR_Skrutkovanie {
  left: 0px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageRR_Skrutkovanie {
  width: 1366px;
}

#AreaPageManual_Skrutkovanie_page2_ImageRR_Skrutkovanie {
  height: 588px;
}

#AreaPageManual_Skrutkovanie_page2_ImageRR_Skrutkovanie {
  z-index: 0;
}

#AreaPageManual_Skrutkovanie_page2_ImageRR_Skrutkovanie {
  opacity: 0.15;
}

#AreaPageManual_Skrutkovanie_page2_Label1 {
  top: 13px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label1 {
  width: 400px;
}

#AreaPageManual_Skrutkovanie_page2_Label1 {
  height: 40px;
}

#AreaPageManual_Skrutkovanie_page2_Label1 {
  z-index: 1;
}

#AreaPageManual_Skrutkovanie_page2_Label1 {
  border-width: 3px;
}

#AreaPageManual_Skrutkovanie_page2_Label1 {
  border-style: ridge;
}

#AreaPageManual_Skrutkovanie_page2_Label1:before {
  border-style: ridge;
}

#AreaPageManual_Skrutkovanie_page2_Label1:after {
  border-style: ridge;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage {
  top: 10px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage {
  left: 14px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage {
  width: 105px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage {
  height: 50px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage {
  z-index: 2;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage {
  border-style: solid;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage.active {
  border-style: solid;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage.checked {
  border-style: solid;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage.disabled {
  border-style: solid;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage:not(.active):not(.checked) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage.disabled {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage {
  border-radius: 8px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage.active.checked:not(.disabled) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage span {
  font-size: 20px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_PreviewPage.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage {
  top: 10px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage {
  left: 1245px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage {
  width: 105px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage {
  height: 50px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage {
  z-index: 3;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage {
  border-style: solid;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage.active {
  border-style: solid;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage.checked {
  border-style: solid;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage.disabled {
  border-style: solid;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage:not(.active):not(.checked) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage.disabled {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage {
  border-radius: 8px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage.active.checked:not(.disabled) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage span {
  font-size: 20px;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_NavigationButton_NextPage.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox5 {
  top: 70px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox5 {
  left: 14px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox5 {
  width: 429px;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox5 {
  height: 245px;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox5 {
  z-index: 4;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox5 {
  background-color: oldlace;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox5 > .header span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox5 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
  top: 19px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
  left: 11px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 {
  z-index: 0;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 .wrapper .before {
  font-size: 16px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30 .wrapper .after {
  font-size: 16px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK30.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
  top: 143px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
  left: 236px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 {
  z-index: 1;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 .wrapper .before {
  font-size: 16px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30 .wrapper .after {
  font-size: 16px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK30.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  top: 143px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  left: 11px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  z-index: 2;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  border-radius: 5px;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30 span {
  font-size: 16px;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK30.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Label27 {
  top: 19px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label27 {
  left: 221px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label27 {
  width: 195px;
}

#AreaPageManual_Skrutkovanie_page2_Label27 {
  height: 77px;
}

#AreaPageManual_Skrutkovanie_page2_Label27 {
  z-index: 3;
}

#AreaPageManual_Skrutkovanie_page2_Label27 {
  border-width: 2px;
}

#AreaPageManual_Skrutkovanie_page2_Label27 {
  border-radius: 5px;
}

#AreaPageManual_Skrutkovanie_page2_Label27 {
  background-color: silver;
}

#AreaPageManual_Skrutkovanie_page2_Label27 {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label27:before {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label27:after {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label27 {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label27:before {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label27:after {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label27 span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label27 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManual_Skrutkovanie_page2_Label27 {
  font-size: 14px;
}

#AreaPageManual_Skrutkovanie_page2_Label27 {
  font-weight: bold;
}

#AreaPageManual_Skrutkovanie_page2_Label12 {
  top: 81px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label12 {
  left: 11px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label12 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_Label12 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_Label12 {
  z-index: 4;
}

#AreaPageManual_Skrutkovanie_page2_Label12 {
  border-width: 2px;
}

#AreaPageManual_Skrutkovanie_page2_Label12 {
  border-radius: 5px;
}

#AreaPageManual_Skrutkovanie_page2_Label12 {
  background-color: silver;
}

#AreaPageManual_Skrutkovanie_page2_Label12 {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label12:before {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label12:after {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label12 {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label12:before {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label12:after {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label12 span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label12 {
  font-size: 14px;
}

#AreaPageManual_Skrutkovanie_page2_Label12 {
  font-weight: bold;
}

#AreaPageManual_Skrutkovanie_page2_ImageList11 {
  top: 92px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList11 {
  left: 140px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList11 {
  width: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList11 {
  height: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList11 {
  z-index: 5;
}

#AreaPageManual_Skrutkovanie_page2_ImageList11 {
  border-width: 0px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList12 {
  top: 154px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList12 {
  left: 140px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList12 {
  width: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList12 {
  height: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList12 {
  z-index: 6;
}

#AreaPageManual_Skrutkovanie_page2_ImageList12 {
  border-width: 0px;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput2 {
  height: 30px;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput2 {
  top: 55px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput2 {
  left: 236px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput2 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput2 {
  z-index: 7;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox7 {
  top: 70px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox7 {
  left: 921px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox7 {
  width: 429px;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox7 {
  height: 245px;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox7 {
  z-index: 5;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox7 {
  background-color: oldlace;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox7 > .header span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox7 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK31 {
  top: 19px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK31 {
  left: 11px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK31 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK31 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK31 {
  z-index: 0;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK31:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK31:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK31 .wrapper .before {
  font-size: 16px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK31 .wrapper .after {
  font-size: 16px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK31:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK31.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_VysunutieSkrutkovackyK31.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK31 {
  top: 143px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK31 {
  left: 236px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK31 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK31 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK31 {
  z-index: 1;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK31:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK31:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK31 .wrapper .before {
  font-size: 16px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK31 .wrapper .after {
  font-size: 16px;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK31:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK31.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_ToggleSwitch_PrisavanieSkrutkyK31.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK31 {
  top: 143px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK31 {
  left: 11px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK31 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK31 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK31 {
  z-index: 2;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK31 {
  border-radius: 5px;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK31:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK31 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK31 span {
  font-size: 16px;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK31:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK31.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Button_CistenieSkrutkovackyK31.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Label28 {
  top: 19px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label28 {
  left: 221px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label28 {
  width: 195px;
}

#AreaPageManual_Skrutkovanie_page2_Label28 {
  height: 77px;
}

#AreaPageManual_Skrutkovanie_page2_Label28 {
  z-index: 3;
}

#AreaPageManual_Skrutkovanie_page2_Label28 {
  border-width: 2px;
}

#AreaPageManual_Skrutkovanie_page2_Label28 {
  border-radius: 5px;
}

#AreaPageManual_Skrutkovanie_page2_Label28 {
  background-color: silver;
}

#AreaPageManual_Skrutkovanie_page2_Label28 {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label28:before {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label28:after {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label28 {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label28:before {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label28:after {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label28 span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label28 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManual_Skrutkovanie_page2_Label28 {
  font-size: 14px;
}

#AreaPageManual_Skrutkovanie_page2_Label28 {
  font-weight: bold;
}

#AreaPageManual_Skrutkovanie_page2_Label16 {
  top: 81px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label16 {
  left: 11px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label16 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_Label16 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_Label16 {
  z-index: 4;
}

#AreaPageManual_Skrutkovanie_page2_Label16 {
  border-width: 2px;
}

#AreaPageManual_Skrutkovanie_page2_Label16 {
  border-radius: 5px;
}

#AreaPageManual_Skrutkovanie_page2_Label16 {
  background-color: silver;
}

#AreaPageManual_Skrutkovanie_page2_Label16 {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label16:before {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label16:after {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label16 {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label16:before {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label16:after {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label16 span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label16 {
  font-size: 14px;
}

#AreaPageManual_Skrutkovanie_page2_Label16 {
  font-weight: bold;
}

#AreaPageManual_Skrutkovanie_page2_ImageList13 {
  top: 92px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList13 {
  left: 140px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList13 {
  width: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList13 {
  height: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList13 {
  z-index: 5;
}

#AreaPageManual_Skrutkovanie_page2_ImageList13 {
  border-width: 0px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList14 {
  top: 154px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList14 {
  left: 140px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList14 {
  width: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList14 {
  height: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList14 {
  z-index: 6;
}

#AreaPageManual_Skrutkovanie_page2_ImageList14 {
  border-width: 0px;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput3 {
  height: 30px;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput3 {
  top: 55px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput3 {
  left: 236px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput3 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput3 {
  z-index: 7;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox6 {
  top: 70px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox6 {
  left: 468px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox6 {
  width: 430px;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox6 {
  height: 510px;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox6 {
  z-index: 6;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox6 {
  background-color: oldlace;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox6 > .header span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_GroupBox6 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
  top: 81px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
  left: 26px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
  z-index: 0;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
  border-radius: 10px;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_DOLE.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
  top: 81px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
  left: 239px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
  z-index: 1;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
  border-radius: 10px;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_MomentaryPushButton_JoggOsZ_M4_HORE.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Line4 {
  z-index: 2;
}

#AreaPageManual_Skrutkovanie_page2_Line4 line {
  stroke-width: 2px;
}

#AreaPageManual_Skrutkovanie_page2_Label13 {
  top: 273px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label13 {
  left: 11px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label13 {
  width: 195px;
}

#AreaPageManual_Skrutkovanie_page2_Label13 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_Label13 {
  z-index: 3;
}

#AreaPageManual_Skrutkovanie_page2_Label13 {
  border-width: 2px;
}

#AreaPageManual_Skrutkovanie_page2_Label13 {
  border-radius: 5px;
}

#AreaPageManual_Skrutkovanie_page2_Label13 {
  background-color: silver;
}

#AreaPageManual_Skrutkovanie_page2_Label13 {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label13:before {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label13:after {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label13 {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label13:before {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label13:after {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label13 span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label13 {
  font-size: 14px;
}

#AreaPageManual_Skrutkovanie_page2_Label13 {
  font-weight: bold;
}

#AreaPageManual_Skrutkovanie_page2_Label14 {
  top: 328px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label14 {
  left: 11px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label14 {
  width: 195px;
}

#AreaPageManual_Skrutkovanie_page2_Label14 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_Label14 {
  z-index: 4;
}

#AreaPageManual_Skrutkovanie_page2_Label14 {
  border-width: 2px;
}

#AreaPageManual_Skrutkovanie_page2_Label14 {
  border-radius: 5px;
}

#AreaPageManual_Skrutkovanie_page2_Label14 {
  background-color: silver;
}

#AreaPageManual_Skrutkovanie_page2_Label14 {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label14:before {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label14:after {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label14 {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label14:before {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label14:after {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label14 span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label14 {
  font-size: 14px;
}

#AreaPageManual_Skrutkovanie_page2_Label14 {
  font-weight: bold;
}

#AreaPageManual_Skrutkovanie_page2_Label29 {
  top: 151px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label29 {
  left: 11px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label29 {
  width: 195px;
}

#AreaPageManual_Skrutkovanie_page2_Label29 {
  height: 77px;
}

#AreaPageManual_Skrutkovanie_page2_Label29 {
  z-index: 5;
}

#AreaPageManual_Skrutkovanie_page2_Label29 {
  border-width: 2px;
}

#AreaPageManual_Skrutkovanie_page2_Label29 {
  border-radius: 5px;
}

#AreaPageManual_Skrutkovanie_page2_Label29 {
  background-color: silver;
}

#AreaPageManual_Skrutkovanie_page2_Label29 {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label29:before {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label29:after {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label29 {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label29:before {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label29:after {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label29 span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label29 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManual_Skrutkovanie_page2_Label29 {
  font-size: 14px;
}

#AreaPageManual_Skrutkovanie_page2_Label29 {
  font-weight: bold;
}

#AreaPageManual_Skrutkovanie_page2_Label30 {
  top: 151px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label30 {
  left: 224px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label30 {
  width: 195px;
}

#AreaPageManual_Skrutkovanie_page2_Label30 {
  height: 77px;
}

#AreaPageManual_Skrutkovanie_page2_Label30 {
  z-index: 6;
}

#AreaPageManual_Skrutkovanie_page2_Label30 {
  border-width: 2px;
}

#AreaPageManual_Skrutkovanie_page2_Label30 {
  border-radius: 5px;
}

#AreaPageManual_Skrutkovanie_page2_Label30 {
  background-color: silver;
}

#AreaPageManual_Skrutkovanie_page2_Label30 {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label30:before {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label30:after {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label30 {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label30:before {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label30:after {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label30 span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label30 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManual_Skrutkovanie_page2_Label30 {
  font-size: 14px;
}

#AreaPageManual_Skrutkovanie_page2_Label30 {
  font-weight: bold;
}

#AreaPageManual_Skrutkovanie_page2_Label18 {
  top: 15px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label18 {
  left: 224px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label18 {
  width: 195px;
}

#AreaPageManual_Skrutkovanie_page2_Label18 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_Label18 {
  z-index: 8;
}

#AreaPageManual_Skrutkovanie_page2_Label18 {
  border-width: 2px;
}

#AreaPageManual_Skrutkovanie_page2_Label18 {
  border-radius: 5px;
}

#AreaPageManual_Skrutkovanie_page2_Label18 {
  background-color: silver;
}

#AreaPageManual_Skrutkovanie_page2_Label18 {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label18:before {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label18:after {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label18 {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label18:before {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label18:after {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label18 span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label18 {
  font-size: 14px;
}

#AreaPageManual_Skrutkovanie_page2_Label18 {
  font-weight: bold;
}

#AreaPageManual_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
  top: 15px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
  left: 26px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
  z-index: 7;
}

#AreaPageManual_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
  border-radius: 10px;
}

#AreaPageManual_Skrutkovanie_page2_Button_ResetServaOsZ_M4:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Button_ResetServaOsZ_M4 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManual_Skrutkovanie_page2_Button_ResetServaOsZ_M4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Button_ResetServaOsZ_M4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Button_ResetServaOsZ_M4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Label15 {
  top: 273px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label15 {
  left: 224px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Label15 {
  width: 195px;
}

#AreaPageManual_Skrutkovanie_page2_Label15 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_Label15 {
  z-index: 9;
}

#AreaPageManual_Skrutkovanie_page2_Label15 {
  border-width: 2px;
}

#AreaPageManual_Skrutkovanie_page2_Label15 {
  border-radius: 5px;
}

#AreaPageManual_Skrutkovanie_page2_Label15 {
  background-color: silver;
}

#AreaPageManual_Skrutkovanie_page2_Label15 {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label15:before {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label15:after {
  border-color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label15 {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label15:before {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label15:after {
  border-style: outset;
}

#AreaPageManual_Skrutkovanie_page2_Label15 span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Label15 {
  font-size: 14px;
}

#AreaPageManual_Skrutkovanie_page2_Label15 {
  font-weight: bold;
}

#AreaPageManual_Skrutkovanie_page2_NumericInput_7 {
  height: 30px;
}

#AreaPageManual_Skrutkovanie_page2_NumericInput_7 {
  top: 187px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_NumericInput_7 {
  left: 239px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_NumericInput_7 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_NumericInput_7 {
  z-index: 11;
}

#AreaPageManual_Skrutkovanie_page2_NumericInput_7.disabled {
  background-color: silver;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput4 {
  height: 30px;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput4 {
  top: 187px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput4 {
  left: 26px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput4 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_NumericOutput4 {
  z-index: 10;
}

#AreaPageManual_Skrutkovanie_page2_ImageList15 {
  top: 26px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList15 {
  left: 387px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList15 {
  width: 24px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList15 {
  height: 24px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList15 {
  z-index: 12;
}

#AreaPageManual_Skrutkovanie_page2_ImageList15 {
  border-width: 0px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList16 {
  top: 284px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList16 {
  left: 387px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList16 {
  width: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList16 {
  height: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList16 {
  z-index: 13;
}

#AreaPageManual_Skrutkovanie_page2_ImageList16 {
  border-width: 0px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList17 {
  top: 284px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList17 {
  left: 172px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList17 {
  width: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList17 {
  height: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList17 {
  z-index: 14;
}

#AreaPageManual_Skrutkovanie_page2_ImageList17 {
  border-width: 0px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList18 {
  top: 339px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList18 {
  left: 172px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_ImageList18 {
  width: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList18 {
  height: 25px;
}

#AreaPageManual_Skrutkovanie_page2_ImageList18 {
  z-index: 15;
}

#AreaPageManual_Skrutkovanie_page2_ImageList18 {
  border-width: 0px;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET {
  top: 399px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET {
  left: 26px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET {
  z-index: 16;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET {
  border-radius: 10px;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET {
  justify-content: center;
  text-align: center;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET1 {
  top: 399px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET1 {
  left: 239px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET1 {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET1 {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET1 {
  z-index: 17;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET1 {
  border-radius: 10px;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET1:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET1 {
  justify-content: center;
  text-align: center;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET1:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET1.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page2_Button_SET1.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
