@import "mixins.scss";
#AreaPageManualP4_FunkcnyTestB_ImagePageFunkcnyTestB {
	@include elemTop(0);
}
#AreaPageManualP4_FunkcnyTestB_ImagePageFunkcnyTestB {
	@include elemLeft(0);
}
#AreaPageManualP4_FunkcnyTestB_ImagePageFunkcnyTestB {
	@include elemAutoWidth(1366);
}
#AreaPageManualP4_FunkcnyTestB_ImagePageFunkcnyTestB {
	@include elemAutoHeight(588);
}
#AreaPageManualP4_FunkcnyTestB_ImagePageFunkcnyTestB {
		z-index: 0;
}
#AreaPageManualP4_FunkcnyTestB_ImagePageFunkcnyTestB {
		opacity: 0.15;
}
#AreaPageManualP4_FunkcnyTestB_Label1 {
	@include elemTop(13);
}
#AreaPageManualP4_FunkcnyTestB_Label1 {
	@include elemLeft(483);
}
#AreaPageManualP4_FunkcnyTestB_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageManualP4_FunkcnyTestB_Label1 {
	@include elemAutoHeight(40);
}
#AreaPageManualP4_FunkcnyTestB_Label1 {
		z-index: 1;
}
#AreaPageManualP4_FunkcnyTestB_Label1 {
		border-width: 3px;
}
#AreaPageManualP4_FunkcnyTestB_Image1 {
	@include elemTop(344);
}
#AreaPageManualP4_FunkcnyTestB_Image1 {
	@include elemLeft(1042);
}
#AreaPageManualP4_FunkcnyTestB_Image1 {
	@include elemAutoWidth(177);
}
#AreaPageManualP4_FunkcnyTestB_Image1 {
	@include elemAutoHeight(209);
}
#AreaPageManualP4_FunkcnyTestB_Image1 {
		z-index: 2;
}
#AreaPageManualP4_FunkcnyTestB_Image1 {
		background-color: rgba(220, 220, 220, 1);
}
#AreaPageManualP4_FunkcnyTestB_Image1 {
		border-style: none;
}
#AreaPageManualP4_FunkcnyTestB_GroupBox2 {
	@include elemTop(66);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox2 {
	@include elemLeft(20);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox2 {
	@include elemWidth(430);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox2 {
	@include elemHeight(250);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox2 {
		z-index: 3;
}
#AreaPageManualP4_FunkcnyTestB_GroupBox2 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox2 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_GroupBox2 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP4_FunkcnyTestB_ImageList8 {
	@include elemTop(83);
}
#AreaPageManualP4_FunkcnyTestB_ImageList8 {
	@include elemLeft(301);
}
#AreaPageManualP4_FunkcnyTestB_ImageList8 {
	@include elemWidth(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList8 {
	@include elemHeight(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList8 {
		z-index: 0;
}
#AreaPageManualP4_FunkcnyTestB_ImageList8 {
		border-width: 0px;
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz4 {
	@include elemTop(81);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz4 {
	@include elemLeft(139);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz4 {
	@include elemAutoWidth(150);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz4 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz4 {
		z-index: 1;
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz4 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz4 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz4 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_FunkcnyTestB_ImageList9 {
	@include elemTop(109);
}
#AreaPageManualP4_FunkcnyTestB_ImageList9 {
	@include elemLeft(301);
}
#AreaPageManualP4_FunkcnyTestB_ImageList9 {
	@include elemWidth(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList9 {
	@include elemHeight(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList9 {
		z-index: 2;
}
#AreaPageManualP4_FunkcnyTestB_ImageList9 {
		border-width: 0px;
}
#AreaPageManualP4_FunkcnyTestB_GroupBox4 {
	@include elemTop(326);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox4 {
	@include elemLeft(20);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox4 {
	@include elemWidth(430);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox4 {
	@include elemHeight(250);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox4 {
		z-index: 4;
}
#AreaPageManualP4_FunkcnyTestB_GroupBox4 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox4 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_GroupBox4 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper {
	@include elemTop(107);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper {
	@include elemLeft(139);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper {
	@include elemAutoWidth(150);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper {
		z-index: 0;
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
	@include elemTop(13);
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
	@include elemLeft(11);
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
		z-index: 1;
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
		border-width: 2px;
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
	@include border-radius(5px);
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
		border-style: outset;
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
		font-size: 14px;
}
#AreaPageManualP4_FunkcnyTestB_Label15 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_FunkcnyTestB_ImageList10 {
	@include elemTop(24);
}
#AreaPageManualP4_FunkcnyTestB_ImageList10 {
	@include elemLeft(171);
}
#AreaPageManualP4_FunkcnyTestB_ImageList10 {
	@include elemWidth(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList10 {
	@include elemHeight(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList10 {
		z-index: 2;
}
#AreaPageManualP4_FunkcnyTestB_ImageList10 {
		border-width: 0px;
}
#AreaPageManualP4_FunkcnyTestB_GroupBox5 {
	@include elemTop(66);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox5 {
	@include elemLeft(468);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox5 {
	@include elemWidth(430);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox5 {
	@include elemHeight(510);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox5 {
		z-index: 5;
}
#AreaPageManualP4_FunkcnyTestB_GroupBox5 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox5 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_GroupBox5 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED {
	@include elemTop(17);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED {
	@include elemLeft(26);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED {
	@include elemAutoWidth(165);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED {
		z-index: 0;
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED {
	@include border-radius(10px);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED {
	@include text-alignment(left);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD {
	@include elemTop(17);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD {
	@include elemLeft(238);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD {
	@include elemAutoWidth(165);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD {
		z-index: 1;
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD {
	@include border-radius(10px);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD {
	@include text-alignment(left);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_Line4 {
		z-index: 2;
}
#AreaPageManualP4_FunkcnyTestB_Line4 {
	line{
		stroke-width: 2px;
	}
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
	@include elemTop(287);
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
	@include elemLeft(11);
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
		z-index: 3;
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
		border-width: 2px;
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
	@include border-radius(5px);
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
		border-style: outset;
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
		font-size: 14px;
}
#AreaPageManualP4_FunkcnyTestB_Label13 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
	@include elemTop(339);
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
	@include elemLeft(11);
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
	@include elemAutoWidth(195);
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
		z-index: 4;
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
		border-width: 2px;
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
	@include border-radius(5px);
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
		border-style: outset;
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
		font-size: 14px;
}
#AreaPageManualP4_FunkcnyTestB_Label14 {
	@include font-weight-bold(true);
}
#AreaPageManualP4_FunkcnyTestB_ImageList15 {
	@include elemTop(299);
}
#AreaPageManualP4_FunkcnyTestB_ImageList15 {
	@include elemLeft(171);
}
#AreaPageManualP4_FunkcnyTestB_ImageList15 {
	@include elemWidth(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList15 {
	@include elemHeight(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList15 {
		z-index: 5;
}
#AreaPageManualP4_FunkcnyTestB_ImageList15 {
		border-width: 0px;
}
#AreaPageManualP4_FunkcnyTestB_ImageList16 {
	@include elemTop(351);
}
#AreaPageManualP4_FunkcnyTestB_ImageList16 {
	@include elemLeft(171);
}
#AreaPageManualP4_FunkcnyTestB_ImageList16 {
	@include elemWidth(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList16 {
	@include elemHeight(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList16 {
		z-index: 6;
}
#AreaPageManualP4_FunkcnyTestB_ImageList16 {
		border-width: 0px;
}
#AreaPageManualP4_FunkcnyTestB_ImageList17 {
	@include elemTop(27);
}
#AreaPageManualP4_FunkcnyTestB_ImageList17 {
	@include elemLeft(368);
}
#AreaPageManualP4_FunkcnyTestB_ImageList17 {
	@include elemWidth(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList17 {
	@include elemHeight(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList17 {
		z-index: 7;
}
#AreaPageManualP4_FunkcnyTestB_ImageList17 {
		border-width: 0px;
}
#AreaPageManualP4_FunkcnyTestB_ImageList18 {
	@include elemTop(27);
}
#AreaPageManualP4_FunkcnyTestB_ImageList18 {
	@include elemLeft(156);
}
#AreaPageManualP4_FunkcnyTestB_ImageList18 {
	@include elemWidth(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList18 {
	@include elemHeight(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList18 {
		z-index: 8;
}
#AreaPageManualP4_FunkcnyTestB_ImageList18 {
		border-width: 0px;
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD1 {
	@include elemTop(83);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD1 {
	@include elemLeft(26);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD1 {
	@include elemAutoWidth(165);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD1 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD1 {
		z-index: 9;
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD1 {
	@include border-radius(10px);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD1 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD1 {
	@include text-alignment(left);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD1 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD1 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VZAD1 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_ImageList19 {
	@include elemTop(93);
}
#AreaPageManualP4_FunkcnyTestB_ImageList19 {
	@include elemLeft(156);
}
#AreaPageManualP4_FunkcnyTestB_ImageList19 {
	@include elemWidth(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList19 {
	@include elemHeight(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList19 {
		z-index: 10;
}
#AreaPageManualP4_FunkcnyTestB_ImageList19 {
		border-width: 0px;
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper1 {
	@include elemTop(151);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper1 {
	@include elemLeft(26);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper1 {
	@include elemAutoWidth(165);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper1 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper1 {
		z-index: 11;
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper1 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper1 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper1 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper1 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper1 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper1 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper1 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz5 {
	@include elemTop(151);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz5 {
	@include elemLeft(238);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz5 {
	@include elemAutoWidth(165);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz5 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz5 {
		z-index: 12;
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz5 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz5 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz5 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz5 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz5 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz5 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_ZasunStoperPoz5 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED1 {
	@include elemTop(83);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED1 {
	@include elemLeft(238);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED1 {
	@include elemAutoWidth(165);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED1 {
	@include elemAutoHeight(45);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED1 {
		z-index: 13;
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED1 {
	@include border-radius(10px);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED1 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED1 {
	@include text-alignment(left);
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED1 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED1 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_MomentaryPushButton_JoggOsY_VPRED1 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_ImageList20 {
	@include elemTop(93);
}
#AreaPageManualP4_FunkcnyTestB_ImageList20 {
	@include elemLeft(368);
}
#AreaPageManualP4_FunkcnyTestB_ImageList20 {
	@include elemWidth(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList20 {
	@include elemHeight(25);
}
#AreaPageManualP4_FunkcnyTestB_ImageList20 {
		z-index: 14;
}
#AreaPageManualP4_FunkcnyTestB_ImageList20 {
		border-width: 0px;
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper3 {
	@include elemTop(223);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper3 {
	@include elemLeft(26);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper3 {
	@include elemAutoWidth(165);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper3 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper3 {
		z-index: 15;
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper3 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper3 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper3 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper3 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper3 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper3 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper3 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_GroupBox3 {
	@include elemTop(66);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox3 {
	@include elemLeft(918);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox3 {
	@include elemWidth(430);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox3 {
	@include elemHeight(250);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox3 {
		z-index: 6;
}
#AreaPageManualP4_FunkcnyTestB_GroupBox3 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP4_FunkcnyTestB_GroupBox3 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_GroupBox3 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper2 {
	@include elemTop(61);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper2 {
	@include elemLeft(132);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper2 {
	@include elemAutoWidth(165);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper2 {
	@include elemAutoHeight(50);
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper2 {
		z-index: 0;
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper2 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper2 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper2 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper2 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper2 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper2 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP4_FunkcnyTestB_ToggleSwitch_Stoper2 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
