@import "mixins.scss";
#AreaPageManualMainP1_Image1 {
	@include elemTop(0);
}
#AreaPageManualMainP1_Image1 {
	@include elemLeft(0);
}
#AreaPageManualMainP1_Image1 {
	@include elemAutoWidth(1366);
}
#AreaPageManualMainP1_Image1 {
	@include elemAutoHeight(588);
}
#AreaPageManualMainP1_Image1 {
		z-index: 0;
}
#AreaPageManualMainP1_Image1 {
		opacity: 0.2;
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	@include elemTop(385);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	@include elemLeft(65);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	@include elemAutoWidth(320);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	@include elemAutoHeight(70);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
		z-index: 4;
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	img{
	@include imageHeight(55);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	svg{
	@include imageHeight(55);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
		border-style: solid;
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&.active{
		border-style: solid;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&.checked{
		border-style: solid;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&:not(.active):not(.checked){
		border-width: 3px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&.disabled{
		border-width: 3px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	@include border-radius(5px);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('');
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&:not(.disabled):not(.checked){
		border-color: rgba(0, 128, 0, 1);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&.active.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	span{
		font-size: 20px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	@include elemTop(380);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	@include elemLeft(970);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	@include elemAutoWidth(320);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	@include elemAutoHeight(70);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
		z-index: 3;
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	img{
	@include imageHeight(55);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	svg{
	@include imageHeight(55);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
		border-style: solid;
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&.active{
		border-style: solid;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&.checked{
		border-style: solid;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&:not(.active):not(.checked){
		border-width: 3px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&.disabled{
		border-width: 3px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	@include border-radius(5px);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('');
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&:not(.disabled):not(.checked){
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&.active.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	span{
		font-size: 20px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	@include elemTop(485);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	@include elemLeft(523);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	@include elemAutoWidth(320);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	@include elemAutoHeight(70);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
		z-index: 5;
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	img{
	@include imageHeight(55);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	svg{
	@include imageHeight(55);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
		border-style: solid;
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&.active{
		border-style: solid;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&.checked{
		border-style: solid;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&:not(.active):not(.checked){
		border-width: 3px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&.disabled{
		border-width: 3px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	@include border-radius(8px);
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('');
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&:not(.disabled):not(.checked){
		border-color: rgba(255, 117, 26, 1);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&.active.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	span{
		font-size: 20px;
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualMainP1_Label2 {
	@include elemTop(13);
}
#AreaPageManualMainP1_Label2 {
	@include elemLeft(483);
}
#AreaPageManualMainP1_Label2 {
	@include elemAutoWidth(400);
}
#AreaPageManualMainP1_Label2 {
	@include elemAutoHeight(40);
}
#AreaPageManualMainP1_Label2 {
		z-index: 1;
}
#AreaPageManualMainP1_Label2 {
		border-width: 3px;
}
#AreaPageManualMainP1_Label2 {
	@include border-radius(3px);
}
#AreaPageManualMainP1_Label2 {
		background-color: rgba(224, 224, 224, 1);
}
#AreaPageManualMainP1_Label2 {
		border-style: ridge;
}
#AreaPageManualMainP1_Label2 {
	&:before{
		border-style: ridge;
	}
}
#AreaPageManualMainP1_Label2 {
	&:after{
		border-style: ridge;
	}
}
#AreaPageManualMainP1_Label2 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualMainP1_Label2 {
	@include text-alignment-all('center');
}
#AreaPageManualMainP1_Label2 {
		font-size: 22px;
}
#AreaPageManualMainP1_Label2 {
	@include font-weight-bold(true);
}
#AreaPageManualMainP1_Label2 {
	@include box-shadow(2px 2px 15px rgba(0, 0, 0, 1));
}
#AreaPageManualMainP1_Image2 {
	@include elemTop(55);
}
#AreaPageManualMainP1_Image2 {
	@include elemLeft(12);
}
#AreaPageManualMainP1_Image2 {
	@include elemAutoWidth(1342);
}
#AreaPageManualMainP1_Image2 {
	@include elemAutoHeight(500);
}
#AreaPageManualMainP1_Image2 {
		z-index: 2;
}
#AreaPageManualMainP1_Rectangle1 {
	@include elemTop(295);
}
#AreaPageManualMainP1_Rectangle1 {
	@include elemLeft(425);
}
#AreaPageManualMainP1_Rectangle1 {
	@include elemWidth(170);
}
#AreaPageManualMainP1_Rectangle1 {
	@include elemHeight(145);
}
#AreaPageManualMainP1_Rectangle1 {
		z-index: 6;
}
#AreaPageManualMainP1_Rectangle1 {
		border-style: solid;
}
#AreaPageManualMainP1_Rectangle1 {
		border-width: 4px;
}
#AreaPageManualMainP1_Rectangle1 {
	@include border-radius(5px);
}
#AreaPageManualMainP1_Rectangle1 {
		border-color: rgba(0, 128, 0, 1);
}
#AreaPageManualMainP1_Rectangle2 {
	@include elemTop(155);
}
#AreaPageManualMainP1_Rectangle2 {
	@include elemLeft(600);
}
#AreaPageManualMainP1_Rectangle2 {
	@include elemWidth(230);
}
#AreaPageManualMainP1_Rectangle2 {
	@include elemHeight(300);
}
#AreaPageManualMainP1_Rectangle2 {
		z-index: 7;
}
#AreaPageManualMainP1_Rectangle2 {
		border-style: solid;
}
#AreaPageManualMainP1_Rectangle2 {
		border-width: 4px;
}
#AreaPageManualMainP1_Rectangle2 {
	@include border-radius(5px);
}
#AreaPageManualMainP1_Rectangle2 {
		border-color: rgba(255, 117, 26, 1);
}
