@import "mixins.scss";
#AreaHlasenie2_ST1_GroupBox1 {
	@include elemTop(0);
}
#AreaHlasenie2_ST1_GroupBox1 {
	@include elemLeft(0);
}
#AreaHlasenie2_ST1_GroupBox1 {
	@include elemWidth(500);
}
#AreaHlasenie2_ST1_GroupBox1 {
	@include elemHeight(520);
}
#AreaHlasenie2_ST1_GroupBox1 {
		z-index: 0;
}
#AreaHlasenie2_ST1_GroupBox1 {
		border-width: 6px;
}
#AreaHlasenie2_ST1_GroupBox1 {
	> .header{
		border-width: 6px;
	}
}
#AreaHlasenie2_ST1_GroupBox1 {
	@include border-radius(0px 0px 0px 0px);
}
#AreaHlasenie2_ST1_GroupBox1 {
		background-color: rgba(255, 192, 128, 1);
}
#AreaHlasenie2_ST1_GroupBox1 {
		border-style: solid;
}
#AreaHlasenie2_ST1_GroupBox1 {
	> .header{
		border-bottom-style: solid;
	}
}
#AreaHlasenie2_ST1_Image1 {
	@include elemTop(10);
}
#AreaHlasenie2_ST1_Image1 {
	@include elemLeft(10);
}
#AreaHlasenie2_ST1_Image1 {
	@include elemAutoWidth(80);
}
#AreaHlasenie2_ST1_Image1 {
	@include elemAutoHeight(80);
}
#AreaHlasenie2_ST1_Image1 {
		z-index: 0;
}
#AreaHlasenie2_ST1_Image1 {
	@include border-radius(50px);
}
#AreaHlasenie2_ST1_Image1 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
#AreaHlasenie2_ST1_Label1 {
	@include elemTop(26);
}
#AreaHlasenie2_ST1_Label1 {
	@include elemLeft(96);
}
#AreaHlasenie2_ST1_Label1 {
	@include elemAutoWidth(380);
}
#AreaHlasenie2_ST1_Label1 {
	@include elemAutoHeight(50);
}
#AreaHlasenie2_ST1_Label1 {
		z-index: 1;
}
#AreaHlasenie2_ST1_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie2_ST1_Label1 {
	@include text-alignment-all('center');
}
#AreaHlasenie2_ST1_Label1 {
		font-size: 25px;
}
#AreaHlasenie2_ST1_Label1 {
	@include font-weight-bold(true);
}
#AreaHlasenie2_ST1_Label1 {
	span{
	@include text-decoration-underline(true);
	}
}
#AreaHlasenie2_ST1_Image2 {
	@include elemTop(96);
}
#AreaHlasenie2_ST1_Image2 {
	@include elemLeft(46);
}
#AreaHlasenie2_ST1_Image2 {
	@include elemAutoWidth(400);
}
#AreaHlasenie2_ST1_Image2 {
	@include elemAutoHeight(400);
}
#AreaHlasenie2_ST1_Image2 {
		z-index: 2;
}
#AreaHlasenie2_ST1_Image2 {
		border-width: 0px;
}
#AreaHlasenie2_ST1_ImageList4 {
	@include elemTop(262);
}
#AreaHlasenie2_ST1_ImageList4 {
	@include elemLeft(326);
}
#AreaHlasenie2_ST1_ImageList4 {
	@include elemWidth(32);
}
#AreaHlasenie2_ST1_ImageList4 {
	@include elemHeight(32);
}
#AreaHlasenie2_ST1_ImageList4 {
		z-index: 3;
}
#AreaHlasenie2_ST1_ImageList4 {
	@include border-radius(20px);
}
#AreaHlasenie2_ST1_ImageList4 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
#AreaHlasenie2_ST1_ImageList5 {
	@include elemTop(358);
}
#AreaHlasenie2_ST1_ImageList5 {
	@include elemLeft(342);
}
#AreaHlasenie2_ST1_ImageList5 {
	@include elemWidth(32);
}
#AreaHlasenie2_ST1_ImageList5 {
	@include elemHeight(32);
}
#AreaHlasenie2_ST1_ImageList5 {
		z-index: 4;
}
#AreaHlasenie2_ST1_ImageList5 {
	@include border-radius(20px);
}
#AreaHlasenie2_ST1_ImageList5 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
#AreaHlasenie2_ST1_ImageList6 {
	@include elemTop(274);
}
#AreaHlasenie2_ST1_ImageList6 {
	@include elemLeft(390);
}
#AreaHlasenie2_ST1_ImageList6 {
	@include elemWidth(32);
}
#AreaHlasenie2_ST1_ImageList6 {
	@include elemHeight(32);
}
#AreaHlasenie2_ST1_ImageList6 {
		z-index: 5;
}
#AreaHlasenie2_ST1_ImageList6 {
	@include border-radius(20px);
}
#AreaHlasenie2_ST1_ImageList6 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
#AreaHlasenie2_ST1_ImageList7 {
	@include elemTop(201);
}
#AreaHlasenie2_ST1_ImageList7 {
	@include elemLeft(176);
}
#AreaHlasenie2_ST1_ImageList7 {
	@include elemWidth(32);
}
#AreaHlasenie2_ST1_ImageList7 {
	@include elemHeight(32);
}
#AreaHlasenie2_ST1_ImageList7 {
		z-index: 6;
}
#AreaHlasenie2_ST1_ImageList7 {
	@include border-radius(20px);
}
#AreaHlasenie2_ST1_ImageList7 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
#AreaHlasenie2_ST1_ImageList8 {
	@include elemTop(276);
}
#AreaHlasenie2_ST1_ImageList8 {
	@include elemLeft(146);
}
#AreaHlasenie2_ST1_ImageList8 {
	@include elemWidth(32);
}
#AreaHlasenie2_ST1_ImageList8 {
	@include elemHeight(32);
}
#AreaHlasenie2_ST1_ImageList8 {
		z-index: 7;
}
#AreaHlasenie2_ST1_ImageList8 {
	@include border-radius(20px);
}
#AreaHlasenie2_ST1_ImageList8 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
#AreaHlasenie2_ST1_Button_IgnorujKameru {
	@include elemTop(111);
}
#AreaHlasenie2_ST1_Button_IgnorujKameru {
	@include elemLeft(61);
}
#AreaHlasenie2_ST1_Button_IgnorujKameru {
	@include elemAutoWidth(150);
}
#AreaHlasenie2_ST1_Button_IgnorujKameru {
	@include elemAutoHeight(45);
}
#AreaHlasenie2_ST1_Button_IgnorujKameru {
		z-index: 8;
}
#AreaHlasenie2_ST1_Button_IgnorujKameru {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie2_ST1_Button_IgnorujKameru {
	span{
		font-size: 16px;
	}
}
#AreaHlasenie2_ST1_Button_IgnorujKameru {
	&:not(.active):not(.checked){
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie2_ST1_Button_IgnorujKameru {
	&.disabled.active{
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie2_ST1_Button_IgnorujKameru {
	&.disabled.checked{
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie2_ST1_ImageList9 {
	@include elemTop(358);
}
#AreaHlasenie2_ST1_ImageList9 {
	@include elemLeft(384);
}
#AreaHlasenie2_ST1_ImageList9 {
	@include elemWidth(32);
}
#AreaHlasenie2_ST1_ImageList9 {
	@include elemHeight(32);
}
#AreaHlasenie2_ST1_ImageList9 {
		z-index: 9;
}
#AreaHlasenie2_ST1_ImageList9 {
	@include border-radius(20px);
}
#AreaHlasenie2_ST1_ImageList9 {
	@include box-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}
