@import "mixins.scss";
#AreaPageManualP1_Dopravniky_Image1 {
	@include elemTop(0);
}
#AreaPageManualP1_Dopravniky_Image1 {
	@include elemLeft(0);
}
#AreaPageManualP1_Dopravniky_Image1 {
	@include elemAutoWidth(1366);
}
#AreaPageManualP1_Dopravniky_Image1 {
	@include elemAutoHeight(588);
}
#AreaPageManualP1_Dopravniky_Image1 {
		z-index: 0;
}
#AreaPageManualP1_Dopravniky_Image1 {
		opacity: 0.2;
}
#AreaPageManualP1_Dopravniky_Label1 {
	@include elemTop(13);
}
#AreaPageManualP1_Dopravniky_Label1 {
	@include elemLeft(483);
}
#AreaPageManualP1_Dopravniky_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageManualP1_Dopravniky_Label1 {
	@include elemAutoHeight(40);
}
#AreaPageManualP1_Dopravniky_Label1 {
		z-index: 1;
}
#AreaPageManualP1_Dopravniky_Label1 {
		border-width: 3px;
}
#AreaPageManualP1_Dopravniky_Image2 {
	@include elemTop(75);
}
#AreaPageManualP1_Dopravniky_Image2 {
	@include elemLeft(12);
}
#AreaPageManualP1_Dopravniky_Image2 {
	@include elemAutoWidth(1342);
}
#AreaPageManualP1_Dopravniky_Image2 {
	@include elemAutoHeight(500);
}
#AreaPageManualP1_Dopravniky_Image2 {
		z-index: 2;
}
#AreaPageManualP1_Dopravniky_Image2 {
		background-color: rgba(224, 224, 224, 1);
}
#AreaPageManualP1_Dopravniky_Image2 {
		border-style: hidden;
}
#AreaPageManualP1_Dopravniky_Image2 {
		border-width: 2px;
}
#AreaPageManualP1_Dopravniky_ImageList2 {
	@include elemTop(220);
}
#AreaPageManualP1_Dopravniky_ImageList2 {
	@include elemLeft(645);
}
#AreaPageManualP1_Dopravniky_ImageList2 {
	@include elemWidth(24);
}
#AreaPageManualP1_Dopravniky_ImageList2 {
	@include elemHeight(24);
}
#AreaPageManualP1_Dopravniky_ImageList2 {
		z-index: 3;
}
#AreaPageManualP1_Dopravniky_ImageList2 {
		border-width: 0px;
}
#AreaPageManualP1_Dopravniky_ImageList3 {
	@include elemTop(220);
}
#AreaPageManualP1_Dopravniky_ImageList3 {
	@include elemLeft(835);
}
#AreaPageManualP1_Dopravniky_ImageList3 {
	@include elemWidth(24);
}
#AreaPageManualP1_Dopravniky_ImageList3 {
	@include elemHeight(24);
}
#AreaPageManualP1_Dopravniky_ImageList3 {
		z-index: 4;
}
#AreaPageManualP1_Dopravniky_ImageList3 {
		border-width: 0px;
}
#AreaPageManualP1_Dopravniky_ImageList4 {
	@include elemTop(400);
}
#AreaPageManualP1_Dopravniky_ImageList4 {
	@include elemLeft(545);
}
#AreaPageManualP1_Dopravniky_ImageList4 {
	@include elemWidth(24);
}
#AreaPageManualP1_Dopravniky_ImageList4 {
	@include elemHeight(24);
}
#AreaPageManualP1_Dopravniky_ImageList4 {
		z-index: 5;
}
#AreaPageManualP1_Dopravniky_ImageList4 {
		border-width: 0px;
}
#AreaPageManualP1_Dopravniky_ImageList5 {
	@include elemTop(400);
}
#AreaPageManualP1_Dopravniky_ImageList5 {
	@include elemLeft(925);
}
#AreaPageManualP1_Dopravniky_ImageList5 {
	@include elemWidth(24);
}
#AreaPageManualP1_Dopravniky_ImageList5 {
	@include elemHeight(24);
}
#AreaPageManualP1_Dopravniky_ImageList5 {
		z-index: 6;
}
#AreaPageManualP1_Dopravniky_ImageList5 {
		border-width: 0px;
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	@include elemTop(220);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	@include elemLeft(160);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	@include elemAutoWidth(180);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	@include elemAutoHeight(50);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
		z-index: 7;
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	.wrapper .before{
		font-size: 14px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	.wrapper .after{
		font-size: 14px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	@include elemTop(410);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	@include elemLeft(980);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	@include elemAutoWidth(180);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	@include elemAutoHeight(50);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
		z-index: 8;
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	.wrapper .before{
		font-size: 14px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	.wrapper .after{
		font-size: 14px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP1_Dopravniky_ImageList6 {
	@include elemTop(165);
}
#AreaPageManualP1_Dopravniky_ImageList6 {
	@include elemLeft(680);
}
#AreaPageManualP1_Dopravniky_ImageList6 {
	@include elemWidth(24);
}
#AreaPageManualP1_Dopravniky_ImageList6 {
	@include elemHeight(24);
}
#AreaPageManualP1_Dopravniky_ImageList6 {
		z-index: 10;
}
#AreaPageManualP1_Dopravniky_ImageList6 {
		border-width: 0px;
}
#AreaPageManualP1_Dopravniky_ImageList7 {
	@include elemTop(140);
}
#AreaPageManualP1_Dopravniky_ImageList7 {
	@include elemLeft(680);
}
#AreaPageManualP1_Dopravniky_ImageList7 {
	@include elemWidth(24);
}
#AreaPageManualP1_Dopravniky_ImageList7 {
	@include elemHeight(24);
}
#AreaPageManualP1_Dopravniky_ImageList7 {
		z-index: 9;
}
#AreaPageManualP1_Dopravniky_ImageList7 {
		border-width: 0px;
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
	@include elemTop(140);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
	@include elemLeft(525);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
	@include elemAutoWidth(150);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
	@include elemAutoHeight(50);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
		z-index: 17;
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
	&.disabled.active{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 10px rgba(62, 79, 92, 0.75));
	}
}
#AreaPageManualP1_Dopravniky_Rectangle1 {
	@include elemTop(130);
}
#AreaPageManualP1_Dopravniky_Rectangle1 {
	@include elemLeft(515);
}
#AreaPageManualP1_Dopravniky_Rectangle1 {
	@include elemWidth(205);
}
#AreaPageManualP1_Dopravniky_Rectangle1 {
	@include elemHeight(230);
}
#AreaPageManualP1_Dopravniky_Rectangle1 {
		z-index: 16;
}
#AreaPageManualP1_Dopravniky_Rectangle1 {
		border-style: solid;
}
#AreaPageManualP1_Dopravniky_Rectangle1 {
		border-width: 4px;
}
#AreaPageManualP1_Dopravniky_Rectangle1 {
	@include border-radius(5px);
}
#AreaPageManualP1_Dopravniky_Rectangle1 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Dopravniky_Label2 {
	@include elemAutoHeight(30);
}
#AreaPageManualP1_Dopravniky_Label2 {
	@include elemTop(100);
}
#AreaPageManualP1_Dopravniky_Label2 {
	@include elemLeft(565);
}
#AreaPageManualP1_Dopravniky_Label2 {
	@include elemAutoWidth(105);
}
#AreaPageManualP1_Dopravniky_Label2 {
		z-index: 11;
}
#AreaPageManualP1_Dopravniky_Label2 {
		border-width: 1px;
}
#AreaPageManualP1_Dopravniky_Label2 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_Label2 {
	@include text-alignment-all('center');
}
#AreaPageManualP1_Dopravniky_Label2 {
		font-size: 18px;
}
#AreaPageManualP1_Dopravniky_Label2 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Dopravniky_Rectangle2 {
	@include elemTop(130);
}
#AreaPageManualP1_Dopravniky_Rectangle2 {
	@include elemLeft(780);
}
#AreaPageManualP1_Dopravniky_Rectangle2 {
	@include elemWidth(205);
}
#AreaPageManualP1_Dopravniky_Rectangle2 {
	@include elemHeight(230);
}
#AreaPageManualP1_Dopravniky_Rectangle2 {
		z-index: 12;
}
#AreaPageManualP1_Dopravniky_Rectangle2 {
		border-style: solid;
}
#AreaPageManualP1_Dopravniky_Rectangle2 {
		border-width: 4px;
}
#AreaPageManualP1_Dopravniky_Rectangle2 {
	@include border-radius(5px);
}
#AreaPageManualP1_Dopravniky_Rectangle2 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Dopravniky_Label3 {
	@include elemAutoHeight(30);
}
#AreaPageManualP1_Dopravniky_Label3 {
	@include elemTop(100);
}
#AreaPageManualP1_Dopravniky_Label3 {
	@include elemLeft(790);
}
#AreaPageManualP1_Dopravniky_Label3 {
	@include elemAutoWidth(185);
}
#AreaPageManualP1_Dopravniky_Label3 {
		z-index: 13;
}
#AreaPageManualP1_Dopravniky_Label3 {
		border-width: 1px;
}
#AreaPageManualP1_Dopravniky_Label3 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_Label3 {
	@include text-alignment-all('center');
}
#AreaPageManualP1_Dopravniky_Label3 {
		font-size: 18px;
}
#AreaPageManualP1_Dopravniky_Label3 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Dopravniky_Rectangle3 {
	@include elemTop(380);
}
#AreaPageManualP1_Dopravniky_Rectangle3 {
	@include elemLeft(336);
}
#AreaPageManualP1_Dopravniky_Rectangle3 {
	@include elemWidth(255);
}
#AreaPageManualP1_Dopravniky_Rectangle3 {
	@include elemHeight(165);
}
#AreaPageManualP1_Dopravniky_Rectangle3 {
		z-index: 14;
}
#AreaPageManualP1_Dopravniky_Rectangle3 {
		border-style: solid;
}
#AreaPageManualP1_Dopravniky_Rectangle3 {
		border-width: 4px;
}
#AreaPageManualP1_Dopravniky_Rectangle3 {
	@include border-radius(5px);
}
#AreaPageManualP1_Dopravniky_Rectangle3 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Dopravniky_Label4 {
	@include elemAutoHeight(30);
}
#AreaPageManualP1_Dopravniky_Label4 {
	@include elemTop(545);
}
#AreaPageManualP1_Dopravniky_Label4 {
	@include elemLeft(388);
}
#AreaPageManualP1_Dopravniky_Label4 {
	@include elemAutoWidth(150);
}
#AreaPageManualP1_Dopravniky_Label4 {
		z-index: 15;
}
#AreaPageManualP1_Dopravniky_Label4 {
		border-width: 1px;
}
#AreaPageManualP1_Dopravniky_Label4 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_Label4 {
	@include text-alignment-all('center');
}
#AreaPageManualP1_Dopravniky_Label4 {
		font-size: 18px;
}
#AreaPageManualP1_Dopravniky_Label4 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	@include elemTop(480);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	@include elemLeft(370);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	@include elemAutoWidth(150);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	@include elemAutoHeight(50);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
		z-index: 18;
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	@include elemTop(300);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	@include elemLeft(525);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	@include elemAutoWidth(150);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	@include elemAutoHeight(50);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
		z-index: 19;
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
	@include elemTop(300);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
	@include elemLeft(790);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
	@include elemAutoWidth(150);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
	@include elemAutoHeight(50);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
		z-index: 20;
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
	.wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
	.wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
