#AreaPageManualP1_Dopravniky_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Image1 {
  width: 1366px;
}

#AreaPageManualP1_Dopravniky_Image1 {
  height: 588px;
}

#AreaPageManualP1_Dopravniky_Image1 {
  z-index: 0;
}

#AreaPageManualP1_Dopravniky_Image1 {
  opacity: 0.2;
}

#AreaPageManualP1_Dopravniky_Label1 {
  top: 13px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Label1 {
  width: 400px;
}

#AreaPageManualP1_Dopravniky_Label1 {
  height: 40px;
}

#AreaPageManualP1_Dopravniky_Label1 {
  z-index: 1;
}

#AreaPageManualP1_Dopravniky_Label1 {
  border-width: 3px;
}

#AreaPageManualP1_Dopravniky_Image2 {
  top: 75px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Image2 {
  left: 12px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Image2 {
  width: 1342px;
}

#AreaPageManualP1_Dopravniky_Image2 {
  height: 500px;
}

#AreaPageManualP1_Dopravniky_Image2 {
  z-index: 2;
}

#AreaPageManualP1_Dopravniky_Image2 {
  background-color: #e0e0e0;
}

#AreaPageManualP1_Dopravniky_Image2 {
  border-style: hidden;
}

#AreaPageManualP1_Dopravniky_Image2 {
  border-width: 2px;
}

#AreaPageManualP1_Dopravniky_ImageList2 {
  top: 220px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ImageList2 {
  left: 645px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ImageList2 {
  width: 25px;
}

#AreaPageManualP1_Dopravniky_ImageList2 {
  height: 25px;
}

#AreaPageManualP1_Dopravniky_ImageList2 {
  z-index: 3;
}

#AreaPageManualP1_Dopravniky_ImageList2 {
  border-width: 0px;
}

#AreaPageManualP1_Dopravniky_ImageList3 {
  top: 220px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ImageList3 {
  left: 835px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ImageList3 {
  width: 25px;
}

#AreaPageManualP1_Dopravniky_ImageList3 {
  height: 25px;
}

#AreaPageManualP1_Dopravniky_ImageList3 {
  z-index: 4;
}

#AreaPageManualP1_Dopravniky_ImageList3 {
  border-width: 0px;
}

#AreaPageManualP1_Dopravniky_ImageList4 {
  top: 400px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ImageList4 {
  left: 545px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ImageList4 {
  width: 25px;
}

#AreaPageManualP1_Dopravniky_ImageList4 {
  height: 25px;
}

#AreaPageManualP1_Dopravniky_ImageList4 {
  z-index: 5;
}

#AreaPageManualP1_Dopravniky_ImageList4 {
  border-width: 0px;
}

#AreaPageManualP1_Dopravniky_ImageList5 {
  top: 400px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ImageList5 {
  left: 925px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ImageList5 {
  width: 25px;
}

#AreaPageManualP1_Dopravniky_ImageList5 {
  height: 25px;
}

#AreaPageManualP1_Dopravniky_ImageList5 {
  z-index: 6;
}

#AreaPageManualP1_Dopravniky_ImageList5 {
  border-width: 0px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
  top: 220px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
  left: 160px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
  width: 180px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
  height: 50px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
  z-index: 7;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  top: 410px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  left: 980px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  width: 180px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  height: 50px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  z-index: 8;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP1_Dopravniky_ImageList6 {
  top: 168px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ImageList6 {
  left: 680px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ImageList6 {
  width: 25px;
}

#AreaPageManualP1_Dopravniky_ImageList6 {
  height: 25px;
}

#AreaPageManualP1_Dopravniky_ImageList6 {
  z-index: 10;
}

#AreaPageManualP1_Dopravniky_ImageList6 {
  border-width: 0px;
}

#AreaPageManualP1_Dopravniky_ImageList7 {
  top: 140px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ImageList7 {
  left: 680px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ImageList7 {
  width: 25px;
}

#AreaPageManualP1_Dopravniky_ImageList7 {
  height: 25px;
}

#AreaPageManualP1_Dopravniky_ImageList7 {
  z-index: 9;
}

#AreaPageManualP1_Dopravniky_ImageList7 {
  border-width: 0px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
  top: 140px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
  left: 525px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
  width: 150px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
  height: 50px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 {
  z-index: 17;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_ZasunStoperPoz4.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP1_Dopravniky_Rectangle1 {
  top: 130px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Rectangle1 {
  left: 515px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Rectangle1 {
  width: 205px;
}

#AreaPageManualP1_Dopravniky_Rectangle1 {
  height: 230px;
}

#AreaPageManualP1_Dopravniky_Rectangle1 {
  z-index: 16;
}

#AreaPageManualP1_Dopravniky_Rectangle1 {
  border-style: solid;
}

#AreaPageManualP1_Dopravniky_Rectangle1 {
  border-width: 4px;
}

#AreaPageManualP1_Dopravniky_Rectangle1 {
  border-radius: 5px;
}

#AreaPageManualP1_Dopravniky_Rectangle1 {
  border-color: black;
}

#AreaPageManualP1_Dopravniky_Label2 {
  height: 30px;
}

#AreaPageManualP1_Dopravniky_Label2 {
  top: 100px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Label2 {
  left: 565px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Label2 {
  width: 105px;
}

#AreaPageManualP1_Dopravniky_Label2 {
  z-index: 11;
}

#AreaPageManualP1_Dopravniky_Label2 {
  border-width: 1px;
}

#AreaPageManualP1_Dopravniky_Label2 span {
  color: black;
}

#AreaPageManualP1_Dopravniky_Label2 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP1_Dopravniky_Label2 {
  font-size: 18px;
}

#AreaPageManualP1_Dopravniky_Label2 {
  font-weight: bold;
}

#AreaPageManualP1_Dopravniky_Rectangle2 {
  top: 130px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Rectangle2 {
  left: 780px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Rectangle2 {
  width: 205px;
}

#AreaPageManualP1_Dopravniky_Rectangle2 {
  height: 230px;
}

#AreaPageManualP1_Dopravniky_Rectangle2 {
  z-index: 12;
}

#AreaPageManualP1_Dopravniky_Rectangle2 {
  border-style: solid;
}

#AreaPageManualP1_Dopravniky_Rectangle2 {
  border-width: 4px;
}

#AreaPageManualP1_Dopravniky_Rectangle2 {
  border-radius: 5px;
}

#AreaPageManualP1_Dopravniky_Rectangle2 {
  border-color: black;
}

#AreaPageManualP1_Dopravniky_Label3 {
  height: 30px;
}

#AreaPageManualP1_Dopravniky_Label3 {
  top: 100px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Label3 {
  left: 790px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Label3 {
  width: 185px;
}

#AreaPageManualP1_Dopravniky_Label3 {
  z-index: 13;
}

#AreaPageManualP1_Dopravniky_Label3 {
  border-width: 1px;
}

#AreaPageManualP1_Dopravniky_Label3 span {
  color: black;
}

#AreaPageManualP1_Dopravniky_Label3 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP1_Dopravniky_Label3 {
  font-size: 18px;
}

#AreaPageManualP1_Dopravniky_Label3 {
  font-weight: bold;
}

#AreaPageManualP1_Dopravniky_Rectangle3 {
  top: 380px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Rectangle3 {
  left: 336px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Rectangle3 {
  width: 255px;
}

#AreaPageManualP1_Dopravniky_Rectangle3 {
  height: 165px;
}

#AreaPageManualP1_Dopravniky_Rectangle3 {
  z-index: 14;
}

#AreaPageManualP1_Dopravniky_Rectangle3 {
  border-style: solid;
}

#AreaPageManualP1_Dopravniky_Rectangle3 {
  border-width: 4px;
}

#AreaPageManualP1_Dopravniky_Rectangle3 {
  border-radius: 5px;
}

#AreaPageManualP1_Dopravniky_Rectangle3 {
  border-color: black;
}

#AreaPageManualP1_Dopravniky_Label4 {
  height: 30px;
}

#AreaPageManualP1_Dopravniky_Label4 {
  top: 545px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Label4 {
  left: 388px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_Label4 {
  width: 150px;
}

#AreaPageManualP1_Dopravniky_Label4 {
  z-index: 15;
}

#AreaPageManualP1_Dopravniky_Label4 {
  border-width: 1px;
}

#AreaPageManualP1_Dopravniky_Label4 span {
  color: black;
}

#AreaPageManualP1_Dopravniky_Label4 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP1_Dopravniky_Label4 {
  font-size: 18px;
}

#AreaPageManualP1_Dopravniky_Label4 {
  font-weight: bold;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
  top: 480px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
  left: 370px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
  width: 150px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
  height: 50px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
  z-index: 18;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
  top: 300px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
  left: 525px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
  width: 150px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
  height: 50px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
  z-index: 19;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
  top: 300px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
  left: 790px;
  position: absolute;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
  width: 150px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
  height: 50px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 {
  z-index: 20;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper2.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
