#AreaLoginP34_RectangleLogin {
  top: 0px;
  position: absolute;
}

#AreaLoginP34_RectangleLogin {
  left: 0px;
  position: absolute;
}

#AreaLoginP34_RectangleLogin {
  width: 500px;
}

#AreaLoginP34_RectangleLogin {
  height: 350px;
}

#AreaLoginP34_RectangleLogin {
  z-index: 0;
}

#AreaLoginP34_RectangleLogin {
  border-width: 2px;
}

#AreaLoginP34_RectangleLogin {
  border-radius: 10px;
}

#AreaLoginP34_RectangleLogin {
  background-color: #99b4d1;
}

#AreaLoginP34_ImageLogin {
  top: 10px;
  position: absolute;
}

#AreaLoginP34_ImageLogin {
  left: 20px;
  position: absolute;
}

#AreaLoginP34_ImageLogin {
  width: 60px;
}

#AreaLoginP34_ImageLogin {
  height: 60px;
}

#AreaLoginP34_ImageLogin {
  z-index: 1;
}

#AreaLoginP34_ImageLogin {
  box-shadow: 2px 2px 10px black;
}

#AreaLoginP34_TextOutput1 {
  top: 15px;
  position: absolute;
}

#AreaLoginP34_TextOutput1 {
  left: 130px;
  position: absolute;
}

#AreaLoginP34_TextOutput1 {
  width: 240px;
}

#AreaLoginP34_TextOutput1 {
  height: 50px;
}

#AreaLoginP34_TextOutput1 {
  z-index: 2;
}

#AreaLoginP34_TextOutput1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaLoginP34_TextOutput1 {
  font-size: 30px;
}

#AreaLoginP34_Line1 {
  z-index: 3;
}

#AreaLoginP34_Line1 line {
  stroke: white;
}

#AreaLoginP34_Line1 line {
  stroke-width: 3px;
}

#AreaLoginP34_LogoutButton1 {
  top: 260px;
  position: absolute;
}

#AreaLoginP34_LogoutButton1 {
  left: 315px;
  position: absolute;
}

#AreaLoginP34_LogoutButton1 {
  width: 150px;
}

#AreaLoginP34_LogoutButton1 {
  height: 40px;
}

#AreaLoginP34_LogoutButton1 {
  z-index: 4;
}

#AreaLoginP34_LogoutButton1 {
  border-radius: 10px;
}

#AreaLoginP34_LogoutButton1:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaLoginP34_LogoutButton1:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaLoginP34_LogoutButton1.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaLoginP34_LogoutButton1.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaLoginP34_LogoutButton2 {
  top: 260px;
  position: absolute;
}

#AreaLoginP34_LogoutButton2 {
  left: 35px;
  position: absolute;
}

#AreaLoginP34_LogoutButton2 {
  width: 150px;
}

#AreaLoginP34_LogoutButton2 {
  height: 40px;
}

#AreaLoginP34_LogoutButton2 {
  z-index: 5;
}

#AreaLoginP34_LogoutButton2 {
  border-radius: 10px;
}

#AreaLoginP34_LogoutButton2:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaLoginP34_LogoutButton2 {
  justify-content: center;
  text-align: center;
}

#AreaLoginP34_LogoutButton2:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaLoginP34_LogoutButton2.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaLoginP34_LogoutButton2.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
