#AreaPageManualMainP1_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageManualMainP1_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageManualMainP1_Image1 {
  width: 1366px;
}

#AreaPageManualMainP1_Image1 {
  height: 588px;
}

#AreaPageManualMainP1_Image1 {
  z-index: 0;
}

#AreaPageManualMainP1_Image1 {
  opacity: 0.2;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
  top: 385px;
  position: absolute;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
  left: 65px;
  position: absolute;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
  width: 320px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
  height: 70px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
  z-index: 4;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah img {
  height: 55px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah svg {
  height: 55px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
  border-style: solid;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah.active {
  border-style: solid;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah.checked {
  border-style: solid;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah.disabled {
  border-style: solid;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah:not(.active):not(.checked) {
  border-width: 3px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah.disabled {
  border-width: 3px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah {
  border-radius: 5px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah:not(.disabled):not(.checked) {
  border-color: green;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah.active.checked:not(.disabled) span {
  color: black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah span {
  font-size: 20px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Vytah.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
  top: 385px;
  position: absolute;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
  left: 970px;
  position: absolute;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
  width: 320px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
  height: 70px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
  z-index: 3;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky img {
  height: 55px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky svg {
  height: 55px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
  border-style: solid;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky.active {
  border-style: solid;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky.checked {
  border-style: solid;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky.disabled {
  border-style: solid;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky:not(.active):not(.checked) {
  border-width: 3px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky.disabled {
  border-width: 3px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky {
  border-radius: 5px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky:not(.disabled):not(.checked) {
  border-color: black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky.active.checked:not(.disabled) span {
  color: black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky span {
  font-size: 20px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Dopravniky.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
  top: 475px;
  position: absolute;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
  left: 523px;
  position: absolute;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
  width: 320px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
  height: 70px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
  z-index: 5;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie img {
  height: 55px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie svg {
  height: 55px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
  border-style: solid;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie.active {
  border-style: solid;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie.checked {
  border-style: solid;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie.disabled {
  border-style: solid;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie:not(.active):not(.checked) {
  border-width: 3px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie.disabled {
  border-width: 3px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie {
  border-radius: 8px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie:not(.disabled):not(.checked) {
  border-color: #ff751a;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie.active.checked:not(.disabled) span {
  color: black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie span {
  font-size: 20px;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP1_NavigationButtonPageRR_Skrutkovanie.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP1_Label2 {
  top: 13px;
  position: absolute;
}

#AreaPageManualMainP1_Label2 {
  left: 483px;
  position: absolute;
}

#AreaPageManualMainP1_Label2 {
  width: 400px;
}

#AreaPageManualMainP1_Label2 {
  height: 40px;
}

#AreaPageManualMainP1_Label2 {
  z-index: 1;
}

#AreaPageManualMainP1_Label2 {
  border-width: 3px;
}

#AreaPageManualMainP1_Label2 {
  border-radius: 3px;
}

#AreaPageManualMainP1_Label2 {
  background-color: #e0e0e0;
}

#AreaPageManualMainP1_Label2 {
  border-style: ridge;
}

#AreaPageManualMainP1_Label2:before {
  border-style: ridge;
}

#AreaPageManualMainP1_Label2:after {
  border-style: ridge;
}

#AreaPageManualMainP1_Label2 span {
  color: black;
}

#AreaPageManualMainP1_Label2 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualMainP1_Label2 {
  font-size: 22px;
}

#AreaPageManualMainP1_Label2 {
  font-weight: bold;
}

#AreaPageManualMainP1_Label2 {
  box-shadow: 2px 2px 15px black;
}

#AreaPageManualMainP1_Image2 {
  top: 75px;
  position: absolute;
}

#AreaPageManualMainP1_Image2 {
  left: 12px;
  position: absolute;
}

#AreaPageManualMainP1_Image2 {
  width: 1342px;
}

#AreaPageManualMainP1_Image2 {
  height: 480px;
}

#AreaPageManualMainP1_Image2 {
  z-index: 2;
}

#AreaPageManualMainP1_Image2 {
  background-color: #e0e0e0;
}

#AreaPageManualMainP1_Image2 {
  border-style: hidden;
}

#AreaPageManualMainP1_Image2 {
  border-width: 0px;
}

#AreaPageManualMainP1_Rectangle1 {
  top: 295px;
  position: absolute;
}

#AreaPageManualMainP1_Rectangle1 {
  left: 425px;
  position: absolute;
}

#AreaPageManualMainP1_Rectangle1 {
  width: 170px;
}

#AreaPageManualMainP1_Rectangle1 {
  height: 145px;
}

#AreaPageManualMainP1_Rectangle1 {
  z-index: 6;
}

#AreaPageManualMainP1_Rectangle1 {
  border-style: solid;
}

#AreaPageManualMainP1_Rectangle1 {
  border-width: 4px;
}

#AreaPageManualMainP1_Rectangle1 {
  border-radius: 5px;
}

#AreaPageManualMainP1_Rectangle1 {
  border-color: green;
}

#AreaPageManualMainP1_Rectangle2 {
  top: 170px;
  position: absolute;
}

#AreaPageManualMainP1_Rectangle2 {
  left: 600px;
  position: absolute;
}

#AreaPageManualMainP1_Rectangle2 {
  width: 230px;
}

#AreaPageManualMainP1_Rectangle2 {
  height: 285px;
}

#AreaPageManualMainP1_Rectangle2 {
  z-index: 7;
}

#AreaPageManualMainP1_Rectangle2 {
  border-style: solid;
}

#AreaPageManualMainP1_Rectangle2 {
  border-width: 4px;
}

#AreaPageManualMainP1_Rectangle2 {
  border-radius: 5px;
}

#AreaPageManualMainP1_Rectangle2 {
  border-color: #ff751a;
}
