@import "mixins.scss";
#AreaPageStavyStanicP3_ImageStavyStanicP3 {
	@include elemTop(0);
}
#AreaPageStavyStanicP3_ImageStavyStanicP3 {
	@include elemLeft(0);
}
#AreaPageStavyStanicP3_ImageStavyStanicP3 {
	@include elemAutoWidth(1366);
}
#AreaPageStavyStanicP3_ImageStavyStanicP3 {
	@include elemAutoHeight(588);
}
#AreaPageStavyStanicP3_ImageStavyStanicP3 {
		z-index: 0;
}
#AreaPageStavyStanicP3_ImageStavyStanicP3 {
		opacity: 0.15;
}
#AreaPageStavyStanicP3_Label1 {
	@include elemTop(20);
}
#AreaPageStavyStanicP3_Label1 {
	@include elemLeft(483);
}
#AreaPageStavyStanicP3_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageStavyStanicP3_Label1 {
	@include elemAutoHeight(40);
}
#AreaPageStavyStanicP3_Label1 {
		z-index: 1;
}
#AreaPageStavyStanicP3_Label8 {
	@include elemTop(64);
}
#AreaPageStavyStanicP3_Label8 {
	@include elemLeft(10);
}
#AreaPageStavyStanicP3_Label8 {
	@include elemAutoWidth(1344);
}
#AreaPageStavyStanicP3_Label8 {
	@include elemAutoHeight(42);
}
#AreaPageStavyStanicP3_Label8 {
		z-index: 2;
}
#AreaPageStavyStanicP3_Label8 {
	@include border-radius(4px);
}
#AreaPageStavyStanicP3_Label8 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageStavyStanicP3_Label8 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageStavyStanicP3_Label8 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageStavyStanicP3_Label8 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label8 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label8 {
		border-style: none;
}
#AreaPageStavyStanicP3_Label8 {
	&:before{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label8 {
	&:after{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label8 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label8 {
		font-size: 15px;
}
#AreaPageStavyStanicP3_Label8 {
	@include font-weight-bold(true);
}
#AreaPageStavyStanicP3_Label8 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageStavyStanicP3_TextOutput1 {
	@include elemAutoHeight(30);
}
#AreaPageStavyStanicP3_TextOutput1 {
	@include elemTop(70);
}
#AreaPageStavyStanicP3_TextOutput1 {
	@include elemLeft(120);
}
#AreaPageStavyStanicP3_TextOutput1 {
	@include elemAutoWidth(1226);
}
#AreaPageStavyStanicP3_TextOutput1 {
		z-index: 3;
}
#AreaPageStavyStanicP3_TextOutput1 {
		background-color: rgba(105, 105, 105, 1);
}
#AreaPageStavyStanicP3_TextOutput1 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageStavyStanicP3_TextOutput1 {
		font-size: 12px;
}
#AreaPageStavyStanicP3_TextOutput1 {
	@include box-shadow(none);
}
#AreaPageStavyStanicP3_Label11 {
	@include elemTop(110);
}
#AreaPageStavyStanicP3_Label11 {
	@include elemLeft(10);
}
#AreaPageStavyStanicP3_Label11 {
	@include elemAutoWidth(1344);
}
#AreaPageStavyStanicP3_Label11 {
	@include elemAutoHeight(42);
}
#AreaPageStavyStanicP3_Label11 {
		z-index: 4;
}
#AreaPageStavyStanicP3_Label11 {
	@include border-radius(4px);
}
#AreaPageStavyStanicP3_Label11 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageStavyStanicP3_Label11 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageStavyStanicP3_Label11 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageStavyStanicP3_Label11 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label11 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label11 {
		border-style: none;
}
#AreaPageStavyStanicP3_Label11 {
	&:before{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label11 {
	&:after{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label11 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label11 {
		font-size: 15px;
}
#AreaPageStavyStanicP3_Label11 {
	@include font-weight-bold(true);
}
#AreaPageStavyStanicP3_Label11 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageStavyStanicP3_TextOutput4 {
	@include elemAutoHeight(30);
}
#AreaPageStavyStanicP3_TextOutput4 {
	@include elemTop(116);
}
#AreaPageStavyStanicP3_TextOutput4 {
	@include elemLeft(120);
}
#AreaPageStavyStanicP3_TextOutput4 {
	@include elemAutoWidth(1226);
}
#AreaPageStavyStanicP3_TextOutput4 {
		z-index: 5;
}
#AreaPageStavyStanicP3_TextOutput4 {
		background-color: rgba(105, 105, 105, 1);
}
#AreaPageStavyStanicP3_TextOutput4 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageStavyStanicP3_TextOutput4 {
		font-size: 12px;
}
#AreaPageStavyStanicP3_TextOutput4 {
	@include box-shadow(none);
}
#AreaPageStavyStanicP3_Label15 {
	@include elemTop(156);
}
#AreaPageStavyStanicP3_Label15 {
	@include elemLeft(10);
}
#AreaPageStavyStanicP3_Label15 {
	@include elemAutoWidth(1344);
}
#AreaPageStavyStanicP3_Label15 {
	@include elemAutoHeight(42);
}
#AreaPageStavyStanicP3_Label15 {
		z-index: 6;
}
#AreaPageStavyStanicP3_Label15 {
	@include border-radius(4px);
}
#AreaPageStavyStanicP3_Label15 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageStavyStanicP3_Label15 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageStavyStanicP3_Label15 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageStavyStanicP3_Label15 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label15 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label15 {
		border-style: none;
}
#AreaPageStavyStanicP3_Label15 {
	&:before{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label15 {
	&:after{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label15 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label15 {
		font-size: 15px;
}
#AreaPageStavyStanicP3_Label15 {
	@include font-weight-bold(true);
}
#AreaPageStavyStanicP3_Label15 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageStavyStanicP3_TextOutput8 {
	@include elemAutoHeight(30);
}
#AreaPageStavyStanicP3_TextOutput8 {
	@include elemTop(162);
}
#AreaPageStavyStanicP3_TextOutput8 {
	@include elemLeft(120);
}
#AreaPageStavyStanicP3_TextOutput8 {
	@include elemAutoWidth(1226);
}
#AreaPageStavyStanicP3_TextOutput8 {
		z-index: 7;
}
#AreaPageStavyStanicP3_TextOutput8 {
		background-color: rgba(105, 105, 105, 1);
}
#AreaPageStavyStanicP3_TextOutput8 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageStavyStanicP3_TextOutput8 {
		font-size: 12px;
}
#AreaPageStavyStanicP3_TextOutput8 {
	@include box-shadow(none);
}
#AreaPageStavyStanicP3_Label16 {
	@include elemTop(202);
}
#AreaPageStavyStanicP3_Label16 {
	@include elemLeft(10);
}
#AreaPageStavyStanicP3_Label16 {
	@include elemAutoWidth(1344);
}
#AreaPageStavyStanicP3_Label16 {
	@include elemAutoHeight(42);
}
#AreaPageStavyStanicP3_Label16 {
		z-index: 8;
}
#AreaPageStavyStanicP3_Label16 {
	@include border-radius(4px);
}
#AreaPageStavyStanicP3_Label16 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageStavyStanicP3_Label16 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageStavyStanicP3_Label16 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageStavyStanicP3_Label16 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label16 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label16 {
		border-style: none;
}
#AreaPageStavyStanicP3_Label16 {
	&:before{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label16 {
	&:after{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label16 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label16 {
		font-size: 15px;
}
#AreaPageStavyStanicP3_Label16 {
	@include font-weight-bold(true);
}
#AreaPageStavyStanicP3_Label16 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageStavyStanicP3_TextOutput9 {
	@include elemAutoHeight(30);
}
#AreaPageStavyStanicP3_TextOutput9 {
	@include elemTop(208);
}
#AreaPageStavyStanicP3_TextOutput9 {
	@include elemLeft(120);
}
#AreaPageStavyStanicP3_TextOutput9 {
	@include elemAutoWidth(1226);
}
#AreaPageStavyStanicP3_TextOutput9 {
		z-index: 9;
}
#AreaPageStavyStanicP3_TextOutput9 {
		background-color: rgba(105, 105, 105, 1);
}
#AreaPageStavyStanicP3_TextOutput9 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageStavyStanicP3_TextOutput9 {
		font-size: 12px;
}
#AreaPageStavyStanicP3_TextOutput9 {
	@include box-shadow(none);
}
#AreaPageStavyStanicP3_Label9 {
	@include elemTop(248);
}
#AreaPageStavyStanicP3_Label9 {
	@include elemLeft(10);
}
#AreaPageStavyStanicP3_Label9 {
	@include elemAutoWidth(1344);
}
#AreaPageStavyStanicP3_Label9 {
	@include elemAutoHeight(42);
}
#AreaPageStavyStanicP3_Label9 {
		z-index: 10;
}
#AreaPageStavyStanicP3_Label9 {
	@include border-radius(4px);
}
#AreaPageStavyStanicP3_Label9 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageStavyStanicP3_Label9 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageStavyStanicP3_Label9 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageStavyStanicP3_Label9 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label9 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label9 {
		border-style: none;
}
#AreaPageStavyStanicP3_Label9 {
	&:before{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label9 {
	&:after{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label9 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label9 {
		font-size: 15px;
}
#AreaPageStavyStanicP3_Label9 {
	@include font-weight-bold(true);
}
#AreaPageStavyStanicP3_Label9 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageStavyStanicP3_TextOutput2 {
	@include elemAutoHeight(30);
}
#AreaPageStavyStanicP3_TextOutput2 {
	@include elemTop(254);
}
#AreaPageStavyStanicP3_TextOutput2 {
	@include elemLeft(121);
}
#AreaPageStavyStanicP3_TextOutput2 {
	@include elemAutoWidth(1226);
}
#AreaPageStavyStanicP3_TextOutput2 {
		z-index: 11;
}
#AreaPageStavyStanicP3_TextOutput2 {
		background-color: rgba(105, 105, 105, 1);
}
#AreaPageStavyStanicP3_TextOutput2 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageStavyStanicP3_TextOutput2 {
		font-size: 12px;
}
#AreaPageStavyStanicP3_TextOutput2 {
	@include box-shadow(none);
}
#AreaPageStavyStanicP3_Label12 {
	@include elemTop(294);
}
#AreaPageStavyStanicP3_Label12 {
	@include elemLeft(10);
}
#AreaPageStavyStanicP3_Label12 {
	@include elemAutoWidth(1344);
}
#AreaPageStavyStanicP3_Label12 {
	@include elemAutoHeight(42);
}
#AreaPageStavyStanicP3_Label12 {
		z-index: 12;
}
#AreaPageStavyStanicP3_Label12 {
	@include border-radius(4px);
}
#AreaPageStavyStanicP3_Label12 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageStavyStanicP3_Label12 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageStavyStanicP3_Label12 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageStavyStanicP3_Label12 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label12 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label12 {
		border-style: none;
}
#AreaPageStavyStanicP3_Label12 {
	&:before{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label12 {
	&:after{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label12 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label12 {
		font-size: 15px;
}
#AreaPageStavyStanicP3_Label12 {
	@include font-weight-bold(true);
}
#AreaPageStavyStanicP3_Label12 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageStavyStanicP3_TextOutput5 {
	@include elemAutoHeight(30);
}
#AreaPageStavyStanicP3_TextOutput5 {
	@include elemTop(300);
}
#AreaPageStavyStanicP3_TextOutput5 {
	@include elemLeft(120);
}
#AreaPageStavyStanicP3_TextOutput5 {
	@include elemAutoWidth(1226);
}
#AreaPageStavyStanicP3_TextOutput5 {
		z-index: 13;
}
#AreaPageStavyStanicP3_TextOutput5 {
		background-color: rgba(105, 105, 105, 1);
}
#AreaPageStavyStanicP3_TextOutput5 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageStavyStanicP3_TextOutput5 {
		font-size: 12px;
}
#AreaPageStavyStanicP3_TextOutput5 {
	@include box-shadow(none);
}
#AreaPageStavyStanicP3_Label13 {
	@include elemTop(340);
}
#AreaPageStavyStanicP3_Label13 {
	@include elemLeft(10);
}
#AreaPageStavyStanicP3_Label13 {
	@include elemAutoWidth(1344);
}
#AreaPageStavyStanicP3_Label13 {
	@include elemAutoHeight(42);
}
#AreaPageStavyStanicP3_Label13 {
		z-index: 14;
}
#AreaPageStavyStanicP3_Label13 {
	@include border-radius(4px);
}
#AreaPageStavyStanicP3_Label13 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageStavyStanicP3_Label13 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageStavyStanicP3_Label13 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageStavyStanicP3_Label13 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label13 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label13 {
		border-style: none;
}
#AreaPageStavyStanicP3_Label13 {
	&:before{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label13 {
	&:after{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label13 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label13 {
		font-size: 15px;
}
#AreaPageStavyStanicP3_Label13 {
	@include font-weight-bold(true);
}
#AreaPageStavyStanicP3_Label13 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageStavyStanicP3_TextOutput6 {
	@include elemAutoHeight(30);
}
#AreaPageStavyStanicP3_TextOutput6 {
	@include elemTop(346);
}
#AreaPageStavyStanicP3_TextOutput6 {
	@include elemLeft(120);
}
#AreaPageStavyStanicP3_TextOutput6 {
	@include elemAutoWidth(1226);
}
#AreaPageStavyStanicP3_TextOutput6 {
		z-index: 15;
}
#AreaPageStavyStanicP3_TextOutput6 {
		background-color: rgba(105, 105, 105, 1);
}
#AreaPageStavyStanicP3_TextOutput6 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageStavyStanicP3_TextOutput6 {
		font-size: 12px;
}
#AreaPageStavyStanicP3_TextOutput6 {
	@include box-shadow(none);
}
#AreaPageStavyStanicP3_Label17 {
	@include elemTop(386);
}
#AreaPageStavyStanicP3_Label17 {
	@include elemLeft(10);
}
#AreaPageStavyStanicP3_Label17 {
	@include elemAutoWidth(1344);
}
#AreaPageStavyStanicP3_Label17 {
	@include elemAutoHeight(42);
}
#AreaPageStavyStanicP3_Label17 {
		z-index: 16;
}
#AreaPageStavyStanicP3_Label17 {
	@include border-radius(4px);
}
#AreaPageStavyStanicP3_Label17 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageStavyStanicP3_Label17 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageStavyStanicP3_Label17 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageStavyStanicP3_Label17 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label17 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label17 {
		border-style: none;
}
#AreaPageStavyStanicP3_Label17 {
	&:before{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label17 {
	&:after{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label17 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label17 {
		font-size: 15px;
}
#AreaPageStavyStanicP3_Label17 {
	@include font-weight-bold(true);
}
#AreaPageStavyStanicP3_Label17 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageStavyStanicP3_TextOutput10 {
	@include elemAutoHeight(30);
}
#AreaPageStavyStanicP3_TextOutput10 {
	@include elemTop(392);
}
#AreaPageStavyStanicP3_TextOutput10 {
	@include elemLeft(120);
}
#AreaPageStavyStanicP3_TextOutput10 {
	@include elemAutoWidth(1226);
}
#AreaPageStavyStanicP3_TextOutput10 {
		z-index: 17;
}
#AreaPageStavyStanicP3_TextOutput10 {
		background-color: rgba(105, 105, 105, 1);
}
#AreaPageStavyStanicP3_TextOutput10 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageStavyStanicP3_TextOutput10 {
		font-size: 12px;
}
#AreaPageStavyStanicP3_TextOutput10 {
	@include box-shadow(none);
}
#AreaPageStavyStanicP3_Label18 {
	@include elemTop(432);
}
#AreaPageStavyStanicP3_Label18 {
	@include elemLeft(10);
}
#AreaPageStavyStanicP3_Label18 {
	@include elemAutoWidth(1344);
}
#AreaPageStavyStanicP3_Label18 {
	@include elemAutoHeight(42);
}
#AreaPageStavyStanicP3_Label18 {
		z-index: 18;
}
#AreaPageStavyStanicP3_Label18 {
	@include border-radius(4px);
}
#AreaPageStavyStanicP3_Label18 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageStavyStanicP3_Label18 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageStavyStanicP3_Label18 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageStavyStanicP3_Label18 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label18 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label18 {
		border-style: none;
}
#AreaPageStavyStanicP3_Label18 {
	&:before{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label18 {
	&:after{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label18 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label18 {
		font-size: 15px;
}
#AreaPageStavyStanicP3_Label18 {
	@include font-weight-bold(true);
}
#AreaPageStavyStanicP3_Label18 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageStavyStanicP3_TextOutput11 {
	@include elemAutoHeight(30);
}
#AreaPageStavyStanicP3_TextOutput11 {
	@include elemTop(438);
}
#AreaPageStavyStanicP3_TextOutput11 {
	@include elemLeft(120);
}
#AreaPageStavyStanicP3_TextOutput11 {
	@include elemAutoWidth(1226);
}
#AreaPageStavyStanicP3_TextOutput11 {
		z-index: 19;
}
#AreaPageStavyStanicP3_TextOutput11 {
		background-color: rgba(105, 105, 105, 1);
}
#AreaPageStavyStanicP3_TextOutput11 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageStavyStanicP3_TextOutput11 {
		font-size: 12px;
}
#AreaPageStavyStanicP3_TextOutput11 {
	@include box-shadow(none);
}
#AreaPageStavyStanicP3_Label14 {
	@include elemTop(478);
}
#AreaPageStavyStanicP3_Label14 {
	@include elemLeft(10);
}
#AreaPageStavyStanicP3_Label14 {
	@include elemAutoWidth(1344);
}
#AreaPageStavyStanicP3_Label14 {
	@include elemAutoHeight(42);
}
#AreaPageStavyStanicP3_Label14 {
		z-index: 20;
}
#AreaPageStavyStanicP3_Label14 {
	@include border-radius(4px);
}
#AreaPageStavyStanicP3_Label14 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageStavyStanicP3_Label14 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageStavyStanicP3_Label14 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageStavyStanicP3_Label14 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label14 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label14 {
		border-style: none;
}
#AreaPageStavyStanicP3_Label14 {
	&:before{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label14 {
	&:after{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label14 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label14 {
		font-size: 15px;
}
#AreaPageStavyStanicP3_Label14 {
	@include font-weight-bold(true);
}
#AreaPageStavyStanicP3_Label14 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageStavyStanicP3_TextOutput7 {
	@include elemAutoHeight(30);
}
#AreaPageStavyStanicP3_TextOutput7 {
	@include elemTop(484);
}
#AreaPageStavyStanicP3_TextOutput7 {
	@include elemLeft(120);
}
#AreaPageStavyStanicP3_TextOutput7 {
	@include elemAutoWidth(1226);
}
#AreaPageStavyStanicP3_TextOutput7 {
		z-index: 21;
}
#AreaPageStavyStanicP3_TextOutput7 {
		background-color: rgba(105, 105, 105, 1);
}
#AreaPageStavyStanicP3_TextOutput7 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageStavyStanicP3_TextOutput7 {
		font-size: 12px;
}
#AreaPageStavyStanicP3_TextOutput7 {
	@include box-shadow(none);
}
#AreaPageStavyStanicP3_Label19 {
	@include elemTop(524);
}
#AreaPageStavyStanicP3_Label19 {
	@include elemLeft(10);
}
#AreaPageStavyStanicP3_Label19 {
	@include elemAutoWidth(1344);
}
#AreaPageStavyStanicP3_Label19 {
	@include elemAutoHeight(42);
}
#AreaPageStavyStanicP3_Label19 {
		z-index: 22;
}
#AreaPageStavyStanicP3_Label19 {
	@include border-radius(4px);
}
#AreaPageStavyStanicP3_Label19 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageStavyStanicP3_Label19 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageStavyStanicP3_Label19 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageStavyStanicP3_Label19 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label19 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label19 {
		border-style: none;
}
#AreaPageStavyStanicP3_Label19 {
	&:before{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label19 {
	&:after{
		border-style: none;
	}
}
#AreaPageStavyStanicP3_Label19 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageStavyStanicP3_Label19 {
		font-size: 15px;
}
#AreaPageStavyStanicP3_Label19 {
	@include font-weight-bold(true);
}
#AreaPageStavyStanicP3_Label19 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageStavyStanicP3_TextOutput12 {
	@include elemAutoHeight(30);
}
#AreaPageStavyStanicP3_TextOutput12 {
	@include elemTop(530);
}
#AreaPageStavyStanicP3_TextOutput12 {
	@include elemLeft(120);
}
#AreaPageStavyStanicP3_TextOutput12 {
	@include elemAutoWidth(1226);
}
#AreaPageStavyStanicP3_TextOutput12 {
		z-index: 23;
}
#AreaPageStavyStanicP3_TextOutput12 {
		background-color: rgba(105, 105, 105, 1);
}
#AreaPageStavyStanicP3_TextOutput12 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#AreaPageStavyStanicP3_TextOutput12 {
		font-size: 12px;
}
#AreaPageStavyStanicP3_TextOutput12 {
	@include box-shadow(none);
}
