#AreaPageManualP3_Dopravniky_ImagePageManualDopravnikyP3 {
  top: 0px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImagePageManualDopravnikyP3 {
  left: 0px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImagePageManualDopravnikyP3 {
  width: 1366px;
}

#AreaPageManualP3_Dopravniky_ImagePageManualDopravnikyP3 {
  height: 588px;
}

#AreaPageManualP3_Dopravniky_ImagePageManualDopravnikyP3 {
  z-index: 0;
}

#AreaPageManualP3_Dopravniky_ImagePageManualDopravnikyP3 {
  opacity: 0.15;
}

#AreaPageManualP3_Dopravniky_Label1 {
  top: 13px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Label1 {
  width: 400px;
}

#AreaPageManualP3_Dopravniky_Label1 {
  height: 40px;
}

#AreaPageManualP3_Dopravniky_Label1 {
  z-index: 1;
}

#AreaPageManualP3_Dopravniky_Label1 {
  border-width: 3px;
}

#AreaPageManualP3_Dopravniky_Image1 {
  top: 80px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Image1 {
  left: 16px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Image1 {
  width: 1332px;
}

#AreaPageManualP3_Dopravniky_Image1 {
  height: 494px;
}

#AreaPageManualP3_Dopravniky_Image1 {
  z-index: 2;
}

#AreaPageManualP3_Dopravniky_Image1 {
  background-color: gainsboro;
}

#AreaPageManualP3_Dopravniky_Image1 {
  border-style: solid;
}

#AreaPageManualP3_Dopravniky_Image1 {
  opacity: 1;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
  top: 426px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
  left: 12px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
  width: 180px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
  height: 50px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik {
  z-index: 3;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
  top: 152px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
  left: 322px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
  width: 180px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
  height: 50px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 {
  z-index: 4;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_HornyDopravnik1.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
  top: 280px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
  left: 554px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
  width: 180px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
  height: 50px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 {
  z-index: 5;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik1.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
  top: 280px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
  left: 1000px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
  width: 180px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
  height: 50px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 {
  z-index: 6;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_PrednyDopravnik2.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_Rectangle1 {
  top: 336px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle1 {
  left: 196px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle1 {
  width: 180px;
}

#AreaPageManualP3_Dopravniky_Rectangle1 {
  height: 222px;
}

#AreaPageManualP3_Dopravniky_Rectangle1 {
  z-index: 7;
}

#AreaPageManualP3_Dopravniky_Rectangle1 {
  border-style: solid;
}

#AreaPageManualP3_Dopravniky_Rectangle1 {
  border-width: 4px;
}

#AreaPageManualP3_Dopravniky_Rectangle1 {
  border-radius: 5px;
}

#AreaPageManualP3_Dopravniky_Rectangle1 {
  border-color: black;
}

#AreaPageManualP3_Dopravniky_Label5 {
  top: 446px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Label5 {
  left: 214px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Label5 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_Label5 {
  height: 20px;
}

#AreaPageManualP3_Dopravniky_Label5 {
  z-index: 8;
}

#AreaPageManualP3_Dopravniky_Label5 {
  border-width: 1px;
}

#AreaPageManualP3_Dopravniky_Label5 {
  background-color: gainsboro;
}

#AreaPageManualP3_Dopravniky_Label5 span {
  color: black;
}

#AreaPageManualP3_Dopravniky_Label5 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP3_Dopravniky_Label5 {
  font-size: 18px;
}

#AreaPageManualP3_Dopravniky_Label5 {
  font-weight: bold;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
  top: 346px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
  left: 206px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
  width: 130px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
  height: 50px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
  z-index: 9;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz8:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz8:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz8 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz8 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz8:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz8.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz8.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ImageList16 {
  top: 348px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList16 {
  left: 342px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList16 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList16 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList16 {
  z-index: 10;
}

#AreaPageManualP3_Dopravniky_ImageList16 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ImageList17 {
  top: 374px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList17 {
  left: 342px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList17 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList17 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList17 {
  z-index: 11;
}

#AreaPageManualP3_Dopravniky_ImageList17 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper1 {
  top: 494px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper1 {
  left: 206px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper1 {
  width: 130px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper1 {
  height: 50px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper1 {
  z-index: 12;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper1:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper1:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper1 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper1 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper1:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper1.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper1.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ImageList18 {
  top: 414px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList18 {
  left: 318px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList18 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList18 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList18 {
  z-index: 13;
}

#AreaPageManualP3_Dopravniky_ImageList18 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_Label6 {
  top: 446px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Label6 {
  left: 394px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Label6 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_Label6 {
  height: 20px;
}

#AreaPageManualP3_Dopravniky_Label6 {
  z-index: 57;
}

#AreaPageManualP3_Dopravniky_Label6 {
  border-width: 1px;
}

#AreaPageManualP3_Dopravniky_Label6 {
  background-color: gainsboro;
}

#AreaPageManualP3_Dopravniky_Label6 span {
  color: black;
}

#AreaPageManualP3_Dopravniky_Label6 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP3_Dopravniky_Label6 {
  font-size: 18px;
}

#AreaPageManualP3_Dopravniky_Label6 {
  font-weight: bold;
}

#AreaPageManualP3_Dopravniky_Rectangle2 {
  top: 336px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle2 {
  left: 378px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle2 {
  width: 178px;
}

#AreaPageManualP3_Dopravniky_Rectangle2 {
  height: 222px;
}

#AreaPageManualP3_Dopravniky_Rectangle2 {
  z-index: 14;
}

#AreaPageManualP3_Dopravniky_Rectangle2 {
  border-style: solid;
}

#AreaPageManualP3_Dopravniky_Rectangle2 {
  border-width: 4px;
}

#AreaPageManualP3_Dopravniky_Rectangle2 {
  border-radius: 5px;
}

#AreaPageManualP3_Dopravniky_Rectangle2 {
  border-color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
  top: 346px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
  left: 386px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
  width: 130px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
  height: 50px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz9 {
  z-index: 15;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz9:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz9:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz9 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz9 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz9:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz9.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz9.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ImageList19 {
  top: 348px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList19 {
  left: 522px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList19 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList19 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList19 {
  z-index: 16;
}

#AreaPageManualP3_Dopravniky_ImageList19 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ImageList20 {
  top: 374px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList20 {
  left: 522px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList20 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList20 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList20 {
  z-index: 17;
}

#AreaPageManualP3_Dopravniky_ImageList20 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper2 {
  top: 494px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper2 {
  left: 386px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper2 {
  width: 130px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper2 {
  height: 50px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper2 {
  z-index: 18;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper2:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper2:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper2 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper2 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper2:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper2.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper2.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ImageList21 {
  top: 414px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList21 {
  left: 498px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList21 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList21 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList21 {
  z-index: 19;
}

#AreaPageManualP3_Dopravniky_ImageList21 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_Label7 {
  top: 446px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Label7 {
  left: 796px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Label7 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_Label7 {
  height: 20px;
}

#AreaPageManualP3_Dopravniky_Label7 {
  z-index: 56;
}

#AreaPageManualP3_Dopravniky_Label7 {
  border-width: 1px;
}

#AreaPageManualP3_Dopravniky_Label7 {
  background-color: gainsboro;
}

#AreaPageManualP3_Dopravniky_Label7 span {
  color: black;
}

#AreaPageManualP3_Dopravniky_Label7 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP3_Dopravniky_Label7 {
  font-size: 18px;
}

#AreaPageManualP3_Dopravniky_Label7 {
  font-weight: bold;
}

#AreaPageManualP3_Dopravniky_Rectangle3 {
  top: 336px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle3 {
  left: 776px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle3 {
  width: 196px;
}

#AreaPageManualP3_Dopravniky_Rectangle3 {
  height: 222px;
}

#AreaPageManualP3_Dopravniky_Rectangle3 {
  z-index: 20;
}

#AreaPageManualP3_Dopravniky_Rectangle3 {
  border-style: solid;
}

#AreaPageManualP3_Dopravniky_Rectangle3 {
  border-width: 4px;
}

#AreaPageManualP3_Dopravniky_Rectangle3 {
  border-radius: 5px;
}

#AreaPageManualP3_Dopravniky_Rectangle3 {
  border-color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
  top: 346px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
  left: 786px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
  width: 130px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
  height: 50px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz10 {
  z-index: 21;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz10:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz10:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz10 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz10 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz10:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz10.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz10.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ImageList22 {
  top: 348px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList22 {
  left: 922px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList22 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList22 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList22 {
  z-index: 22;
}

#AreaPageManualP3_Dopravniky_ImageList22 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ImageList23 {
  top: 374px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList23 {
  left: 922px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList23 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList23 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList23 {
  z-index: 23;
}

#AreaPageManualP3_Dopravniky_ImageList23 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper3 {
  top: 494px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper3 {
  left: 786px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper3 {
  width: 130px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper3 {
  height: 50px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper3 {
  z-index: 24;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper3:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper3:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper3 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper3 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ImageList24 {
  top: 414px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList24 {
  left: 934px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList24 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList24 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList24 {
  z-index: 25;
}

#AreaPageManualP3_Dopravniky_ImageList24 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ImageList25 {
  top: 506px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList25 {
  left: 730px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList25 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList25 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList25 {
  z-index: 33;
}

#AreaPageManualP3_Dopravniky_ImageList25 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_Rectangle4 {
  top: 336px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle4 {
  left: 558px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle4 {
  width: 205px;
}

#AreaPageManualP3_Dopravniky_Rectangle4 {
  height: 202px;
}

#AreaPageManualP3_Dopravniky_Rectangle4 {
  z-index: 26;
}

#AreaPageManualP3_Dopravniky_Rectangle4 {
  border-style: solid;
}

#AreaPageManualP3_Dopravniky_Rectangle4 {
  border-width: 4px;
}

#AreaPageManualP3_Dopravniky_Rectangle4 {
  border-radius: 5px;
}

#AreaPageManualP3_Dopravniky_Rectangle4 {
  border-color: black;
}

#AreaPageManualP3_Dopravniky_Rectangle5 {
  top: 86px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle5 {
  left: 558px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle5 {
  width: 205px;
}

#AreaPageManualP3_Dopravniky_Rectangle5 {
  height: 190px;
}

#AreaPageManualP3_Dopravniky_Rectangle5 {
  z-index: 27;
}

#AreaPageManualP3_Dopravniky_Rectangle5 {
  border-style: solid;
}

#AreaPageManualP3_Dopravniky_Rectangle5 {
  border-width: 4px;
}

#AreaPageManualP3_Dopravniky_Rectangle5 {
  border-radius: 5px;
}

#AreaPageManualP3_Dopravniky_Rectangle5 {
  border-color: black;
}

#AreaPageManualP3_Dopravniky_ImageList26 {
  top: 94px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList26 {
  left: 730px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList26 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList26 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList26 {
  z-index: 28;
}

#AreaPageManualP3_Dopravniky_ImageList26 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_DOLE {
  top: 458px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_DOLE {
  left: 570px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_DOLE {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_DOLE {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_DOLE {
  z-index: 29;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_DOLE {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_DOLE:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_DOLE {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_DOLE:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_DOLE.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_DOLE.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_HORE {
  top: 350px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_HORE {
  left: 570px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_HORE {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_HORE {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_HORE {
  z-index: 30;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_HORE {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_HORE:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_HORE {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_HORE:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_HORE.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4_HORE.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ImageList27 {
  top: 360px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList27 {
  left: 678px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList27 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList27 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList27 {
  z-index: 31;
}

#AreaPageManualP3_Dopravniky_ImageList27 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ImageList28 {
  top: 468px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList28 {
  left: 678px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList28 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList28 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList28 {
  z-index: 32;
}

#AreaPageManualP3_Dopravniky_ImageList28 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M1 {
  top: 404px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M1 {
  left: 570px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M1 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M1 {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M1 {
  z-index: 34;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M1 {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M1:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M1 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M1:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M1.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M1.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ImageList29 {
  top: 414px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList29 {
  left: 678px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList29 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList29 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList29 {
  z-index: 35;
}

#AreaPageManualP3_Dopravniky_ImageList29 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M2 {
  top: 214px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M2 {
  left: 570px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M2 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M2 {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M2 {
  z-index: 36;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M2 {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M2:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M2 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M2:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M2.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M2.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
  top: 106px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
  left: 570px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
  z-index: 37;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M3:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M3 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ImageList30 {
  top: 116px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList30 {
  left: 678px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList30 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList30 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList30 {
  z-index: 38;
}

#AreaPageManualP3_Dopravniky_ImageList30 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ImageList31 {
  top: 224px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList31 {
  left: 678px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList31 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList31 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList31 {
  z-index: 39;
}

#AreaPageManualP3_Dopravniky_ImageList31 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
  top: 160px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
  left: 570px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
  z-index: 40;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ImageList32 {
  top: 170px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList32 {
  left: 678px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList32 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList32 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList32 {
  z-index: 41;
}

#AreaPageManualP3_Dopravniky_ImageList32 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_Rectangle6 {
  top: 86px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle6 {
  left: 996px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle6 {
  width: 205px;
}

#AreaPageManualP3_Dopravniky_Rectangle6 {
  height: 190px;
}

#AreaPageManualP3_Dopravniky_Rectangle6 {
  z-index: 42;
}

#AreaPageManualP3_Dopravniky_Rectangle6 {
  border-style: solid;
}

#AreaPageManualP3_Dopravniky_Rectangle6 {
  border-width: 4px;
}

#AreaPageManualP3_Dopravniky_Rectangle6 {
  border-radius: 5px;
}

#AreaPageManualP3_Dopravniky_Rectangle6 {
  border-color: black;
}

#AreaPageManualP3_Dopravniky_ImageList33 {
  top: 94px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList33 {
  left: 1168px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList33 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList33 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList33 {
  z-index: 43;
}

#AreaPageManualP3_Dopravniky_ImageList33 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
  top: 214px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
  left: 1008px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
  z-index: 44;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M5:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M5 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M5:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M5.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M5.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
  top: 106px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
  left: 1008px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
  z-index: 45;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M6:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M6 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M6:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M6.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M6.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ImageList34 {
  top: 116px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList34 {
  left: 1116px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList34 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList34 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList34 {
  z-index: 46;
}

#AreaPageManualP3_Dopravniky_ImageList34 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ImageList35 {
  top: 224px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList35 {
  left: 1116px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList35 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList35 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList35 {
  z-index: 47;
}

#AreaPageManualP3_Dopravniky_ImageList35 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
  top: 160px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
  left: 1008px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
  z-index: 48;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M7:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M7 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M7:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M7.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M7.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ImageList36 {
  top: 170px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList36 {
  left: 1116px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList36 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList36 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList36 {
  z-index: 49;
}

#AreaPageManualP3_Dopravniky_ImageList36 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_Rectangle7 {
  top: 86px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle7 {
  left: 776px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle7 {
  width: 196px;
}

#AreaPageManualP3_Dopravniky_Rectangle7 {
  height: 222px;
}

#AreaPageManualP3_Dopravniky_Rectangle7 {
  z-index: 50;
}

#AreaPageManualP3_Dopravniky_Rectangle7 {
  border-style: solid;
}

#AreaPageManualP3_Dopravniky_Rectangle7 {
  border-width: 4px;
}

#AreaPageManualP3_Dopravniky_Rectangle7 {
  border-radius: 5px;
}

#AreaPageManualP3_Dopravniky_Rectangle7 {
  border-color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz11 {
  top: 96px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz11 {
  left: 786px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz11 {
  width: 130px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz11 {
  height: 50px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz11 {
  z-index: 51;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz11:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz11:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz11 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz11 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz11:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz11.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_ZasunStoperPoz11.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP3_Dopravniky_ImageList37 {
  top: 98px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList37 {
  left: 922px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList37 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList37 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList37 {
  z-index: 52;
}

#AreaPageManualP3_Dopravniky_ImageList37 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ImageList38 {
  top: 124px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList38 {
  left: 922px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList38 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList38 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList38 {
  z-index: 53;
}

#AreaPageManualP3_Dopravniky_ImageList38 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper4 {
  top: 244px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper4 {
  left: 786px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper4 {
  width: 130px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper4 {
  height: 50px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper4 {
  z-index: 54;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper4:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper4:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper4 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper4 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ToggleSwitch_Stoper4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ImageList39 {
  top: 164px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList39 {
  left: 934px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList39 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList39 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList39 {
  z-index: 55;
}

#AreaPageManualP3_Dopravniky_ImageList39 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_Label8 {
  top: 194px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Label8 {
  left: 796px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Label8 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_Label8 {
  height: 20px;
}

#AreaPageManualP3_Dopravniky_Label8 {
  z-index: 58;
}

#AreaPageManualP3_Dopravniky_Label8 {
  border-width: 1px;
}

#AreaPageManualP3_Dopravniky_Label8 {
  background-color: gainsboro;
}

#AreaPageManualP3_Dopravniky_Label8 span {
  color: black;
}

#AreaPageManualP3_Dopravniky_Label8 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP3_Dopravniky_Label8 {
  font-size: 18px;
}

#AreaPageManualP3_Dopravniky_Label8 {
  font-weight: bold;
}

#AreaPageManualP3_Dopravniky_ImageList40 {
  top: 508px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList40 {
  left: 1168px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList40 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList40 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList40 {
  z-index: 64;
}

#AreaPageManualP3_Dopravniky_ImageList40 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_Rectangle8 {
  top: 336px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle8 {
  left: 996px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_Rectangle8 {
  width: 205px;
}

#AreaPageManualP3_Dopravniky_Rectangle8 {
  height: 202px;
}

#AreaPageManualP3_Dopravniky_Rectangle8 {
  z-index: 59;
}

#AreaPageManualP3_Dopravniky_Rectangle8 {
  border-style: solid;
}

#AreaPageManualP3_Dopravniky_Rectangle8 {
  border-width: 4px;
}

#AreaPageManualP3_Dopravniky_Rectangle8 {
  border-radius: 5px;
}

#AreaPageManualP3_Dopravniky_Rectangle8 {
  border-color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
  top: 460px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
  left: 1008px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
  z-index: 60;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M8:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M8 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M8:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M8.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M8.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
  top: 352px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
  left: 1008px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
  z-index: 61;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M9:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M9 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M9:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M9.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M9.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ImageList41 {
  top: 362px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList41 {
  left: 1116px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList41 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList41 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList41 {
  z-index: 62;
}

#AreaPageManualP3_Dopravniky_ImageList41 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ImageList42 {
  top: 470px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList42 {
  left: 1116px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList42 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList42 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList42 {
  z-index: 63;
}

#AreaPageManualP3_Dopravniky_ImageList42 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M10 {
  top: 406px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M10 {
  left: 1008px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M10 {
  width: 140px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M10 {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M10 {
  z-index: 65;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M10 {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M10:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M10 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M10:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M10.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M10.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ImageList43 {
  top: 416px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList43 {
  left: 1116px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList43 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList43 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList43 {
  z-index: 66;
}

#AreaPageManualP3_Dopravniky_ImageList43 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage {
  top: 13px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage {
  left: 1246px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage {
  width: 105px;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage {
  height: 50px;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage {
  z-index: 67;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage {
  border-style: solid;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage.active {
  border-style: solid;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage.checked {
  border-style: solid;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage.disabled {
  border-style: solid;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage:not(.active):not(.checked) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage.disabled {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage {
  border-radius: 8px;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage.active.checked:not(.disabled) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage span {
  font-size: 20px;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_NavigationButton_NextPage.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_ImageList44 {
  top: 384px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList44 {
  left: 1300px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList44 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList44 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList44 {
  z-index: 71;
}

#AreaPageManualP3_Dopravniky_ImageList44 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_ImageList45 {
  top: 104px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList45 {
  left: 1300px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_ImageList45 {
  width: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList45 {
  height: 25px;
}

#AreaPageManualP3_Dopravniky_ImageList45 {
  z-index: 69;
}

#AreaPageManualP3_Dopravniky_ImageList45 {
  border-width: 0px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M11 {
  top: 94px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M11 {
  left: 1216px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M11 {
  width: 120px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M11 {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M11 {
  z-index: 68;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M11 {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M11:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M11 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M11:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M11.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M11.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M12 {
  top: 374px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M12 {
  left: 1216px;
  position: absolute;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M12 {
  width: 120px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M12 {
  height: 45px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M12 {
  z-index: 70;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M12 {
  border-radius: 10px;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M12:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M12 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M12:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M12.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_Dopravniky_MomentaryPushButton_JoggOsZ_M12.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
