#AreaPageVseobecneParametreP4_ImageVseobecneParametreP4 {
  top: 0px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_ImageVseobecneParametreP4 {
  left: 0px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_ImageVseobecneParametreP4 {
  width: 1366px;
}

#AreaPageVseobecneParametreP4_ImageVseobecneParametreP4 {
  height: 588px;
}

#AreaPageVseobecneParametreP4_ImageVseobecneParametreP4 {
  z-index: 0;
}

#AreaPageVseobecneParametreP4_ImageVseobecneParametreP4 {
  opacity: 0.15;
}

#AreaPageVseobecneParametreP4_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label1 {
  width: 400px;
}

#AreaPageVseobecneParametreP4_Label1 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label1 {
  z-index: 1;
}
