#AreaPageStavyStanicP3_ImageStavyStanicP3 {
  top: 0px;
  position: absolute;
}

#AreaPageStavyStanicP3_ImageStavyStanicP3 {
  left: 0px;
  position: absolute;
}

#AreaPageStavyStanicP3_ImageStavyStanicP3 {
  width: 1366px;
}

#AreaPageStavyStanicP3_ImageStavyStanicP3 {
  height: 588px;
}

#AreaPageStavyStanicP3_ImageStavyStanicP3 {
  z-index: 0;
}

#AreaPageStavyStanicP3_ImageStavyStanicP3 {
  opacity: 0.15;
}

#AreaPageStavyStanicP3_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label1 {
  width: 400px;
}

#AreaPageStavyStanicP3_Label1 {
  height: 40px;
}

#AreaPageStavyStanicP3_Label1 {
  z-index: 1;
}

#AreaPageStavyStanicP3_Label8 {
  top: 64px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label8 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label8 {
  width: 1344px;
}

#AreaPageStavyStanicP3_Label8 {
  height: 42px;
}

#AreaPageStavyStanicP3_Label8 {
  z-index: 2;
}

#AreaPageStavyStanicP3_Label8 {
  border-radius: 4px;
}

#AreaPageStavyStanicP3_Label8 {
  background-color: oldlace;
}

#AreaPageStavyStanicP3_Label8 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP3_Label8 {
  border-color: black;
}

#AreaPageStavyStanicP3_Label8:before {
  border-color: black;
}

#AreaPageStavyStanicP3_Label8:after {
  border-color: black;
}

#AreaPageStavyStanicP3_Label8 {
  border-style: none;
}

#AreaPageStavyStanicP3_Label8:before {
  border-style: none;
}

#AreaPageStavyStanicP3_Label8:after {
  border-style: none;
}

#AreaPageStavyStanicP3_Label8 span {
  color: black;
}

#AreaPageStavyStanicP3_Label8 {
  font-size: 15px;
}

#AreaPageStavyStanicP3_Label8 {
  font-weight: bold;
}

#AreaPageStavyStanicP3_Label8 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP3_TextOutput1 {
  height: 30px;
}

#AreaPageStavyStanicP3_TextOutput1 {
  top: 70px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput1 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput1 {
  width: 1226px;
}

#AreaPageStavyStanicP3_TextOutput1 {
  z-index: 3;
}

#AreaPageStavyStanicP3_TextOutput1 {
  background-color: dimgray;
}

#AreaPageStavyStanicP3_TextOutput1 span {
  color: white;
}

#AreaPageStavyStanicP3_TextOutput1 {
  font-size: 12px;
}

#AreaPageStavyStanicP3_TextOutput1 {
  box-shadow: none;
}

#AreaPageStavyStanicP3_Label11 {
  top: 110px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label11 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label11 {
  width: 1344px;
}

#AreaPageStavyStanicP3_Label11 {
  height: 42px;
}

#AreaPageStavyStanicP3_Label11 {
  z-index: 4;
}

#AreaPageStavyStanicP3_Label11 {
  border-radius: 4px;
}

#AreaPageStavyStanicP3_Label11 {
  background-color: oldlace;
}

#AreaPageStavyStanicP3_Label11 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP3_Label11 {
  border-color: black;
}

#AreaPageStavyStanicP3_Label11:before {
  border-color: black;
}

#AreaPageStavyStanicP3_Label11:after {
  border-color: black;
}

#AreaPageStavyStanicP3_Label11 {
  border-style: none;
}

#AreaPageStavyStanicP3_Label11:before {
  border-style: none;
}

#AreaPageStavyStanicP3_Label11:after {
  border-style: none;
}

#AreaPageStavyStanicP3_Label11 span {
  color: black;
}

#AreaPageStavyStanicP3_Label11 {
  font-size: 15px;
}

#AreaPageStavyStanicP3_Label11 {
  font-weight: bold;
}

#AreaPageStavyStanicP3_Label11 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP3_TextOutput4 {
  height: 30px;
}

#AreaPageStavyStanicP3_TextOutput4 {
  top: 116px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput4 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput4 {
  width: 1226px;
}

#AreaPageStavyStanicP3_TextOutput4 {
  z-index: 5;
}

#AreaPageStavyStanicP3_TextOutput4 {
  background-color: dimgray;
}

#AreaPageStavyStanicP3_TextOutput4 span {
  color: white;
}

#AreaPageStavyStanicP3_TextOutput4 {
  font-size: 12px;
}

#AreaPageStavyStanicP3_TextOutput4 {
  box-shadow: none;
}

#AreaPageStavyStanicP3_Label15 {
  top: 156px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label15 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label15 {
  width: 1344px;
}

#AreaPageStavyStanicP3_Label15 {
  height: 42px;
}

#AreaPageStavyStanicP3_Label15 {
  z-index: 6;
}

#AreaPageStavyStanicP3_Label15 {
  border-radius: 4px;
}

#AreaPageStavyStanicP3_Label15 {
  background-color: oldlace;
}

#AreaPageStavyStanicP3_Label15 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP3_Label15 {
  border-color: black;
}

#AreaPageStavyStanicP3_Label15:before {
  border-color: black;
}

#AreaPageStavyStanicP3_Label15:after {
  border-color: black;
}

#AreaPageStavyStanicP3_Label15 {
  border-style: none;
}

#AreaPageStavyStanicP3_Label15:before {
  border-style: none;
}

#AreaPageStavyStanicP3_Label15:after {
  border-style: none;
}

#AreaPageStavyStanicP3_Label15 span {
  color: black;
}

#AreaPageStavyStanicP3_Label15 {
  font-size: 15px;
}

#AreaPageStavyStanicP3_Label15 {
  font-weight: bold;
}

#AreaPageStavyStanicP3_Label15 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP3_TextOutput8 {
  height: 30px;
}

#AreaPageStavyStanicP3_TextOutput8 {
  top: 162px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput8 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput8 {
  width: 1226px;
}

#AreaPageStavyStanicP3_TextOutput8 {
  z-index: 7;
}

#AreaPageStavyStanicP3_TextOutput8 {
  background-color: dimgray;
}

#AreaPageStavyStanicP3_TextOutput8 span {
  color: white;
}

#AreaPageStavyStanicP3_TextOutput8 {
  font-size: 12px;
}

#AreaPageStavyStanicP3_TextOutput8 {
  box-shadow: none;
}

#AreaPageStavyStanicP3_Label16 {
  top: 202px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label16 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label16 {
  width: 1344px;
}

#AreaPageStavyStanicP3_Label16 {
  height: 42px;
}

#AreaPageStavyStanicP3_Label16 {
  z-index: 8;
}

#AreaPageStavyStanicP3_Label16 {
  border-radius: 4px;
}

#AreaPageStavyStanicP3_Label16 {
  background-color: oldlace;
}

#AreaPageStavyStanicP3_Label16 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP3_Label16 {
  border-color: black;
}

#AreaPageStavyStanicP3_Label16:before {
  border-color: black;
}

#AreaPageStavyStanicP3_Label16:after {
  border-color: black;
}

#AreaPageStavyStanicP3_Label16 {
  border-style: none;
}

#AreaPageStavyStanicP3_Label16:before {
  border-style: none;
}

#AreaPageStavyStanicP3_Label16:after {
  border-style: none;
}

#AreaPageStavyStanicP3_Label16 span {
  color: black;
}

#AreaPageStavyStanicP3_Label16 {
  font-size: 15px;
}

#AreaPageStavyStanicP3_Label16 {
  font-weight: bold;
}

#AreaPageStavyStanicP3_Label16 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP3_TextOutput9 {
  height: 30px;
}

#AreaPageStavyStanicP3_TextOutput9 {
  top: 208px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput9 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput9 {
  width: 1226px;
}

#AreaPageStavyStanicP3_TextOutput9 {
  z-index: 9;
}

#AreaPageStavyStanicP3_TextOutput9 {
  background-color: dimgray;
}

#AreaPageStavyStanicP3_TextOutput9 span {
  color: white;
}

#AreaPageStavyStanicP3_TextOutput9 {
  font-size: 12px;
}

#AreaPageStavyStanicP3_TextOutput9 {
  box-shadow: none;
}

#AreaPageStavyStanicP3_Label9 {
  top: 248px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label9 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label9 {
  width: 1344px;
}

#AreaPageStavyStanicP3_Label9 {
  height: 42px;
}

#AreaPageStavyStanicP3_Label9 {
  z-index: 10;
}

#AreaPageStavyStanicP3_Label9 {
  border-radius: 4px;
}

#AreaPageStavyStanicP3_Label9 {
  background-color: oldlace;
}

#AreaPageStavyStanicP3_Label9 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP3_Label9 {
  border-color: black;
}

#AreaPageStavyStanicP3_Label9:before {
  border-color: black;
}

#AreaPageStavyStanicP3_Label9:after {
  border-color: black;
}

#AreaPageStavyStanicP3_Label9 {
  border-style: none;
}

#AreaPageStavyStanicP3_Label9:before {
  border-style: none;
}

#AreaPageStavyStanicP3_Label9:after {
  border-style: none;
}

#AreaPageStavyStanicP3_Label9 span {
  color: black;
}

#AreaPageStavyStanicP3_Label9 {
  font-size: 15px;
}

#AreaPageStavyStanicP3_Label9 {
  font-weight: bold;
}

#AreaPageStavyStanicP3_Label9 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP3_TextOutput2 {
  height: 30px;
}

#AreaPageStavyStanicP3_TextOutput2 {
  top: 254px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput2 {
  left: 121px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput2 {
  width: 1226px;
}

#AreaPageStavyStanicP3_TextOutput2 {
  z-index: 11;
}

#AreaPageStavyStanicP3_TextOutput2 {
  background-color: dimgray;
}

#AreaPageStavyStanicP3_TextOutput2 span {
  color: white;
}

#AreaPageStavyStanicP3_TextOutput2 {
  font-size: 12px;
}

#AreaPageStavyStanicP3_TextOutput2 {
  box-shadow: none;
}

#AreaPageStavyStanicP3_Label12 {
  top: 294px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label12 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label12 {
  width: 1344px;
}

#AreaPageStavyStanicP3_Label12 {
  height: 42px;
}

#AreaPageStavyStanicP3_Label12 {
  z-index: 12;
}

#AreaPageStavyStanicP3_Label12 {
  border-radius: 4px;
}

#AreaPageStavyStanicP3_Label12 {
  background-color: oldlace;
}

#AreaPageStavyStanicP3_Label12 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP3_Label12 {
  border-color: black;
}

#AreaPageStavyStanicP3_Label12:before {
  border-color: black;
}

#AreaPageStavyStanicP3_Label12:after {
  border-color: black;
}

#AreaPageStavyStanicP3_Label12 {
  border-style: none;
}

#AreaPageStavyStanicP3_Label12:before {
  border-style: none;
}

#AreaPageStavyStanicP3_Label12:after {
  border-style: none;
}

#AreaPageStavyStanicP3_Label12 span {
  color: black;
}

#AreaPageStavyStanicP3_Label12 {
  font-size: 15px;
}

#AreaPageStavyStanicP3_Label12 {
  font-weight: bold;
}

#AreaPageStavyStanicP3_Label12 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP3_TextOutput5 {
  height: 30px;
}

#AreaPageStavyStanicP3_TextOutput5 {
  top: 300px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput5 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput5 {
  width: 1226px;
}

#AreaPageStavyStanicP3_TextOutput5 {
  z-index: 13;
}

#AreaPageStavyStanicP3_TextOutput5 {
  background-color: dimgray;
}

#AreaPageStavyStanicP3_TextOutput5 span {
  color: white;
}

#AreaPageStavyStanicP3_TextOutput5 {
  font-size: 12px;
}

#AreaPageStavyStanicP3_TextOutput5 {
  box-shadow: none;
}

#AreaPageStavyStanicP3_Label13 {
  top: 340px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label13 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label13 {
  width: 1344px;
}

#AreaPageStavyStanicP3_Label13 {
  height: 42px;
}

#AreaPageStavyStanicP3_Label13 {
  z-index: 14;
}

#AreaPageStavyStanicP3_Label13 {
  border-radius: 4px;
}

#AreaPageStavyStanicP3_Label13 {
  background-color: oldlace;
}

#AreaPageStavyStanicP3_Label13 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP3_Label13 {
  border-color: black;
}

#AreaPageStavyStanicP3_Label13:before {
  border-color: black;
}

#AreaPageStavyStanicP3_Label13:after {
  border-color: black;
}

#AreaPageStavyStanicP3_Label13 {
  border-style: none;
}

#AreaPageStavyStanicP3_Label13:before {
  border-style: none;
}

#AreaPageStavyStanicP3_Label13:after {
  border-style: none;
}

#AreaPageStavyStanicP3_Label13 span {
  color: black;
}

#AreaPageStavyStanicP3_Label13 {
  font-size: 15px;
}

#AreaPageStavyStanicP3_Label13 {
  font-weight: bold;
}

#AreaPageStavyStanicP3_Label13 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP3_TextOutput6 {
  height: 30px;
}

#AreaPageStavyStanicP3_TextOutput6 {
  top: 346px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput6 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput6 {
  width: 1226px;
}

#AreaPageStavyStanicP3_TextOutput6 {
  z-index: 15;
}

#AreaPageStavyStanicP3_TextOutput6 {
  background-color: dimgray;
}

#AreaPageStavyStanicP3_TextOutput6 span {
  color: white;
}

#AreaPageStavyStanicP3_TextOutput6 {
  font-size: 12px;
}

#AreaPageStavyStanicP3_TextOutput6 {
  box-shadow: none;
}

#AreaPageStavyStanicP3_Label17 {
  top: 386px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label17 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label17 {
  width: 1344px;
}

#AreaPageStavyStanicP3_Label17 {
  height: 42px;
}

#AreaPageStavyStanicP3_Label17 {
  z-index: 16;
}

#AreaPageStavyStanicP3_Label17 {
  border-radius: 4px;
}

#AreaPageStavyStanicP3_Label17 {
  background-color: oldlace;
}

#AreaPageStavyStanicP3_Label17 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP3_Label17 {
  border-color: black;
}

#AreaPageStavyStanicP3_Label17:before {
  border-color: black;
}

#AreaPageStavyStanicP3_Label17:after {
  border-color: black;
}

#AreaPageStavyStanicP3_Label17 {
  border-style: none;
}

#AreaPageStavyStanicP3_Label17:before {
  border-style: none;
}

#AreaPageStavyStanicP3_Label17:after {
  border-style: none;
}

#AreaPageStavyStanicP3_Label17 span {
  color: black;
}

#AreaPageStavyStanicP3_Label17 {
  font-size: 15px;
}

#AreaPageStavyStanicP3_Label17 {
  font-weight: bold;
}

#AreaPageStavyStanicP3_Label17 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP3_TextOutput10 {
  height: 30px;
}

#AreaPageStavyStanicP3_TextOutput10 {
  top: 392px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput10 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput10 {
  width: 1226px;
}

#AreaPageStavyStanicP3_TextOutput10 {
  z-index: 17;
}

#AreaPageStavyStanicP3_TextOutput10 {
  background-color: dimgray;
}

#AreaPageStavyStanicP3_TextOutput10 span {
  color: white;
}

#AreaPageStavyStanicP3_TextOutput10 {
  font-size: 12px;
}

#AreaPageStavyStanicP3_TextOutput10 {
  box-shadow: none;
}

#AreaPageStavyStanicP3_Label18 {
  top: 432px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label18 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label18 {
  width: 1344px;
}

#AreaPageStavyStanicP3_Label18 {
  height: 42px;
}

#AreaPageStavyStanicP3_Label18 {
  z-index: 18;
}

#AreaPageStavyStanicP3_Label18 {
  border-radius: 4px;
}

#AreaPageStavyStanicP3_Label18 {
  background-color: oldlace;
}

#AreaPageStavyStanicP3_Label18 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP3_Label18 {
  border-color: black;
}

#AreaPageStavyStanicP3_Label18:before {
  border-color: black;
}

#AreaPageStavyStanicP3_Label18:after {
  border-color: black;
}

#AreaPageStavyStanicP3_Label18 {
  border-style: none;
}

#AreaPageStavyStanicP3_Label18:before {
  border-style: none;
}

#AreaPageStavyStanicP3_Label18:after {
  border-style: none;
}

#AreaPageStavyStanicP3_Label18 span {
  color: black;
}

#AreaPageStavyStanicP3_Label18 {
  font-size: 15px;
}

#AreaPageStavyStanicP3_Label18 {
  font-weight: bold;
}

#AreaPageStavyStanicP3_Label18 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP3_TextOutput11 {
  height: 30px;
}

#AreaPageStavyStanicP3_TextOutput11 {
  top: 438px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput11 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput11 {
  width: 1226px;
}

#AreaPageStavyStanicP3_TextOutput11 {
  z-index: 19;
}

#AreaPageStavyStanicP3_TextOutput11 {
  background-color: dimgray;
}

#AreaPageStavyStanicP3_TextOutput11 span {
  color: white;
}

#AreaPageStavyStanicP3_TextOutput11 {
  font-size: 12px;
}

#AreaPageStavyStanicP3_TextOutput11 {
  box-shadow: none;
}

#AreaPageStavyStanicP3_Label14 {
  top: 478px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label14 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label14 {
  width: 1344px;
}

#AreaPageStavyStanicP3_Label14 {
  height: 42px;
}

#AreaPageStavyStanicP3_Label14 {
  z-index: 20;
}

#AreaPageStavyStanicP3_Label14 {
  border-radius: 4px;
}

#AreaPageStavyStanicP3_Label14 {
  background-color: oldlace;
}

#AreaPageStavyStanicP3_Label14 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP3_Label14 {
  border-color: black;
}

#AreaPageStavyStanicP3_Label14:before {
  border-color: black;
}

#AreaPageStavyStanicP3_Label14:after {
  border-color: black;
}

#AreaPageStavyStanicP3_Label14 {
  border-style: none;
}

#AreaPageStavyStanicP3_Label14:before {
  border-style: none;
}

#AreaPageStavyStanicP3_Label14:after {
  border-style: none;
}

#AreaPageStavyStanicP3_Label14 span {
  color: black;
}

#AreaPageStavyStanicP3_Label14 {
  font-size: 15px;
}

#AreaPageStavyStanicP3_Label14 {
  font-weight: bold;
}

#AreaPageStavyStanicP3_Label14 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP3_TextOutput7 {
  height: 30px;
}

#AreaPageStavyStanicP3_TextOutput7 {
  top: 484px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput7 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput7 {
  width: 1226px;
}

#AreaPageStavyStanicP3_TextOutput7 {
  z-index: 21;
}

#AreaPageStavyStanicP3_TextOutput7 {
  background-color: dimgray;
}

#AreaPageStavyStanicP3_TextOutput7 span {
  color: white;
}

#AreaPageStavyStanicP3_TextOutput7 {
  font-size: 12px;
}

#AreaPageStavyStanicP3_TextOutput7 {
  box-shadow: none;
}

#AreaPageStavyStanicP3_Label19 {
  top: 524px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label19 {
  left: 10px;
  position: absolute;
}

#AreaPageStavyStanicP3_Label19 {
  width: 1344px;
}

#AreaPageStavyStanicP3_Label19 {
  height: 42px;
}

#AreaPageStavyStanicP3_Label19 {
  z-index: 22;
}

#AreaPageStavyStanicP3_Label19 {
  border-radius: 4px;
}

#AreaPageStavyStanicP3_Label19 {
  background-color: oldlace;
}

#AreaPageStavyStanicP3_Label19 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP3_Label19 {
  border-color: black;
}

#AreaPageStavyStanicP3_Label19:before {
  border-color: black;
}

#AreaPageStavyStanicP3_Label19:after {
  border-color: black;
}

#AreaPageStavyStanicP3_Label19 {
  border-style: none;
}

#AreaPageStavyStanicP3_Label19:before {
  border-style: none;
}

#AreaPageStavyStanicP3_Label19:after {
  border-style: none;
}

#AreaPageStavyStanicP3_Label19 span {
  color: black;
}

#AreaPageStavyStanicP3_Label19 {
  font-size: 15px;
}

#AreaPageStavyStanicP3_Label19 {
  font-weight: bold;
}

#AreaPageStavyStanicP3_Label19 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP3_TextOutput12 {
  height: 30px;
}

#AreaPageStavyStanicP3_TextOutput12 {
  top: 530px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput12 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP3_TextOutput12 {
  width: 1226px;
}

#AreaPageStavyStanicP3_TextOutput12 {
  z-index: 23;
}

#AreaPageStavyStanicP3_TextOutput12 {
  background-color: dimgray;
}

#AreaPageStavyStanicP3_TextOutput12 span {
  color: white;
}

#AreaPageStavyStanicP3_TextOutput12 {
  font-size: 12px;
}

#AreaPageStavyStanicP3_TextOutput12 {
  box-shadow: none;
}
