@import "mixins.scss";
#AreaPageAutomatP34_ImageAutomat {
	@include elemTop(0);
}
#AreaPageAutomatP34_ImageAutomat {
	@include elemLeft(0);
}
#AreaPageAutomatP34_ImageAutomat {
	@include elemAutoWidth(1366);
}
#AreaPageAutomatP34_ImageAutomat {
	@include elemAutoHeight(588);
}
#AreaPageAutomatP34_ImageAutomat {
		z-index: 0;
}
#AreaPageAutomatP34_ImageAutomat {
		opacity: 0.15;
}
#AreaPageAutomatP34_Label1 {
	@include elemTop(13);
}
#AreaPageAutomatP34_Label1 {
	@include elemLeft(483);
}
#AreaPageAutomatP34_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageAutomatP34_Label1 {
	@include elemAutoHeight(40);
}
#AreaPageAutomatP34_Label1 {
		z-index: 1;
}
#AreaPageAutomatP34_Label1 {
		border-width: 3px;
}
#AreaPageAutomatP34_ToggleButton_Prihlasenie {
	@include elemTop(13);
}
#AreaPageAutomatP34_ToggleButton_Prihlasenie {
	@include elemLeft(900);
}
#AreaPageAutomatP34_ToggleButton_Prihlasenie {
	@include elemAutoWidth(160);
}
#AreaPageAutomatP34_ToggleButton_Prihlasenie {
	@include elemAutoHeight(50);
}
#AreaPageAutomatP34_ToggleButton_Prihlasenie {
		z-index: 2;
}
#AreaPageAutomatP34_ToggleButton_Prihlasenie {
	@include border-radius(10px);
}
#AreaPageAutomatP34_ToggleButton_Prihlasenie {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_ToggleButton_Prihlasenie {
	@include text-alignment(center);
}
#AreaPageAutomatP34_ToggleButton_Prihlasenie {
	span{
		font-size: 18px;
	}
}
#AreaPageAutomatP34_ToggleButton_Prihlasenie {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleButton_Prihlasenie {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleButton_Prihlasenie {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Image1 {
	@include elemTop(75);
}
#AreaPageAutomatP34_Image1 {
	@include elemLeft(10);
}
#AreaPageAutomatP34_Image1 {
	@include elemAutoWidth(1342);
}
#AreaPageAutomatP34_Image1 {
	@include elemAutoHeight(500);
}
#AreaPageAutomatP34_Image1 {
		z-index: 3;
}
#AreaPageAutomatP34_Image1 {
		background-color: rgba(220, 220, 220, 1);
}
#AreaPageAutomatP34_Image1 {
		border-style: solid;
}
#AreaPageAutomatP34_Image1 {
		margin: 0px;
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky3 {
	@include elemTop(85);
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky3 {
	@include elemLeft(20);
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky3 {
	@include elemWidth(250);
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky3 {
	@include elemHeight(480);
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky3 {
		z-index: 4;
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky3 {
	@include border-radius(6px 6px 6px 6px);
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky3 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky3 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky3 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageAutomatP34_Button_START_Bunka3 {
	@include elemTop(13);
}
#AreaPageAutomatP34_Button_START_Bunka3 {
	@include elemLeft(14);
}
#AreaPageAutomatP34_Button_START_Bunka3 {
	@include elemAutoWidth(220);
}
#AreaPageAutomatP34_Button_START_Bunka3 {
	@include elemAutoHeight(60);
}
#AreaPageAutomatP34_Button_START_Bunka3 {
		z-index: 0;
}
#AreaPageAutomatP34_Button_START_Bunka3 {
	@include border-radius(10px);
}
#AreaPageAutomatP34_Button_START_Bunka3 {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(192, 255, 192, 1) 20%,rgba(0,255,0,1) 100%)');
	}
}
#AreaPageAutomatP34_Button_START_Bunka3 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_Button_START_Bunka3 {
	span{
		font-size: 25px;
	}
}
#AreaPageAutomatP34_Button_START_Bunka3 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_START_Bunka3 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_START_Bunka3 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_STOP_Bunka3 {
	@include elemTop(93);
}
#AreaPageAutomatP34_Button_STOP_Bunka3 {
	@include elemLeft(14);
}
#AreaPageAutomatP34_Button_STOP_Bunka3 {
	@include elemAutoWidth(220);
}
#AreaPageAutomatP34_Button_STOP_Bunka3 {
	@include elemAutoHeight(60);
}
#AreaPageAutomatP34_Button_STOP_Bunka3 {
		z-index: 1;
}
#AreaPageAutomatP34_Button_STOP_Bunka3 {
	@include border-radius(10px);
}
#AreaPageAutomatP34_Button_STOP_Bunka3 {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(255, 192, 192, 1) 20%,rgba(255,0,0,1) 100%)');
	}
}
#AreaPageAutomatP34_Button_STOP_Bunka3 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_Button_STOP_Bunka3 {
	span{
		font-size: 25px;
	}
}
#AreaPageAutomatP34_Button_STOP_Bunka3 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_STOP_Bunka3 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_STOP_Bunka3 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka3 {
	@include elemTop(173);
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka3 {
	@include elemLeft(14);
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka3 {
	@include elemAutoWidth(220);
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka3 {
	@include elemAutoHeight(60);
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka3 {
		z-index: 2;
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka3 {
	@include border-radius(10px);
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka3 {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(192, 255, 255, 1) 20%,rgba(0,255,255,1) 100%)');
	}
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka3 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka3 {
	span{
		font-size: 23px;
	}
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka3 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka3 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka3 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_GroupBox_ST7 {
	@include elemTop(105);
}
#AreaPageAutomatP34_GroupBox_ST7 {
	@include elemLeft(295);
}
#AreaPageAutomatP34_GroupBox_ST7 {
	@include elemWidth(90);
}
#AreaPageAutomatP34_GroupBox_ST7 {
	@include elemHeight(70);
}
#AreaPageAutomatP34_GroupBox_ST7 {
		z-index: 6;
}
#AreaPageAutomatP34_GroupBox_ST7 {
		border-width: 2px;
}
#AreaPageAutomatP34_GroupBox_ST7 {
	> .header{
		border-width: 2px;
	}
}
#AreaPageAutomatP34_GroupBox_ST7 {
	@include border-radius(0px);
}
#AreaPageAutomatP34_GroupBox_ST7 {
		border-style: solid;
}
#AreaPageAutomatP34_GroupBox_ST7 {
	> .header{
		border-bottom-style: solid;
	}
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
	@include elemTop(1);
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
		z-index: 0;
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
	.breaseNumericOutput_unit{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
	@include elemTop(23);
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
		z-index: 1;
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILSEC {
	@include elemTop(45);
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILSEC {
		z-index: 2;
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_GroupBox_ST8A {
	@include elemTop(105);
}
#AreaPageAutomatP34_GroupBox_ST8A {
	@include elemLeft(430);
}
#AreaPageAutomatP34_GroupBox_ST8A {
	@include elemWidth(90);
}
#AreaPageAutomatP34_GroupBox_ST8A {
	@include elemHeight(70);
}
#AreaPageAutomatP34_GroupBox_ST8A {
		z-index: 7;
}
#AreaPageAutomatP34_GroupBox_ST8A {
		border-width: 2px;
}
#AreaPageAutomatP34_GroupBox_ST8A {
	> .header{
		border-width: 2px;
	}
}
#AreaPageAutomatP34_GroupBox_ST8A {
	@include border-radius(0px);
}
#AreaPageAutomatP34_GroupBox_ST8A {
		border-style: solid;
}
#AreaPageAutomatP34_GroupBox_ST8A {
	> .header{
		border-bottom-style: solid;
	}
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
	@include elemTop(1);
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
		z-index: 0;
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
	.breaseNumericOutput_unit{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
	@include elemTop(23);
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
		z-index: 1;
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILSEC {
	@include elemTop(45);
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILSEC {
		z-index: 2;
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_GroupBox_ST8B {
	@include elemTop(105);
}
#AreaPageAutomatP34_GroupBox_ST8B {
	@include elemLeft(530);
}
#AreaPageAutomatP34_GroupBox_ST8B {
	@include elemWidth(90);
}
#AreaPageAutomatP34_GroupBox_ST8B {
	@include elemHeight(70);
}
#AreaPageAutomatP34_GroupBox_ST8B {
		z-index: 8;
}
#AreaPageAutomatP34_GroupBox_ST8B {
		border-width: 2px;
}
#AreaPageAutomatP34_GroupBox_ST8B {
	> .header{
		border-width: 2px;
	}
}
#AreaPageAutomatP34_GroupBox_ST8B {
	@include border-radius(0px);
}
#AreaPageAutomatP34_GroupBox_ST8B {
		border-style: solid;
}
#AreaPageAutomatP34_GroupBox_ST8B {
	> .header{
		border-bottom-style: solid;
	}
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
	@include elemTop(1);
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
		z-index: 0;
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
	.breaseNumericOutput_unit{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
	@include elemTop(23);
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
		z-index: 1;
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILSEC {
	@include elemTop(45);
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILSEC {
		z-index: 2;
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestA {
	@include elemTop(105);
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestA {
	@include elemLeft(645);
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestA {
	@include elemWidth(90);
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestA {
	@include elemHeight(70);
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestA {
		z-index: 9;
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestA {
		border-width: 2px;
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestA {
	> .header{
		border-width: 2px;
	}
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestA {
	@include border-radius(0px);
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestA {
		border-style: solid;
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestA {
	> .header{
		border-bottom-style: solid;
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
	@include elemTop(1);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
		z-index: 0;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
	.breaseNumericOutput_unit{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
	@include elemTop(23);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
		z-index: 1;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILSEC {
	@include elemTop(45);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILSEC {
		z-index: 2;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_ImageList6 {
	@include elemTop(455);
}
#AreaPageAutomatP34_ImageList6 {
	@include elemLeft(320);
}
#AreaPageAutomatP34_ImageList6 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList6 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList6 {
		z-index: 10;
}
#AreaPageAutomatP34_ImageList6 {
		border-width: 0px;
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky4 {
	@include elemTop(85);
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky4 {
	@include elemLeft(1090);
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky4 {
	@include elemWidth(250);
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky4 {
	@include elemHeight(480);
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky4 {
		z-index: 11;
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky4 {
	@include border-radius(6px 6px 6px 6px);
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky4 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky4 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_GroupBox_OvladanieBunky4 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageAutomatP34_Button_START_Bunka4 {
	@include elemTop(13);
}
#AreaPageAutomatP34_Button_START_Bunka4 {
	@include elemLeft(14);
}
#AreaPageAutomatP34_Button_START_Bunka4 {
	@include elemAutoWidth(220);
}
#AreaPageAutomatP34_Button_START_Bunka4 {
	@include elemAutoHeight(60);
}
#AreaPageAutomatP34_Button_START_Bunka4 {
		z-index: 0;
}
#AreaPageAutomatP34_Button_START_Bunka4 {
	@include border-radius(10px);
}
#AreaPageAutomatP34_Button_START_Bunka4 {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(192, 255, 192, 1) 20%,rgba(0,255,0,1) 100%)');
	}
}
#AreaPageAutomatP34_Button_START_Bunka4 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_Button_START_Bunka4 {
	span{
		font-size: 25px;
	}
}
#AreaPageAutomatP34_Button_START_Bunka4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_START_Bunka4 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_START_Bunka4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_STOP_Bunka4 {
	@include elemTop(93);
}
#AreaPageAutomatP34_Button_STOP_Bunka4 {
	@include elemLeft(14);
}
#AreaPageAutomatP34_Button_STOP_Bunka4 {
	@include elemAutoWidth(220);
}
#AreaPageAutomatP34_Button_STOP_Bunka4 {
	@include elemAutoHeight(60);
}
#AreaPageAutomatP34_Button_STOP_Bunka4 {
		z-index: 1;
}
#AreaPageAutomatP34_Button_STOP_Bunka4 {
	@include border-radius(10px);
}
#AreaPageAutomatP34_Button_STOP_Bunka4 {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(255, 192, 192, 1) 20%,rgba(255,0,0,1) 100%)');
	}
}
#AreaPageAutomatP34_Button_STOP_Bunka4 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_Button_STOP_Bunka4 {
	span{
		font-size: 25px;
	}
}
#AreaPageAutomatP34_Button_STOP_Bunka4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_STOP_Bunka4 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_STOP_Bunka4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka4 {
	@include elemTop(173);
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka4 {
	@include elemLeft(14);
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka4 {
	@include elemAutoWidth(220);
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka4 {
	@include elemAutoHeight(60);
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka4 {
		z-index: 2;
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka4 {
	@include border-radius(10px);
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka4 {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(192, 255, 255, 1) 20%,rgba(0,255,255,1) 100%)');
	}
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka4 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka4 {
	span{
		font-size: 23px;
	}
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka4 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_Button_UkoncenieCyklu_Bunka4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleButton_VyprazdniLinku_Bunka4 {
	@include elemTop(368);
}
#AreaPageAutomatP34_ToggleButton_VyprazdniLinku_Bunka4 {
	@include elemLeft(14);
}
#AreaPageAutomatP34_ToggleButton_VyprazdniLinku_Bunka4 {
	@include elemAutoWidth(220);
}
#AreaPageAutomatP34_ToggleButton_VyprazdniLinku_Bunka4 {
	@include elemAutoHeight(60);
}
#AreaPageAutomatP34_ToggleButton_VyprazdniLinku_Bunka4 {
		z-index: 3;
}
#AreaPageAutomatP34_ToggleButton_VyprazdniLinku_Bunka4 {
	@include border-radius(10px);
}
#AreaPageAutomatP34_ToggleButton_VyprazdniLinku_Bunka4 {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(255, 228, 196, 1) 20%,rgba(255,165,0,1) 100%)');
	}
}
#AreaPageAutomatP34_ToggleButton_VyprazdniLinku_Bunka4 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_ToggleButton_VyprazdniLinku_Bunka4 {
	span{
		font-size: 22px;
	}
}
#AreaPageAutomatP34_ToggleButton_VyprazdniLinku_Bunka4 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleButton_VyprazdniLinku_Bunka4 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleButton_VyprazdniLinku_Bunka4 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestB {
	@include elemTop(105);
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestB {
	@include elemLeft(745);
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestB {
	@include elemWidth(90);
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestB {
	@include elemHeight(70);
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestB {
		z-index: 12;
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestB {
		border-width: 2px;
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestB {
	> .header{
		border-width: 2px;
	}
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestB {
	@include border-radius(0px);
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestB {
		border-style: solid;
}
#AreaPageAutomatP34_GroupBox_FunkcnyTestB {
	> .header{
		border-bottom-style: solid;
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
	@include elemTop(1);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
		z-index: 0;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
	.breaseNumericOutput_unit{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
	@include elemTop(23);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
		z-index: 1;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILSEC {
	@include elemTop(45);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILSEC {
		z-index: 2;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_GroupBox_ST9 {
	@include elemTop(105);
}
#AreaPageAutomatP34_GroupBox_ST9 {
	@include elemLeft(845);
}
#AreaPageAutomatP34_GroupBox_ST9 {
	@include elemWidth(90);
}
#AreaPageAutomatP34_GroupBox_ST9 {
	@include elemHeight(70);
}
#AreaPageAutomatP34_GroupBox_ST9 {
		z-index: 13;
}
#AreaPageAutomatP34_GroupBox_ST9 {
		border-width: 2px;
}
#AreaPageAutomatP34_GroupBox_ST9 {
	> .header{
		border-width: 2px;
	}
}
#AreaPageAutomatP34_GroupBox_ST9 {
	@include border-radius(0px);
}
#AreaPageAutomatP34_GroupBox_ST9 {
		border-style: solid;
}
#AreaPageAutomatP34_GroupBox_ST9 {
	> .header{
		border-bottom-style: solid;
	}
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
	@include elemTop(1);
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
		z-index: 0;
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
	.breaseNumericOutput_unit{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeSEC {
	@include elemTop(23);
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeSEC {
		z-index: 1;
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMILSEC {
	@include elemTop(45);
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMILSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMILSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMILSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMILSEC {
		z-index: 2;
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMILSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMILSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMILSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMILSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMILSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMILSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_GroupBox_ST10 {
	@include elemTop(105);
}
#AreaPageAutomatP34_GroupBox_ST10 {
	@include elemLeft(955);
}
#AreaPageAutomatP34_GroupBox_ST10 {
	@include elemWidth(90);
}
#AreaPageAutomatP34_GroupBox_ST10 {
	@include elemHeight(70);
}
#AreaPageAutomatP34_GroupBox_ST10 {
		z-index: 14;
}
#AreaPageAutomatP34_GroupBox_ST10 {
		border-width: 2px;
}
#AreaPageAutomatP34_GroupBox_ST10 {
	> .header{
		border-width: 2px;
	}
}
#AreaPageAutomatP34_GroupBox_ST10 {
	@include border-radius(0px);
}
#AreaPageAutomatP34_GroupBox_ST10 {
		border-style: solid;
}
#AreaPageAutomatP34_GroupBox_ST10 {
	> .header{
		border-bottom-style: solid;
	}
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
	@include elemTop(1);
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
		z-index: 0;
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
	.breaseNumericOutput_unit{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeSEC {
	@include elemTop(23);
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeSEC {
		z-index: 1;
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMILSEC {
	@include elemTop(45);
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMILSEC {
	@include elemLeft(3);
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMILSEC {
	@include elemAutoWidth(80);
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMILSEC {
	@include elemAutoHeight(20);
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMILSEC {
		z-index: 2;
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMILSEC {
		border-width: 1px;
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMILSEC {
		border-style: ridge;
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMILSEC {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMILSEC {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMILSEC {
	input{
	@include text-alignment(left);
	}
}
#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMILSEC {
	input{
		font-size: 14px;
	}
}
#AreaPageAutomatP34_grpFileExplorerStatus {
	@include elemTop(13);
}
#AreaPageAutomatP34_grpFileExplorerStatus {
	@include elemLeft(1075);
}
#AreaPageAutomatP34_grpFileExplorerStatus {
	@include elemWidth(272);
}
#AreaPageAutomatP34_grpFileExplorerStatus {
	@include elemHeight(47);
}
#AreaPageAutomatP34_grpFileExplorerStatus {
		z-index: 15;
}
#AreaPageAutomatP34_grpFileExplorerStatus {
	@include border-radius(8px 8px 8px 8px);
}
#AreaPageAutomatP34_grpFileExplorerStatus {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageAutomatP34_grpFileExplorerStatus {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageAutomatP34_labRecError2 {
	@include elemTop(3);
}
#AreaPageAutomatP34_labRecError2 {
	@include elemLeft(12);
}
#AreaPageAutomatP34_labRecError2 {
	@include elemAutoWidth(142);
}
#AreaPageAutomatP34_labRecError2 {
	@include elemAutoHeight(40);
}
#AreaPageAutomatP34_labRecError2 {
		z-index: 0;
}
#AreaPageAutomatP34_labRecError2 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_labRecError2 {
	@include text-alignment-all('right');
}
#AreaPageAutomatP34_labRecError2 {
		font-size: 18px;
}
#AreaPageAutomatP34_labRecError2 {
	@include font-weight-bold(true);
}
#AreaPageAutomatP34_labRecStatus {
	@include elemTop(41);
}
#AreaPageAutomatP34_labRecStatus {
	@include elemLeft(11);
}
#AreaPageAutomatP34_labRecStatus {
	@include elemAutoWidth(111);
}
#AreaPageAutomatP34_labRecStatus {
	@include elemAutoHeight(40);
}
#AreaPageAutomatP34_labRecStatus {
		z-index: 1;
}
#AreaPageAutomatP34_labRecStatus {
	@include text-alignment-all('left');
}
#AreaPageAutomatP34_labRecStatus {
		font-size: 15px;
}
#AreaPageAutomatP34_labRecStatus {
	@include font-weight-bold(true);
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
	@include elemTop(5);
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
	@include elemLeft(171);
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
	@include elemAutoWidth(88);
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
	@include elemAutoHeight(35);
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
		z-index: 2;
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
		border-width: 3px;
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
	@include border-radius(3px);
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
		background-color: rgba(255, 133, 0, 1);
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
		border-color: rgba(153, 153, 153, 1);
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
	&:before{
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
	&:after{
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
		border-style: ridge;
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
	&:before{
		border-style: ridge;
	}
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
	&:after{
		border-style: ridge;
	}
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
	@include text-alignment-all('center');
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
		font-size: 20px;
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
	@include font-weight-bold(true);
}
#AreaPageAutomatP34_TextOutput_NazovModelu2 {
	span{
		padding: 0px 5px 0px 5px;
	}
}
#AreaPageAutomatP34_ImageList7 {
	@include elemTop(455);
}
#AreaPageAutomatP34_ImageList7 {
	@include elemLeft(720);
}
#AreaPageAutomatP34_ImageList7 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList7 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList7 {
		z-index: 16;
}
#AreaPageAutomatP34_ImageList7 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList8 {
	@include elemTop(430);
}
#AreaPageAutomatP34_ImageList8 {
	@include elemLeft(465);
}
#AreaPageAutomatP34_ImageList8 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList8 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList8 {
		z-index: 17;
}
#AreaPageAutomatP34_ImageList8 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList9 {
	@include elemTop(430);
}
#AreaPageAutomatP34_ImageList9 {
	@include elemLeft(820);
}
#AreaPageAutomatP34_ImageList9 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList9 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList9 {
		z-index: 18;
}
#AreaPageAutomatP34_ImageList9 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList10 {
	@include elemTop(355);
}
#AreaPageAutomatP34_ImageList10 {
	@include elemLeft(720);
}
#AreaPageAutomatP34_ImageList10 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList10 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList10 {
		z-index: 19;
}
#AreaPageAutomatP34_ImageList10 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList11 {
	@include elemTop(310);
}
#AreaPageAutomatP34_ImageList11 {
	@include elemLeft(720);
}
#AreaPageAutomatP34_ImageList11 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList11 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList11 {
		z-index: 20;
}
#AreaPageAutomatP34_ImageList11 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList12 {
	@include elemTop(355);
}
#AreaPageAutomatP34_ImageList12 {
	@include elemLeft(550);
}
#AreaPageAutomatP34_ImageList12 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList12 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList12 {
		z-index: 21;
}
#AreaPageAutomatP34_ImageList12 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList13 {
	@include elemTop(310);
}
#AreaPageAutomatP34_ImageList13 {
	@include elemLeft(550);
}
#AreaPageAutomatP34_ImageList13 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList13 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList13 {
		z-index: 22;
}
#AreaPageAutomatP34_ImageList13 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList14 {
	@include elemTop(355);
}
#AreaPageAutomatP34_ImageList14 {
	@include elemLeft(780);
}
#AreaPageAutomatP34_ImageList14 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList14 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList14 {
		z-index: 23;
}
#AreaPageAutomatP34_ImageList14 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList15 {
	@include elemTop(310);
}
#AreaPageAutomatP34_ImageList15 {
	@include elemLeft(780);
}
#AreaPageAutomatP34_ImageList15 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList15 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList15 {
		z-index: 24;
}
#AreaPageAutomatP34_ImageList15 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList16 {
	@include elemTop(355);
}
#AreaPageAutomatP34_ImageList16 {
	@include elemLeft(845);
}
#AreaPageAutomatP34_ImageList16 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList16 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList16 {
		z-index: 25;
}
#AreaPageAutomatP34_ImageList16 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList17 {
	@include elemTop(355);
}
#AreaPageAutomatP34_ImageList17 {
	@include elemLeft(980);
}
#AreaPageAutomatP34_ImageList17 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList17 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList17 {
		z-index: 26;
}
#AreaPageAutomatP34_ImageList17 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList18 {
	@include elemTop(355);
}
#AreaPageAutomatP34_ImageList18 {
	@include elemLeft(600);
}
#AreaPageAutomatP34_ImageList18 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList18 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList18 {
		z-index: 27;
}
#AreaPageAutomatP34_ImageList18 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList19 {
	@include elemTop(310);
}
#AreaPageAutomatP34_ImageList19 {
	@include elemLeft(600);
}
#AreaPageAutomatP34_ImageList19 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList19 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList19 {
		z-index: 28;
}
#AreaPageAutomatP34_ImageList19 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList20 {
	@include elemTop(355);
}
#AreaPageAutomatP34_ImageList20 {
	@include elemLeft(490);
}
#AreaPageAutomatP34_ImageList20 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList20 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList20 {
		z-index: 29;
}
#AreaPageAutomatP34_ImageList20 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList21 {
	@include elemTop(310);
}
#AreaPageAutomatP34_ImageList21 {
	@include elemLeft(490);
}
#AreaPageAutomatP34_ImageList21 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList21 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList21 {
		z-index: 30;
}
#AreaPageAutomatP34_ImageList21 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList22 {
	@include elemTop(355);
}
#AreaPageAutomatP34_ImageList22 {
	@include elemLeft(405);
}
#AreaPageAutomatP34_ImageList22 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList22 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList22 {
		z-index: 31;
}
#AreaPageAutomatP34_ImageList22 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList23 {
	@include elemTop(355);
}
#AreaPageAutomatP34_ImageList23 {
	@include elemLeft(330);
}
#AreaPageAutomatP34_ImageList23 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList23 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList23 {
		z-index: 32;
}
#AreaPageAutomatP34_ImageList23 {
		border-width: 0px;
}
#AreaPageAutomatP34_ImageList24 {
	@include elemTop(310);
}
#AreaPageAutomatP34_ImageList24 {
	@include elemLeft(330);
}
#AreaPageAutomatP34_ImageList24 {
	@include elemWidth(28);
}
#AreaPageAutomatP34_ImageList24 {
	@include elemHeight(28);
}
#AreaPageAutomatP34_ImageList24 {
		z-index: 33;
}
#AreaPageAutomatP34_ImageList24 {
		border-width: 0px;
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff {
	@include elemTop(520);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff {
	@include elemLeft(325);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff {
	@include elemAutoWidth(140);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff {
	@include elemAutoHeight(40);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff {
		z-index: 34;
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff {
	.wrapper .before{
		font-size: 13px;
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff {
	.wrapper .after{
		font-size: 13px;
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff1 {
	@include elemTop(520);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff1 {
	@include elemLeft(515);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff1 {
	@include elemAutoWidth(140);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff1 {
	@include elemAutoHeight(40);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff1 {
		z-index: 35;
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff1 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff1 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff1 {
	.wrapper .before{
		font-size: 13px;
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff1 {
	.wrapper .after{
		font-size: 13px;
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff1 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff1 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff1 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff2 {
	@include elemTop(520);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff2 {
	@include elemLeft(705);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff2 {
	@include elemAutoWidth(140);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff2 {
	@include elemAutoHeight(40);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff2 {
		z-index: 36;
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff2 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff2 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff2 {
	.wrapper .before{
		font-size: 13px;
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff2 {
	.wrapper .after{
		font-size: 13px;
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff2 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff2 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff2 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff3 {
	@include elemTop(520);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff3 {
	@include elemLeft(895);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff3 {
	@include elemAutoWidth(140);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff3 {
	@include elemAutoHeight(40);
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff3 {
		z-index: 37;
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff3 {
	&:not(.disabled):not(.checked) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff3 {
	&:not(.disabled):not(.checked) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff3 {
	.wrapper .before{
		font-size: 13px;
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff3 {
	.wrapper .after{
		font-size: 13px;
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff3 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff3 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageAutomatP34_ToggleSwitch_LeakageTestA_OnOff3 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
