#AreaPageParametreP2_page1_ImageParametreP2_page1 {
  top: 0px;
  position: absolute;
}

#AreaPageParametreP2_page1_ImageParametreP2_page1 {
  left: 0px;
  position: absolute;
}

#AreaPageParametreP2_page1_ImageParametreP2_page1 {
  width: 1366px;
}

#AreaPageParametreP2_page1_ImageParametreP2_page1 {
  height: 588px;
}

#AreaPageParametreP2_page1_ImageParametreP2_page1 {
  z-index: 0;
}

#AreaPageParametreP2_page1_ImageParametreP2_page1 {
  opacity: 0.15;
}

#AreaPageParametreP2_page1_Label1 {
  top: 13px;
  position: absolute;
}

#AreaPageParametreP2_page1_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageParametreP2_page1_Label1 {
  width: 400px;
}

#AreaPageParametreP2_page1_Label1 {
  height: 40px;
}

#AreaPageParametreP2_page1_Label1 {
  z-index: 1;
}

#AreaPageParametreP2_page1_Label1 {
  border-width: 3px;
}

#AreaPageParametreP2_page1_Label1 {
  border-style: ridge;
}

#AreaPageParametreP2_page1_Label1:before {
  border-style: ridge;
}

#AreaPageParametreP2_page1_Label1:after {
  border-style: ridge;
}
