#AreaHlasenie3_ST1_GroupBox1 {
  top: 0px;
  position: absolute;
}

#AreaHlasenie3_ST1_GroupBox1 {
  left: 0px;
  position: absolute;
}

#AreaHlasenie3_ST1_GroupBox1 {
  width: 500px;
}

#AreaHlasenie3_ST1_GroupBox1 {
  height: 520px;
}

#AreaHlasenie3_ST1_GroupBox1 {
  z-index: 0;
}

#AreaHlasenie3_ST1_GroupBox1 {
  border-width: 6px;
}

#AreaHlasenie3_ST1_GroupBox1 > .header {
  border-width: 6px;
}

#AreaHlasenie3_ST1_GroupBox1 {
  border-radius: 0px 0px 0px 0px;
}

#AreaHlasenie3_ST1_GroupBox1 {
  background-color: #ffc080;
}

#AreaHlasenie3_ST1_GroupBox1 {
  border-style: solid;
}

#AreaHlasenie3_ST1_GroupBox1 > .header {
  border-bottom-style: solid;
}

#AreaHlasenie3_ST1_Image1 {
  top: 10px;
  position: absolute;
}

#AreaHlasenie3_ST1_Image1 {
  left: 10px;
  position: absolute;
}

#AreaHlasenie3_ST1_Image1 {
  width: 80px;
}

#AreaHlasenie3_ST1_Image1 {
  height: 80px;
}

#AreaHlasenie3_ST1_Image1 {
  z-index: 0;
}

#AreaHlasenie3_ST1_Image1 {
  border-radius: 50px;
}

#AreaHlasenie3_ST1_Image1 {
  box-shadow: 2px 2px 10px black;
}

#AreaHlasenie3_ST1_Label1 {
  top: 26px;
  position: absolute;
}

#AreaHlasenie3_ST1_Label1 {
  left: 96px;
  position: absolute;
}

#AreaHlasenie3_ST1_Label1 {
  width: 380px;
}

#AreaHlasenie3_ST1_Label1 {
  height: 50px;
}

#AreaHlasenie3_ST1_Label1 {
  z-index: 1;
}

#AreaHlasenie3_ST1_Label1 span {
  color: black;
}

#AreaHlasenie3_ST1_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaHlasenie3_ST1_Label1 {
  font-size: 25px;
}

#AreaHlasenie3_ST1_Label1 {
  font-weight: bold;
}

#AreaHlasenie3_ST1_Label1 span {
  text-decoration: underline;
}

#AreaHlasenie3_ST1_Image2 {
  top: 96px;
  position: absolute;
}

#AreaHlasenie3_ST1_Image2 {
  left: 46px;
  position: absolute;
}

#AreaHlasenie3_ST1_Image2 {
  width: 400px;
}

#AreaHlasenie3_ST1_Image2 {
  height: 400px;
}

#AreaHlasenie3_ST1_Image2 {
  z-index: 2;
}

#AreaHlasenie3_ST1_Image2 {
  border-width: 0px;
}

#AreaHlasenie3_ST1_ImageList4 {
  top: 406px;
  position: absolute;
}

#AreaHlasenie3_ST1_ImageList4 {
  left: 131px;
  position: absolute;
}

#AreaHlasenie3_ST1_ImageList4 {
  width: 32px;
}

#AreaHlasenie3_ST1_ImageList4 {
  height: 32px;
}

#AreaHlasenie3_ST1_ImageList4 {
  z-index: 3;
}

#AreaHlasenie3_ST1_ImageList4 {
  border-radius: 20px;
}

#AreaHlasenie3_ST1_ImageList4 {
  box-shadow: 2px 2px 10px black;
}

#AreaHlasenie3_ST1_ImageList7 {
  top: 201px;
  position: absolute;
}

#AreaHlasenie3_ST1_ImageList7 {
  left: 176px;
  position: absolute;
}

#AreaHlasenie3_ST1_ImageList7 {
  width: 32px;
}

#AreaHlasenie3_ST1_ImageList7 {
  height: 32px;
}

#AreaHlasenie3_ST1_ImageList7 {
  z-index: 4;
}

#AreaHlasenie3_ST1_ImageList7 {
  border-radius: 20px;
}

#AreaHlasenie3_ST1_ImageList7 {
  box-shadow: 2px 2px 10px black;
}

#AreaHlasenie3_ST1_ImageList8 {
  top: 276px;
  position: absolute;
}

#AreaHlasenie3_ST1_ImageList8 {
  left: 146px;
  position: absolute;
}

#AreaHlasenie3_ST1_ImageList8 {
  width: 32px;
}

#AreaHlasenie3_ST1_ImageList8 {
  height: 32px;
}

#AreaHlasenie3_ST1_ImageList8 {
  z-index: 5;
}

#AreaHlasenie3_ST1_ImageList8 {
  border-radius: 20px;
}

#AreaHlasenie3_ST1_ImageList8 {
  box-shadow: 2px 2px 10px black;
}

#AreaHlasenie3_ST1_Button_IgnorujKameru {
  top: 111px;
  position: absolute;
}

#AreaHlasenie3_ST1_Button_IgnorujKameru {
  left: 61px;
  position: absolute;
}

#AreaHlasenie3_ST1_Button_IgnorujKameru {
  width: 150px;
}

#AreaHlasenie3_ST1_Button_IgnorujKameru {
  height: 45px;
}

#AreaHlasenie3_ST1_Button_IgnorujKameru {
  z-index: 6;
}

#AreaHlasenie3_ST1_Button_IgnorujKameru:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaHlasenie3_ST1_Button_IgnorujKameru span {
  font-size: 16px;
}

#AreaHlasenie3_ST1_Button_IgnorujKameru:not(.active):not(.checked) {
  box-shadow: 2px 2px 10px black;
}

#AreaHlasenie3_ST1_Button_IgnorujKameru.disabled.active {
  box-shadow: 2px 2px 10px black;
}

#AreaHlasenie3_ST1_Button_IgnorujKameru.disabled.checked {
  box-shadow: 2px 2px 10px black;
}
