#AreaHlasenie5_ST1_GroupBox1 {
  top: 0px;
  position: absolute;
}

#AreaHlasenie5_ST1_GroupBox1 {
  left: 0px;
  position: absolute;
}

#AreaHlasenie5_ST1_GroupBox1 {
  width: 500px;
}

#AreaHlasenie5_ST1_GroupBox1 {
  height: 300px;
}

#AreaHlasenie5_ST1_GroupBox1 {
  z-index: 0;
}

#AreaHlasenie5_ST1_GroupBox1 {
  border-width: 4px;
}

#AreaHlasenie5_ST1_GroupBox1 > .header {
  border-width: 4px;
}

#AreaHlasenie5_ST1_GroupBox1 {
  border-radius: 0px;
}

#AreaHlasenie5_ST1_GroupBox1 {
  background-color: #ffc080;
}

#AreaHlasenie5_ST1_Image1 {
  top: 10px;
  position: absolute;
}

#AreaHlasenie5_ST1_Image1 {
  left: 10px;
  position: absolute;
}

#AreaHlasenie5_ST1_Image1 {
  width: 80px;
}

#AreaHlasenie5_ST1_Image1 {
  height: 80px;
}

#AreaHlasenie5_ST1_Image1 {
  z-index: 0;
}

#AreaHlasenie5_ST1_Label1 {
  top: 106px;
  position: absolute;
}

#AreaHlasenie5_ST1_Label1 {
  left: 21px;
  position: absolute;
}

#AreaHlasenie5_ST1_Label1 {
  width: 450px;
}

#AreaHlasenie5_ST1_Label1 {
  height: 100px;
}

#AreaHlasenie5_ST1_Label1 {
  z-index: 1;
}

#AreaHlasenie5_ST1_Label1 span {
  color: black;
}

#AreaHlasenie5_ST1_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaHlasenie5_ST1_Label1 {
  font-size: 25px;
}

#AreaHlasenie5_ST1_Label1 {
  font-weight: bold;
}

#AreaHlasenie5_ST1_Button_IgnorujKameru {
  top: 11px;
  position: absolute;
}

#AreaHlasenie5_ST1_Button_IgnorujKameru {
  left: 331px;
  position: absolute;
}

#AreaHlasenie5_ST1_Button_IgnorujKameru {
  width: 150px;
}

#AreaHlasenie5_ST1_Button_IgnorujKameru {
  height: 45px;
}

#AreaHlasenie5_ST1_Button_IgnorujKameru {
  z-index: 2;
}

#AreaHlasenie5_ST1_Button_IgnorujKameru:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaHlasenie5_ST1_Button_IgnorujKameru span {
  font-size: 16px;
}

#AreaHlasenie5_ST1_Button_IgnorujKameru:not(.active):not(.checked) {
  box-shadow: 2px 2px 10px black;
}

#AreaHlasenie5_ST1_Button_IgnorujKameru.disabled.active {
  box-shadow: 2px 2px 10px black;
}

#AreaHlasenie5_ST1_Button_IgnorujKameru.disabled.checked {
  box-shadow: 2px 2px 10px black;
}
