#AreaPageManual_Skrutkovanie_page4_ImageRR_Skrutkovanie {
  top: 0px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page4_ImageRR_Skrutkovanie {
  left: 0px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page4_ImageRR_Skrutkovanie {
  width: 1366px;
}

#AreaPageManual_Skrutkovanie_page4_ImageRR_Skrutkovanie {
  height: 588px;
}

#AreaPageManual_Skrutkovanie_page4_ImageRR_Skrutkovanie {
  z-index: 0;
}

#AreaPageManual_Skrutkovanie_page4_ImageRR_Skrutkovanie {
  opacity: 0.15;
}

#AreaPageManual_Skrutkovanie_page4_Label1 {
  top: 13px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page4_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page4_Label1 {
  width: 400px;
}

#AreaPageManual_Skrutkovanie_page4_Label1 {
  height: 40px;
}

#AreaPageManual_Skrutkovanie_page4_Label1 {
  z-index: 1;
}

#AreaPageManual_Skrutkovanie_page4_Label1 {
  border-width: 3px;
}

#AreaPageManual_Skrutkovanie_page4_Label1 {
  border-style: ridge;
}

#AreaPageManual_Skrutkovanie_page4_Label1:before {
  border-style: ridge;
}

#AreaPageManual_Skrutkovanie_page4_Label1:after {
  border-style: ridge;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage {
  top: 10px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage {
  left: 16px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage {
  width: 105px;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage {
  height: 50px;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage {
  z-index: 2;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage {
  border-style: solid;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage.active {
  border-style: solid;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage.checked {
  border-style: solid;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage.disabled {
  border-style: solid;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage:not(.active):not(.checked) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage.disabled {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage {
  border-radius: 8px;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage.active.checked:not(.disabled) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage span {
  font-size: 20px;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page4_NavigationButton_PreviewPage.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page4_GroupBox8 {
  top: 100px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page4_GroupBox8 {
  left: 16px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page4_GroupBox8 {
  width: 429px;
}

#AreaPageManual_Skrutkovanie_page4_GroupBox8 {
  height: 245px;
}

#AreaPageManual_Skrutkovanie_page4_GroupBox8 {
  z-index: 3;
}

#AreaPageManual_Skrutkovanie_page4_GroupBox8 {
  background-color: oldlace;
}

#AreaPageManual_Skrutkovanie_page4_GroupBox8 > .header span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page4_GroupBox8 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page4_Button_TestPozicii_4F {
  top: 131px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page4_Button_TestPozicii_4F {
  left: 131px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page4_Button_TestPozicii_4F {
  width: 165px;
}

#AreaPageManual_Skrutkovanie_page4_Button_TestPozicii_4F {
  height: 45px;
}

#AreaPageManual_Skrutkovanie_page4_Button_TestPozicii_4F {
  z-index: 0;
}

#AreaPageManual_Skrutkovanie_page4_Button_TestPozicii_4F {
  border-radius: 5px;
}

#AreaPageManual_Skrutkovanie_page4_Button_TestPozicii_4F:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManual_Skrutkovanie_page4_Button_TestPozicii_4F {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManual_Skrutkovanie_page4_Button_TestPozicii_4F span {
  font-size: 16px;
}

#AreaPageManual_Skrutkovanie_page4_Button_TestPozicii_4F:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page4_Button_TestPozicii_4F.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page4_Button_TestPozicii_4F.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1 {
  top: 18px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1 {
  left: 10px;
  position: absolute;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1.DropDownBoxView {
  width: 408px;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1.DropDownBoxView {
  height: 50px;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1 {
  z-index: 1;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1.DropDownBoxView {
  border-radius: 10px;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1 > .ItemView {
  border-radius: 10px;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1_listBoxWrapper > .ListView.Container {
  border-radius: 10px;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1.DropDownBoxView {
  box-shadow: 4px 4px 8px black;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1 > .ItemView {
  border-style: solid;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1 > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
  color: black;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1_listBoxWrapper > .ListView.Container {
  border-width: 4px;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1 .TextView {
  justify-content: center;
  text-align: center;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1 .TextView {
  font-size: 15px;
}

#AreaPageManual_Skrutkovanie_page4_DropDownBox1_listBoxWrapper .TextView {
  font-size: 15px;
}
