#AreaPageManualP2_Maticovacka_ImageRR_Maticovacka {
  top: 0px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageRR_Maticovacka {
  left: 0px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageRR_Maticovacka {
  width: 1366px;
}

#AreaPageManualP2_Maticovacka_ImageRR_Maticovacka {
  height: 588px;
}

#AreaPageManualP2_Maticovacka_ImageRR_Maticovacka {
  z-index: 0;
}

#AreaPageManualP2_Maticovacka_ImageRR_Maticovacka {
  opacity: 0.15;
}

#AreaPageManualP2_Maticovacka_Label1 {
  top: 13px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label1 {
  width: 400px;
}

#AreaPageManualP2_Maticovacka_Label1 {
  height: 40px;
}

#AreaPageManualP2_Maticovacka_Label1 {
  z-index: 1;
}

#AreaPageManualP2_Maticovacka_Label1 {
  border-width: 3px;
}

#AreaPageManualP2_Maticovacka_Label1 {
  border-style: ridge;
}

#AreaPageManualP2_Maticovacka_Label1:before {
  border-style: ridge;
}

#AreaPageManualP2_Maticovacka_Label1:after {
  border-style: ridge;
}

#AreaPageManualP2_Maticovacka_Image1 {
  top: 110px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Image1 {
  left: 1120px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Image1 {
  width: 235px;
}

#AreaPageManualP2_Maticovacka_Image1 {
  height: 400px;
}

#AreaPageManualP2_Maticovacka_Image1 {
  z-index: 2;
}

#AreaPageManualP2_Maticovacka_Image1 {
  background-color: gainsboro;
}

#AreaPageManualP2_Maticovacka_Image1 {
  border-style: solid;
}

#AreaPageManualP2_Maticovacka_GroupBoxRR_SkrutkovackaMatic {
  top: 75px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBoxRR_SkrutkovackaMatic {
  left: 575px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBoxRR_SkrutkovackaMatic {
  width: 520px;
}

#AreaPageManualP2_Maticovacka_GroupBoxRR_SkrutkovackaMatic {
  height: 328px;
}

#AreaPageManualP2_Maticovacka_GroupBoxRR_SkrutkovackaMatic {
  z-index: 3;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_MaticovackuVysun {
  top: 26px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_MaticovackuVysun {
  left: 29px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_MaticovackuVysun {
  width: 186px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_MaticovackuVysun {
  height: 50px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_MaticovackuVysun {
  z-index: 0;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_MaticovackuVysun:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_MaticovackuVysun:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_MaticovackuVysun .wrapper .before {
  font-size: 18px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_MaticovackuVysun .wrapper .after {
  font-size: 18px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_MaticovackuVysun:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_MaticovackuVysun.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_MaticovackuVysun.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Maticovacka_Label_VysunutieMaticovacky {
  top: 16px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label_VysunutieMaticovacky {
  left: 284px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label_VysunutieMaticovacky {
  width: 200px;
}

#AreaPageManualP2_Maticovacka_Label_VysunutieMaticovacky {
  height: 75px;
}

#AreaPageManualP2_Maticovacka_Label_VysunutieMaticovacky {
  z-index: 1;
}

#AreaPageManualP2_Maticovacka_Label_VysunutieMaticovacky {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP2_Maticovacka_NumericOutput_VysunutieMaticovacky {
  height: 30px;
}

#AreaPageManualP2_Maticovacka_NumericOutput_VysunutieMaticovacky {
  top: 54px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_NumericOutput_VysunutieMaticovacky {
  left: 304px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_NumericOutput_VysunutieMaticovacky {
  width: 160px;
}

#AreaPageManualP2_Maticovacka_NumericOutput_VysunutieMaticovacky {
  z-index: 2;
}

#AreaPageManualP2_Maticovacka_NumericOutput_VysunutieMaticovacky {
  border-width: 2px;
}

#AreaPageManualP2_Maticovacka_NumericOutput_VysunutieMaticovacky {
  background-color: white;
}

#AreaPageManualP2_Maticovacka_NumericOutput_VysunutieMaticovacky {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageManualP2_Maticovacka_NumericOutput_VysunutieMaticovacky {
  border-style: solid;
}

#AreaPageManualP2_Maticovacka_NumericOutput_VysunutieMaticovacky input {
  color: black;
}

#AreaPageManualP2_Maticovacka_NumericOutput_VysunutieMaticovacky span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageManualP2_Maticovacka_NumericOutput_VysunutieMaticovacky input {
  justify-content: center;
  text-align: center;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu {
  top: 106px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu {
  left: 39px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu {
  width: 170px;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu {
  height: 50px;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu {
  z-index: 3;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP2_Maticovacka_ImageListPodajMaticu {
  top: 119px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageListPodajMaticu {
  left: 174px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageListPodajMaticu {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageListPodajMaticu {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageListPodajMaticu {
  z-index: 4;
}

#AreaPageManualP2_Maticovacka_ImageListPodajMaticu {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieZapni {
  top: 106px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieZapni {
  left: 289px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieZapni {
  width: 186px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieZapni {
  height: 50px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieZapni {
  z-index: 5;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieZapni:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieZapni:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieZapni .wrapper .before {
  font-size: 18px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieZapni .wrapper .after {
  font-size: 18px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieZapni:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieZapni.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_PrisavanieZapni.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Maticovacka_Line1 {
  z-index: 6;
}

#AreaPageManualP2_Maticovacka_Line1 line {
  stroke-width: 2px;
}

#AreaPageManualP2_Maticovacka_LabelPodavacMaticVysunuty {
  top: 191px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_LabelPodavacMaticVysunuty {
  left: 34px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_LabelPodavacMaticVysunuty {
  width: 200px;
}

#AreaPageManualP2_Maticovacka_LabelPodavacMaticVysunuty {
  height: 40px;
}

#AreaPageManualP2_Maticovacka_LabelPodavacMaticVysunuty {
  z-index: 7;
}

#AreaPageManualP2_Maticovacka_ImageListPodavacMaticVysunuty {
  top: 199px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageListPodavacMaticVysunuty {
  left: 198px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageListPodavacMaticVysunuty {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageListPodavacMaticVysunuty {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageListPodavacMaticVysunuty {
  z-index: 8;
}

#AreaPageManualP2_Maticovacka_ImageListPodavacMaticVysunuty {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_LabelPritomnostMatice {
  top: 236px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_LabelPritomnostMatice {
  left: 34px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_LabelPritomnostMatice {
  width: 200px;
}

#AreaPageManualP2_Maticovacka_LabelPritomnostMatice {
  height: 40px;
}

#AreaPageManualP2_Maticovacka_LabelPritomnostMatice {
  z-index: 9;
}

#AreaPageManualP2_Maticovacka_ImageListPritomnostMatice {
  top: 244px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageListPritomnostMatice {
  left: 198px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageListPritomnostMatice {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageListPritomnostMatice {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageListPritomnostMatice {
  z-index: 10;
}

#AreaPageManualP2_Maticovacka_ImageListPritomnostMatice {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_LabelPodavacMaticZasunuty {
  top: 191px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_LabelPodavacMaticZasunuty {
  left: 284px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_LabelPodavacMaticZasunuty {
  width: 200px;
}

#AreaPageManualP2_Maticovacka_LabelPodavacMaticZasunuty {
  height: 40px;
}

#AreaPageManualP2_Maticovacka_LabelPodavacMaticZasunuty {
  z-index: 11;
}

#AreaPageManualP2_Maticovacka_ImageListPodavacMaticZasunuty {
  top: 199px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageListPodavacMaticZasunuty {
  left: 448px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageListPodavacMaticZasunuty {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageListPodavacMaticZasunuty {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageListPodavacMaticZasunuty {
  z-index: 12;
}

#AreaPageManualP2_Maticovacka_ImageListPodavacMaticZasunuty {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_LabelMaticovackaZasunuta {
  top: 236px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_LabelMaticovackaZasunuta {
  left: 284px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_LabelMaticovackaZasunuta {
  width: 200px;
}

#AreaPageManualP2_Maticovacka_LabelMaticovackaZasunuta {
  height: 40px;
}

#AreaPageManualP2_Maticovacka_LabelMaticovackaZasunuta {
  z-index: 13;
}

#AreaPageManualP2_Maticovacka_ImageListMaticovackaZasunuta {
  top: 244px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageListMaticovackaZasunuta {
  left: 448px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageListMaticovackaZasunuta {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageListMaticovackaZasunuta {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageListMaticovackaZasunuta {
  z-index: 14;
}

#AreaPageManualP2_Maticovacka_ImageListMaticovackaZasunuta {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_GroupBox2 {
  top: 75px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox2 {
  left: 35px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox2 {
  width: 520px;
}

#AreaPageManualP2_Maticovacka_GroupBox2 {
  height: 328px;
}

#AreaPageManualP2_Maticovacka_GroupBox2 {
  z-index: 4;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnika {
  top: 26px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnika {
  left: 34px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnika {
  width: 186px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnika {
  height: 50px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnika {
  z-index: 0;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnika:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnika:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnika .wrapper .before {
  font-size: 18px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnika .wrapper .after {
  font-size: 18px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnika:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnika.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_VibracieZasobnika.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Maticovacka_LabelZasobnikMaticPrazdny {
  top: 186px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_LabelZasobnikMaticPrazdny {
  left: 29px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_LabelZasobnikMaticPrazdny {
  width: 200px;
}

#AreaPageManualP2_Maticovacka_LabelZasobnikMaticPrazdny {
  height: 40px;
}

#AreaPageManualP2_Maticovacka_LabelZasobnikMaticPrazdny {
  z-index: 1;
}

#AreaPageManualP2_Maticovacka_ImageListZasobnikMaticPrazdny {
  top: 194px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageListZasobnikMaticPrazdny {
  left: 193px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageListZasobnikMaticPrazdny {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageListZasobnikMaticPrazdny {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageListZasobnikMaticPrazdny {
  z-index: 2;
}

#AreaPageManualP2_Maticovacka_ImageListZasobnikMaticPrazdny {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_GroupBox1 {
  top: 415px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox1 {
  left: 575px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox1 {
  width: 520px;
}

#AreaPageManualP2_Maticovacka_GroupBox1 {
  height: 160px;
}

#AreaPageManualP2_Maticovacka_GroupBox1 {
  z-index: 5;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 {
  top: 33px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 {
  left: 294px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 {
  width: 165px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 {
  height: 45px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 {
  z-index: 0;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Maticovacka_LabelPritomnostPaletky {
  top: 38px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_LabelPritomnostPaletky {
  left: 39px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_LabelPritomnostPaletky {
  width: 200px;
}

#AreaPageManualP2_Maticovacka_LabelPritomnostPaletky {
  height: 40px;
}

#AreaPageManualP2_Maticovacka_LabelPritomnostPaletky {
  z-index: 1;
}

#AreaPageManualP2_Maticovacka_ImagePritomnostPaletky {
  top: 45px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImagePritomnostPaletky {
  left: 208px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImagePritomnostPaletky {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImagePritomnostPaletky {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImagePritomnostPaletky {
  z-index: 2;
}

#AreaPageManualP2_Maticovacka_ImagePritomnostPaletky {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_GroupBox3 {
  top: 415px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox3 {
  left: 35px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox3 {
  width: 520px;
}

#AreaPageManualP2_Maticovacka_GroupBox3 {
  height: 160px;
}

#AreaPageManualP2_Maticovacka_GroupBox3 {
  z-index: 6;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieDOLE {
  top: 38px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieDOLE {
  left: 44px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieDOLE {
  width: 180px;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieDOLE {
  height: 50px;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieDOLE {
  z-index: 0;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieDOLE {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieDOLE span {
  font-size: 18px;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieHORE {
  top: 38px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieHORE {
  left: 279px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieHORE {
  width: 180px;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieHORE {
  height: 50px;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieHORE {
  z-index: 1;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieHORE {
  justify-content: flex-end;
  text-align: right;
}

#AreaPageManualP2_Maticovacka_Button_CentrovanieHORE span {
  font-size: 18px;
}

#AreaPageManualP2_Maticovacka_ImageCentrovanieDOLE {
  top: 51px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageCentrovanieDOLE {
  left: 184px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageCentrovanieDOLE {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageCentrovanieDOLE {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageCentrovanieDOLE {
  z-index: 2;
}

#AreaPageManualP2_Maticovacka_ImageCentrovanieDOLE {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_ImageCentrovanieHORE {
  top: 51px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageCentrovanieHORE {
  left: 294px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageCentrovanieHORE {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageCentrovanieHORE {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageCentrovanieHORE {
  z-index: 3;
}

#AreaPageManualP2_Maticovacka_ImageCentrovanieHORE {
  border-width: 0px;
}
