#AreaPageManualP2_Dopravniky_ImageRR_Dopravniky {
  top: 0px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageRR_Dopravniky {
  left: 0px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageRR_Dopravniky {
  width: 1366px;
}

#AreaPageManualP2_Dopravniky_ImageRR_Dopravniky {
  height: 588px;
}

#AreaPageManualP2_Dopravniky_ImageRR_Dopravniky {
  z-index: 0;
}

#AreaPageManualP2_Dopravniky_ImageRR_Dopravniky {
  opacity: 0.15;
}

#AreaPageManualP2_Dopravniky_Label1 {
  top: 13px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label1 {
  width: 400px;
}

#AreaPageManualP2_Dopravniky_Label1 {
  height: 40px;
}

#AreaPageManualP2_Dopravniky_Label1 {
  z-index: 1;
}

#AreaPageManualP2_Dopravniky_Label1 {
  border-width: 3px;
}

#AreaPageManualP2_Dopravniky_Label1 {
  border-radius: 3px;
}

#AreaPageManualP2_Dopravniky_Label1 {
  border-style: ridge;
}

#AreaPageManualP2_Dopravniky_Label1:before {
  border-style: ridge;
}

#AreaPageManualP2_Dopravniky_Label1:after {
  border-style: ridge;
}

#AreaPageManualP2_Dopravniky_Image1 {
  top: 75px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Image1 {
  left: 13px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Image1 {
  width: 1340px;
}

#AreaPageManualP2_Dopravniky_Image1 {
  height: 483px;
}

#AreaPageManualP2_Dopravniky_Image1 {
  z-index: 2;
}

#AreaPageManualP2_Dopravniky_Image1 {
  background-color: gainsboro;
}

#AreaPageManualP2_Dopravniky_Image1 {
  border-style: solid;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  top: 398px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  left: 1156px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  width: 180px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik {
  z-index: 3;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_SpodnyDopravnik.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik {
  top: 226px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik {
  left: 32px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik {
  width: 180px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik {
  z-index: 4;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_HornyDopravnik.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ImageList8 {
  top: 208px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList8 {
  left: 392px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList8 {
  width: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList8 {
  height: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList8 {
  z-index: 5;
}

#AreaPageManualP2_Dopravniky_ImageList8 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper {
  top: 300px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper {
  left: 268px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper {
  width: 150px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper {
  z-index: 7;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_Rectangle1 {
  top: 128px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Rectangle1 {
  left: 259px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Rectangle1 {
  width: 170px;
}

#AreaPageManualP2_Dopravniky_Rectangle1 {
  height: 235px;
}

#AreaPageManualP2_Dopravniky_Rectangle1 {
  z-index: 6;
}

#AreaPageManualP2_Dopravniky_Rectangle1 {
  border-style: solid;
}

#AreaPageManualP2_Dopravniky_Rectangle1 {
  border-width: 4px;
}

#AreaPageManualP2_Dopravniky_Rectangle1 {
  border-radius: 5px;
}

#AreaPageManualP2_Dopravniky_Rectangle1 {
  border-color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz6 {
  top: 142px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz6 {
  left: 442px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz6 {
  width: 150px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz6 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz6 {
  z-index: 13;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz6:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz6:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz6 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz6 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz6:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz6.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz6.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ImageList9 {
  top: 170px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList9 {
  left: 596px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList9 {
  width: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList9 {
  height: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList9 {
  z-index: 8;
}

#AreaPageManualP2_Dopravniky_ImageList9 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ImageList10 {
  top: 144px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList10 {
  left: 596px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList10 {
  width: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList10 {
  height: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList10 {
  z-index: 9;
}

#AreaPageManualP2_Dopravniky_ImageList10 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_Label2 {
  top: 82px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label2 {
  left: 251px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label2 {
  width: 185px;
}

#AreaPageManualP2_Dopravniky_Label2 {
  height: 45px;
}

#AreaPageManualP2_Dopravniky_Label2 {
  z-index: 10;
}

#AreaPageManualP2_Dopravniky_Label2 {
  border-width: 1px;
}

#AreaPageManualP2_Dopravniky_Label2 span {
  color: black;
}

#AreaPageManualP2_Dopravniky_Label2 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP2_Dopravniky_Label2 {
  font-size: 18px;
}

#AreaPageManualP2_Dopravniky_Label2 {
  font-weight: bold;
}

#AreaPageManualP2_Dopravniky_Label3 {
  top: 82px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label3 {
  left: 440px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label3 {
  width: 185px;
}

#AreaPageManualP2_Dopravniky_Label3 {
  height: 45px;
}

#AreaPageManualP2_Dopravniky_Label3 {
  z-index: 11;
}

#AreaPageManualP2_Dopravniky_Label3 {
  border-width: 1px;
}

#AreaPageManualP2_Dopravniky_Label3 span {
  color: black;
}

#AreaPageManualP2_Dopravniky_Label3 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP2_Dopravniky_Label3 {
  font-size: 18px;
}

#AreaPageManualP2_Dopravniky_Label3 {
  font-weight: bold;
}

#AreaPageManualP2_Dopravniky_Rectangle2 {
  top: 128px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Rectangle2 {
  left: 435px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Rectangle2 {
  width: 196px;
}

#AreaPageManualP2_Dopravniky_Rectangle2 {
  height: 235px;
}

#AreaPageManualP2_Dopravniky_Rectangle2 {
  z-index: 12;
}

#AreaPageManualP2_Dopravniky_Rectangle2 {
  border-style: solid;
}

#AreaPageManualP2_Dopravniky_Rectangle2 {
  border-width: 4px;
}

#AreaPageManualP2_Dopravniky_Rectangle2 {
  border-radius: 5px;
}

#AreaPageManualP2_Dopravniky_Rectangle2 {
  border-color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper1 {
  top: 300px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper1 {
  left: 442px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper1 {
  width: 150px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper1 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper1 {
  z-index: 14;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper1:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper1:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper1 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper1 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper1:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper1.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper1.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ImageList11 {
  top: 390px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList11 {
  left: 1054px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList11 {
  width: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList11 {
  height: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList11 {
  z-index: 15;
}

#AreaPageManualP2_Dopravniky_ImageList11 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ImageList12 {
  top: 412px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList12 {
  left: 162px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList12 {
  width: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList12 {
  height: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList12 {
  z-index: 16;
}

#AreaPageManualP2_Dopravniky_ImageList12 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_Label4 {
  top: 82px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label4 {
  left: 624px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label4 {
  width: 185px;
}

#AreaPageManualP2_Dopravniky_Label4 {
  height: 45px;
}

#AreaPageManualP2_Dopravniky_Label4 {
  z-index: 17;
}

#AreaPageManualP2_Dopravniky_Label4 {
  border-width: 1px;
}

#AreaPageManualP2_Dopravniky_Label4 span {
  color: black;
}

#AreaPageManualP2_Dopravniky_Label4 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP2_Dopravniky_Label4 {
  font-size: 18px;
}

#AreaPageManualP2_Dopravniky_Label4 {
  font-weight: bold;
}

#AreaPageManualP2_Dopravniky_ImageList13 {
  top: 208px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList13 {
  left: 714px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList13 {
  width: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList13 {
  height: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList13 {
  z-index: 18;
}

#AreaPageManualP2_Dopravniky_ImageList13 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_Rectangle3 {
  top: 128px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Rectangle3 {
  left: 632px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Rectangle3 {
  width: 170px;
}

#AreaPageManualP2_Dopravniky_Rectangle3 {
  height: 235px;
}

#AreaPageManualP2_Dopravniky_Rectangle3 {
  z-index: 19;
}

#AreaPageManualP2_Dopravniky_Rectangle3 {
  border-style: solid;
}

#AreaPageManualP2_Dopravniky_Rectangle3 {
  border-width: 4px;
}

#AreaPageManualP2_Dopravniky_Rectangle3 {
  border-radius: 5px;
}

#AreaPageManualP2_Dopravniky_Rectangle3 {
  border-color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper2 {
  top: 304px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper2 {
  left: 642px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper2 {
  width: 150px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper2 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper2 {
  z-index: 20;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper2:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper2:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper2 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper2 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper2:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper2.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper2.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz7 {
  top: 142px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz7 {
  left: 810px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz7 {
  width: 150px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz7 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz7 {
  z-index: 23;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz7:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz7:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz7 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz7 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz7:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz7.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz7.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_Label5 {
  top: 82px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label5 {
  left: 810px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label5 {
  width: 185px;
}

#AreaPageManualP2_Dopravniky_Label5 {
  height: 45px;
}

#AreaPageManualP2_Dopravniky_Label5 {
  z-index: 21;
}

#AreaPageManualP2_Dopravniky_Label5 {
  border-width: 1px;
}

#AreaPageManualP2_Dopravniky_Label5 span {
  color: black;
}

#AreaPageManualP2_Dopravniky_Label5 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP2_Dopravniky_Label5 {
  font-size: 18px;
}

#AreaPageManualP2_Dopravniky_Label5 {
  font-weight: bold;
}

#AreaPageManualP2_Dopravniky_Rectangle4 {
  top: 128px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Rectangle4 {
  left: 804px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Rectangle4 {
  width: 194px;
}

#AreaPageManualP2_Dopravniky_Rectangle4 {
  height: 235px;
}

#AreaPageManualP2_Dopravniky_Rectangle4 {
  z-index: 22;
}

#AreaPageManualP2_Dopravniky_Rectangle4 {
  border-style: solid;
}

#AreaPageManualP2_Dopravniky_Rectangle4 {
  border-width: 4px;
}

#AreaPageManualP2_Dopravniky_Rectangle4 {
  border-radius: 5px;
}

#AreaPageManualP2_Dopravniky_Rectangle4 {
  border-color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper3 {
  top: 304px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper3 {
  left: 810px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper3 {
  width: 150px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper3 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper3 {
  z-index: 24;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper3:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper3:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper3 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper3 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ImageList14 {
  top: 144px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList14 {
  left: 966px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList14 {
  width: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList14 {
  height: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList14 {
  z-index: 25;
}

#AreaPageManualP2_Dopravniky_ImageList14 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ImageList15 {
  top: 170px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList15 {
  left: 966px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList15 {
  width: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList15 {
  height: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList15 {
  z-index: 26;
}

#AreaPageManualP2_Dopravniky_ImageList15 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
  top: 142px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
  left: 1006px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
  width: 150px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz8 {
  z-index: 29;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz8:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz8:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz8 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz8 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz8:not(.active):not(.checked) {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz8.disabled.active {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_ZasunStoperPoz8.disabled.checked {
  box-shadow: 4px 4px 10px rgba(62, 79, 92, 0.75);
}

#AreaPageManualP2_Dopravniky_Label6 {
  top: 82px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label6 {
  left: 1006px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label6 {
  width: 185px;
}

#AreaPageManualP2_Dopravniky_Label6 {
  height: 45px;
}

#AreaPageManualP2_Dopravniky_Label6 {
  z-index: 27;
}

#AreaPageManualP2_Dopravniky_Label6 {
  border-width: 1px;
}

#AreaPageManualP2_Dopravniky_Label6 span {
  color: black;
}

#AreaPageManualP2_Dopravniky_Label6 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP2_Dopravniky_Label6 {
  font-size: 18px;
}

#AreaPageManualP2_Dopravniky_Label6 {
  font-weight: bold;
}

#AreaPageManualP2_Dopravniky_Rectangle5 {
  top: 128px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Rectangle5 {
  left: 1000px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Rectangle5 {
  width: 194px;
}

#AreaPageManualP2_Dopravniky_Rectangle5 {
  height: 235px;
}

#AreaPageManualP2_Dopravniky_Rectangle5 {
  z-index: 28;
}

#AreaPageManualP2_Dopravniky_Rectangle5 {
  border-style: solid;
}

#AreaPageManualP2_Dopravniky_Rectangle5 {
  border-width: 4px;
}

#AreaPageManualP2_Dopravniky_Rectangle5 {
  border-radius: 5px;
}

#AreaPageManualP2_Dopravniky_Rectangle5 {
  border-color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper4 {
  top: 304px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper4 {
  left: 1006px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper4 {
  width: 150px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper4 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper4 {
  z-index: 30;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper4:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper4:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper4 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper4 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ImageList16 {
  top: 144px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList16 {
  left: 1162px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList16 {
  width: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList16 {
  height: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList16 {
  z-index: 31;
}

#AreaPageManualP2_Dopravniky_ImageList16 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ImageList17 {
  top: 170px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList17 {
  left: 1162px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList17 {
  width: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList17 {
  height: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList17 {
  z-index: 32;
}

#AreaPageManualP2_Dopravniky_ImageList17 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_Label7 {
  height: 30px;
}

#AreaPageManualP2_Dopravniky_Label7 {
  top: 526px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label7 {
  left: 136px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Label7 {
  width: 150px;
}

#AreaPageManualP2_Dopravniky_Label7 {
  z-index: 33;
}

#AreaPageManualP2_Dopravniky_Label7 {
  border-width: 1px;
}

#AreaPageManualP2_Dopravniky_Label7 span {
  color: black;
}

#AreaPageManualP2_Dopravniky_Label7 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP2_Dopravniky_Label7 {
  font-size: 18px;
}

#AreaPageManualP2_Dopravniky_Label7 {
  font-weight: bold;
}

#AreaPageManualP2_Dopravniky_Rectangle6 {
  top: 370px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Rectangle6 {
  left: 126px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_Rectangle6 {
  width: 170px;
}

#AreaPageManualP2_Dopravniky_Rectangle6 {
  height: 158px;
}

#AreaPageManualP2_Dopravniky_Rectangle6 {
  z-index: 34;
}

#AreaPageManualP2_Dopravniky_Rectangle6 {
  border-style: solid;
}

#AreaPageManualP2_Dopravniky_Rectangle6 {
  border-width: 4px;
}

#AreaPageManualP2_Dopravniky_Rectangle6 {
  border-radius: 5px;
}

#AreaPageManualP2_Dopravniky_Rectangle6 {
  border-color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper5 {
  top: 464px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper5 {
  left: 136px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper5 {
  width: 150px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper5 {
  height: 50px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper5 {
  z-index: 35;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper5:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper5:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper5 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper5 .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper5:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper5.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ToggleSwitch_Stoper5.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Dopravniky_ImageList18 {
  top: 208px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList18 {
  left: 574px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList18 {
  width: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList18 {
  height: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList18 {
  z-index: 36;
}

#AreaPageManualP2_Dopravniky_ImageList18 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ImageList19 {
  top: 208px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList19 {
  left: 836px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList19 {
  width: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList19 {
  height: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList19 {
  z-index: 37;
}

#AreaPageManualP2_Dopravniky_ImageList19 {
  border-width: 0px;
}

#AreaPageManualP2_Dopravniky_ImageList20 {
  top: 208px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList20 {
  left: 1020px;
  position: absolute;
}

#AreaPageManualP2_Dopravniky_ImageList20 {
  width: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList20 {
  height: 25px;
}

#AreaPageManualP2_Dopravniky_ImageList20 {
  z-index: 38;
}

#AreaPageManualP2_Dopravniky_ImageList20 {
  border-width: 0px;
}
