#AreaPageManualP2_ZakladanieTesnenia_ImageRR_ZakladanieTesnenia {
  top: 0px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageRR_ZakladanieTesnenia {
  left: 0px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageRR_ZakladanieTesnenia {
  width: 1366px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageRR_ZakladanieTesnenia {
  height: 588px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageRR_ZakladanieTesnenia {
  z-index: 0;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageRR_ZakladanieTesnenia {
  opacity: 0.15;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_ZakladanieTesnenia {
  top: 13px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_ZakladanieTesnenia {
  left: 483px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_ZakladanieTesnenia {
  width: 400px;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_ZakladanieTesnenia {
  height: 40px;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_ZakladanieTesnenia {
  z-index: 1;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_ZakladanieTesnenia {
  border-width: 3px;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_ZakladanieTesnenia {
  border-style: ridge;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_ZakladanieTesnenia:before {
  border-style: ridge;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_ZakladanieTesnenia:after {
  border-style: ridge;
}

#AreaPageManualP2_ZakladanieTesnenia_Image1 {
  top: 94px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Image1 {
  left: 1004px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Image1 {
  width: 330px;
}

#AreaPageManualP2_ZakladanieTesnenia_Image1 {
  height: 400px;
}

#AreaPageManualP2_ZakladanieTesnenia_Image1 {
  z-index: 2;
}

#AreaPageManualP2_ZakladanieTesnenia_Image1 {
  background-color: gainsboro;
}

#AreaPageManualP2_ZakladanieTesnenia_Image1 {
  border-style: solid;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_ZdvihZakladania {
  top: 136px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_ZdvihZakladania {
  left: 11px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_ZdvihZakladania {
  width: 460px;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_ZdvihZakladania {
  height: 320px;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_ZdvihZakladania {
  z-index: 3;
}

#AreaPageManualP2_ZakladanieTesnenia_Button_HomingServa {
  top: 18px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Button_HomingServa {
  left: 144px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Button_HomingServa {
  width: 170px;
}

#AreaPageManualP2_ZakladanieTesnenia_Button_HomingServa {
  height: 35px;
}

#AreaPageManualP2_ZakladanieTesnenia_Button_HomingServa {
  z-index: 0;
}

#AreaPageManualP2_ZakladanieTesnenia_Button_HomingServa {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_ZdvihDole {
  top: 150px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_ZdvihDole {
  left: 13px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_ZdvihDole {
  width: 200px;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_ZdvihDole {
  height: 60px;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_ZdvihDole {
  z-index: 1;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_ZdvihDole span {
  font-size: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_ZdvihHore {
  top: 150px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_ZdvihHore {
  left: 243px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_ZdvihHore {
  width: 200px;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_ZdvihHore {
  height: 60px;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_ZdvihHore {
  z-index: 2;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_ZdvihHore span {
  font-size: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelInicializaciaZakladaca {
  top: 225px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelInicializaciaZakladaca {
  left: 129px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelInicializaciaZakladaca {
  width: 200px;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelInicializaciaZakladaca {
  height: 40px;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelInicializaciaZakladaca {
  z-index: 3;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageInicializaciaZakladaca {
  top: 233px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageInicializaciaZakladaca {
  left: 295px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageInicializaciaZakladaca {
  width: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageInicializaciaZakladaca {
  height: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageInicializaciaZakladaca {
  z-index: 4;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageInicializaciaZakladaca {
  border-width: 0px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageListHomingServa {
  top: 23px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageListHomingServa {
  left: 282px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageListHomingServa {
  width: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageListHomingServa {
  height: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageListHomingServa {
  z-index: 5;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageListHomingServa {
  border-width: 0px;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_AktualnaPozicia {
  top: 65px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_AktualnaPozicia {
  left: 13px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_AktualnaPozicia {
  width: 200px;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_AktualnaPozicia {
  height: 75px;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_AktualnaPozicia {
  z-index: 6;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_AktualnaPozicia {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_RychlostPohybu {
  top: 65px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_RychlostPohybu {
  left: 243px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_RychlostPohybu {
  width: 200px;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_RychlostPohybu {
  height: 75px;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_RychlostPohybu {
  z-index: 7;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_RychlostPohybu {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia {
  height: 30px;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia {
  top: 103px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia {
  left: 33px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia {
  width: 160px;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia {
  z-index: 8;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia {
  border-width: 2px;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia {
  background-color: white;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia {
  border-style: solid;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia input {
  color: black;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu {
  height: 30px;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu {
  top: 103px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu {
  left: 263px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu {
  width: 160px;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu {
  z-index: 9;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu {
  border-width: 2px;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu {
  background-color: white;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu {
  border-color: #ffc080;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu {
  border-style: solid;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu input {
  color: black;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_PojazdZakladaca {
  top: 75px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_PojazdZakladaca {
  left: 495px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_PojazdZakladaca {
  width: 460px;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_PojazdZakladaca {
  height: 360px;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_PojazdZakladaca {
  z-index: 4;
}

#AreaPageManualP2_ZakladanieTesnenia_Button_HomingServa1 {
  top: 18px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Button_HomingServa1 {
  left: 144px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Button_HomingServa1 {
  width: 170px;
}

#AreaPageManualP2_ZakladanieTesnenia_Button_HomingServa1 {
  height: 35px;
}

#AreaPageManualP2_ZakladanieTesnenia_Button_HomingServa1 {
  z-index: 0;
}

#AreaPageManualP2_ZakladanieTesnenia_Button_HomingServa1 {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_PojazdVpred {
  top: 150px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_PojazdVpred {
  left: 13px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_PojazdVpred {
  width: 200px;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_PojazdVpred {
  height: 60px;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_PojazdVpred {
  z-index: 1;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_PojazdVpred span {
  font-size: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_PojazdVzad {
  top: 150px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_PojazdVzad {
  left: 243px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_PojazdVzad {
  width: 200px;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_PojazdVzad {
  height: 60px;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_PojazdVzad {
  z-index: 2;
}

#AreaPageManualP2_ZakladanieTesnenia_MomentaryPushButton_PojazdVzad span {
  font-size: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelPritomnostPowerCP {
  top: 223px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelPritomnostPowerCP {
  left: 17px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelPritomnostPowerCP {
  width: 200px;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelPritomnostPowerCP {
  height: 40px;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelPritomnostPowerCP {
  z-index: 3;
}

#AreaPageManualP2_ZakladanieTesnenia_ImagePritomnostPowerCP {
  top: 231px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImagePritomnostPowerCP {
  left: 183px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImagePritomnostPowerCP {
  width: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImagePritomnostPowerCP {
  height: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImagePritomnostPowerCP {
  z-index: 4;
}

#AreaPageManualP2_ZakladanieTesnenia_ImagePritomnostPowerCP {
  border-width: 0px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageListHomingServa1 {
  top: 23px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageListHomingServa1 {
  left: 282px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageListHomingServa1 {
  width: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageListHomingServa1 {
  height: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageListHomingServa1 {
  z-index: 5;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageListHomingServa1 {
  border-width: 0px;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_AktualnaPozicia1 {
  top: 65px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_AktualnaPozicia1 {
  left: 13px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_AktualnaPozicia1 {
  width: 200px;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_AktualnaPozicia1 {
  height: 75px;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_AktualnaPozicia1 {
  z-index: 6;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_AktualnaPozicia1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_RychlostPohybu1 {
  top: 65px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_RychlostPohybu1 {
  left: 243px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_RychlostPohybu1 {
  width: 200px;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_RychlostPohybu1 {
  height: 75px;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_RychlostPohybu1 {
  z-index: 7;
}

#AreaPageManualP2_ZakladanieTesnenia_Label_RychlostPohybu1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia1 {
  height: 30px;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia1 {
  top: 103px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia1 {
  left: 33px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia1 {
  width: 160px;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia1 {
  z-index: 8;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia1 {
  border-width: 2px;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia1 {
  background-color: white;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia1 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia1 {
  border-style: solid;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia1 input {
  color: black;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_AktualnaPozicia1 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu1 {
  height: 30px;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu1 {
  top: 103px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu1 {
  left: 263px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu1 {
  width: 160px;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu1 {
  z-index: 9;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu1 {
  border-width: 2px;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu1 {
  background-color: white;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu1 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu1 {
  border-color: #ffc080;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu1 {
  border-style: solid;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu1 input {
  color: black;
}

#AreaPageManualP2_ZakladanieTesnenia_NumericOutput_RychlostPohybu1 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelKopytoZakladnaPoloha {
  top: 222px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelKopytoZakladnaPoloha {
  left: 241px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelKopytoZakladnaPoloha {
  width: 200px;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelKopytoZakladnaPoloha {
  height: 40px;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelKopytoZakladnaPoloha {
  z-index: 10;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageKopytoZakladnaPoloha {
  top: 230px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageKopytoZakladnaPoloha {
  left: 407px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageKopytoZakladnaPoloha {
  width: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageKopytoZakladnaPoloha {
  height: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageKopytoZakladnaPoloha {
  z-index: 11;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageKopytoZakladnaPoloha {
  border-width: 0px;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelZadnyBezpecnostny {
  top: 270px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelZadnyBezpecnostny {
  left: 129px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelZadnyBezpecnostny {
  width: 200px;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelZadnyBezpecnostny {
  height: 40px;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelZadnyBezpecnostny {
  z-index: 12;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageZadnyBezpecnostny {
  top: 277px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageZadnyBezpecnostny {
  left: 298px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageZadnyBezpecnostny {
  width: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageZadnyBezpecnostny {
  height: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageZadnyBezpecnostny {
  z-index: 13;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageZadnyBezpecnostny {
  border-width: 0px;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_OvladanieStopra {
  top: 444px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_OvladanieStopra {
  left: 497px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_OvladanieStopra {
  width: 460px;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_OvladanieStopra {
  height: 125px;
}

#AreaPageManualP2_ZakladanieTesnenia_GroupBox_OvladanieStopra {
  z-index: 5;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelPritomnostPaletky {
  top: 24px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelPritomnostPaletky {
  left: 18px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelPritomnostPaletky {
  width: 200px;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelPritomnostPaletky {
  height: 40px;
}

#AreaPageManualP2_ZakladanieTesnenia_LabelPritomnostPaletky {
  z-index: 0;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageZadnyBezpecnostny1 {
  top: 31px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageZadnyBezpecnostny1 {
  left: 187px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageZadnyBezpecnostny1 {
  width: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageZadnyBezpecnostny1 {
  height: 25px;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageZadnyBezpecnostny1 {
  z-index: 1;
}

#AreaPageManualP2_ZakladanieTesnenia_ImageZadnyBezpecnostny1 {
  border-width: 0px;
}

#AreaPageManualP2_ZakladanieTesnenia_ToggleSwitch_Stoper1 {
  top: 19px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ToggleSwitch_Stoper1 {
  left: 269px;
  position: absolute;
}

#AreaPageManualP2_ZakladanieTesnenia_ToggleSwitch_Stoper1 {
  width: 165px;
}

#AreaPageManualP2_ZakladanieTesnenia_ToggleSwitch_Stoper1 {
  height: 45px;
}

#AreaPageManualP2_ZakladanieTesnenia_ToggleSwitch_Stoper1 {
  z-index: 2;
}

#AreaPageManualP2_ZakladanieTesnenia_ToggleSwitch_Stoper1:not(.disabled):not(.checked) .wrapper .before {
  color: black;
}

#AreaPageManualP2_ZakladanieTesnenia_ToggleSwitch_Stoper1:not(.disabled):not(.checked) .wrapper .after {
  color: black;
}

#AreaPageManualP2_ZakladanieTesnenia_ToggleSwitch_Stoper1 .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_ZakladanieTesnenia_ToggleSwitch_Stoper1 .wrapper .after {
  font-size: 16px;
}
