#AreaPageVseobecneParametreP4_ImageVseobecneParametreP4 {
  top: 0px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_ImageVseobecneParametreP4 {
  left: 0px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_ImageVseobecneParametreP4 {
  width: 1366px;
}

#AreaPageVseobecneParametreP4_ImageVseobecneParametreP4 {
  height: 588px;
}

#AreaPageVseobecneParametreP4_ImageVseobecneParametreP4 {
  z-index: 0;
}

#AreaPageVseobecneParametreP4_ImageVseobecneParametreP4 {
  opacity: 0.15;
}

#AreaPageVseobecneParametreP4_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label1 {
  width: 400px;
}

#AreaPageVseobecneParametreP4_Label1 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label1 {
  z-index: 1;
}

#AreaPageVseobecneParametreP4_GroupBox1 {
  top: 75px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_GroupBox1 {
  left: 390px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_GroupBox1 {
  width: 310px;
}

#AreaPageVseobecneParametreP4_GroupBox1 {
  height: 500px;
}

#AreaPageVseobecneParametreP4_GroupBox1 {
  z-index: 2;
}

#AreaPageVseobecneParametreP4_GroupBox1 {
  background-color: oldlace;
}

#AreaPageVseobecneParametreP4_GroupBox1 > .header span {
  color: black;
}

#AreaPageVseobecneParametreP4_GroupBox1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageVseobecneParametreP4_Label8 {
  top: 109px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label8 {
  left: 9px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label8 {
  width: 290px;
}

#AreaPageVseobecneParametreP4_Label8 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label8 {
  z-index: 0;
}

#AreaPageVseobecneParametreP4_Label8 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP4_Label8 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_Label8 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP4_Label8 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP4_Label8 {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label8:before {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label8:after {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label8 {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label8:before {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label8:after {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label8 span {
  color: black;
}

#AreaPageVseobecneParametreP4_Label8 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_Label8 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP4_Label8 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP4_NumericInput_1 {
  height: 30px;
}

#AreaPageVseobecneParametreP4_NumericInput_1 {
  top: 114px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_1 {
  left: 175px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_1 {
  width: 118px;
}

#AreaPageVseobecneParametreP4_NumericInput_1 {
  z-index: 1;
}

#AreaPageVseobecneParametreP4_NumericInput_1:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_1.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP4_NumericInput_1 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_1.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP4_NumericInput_1.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP4_NumericInput_1.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP4_NumericInput_1.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_1.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_1 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_1.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_1.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_1.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_1 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP4_NumericInput_1 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_NumericInput_1 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP4_Label9 {
  top: 209px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label9 {
  left: 9px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label9 {
  width: 290px;
}

#AreaPageVseobecneParametreP4_Label9 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label9 {
  z-index: 2;
}

#AreaPageVseobecneParametreP4_Label9 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP4_Label9 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_Label9 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP4_Label9 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP4_Label9 {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label9:before {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label9:after {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label9 {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label9:before {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label9:after {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label9 span {
  color: black;
}

#AreaPageVseobecneParametreP4_Label9 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_Label9 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP4_Label9 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP4_NumericInput_2 {
  height: 30px;
}

#AreaPageVseobecneParametreP4_NumericInput_2 {
  top: 214px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_2 {
  left: 175px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_2 {
  width: 118px;
}

#AreaPageVseobecneParametreP4_NumericInput_2 {
  z-index: 3;
}

#AreaPageVseobecneParametreP4_NumericInput_2:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_2.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP4_NumericInput_2 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_2.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP4_NumericInput_2.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP4_NumericInput_2.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP4_NumericInput_2.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_2.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_2 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_2.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_2.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_2.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_2 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP4_NumericInput_2 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_NumericInput_2 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP4_Label10 {
  top: 159px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label10 {
  left: 9px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label10 {
  width: 290px;
}

#AreaPageVseobecneParametreP4_Label10 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label10 {
  z-index: 4;
}

#AreaPageVseobecneParametreP4_Label10 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP4_Label10 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_Label10 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP4_Label10 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP4_Label10 {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label10:before {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label10:after {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label10 {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label10:before {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label10:after {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label10 span {
  color: black;
}

#AreaPageVseobecneParametreP4_Label10 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_Label10 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP4_Label10 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP4_NumericInput_3 {
  height: 30px;
}

#AreaPageVseobecneParametreP4_NumericInput_3 {
  top: 164px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_3 {
  left: 175px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_3 {
  width: 118px;
}

#AreaPageVseobecneParametreP4_NumericInput_3 {
  z-index: 5;
}

#AreaPageVseobecneParametreP4_NumericInput_3:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_3.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP4_NumericInput_3 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_3.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP4_NumericInput_3.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP4_NumericInput_3.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP4_NumericInput_3.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_3.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_3 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_3.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_3.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_3.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_3 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP4_NumericInput_3 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_NumericInput_3 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP4_Label29 {
  top: 11px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label29 {
  left: 9px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label29 {
  width: 290px;
}

#AreaPageVseobecneParametreP4_Label29 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label29 {
  z-index: 6;
}

#AreaPageVseobecneParametreP4_Label29 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP4_Label29 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_Label29 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP4_Label29 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP4_Label29 {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label29:before {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label29:after {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label29 {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label29:before {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label29:after {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label29 span {
  color: black;
}

#AreaPageVseobecneParametreP4_Label29 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_Label29 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP4_Label29 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP4_NumericInput_22 {
  height: 30px;
}

#AreaPageVseobecneParametreP4_NumericInput_22 {
  top: 16px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_22 {
  left: 176px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_22 {
  width: 118px;
}

#AreaPageVseobecneParametreP4_NumericInput_22 {
  z-index: 7;
}

#AreaPageVseobecneParametreP4_NumericInput_22:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_22.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP4_NumericInput_22 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_22.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP4_NumericInput_22.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP4_NumericInput_22.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP4_NumericInput_22.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_22.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_22 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_22.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_22.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_22.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_22 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP4_NumericInput_22 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_NumericInput_22 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP4_Label30 {
  top: 59px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label30 {
  left: 9px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label30 {
  width: 290px;
}

#AreaPageVseobecneParametreP4_Label30 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label30 {
  z-index: 8;
}

#AreaPageVseobecneParametreP4_Label30 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP4_Label30 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_Label30 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP4_Label30 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP4_Label30 {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label30:before {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label30:after {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label30 {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label30:before {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label30:after {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label30 span {
  color: black;
}

#AreaPageVseobecneParametreP4_Label30 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_Label30 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP4_Label30 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP4_NumericInput_23 {
  height: 30px;
}

#AreaPageVseobecneParametreP4_NumericInput_23 {
  top: 64px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_23 {
  left: 176px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_23 {
  width: 118px;
}

#AreaPageVseobecneParametreP4_NumericInput_23 {
  z-index: 9;
}

#AreaPageVseobecneParametreP4_NumericInput_23:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_23.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP4_NumericInput_23 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_23.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP4_NumericInput_23.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP4_NumericInput_23.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP4_NumericInput_23.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_23.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_23 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_23.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_23.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_23.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_23 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP4_NumericInput_23 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_NumericInput_23 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP4_GroupBox2 {
  top: 75px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_GroupBox2 {
  left: 35px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_GroupBox2 {
  width: 310px;
}

#AreaPageVseobecneParametreP4_GroupBox2 {
  height: 500px;
}

#AreaPageVseobecneParametreP4_GroupBox2 {
  z-index: 3;
}

#AreaPageVseobecneParametreP4_GroupBox2 {
  background-color: oldlace;
}

#AreaPageVseobecneParametreP4_GroupBox2 > .header span {
  color: black;
}

#AreaPageVseobecneParametreP4_GroupBox2 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageVseobecneParametreP4_Label11 {
  top: 109px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label11 {
  left: 9px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label11 {
  width: 290px;
}

#AreaPageVseobecneParametreP4_Label11 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label11 {
  z-index: 0;
}

#AreaPageVseobecneParametreP4_Label11 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP4_Label11 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_Label11 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP4_Label11 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP4_Label11 {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label11:before {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label11:after {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label11 {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label11:before {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label11:after {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label11 span {
  color: black;
}

#AreaPageVseobecneParametreP4_Label11 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_Label11 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP4_Label11 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP4_NumericInput_4 {
  height: 30px;
}

#AreaPageVseobecneParametreP4_NumericInput_4 {
  top: 114px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_4 {
  left: 175px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_4 {
  width: 118px;
}

#AreaPageVseobecneParametreP4_NumericInput_4 {
  z-index: 1;
}

#AreaPageVseobecneParametreP4_NumericInput_4:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_4.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP4_NumericInput_4 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_4.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP4_NumericInput_4.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP4_NumericInput_4.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP4_NumericInput_4.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_4.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_4 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_4.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_4.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_4.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_4 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP4_NumericInput_4 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_NumericInput_4 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP4_Label12 {
  top: 159px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label12 {
  left: 9px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label12 {
  width: 290px;
}

#AreaPageVseobecneParametreP4_Label12 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label12 {
  z-index: 2;
}

#AreaPageVseobecneParametreP4_Label12 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP4_Label12 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_Label12 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP4_Label12 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP4_Label12 {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label12:before {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label12:after {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label12 {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label12:before {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label12:after {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label12 span {
  color: black;
}

#AreaPageVseobecneParametreP4_Label12 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_Label12 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP4_Label12 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP4_NumericInput_5 {
  height: 30px;
}

#AreaPageVseobecneParametreP4_NumericInput_5 {
  top: 164px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_5 {
  left: 175px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_5 {
  width: 118px;
}

#AreaPageVseobecneParametreP4_NumericInput_5 {
  z-index: 3;
}

#AreaPageVseobecneParametreP4_NumericInput_5:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_5.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP4_NumericInput_5 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_5.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP4_NumericInput_5.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP4_NumericInput_5.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP4_NumericInput_5.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_5.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_5 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_5.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_5.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_5.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_5 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP4_NumericInput_5 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_NumericInput_5 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP4_Label13 {
  top: 209px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label13 {
  left: 9px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label13 {
  width: 290px;
}

#AreaPageVseobecneParametreP4_Label13 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label13 {
  z-index: 4;
}

#AreaPageVseobecneParametreP4_Label13 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP4_Label13 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_Label13 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP4_Label13 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP4_Label13 {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label13:before {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label13:after {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label13 {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label13:before {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label13:after {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label13 span {
  color: black;
}

#AreaPageVseobecneParametreP4_Label13 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_Label13 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP4_Label13 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP4_NumericInput_6 {
  height: 30px;
}

#AreaPageVseobecneParametreP4_NumericInput_6 {
  top: 214px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_6 {
  left: 175px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_6 {
  width: 118px;
}

#AreaPageVseobecneParametreP4_NumericInput_6 {
  z-index: 5;
}

#AreaPageVseobecneParametreP4_NumericInput_6:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_6.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP4_NumericInput_6 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_6.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP4_NumericInput_6.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP4_NumericInput_6.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP4_NumericInput_6.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_6.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_6 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_6.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_6.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_6.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_6 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP4_NumericInput_6 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_NumericInput_6 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP4_Label31 {
  top: 11px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label31 {
  left: 9px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label31 {
  width: 290px;
}

#AreaPageVseobecneParametreP4_Label31 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label31 {
  z-index: 6;
}

#AreaPageVseobecneParametreP4_Label31 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP4_Label31 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_Label31 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP4_Label31 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP4_Label31 {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label31:before {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label31:after {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label31 {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label31:before {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label31:after {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label31 span {
  color: black;
}

#AreaPageVseobecneParametreP4_Label31 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_Label31 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP4_Label31 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP4_NumericInput_24 {
  height: 30px;
}

#AreaPageVseobecneParametreP4_NumericInput_24 {
  top: 16px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_24 {
  left: 176px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_24 {
  width: 118px;
}

#AreaPageVseobecneParametreP4_NumericInput_24 {
  z-index: 7;
}

#AreaPageVseobecneParametreP4_NumericInput_24:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_24.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP4_NumericInput_24 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_24.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP4_NumericInput_24.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP4_NumericInput_24.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP4_NumericInput_24.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_24.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_24 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_24.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_24.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_24.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_24 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP4_NumericInput_24 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_NumericInput_24 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP4_Label32 {
  top: 59px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label32 {
  left: 9px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label32 {
  width: 290px;
}

#AreaPageVseobecneParametreP4_Label32 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label32 {
  z-index: 8;
}

#AreaPageVseobecneParametreP4_Label32 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP4_Label32 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_Label32 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP4_Label32 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP4_Label32 {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label32:before {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label32:after {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label32 {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label32:before {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label32:after {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label32 span {
  color: black;
}

#AreaPageVseobecneParametreP4_Label32 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_Label32 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP4_Label32 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP4_NumericInput_25 {
  height: 30px;
}

#AreaPageVseobecneParametreP4_NumericInput_25 {
  top: 64px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_25 {
  left: 176px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_25 {
  width: 118px;
}

#AreaPageVseobecneParametreP4_NumericInput_25 {
  z-index: 9;
}

#AreaPageVseobecneParametreP4_NumericInput_25:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_25.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP4_NumericInput_25 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_25.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP4_NumericInput_25.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP4_NumericInput_25.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP4_NumericInput_25.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_25.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_25 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_25.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_25.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_25.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_25 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP4_NumericInput_25 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_NumericInput_25 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP4_Label14 {
  top: 258px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label14 {
  left: 9px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label14 {
  width: 290px;
}

#AreaPageVseobecneParametreP4_Label14 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label14 {
  z-index: 10;
}

#AreaPageVseobecneParametreP4_Label14 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP4_Label14 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_Label14 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP4_Label14 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP4_Label14 {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label14:before {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label14:after {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label14 {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label14:before {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label14:after {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label14 span {
  color: black;
}

#AreaPageVseobecneParametreP4_Label14 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_Label14 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP4_Label14 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP4_NumericInput_7 {
  height: 30px;
}

#AreaPageVseobecneParametreP4_NumericInput_7 {
  top: 263px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_7 {
  left: 175px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_7 {
  width: 118px;
}

#AreaPageVseobecneParametreP4_NumericInput_7 {
  z-index: 11;
}

#AreaPageVseobecneParametreP4_NumericInput_7:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_7.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP4_NumericInput_7 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_7.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP4_NumericInput_7.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP4_NumericInput_7.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP4_NumericInput_7.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_7.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_7 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_7.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_7.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_7.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_7 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP4_NumericInput_7 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_NumericInput_7 {
  box-shadow: none;
}

#AreaPageVseobecneParametreP4_Label15 {
  top: 308px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label15 {
  left: 9px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_Label15 {
  width: 290px;
}

#AreaPageVseobecneParametreP4_Label15 {
  height: 40px;
}

#AreaPageVseobecneParametreP4_Label15 {
  z-index: 12;
}

#AreaPageVseobecneParametreP4_Label15 {
  border-width: 2px;
}

#AreaPageVseobecneParametreP4_Label15 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_Label15 {
  background-color: lightgray;
}

#AreaPageVseobecneParametreP4_Label15 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageVseobecneParametreP4_Label15 {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label15:before {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label15:after {
  border-color: black;
}

#AreaPageVseobecneParametreP4_Label15 {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label15:before {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label15:after {
  border-style: none;
}

#AreaPageVseobecneParametreP4_Label15 span {
  color: black;
}

#AreaPageVseobecneParametreP4_Label15 {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_Label15 {
  font-weight: bold;
}

#AreaPageVseobecneParametreP4_Label15 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageVseobecneParametreP4_NumericInput_8 {
  height: 30px;
}

#AreaPageVseobecneParametreP4_NumericInput_8 {
  top: 313px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_8 {
  left: 175px;
  position: absolute;
}

#AreaPageVseobecneParametreP4_NumericInput_8 {
  width: 118px;
}

#AreaPageVseobecneParametreP4_NumericInput_8 {
  z-index: 13;
}

#AreaPageVseobecneParametreP4_NumericInput_8:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_8.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageVseobecneParametreP4_NumericInput_8 {
  border-radius: 4px;
}

#AreaPageVseobecneParametreP4_NumericInput_8.disabled {
  background-color: silver;
}

#AreaPageVseobecneParametreP4_NumericInput_8.disabled {
  border-color: #ff8800;
}

#AreaPageVseobecneParametreP4_NumericInput_8.active:not(.disabled) {
  background-color: white;
}

#AreaPageVseobecneParametreP4_NumericInput_8.active:not(.disabled) input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_8.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_8 {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_8.disabled {
  border-style: ridge;
}

#AreaPageVseobecneParametreP4_NumericInput_8.disabled input {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_8.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageVseobecneParametreP4_NumericInput_8 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageVseobecneParametreP4_NumericInput_8 input {
  font-size: 15px;
}

#AreaPageVseobecneParametreP4_NumericInput_8 {
  box-shadow: none;
}
