#AreaPageParametreMainP3_ImageParametreP2 {
  top: 0px;
  position: absolute;
}

#AreaPageParametreMainP3_ImageParametreP2 {
  left: 0px;
  position: absolute;
}

#AreaPageParametreMainP3_ImageParametreP2 {
  width: 1366px;
}

#AreaPageParametreMainP3_ImageParametreP2 {
  height: 588px;
}

#AreaPageParametreMainP3_ImageParametreP2 {
  z-index: 0;
}

#AreaPageParametreMainP3_ImageParametreP2 {
  opacity: 0.15;
}

#AreaPageParametreMainP3_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageParametreMainP3_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageParametreMainP3_Label1 {
  width: 400px;
}

#AreaPageParametreMainP3_Label1 {
  height: 40px;
}

#AreaPageParametreMainP3_Label1 {
  z-index: 1;
}

#AreaPageParametreMainP3_NavigationButtonRR_VseobecneParametre {
  top: 135px;
  position: absolute;
}

#AreaPageParametreMainP3_NavigationButtonRR_VseobecneParametre {
  left: 510px;
  position: absolute;
}

#AreaPageParametreMainP3_NavigationButtonRR_VseobecneParametre {
  width: 350px;
}

#AreaPageParametreMainP3_NavigationButtonRR_VseobecneParametre {
  height: 75px;
}

#AreaPageParametreMainP3_NavigationButtonRR_VseobecneParametre {
  z-index: 2;
}

#AreaPageParametreMainP3_NavigationButtonRR_VseobecneParametre:not(.active):not(.checked) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageParametreMainP3_NavigationButtonRR_VseobecneParametre.disabled {
  border-width: 1px 1px 1px 1px;
}

#AreaPageParametreMainP3_NavigationButtonRR_VseobecneParametre {
  border-radius: 5px;
}

#AreaPageParametreMainP3_NavigationButtonRR_VseobecneParametre:not(.disabled):not(.checked) {
  border-color: black;
}

#AreaPageParametreMainP3_NavigationButtonRR_VseobecneParametre span {
  font-size: 22px;
}

#AreaPageParametreMainP3_NavigationButtonRR_TolerancieSkrutkovania {
  top: 285px;
  position: absolute;
}

#AreaPageParametreMainP3_NavigationButtonRR_TolerancieSkrutkovania {
  left: 510px;
  position: absolute;
}

#AreaPageParametreMainP3_NavigationButtonRR_TolerancieSkrutkovania {
  width: 350px;
}

#AreaPageParametreMainP3_NavigationButtonRR_TolerancieSkrutkovania {
  height: 75px;
}

#AreaPageParametreMainP3_NavigationButtonRR_TolerancieSkrutkovania {
  z-index: 3;
}

#AreaPageParametreMainP3_NavigationButtonRR_TolerancieSkrutkovania:not(.active):not(.checked) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageParametreMainP3_NavigationButtonRR_TolerancieSkrutkovania.disabled {
  border-width: 1px 1px 1px 1px;
}

#AreaPageParametreMainP3_NavigationButtonRR_TolerancieSkrutkovania {
  border-radius: 5px;
}

#AreaPageParametreMainP3_NavigationButtonRR_TolerancieSkrutkovania:not(.disabled):not(.checked) {
  border-color: black;
}

#AreaPageParametreMainP3_NavigationButtonRR_TolerancieSkrutkovania span {
  font-size: 22px;
}

#AreaPageParametreMainP3_NavigationButtonRR_StavyStanic {
  top: 435px;
  position: absolute;
}

#AreaPageParametreMainP3_NavigationButtonRR_StavyStanic {
  left: 510px;
  position: absolute;
}

#AreaPageParametreMainP3_NavigationButtonRR_StavyStanic {
  width: 350px;
}

#AreaPageParametreMainP3_NavigationButtonRR_StavyStanic {
  height: 75px;
}

#AreaPageParametreMainP3_NavigationButtonRR_StavyStanic {
  z-index: 4;
}

#AreaPageParametreMainP3_NavigationButtonRR_StavyStanic:not(.active):not(.checked) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageParametreMainP3_NavigationButtonRR_StavyStanic.disabled {
  border-width: 1px 1px 1px 1px;
}

#AreaPageParametreMainP3_NavigationButtonRR_StavyStanic {
  border-radius: 5px;
}

#AreaPageParametreMainP3_NavigationButtonRR_StavyStanic:not(.disabled):not(.checked) {
  border-color: black;
}

#AreaPageParametreMainP3_NavigationButtonRR_StavyStanic span {
  font-size: 22px;
}
