#AreaPageManualMainP4_ImagePageManualMainP4 {
  top: 0px;
  position: absolute;
}

#AreaPageManualMainP4_ImagePageManualMainP4 {
  left: 0px;
  position: absolute;
}

#AreaPageManualMainP4_ImagePageManualMainP4 {
  width: 1366px;
}

#AreaPageManualMainP4_ImagePageManualMainP4 {
  height: 588px;
}

#AreaPageManualMainP4_ImagePageManualMainP4 {
  z-index: 0;
}

#AreaPageManualMainP4_ImagePageManualMainP4 {
  opacity: 0.15;
}

#AreaPageManualMainP4_Label1 {
  top: 13px;
  position: absolute;
}

#AreaPageManualMainP4_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualMainP4_Label1 {
  width: 400px;
}

#AreaPageManualMainP4_Label1 {
  height: 40px;
}

#AreaPageManualMainP4_Label1 {
  z-index: 1;
}

#AreaPageManualMainP4_Label1 {
  border-width: 3px;
}

#AreaPageManualMainP4_Image1 {
  top: 85px;
  position: absolute;
}

#AreaPageManualMainP4_Image1 {
  left: 10px;
  position: absolute;
}

#AreaPageManualMainP4_Image1 {
  width: 1342px;
}

#AreaPageManualMainP4_Image1 {
  height: 485px;
}

#AreaPageManualMainP4_Image1 {
  z-index: 2;
}

#AreaPageManualMainP4_Image1 {
  background-color: gainsboro;
}

#AreaPageManualMainP4_Image1 {
  border-style: solid;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4 {
  top: 380px;
  position: absolute;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4 {
  left: 35px;
  position: absolute;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4 {
  width: 310px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4 {
  height: 65px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4 {
  z-index: 3;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4 img {
  height: 55px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4 svg {
  height: 55px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4:not(.active):not(.checked) {
  border-width: 3px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4.disabled {
  border-width: 3px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4 {
  border-radius: 5px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4:not(.disabled):not(.checked) {
  border-color: green;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4 span {
  font-size: 22px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestAP4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_Rectangle1 {
  top: 330px;
  position: absolute;
}

#AreaPageManualMainP4_Rectangle1 {
  left: 380px;
  position: absolute;
}

#AreaPageManualMainP4_Rectangle1 {
  width: 125px;
}

#AreaPageManualMainP4_Rectangle1 {
  height: 160px;
}

#AreaPageManualMainP4_Rectangle1 {
  z-index: 4;
}

#AreaPageManualMainP4_Rectangle1 {
  border-style: solid;
}

#AreaPageManualMainP4_Rectangle1 {
  border-width: 4px;
}

#AreaPageManualMainP4_Rectangle1 {
  border-radius: 5px;
}

#AreaPageManualMainP4_Rectangle1 {
  border-color: green;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4 {
  top: 195px;
  position: absolute;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4 {
  left: 35px;
  position: absolute;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4 {
  width: 310px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4 {
  height: 65px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4 {
  z-index: 5;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4 img {
  height: 55px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4 svg {
  height: 55px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4:not(.active):not(.checked) {
  border-width: 3px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4.disabled {
  border-width: 3px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4 {
  border-radius: 5px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4:not(.disabled):not(.checked) {
  border-color: #ff751a;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4 span {
  font-size: 22px;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_NavigationButtonRR_FunkcnyTestBP4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_Rectangle2 {
  top: 155px;
  position: absolute;
}

#AreaPageManualMainP4_Rectangle2 {
  left: 380px;
  position: absolute;
}

#AreaPageManualMainP4_Rectangle2 {
  width: 125px;
}

#AreaPageManualMainP4_Rectangle2 {
  height: 160px;
}

#AreaPageManualMainP4_Rectangle2 {
  z-index: 6;
}

#AreaPageManualMainP4_Rectangle2 {
  border-style: solid;
}

#AreaPageManualMainP4_Rectangle2 {
  border-width: 4px;
}

#AreaPageManualMainP4_Rectangle2 {
  border-radius: 5px;
}

#AreaPageManualMainP4_Rectangle2 {
  border-color: #ff751a;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4 {
  top: 498px;
  position: absolute;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4 {
  left: 528px;
  position: absolute;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4 {
  width: 310px;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4 {
  height: 65px;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4 {
  z-index: 7;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4 img {
  height: 55px;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4 svg {
  height: 55px;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4:not(.active):not(.checked) {
  border-width: 3px;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4.disabled {
  border-width: 3px;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4 {
  border-radius: 5px;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4:not(.disabled):not(.checked) {
  border-color: #0052cc;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4 span {
  font-size: 22px;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_NavigationButtonRR_EtiketovanieP4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_Rectangle3 {
  top: 325px;
  position: absolute;
}

#AreaPageManualMainP4_Rectangle3 {
  left: 590px;
  position: absolute;
}

#AreaPageManualMainP4_Rectangle3 {
  width: 170px;
}

#AreaPageManualMainP4_Rectangle3 {
  height: 165px;
}

#AreaPageManualMainP4_Rectangle3 {
  z-index: 8;
}

#AreaPageManualMainP4_Rectangle3 {
  border-style: solid;
}

#AreaPageManualMainP4_Rectangle3 {
  border-width: 4px;
}

#AreaPageManualMainP4_Rectangle3 {
  border-radius: 5px;
}

#AreaPageManualMainP4_Rectangle3 {
  border-color: #0052cc;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4 {
  top: 380px;
  position: absolute;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4 {
  left: 1005px;
  position: absolute;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4 {
  width: 310px;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4 {
  height: 65px;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4 {
  z-index: 9;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4 img {
  height: 55px;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4 svg {
  height: 55px;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4:not(.active):not(.checked) {
  border-width: 3px;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4.disabled {
  border-width: 3px;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4 {
  border-radius: 5px;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4:not(.disabled):not(.checked) {
  border-color: #e6b800;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4 span {
  font-size: 22px;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_NavigationButtonRR_VytahP4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4 {
  top: 195px;
  position: absolute;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4 {
  left: 1005px;
  position: absolute;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4 {
  width: 310px;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4 {
  height: 65px;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4 {
  z-index: 10;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4 img {
  height: 55px;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4 svg {
  height: 55px;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4:not(.active):not(.checked) {
  border-width: 3px;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4.disabled {
  border-width: 3px;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4 {
  border-radius: 5px;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4:not(.disabled):not(.checked) {
  border-color: black;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4 span {
  font-size: 22px;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_NavigationButtonRR_DopravnikyP4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP4_Rectangle4 {
  top: 326px;
  position: absolute;
}

#AreaPageManualMainP4_Rectangle4 {
  left: 768px;
  position: absolute;
}

#AreaPageManualMainP4_Rectangle4 {
  width: 180px;
}

#AreaPageManualMainP4_Rectangle4 {
  height: 164px;
}

#AreaPageManualMainP4_Rectangle4 {
  z-index: 11;
}

#AreaPageManualMainP4_Rectangle4 {
  border-style: solid;
}

#AreaPageManualMainP4_Rectangle4 {
  border-width: 4px;
}

#AreaPageManualMainP4_Rectangle4 {
  border-radius: 5px;
}

#AreaPageManualMainP4_Rectangle4 {
  border-color: #e6b800;
}
