#HlavickaP2_DateTimeOutput1 {
  width: 200px;
}

#HlavickaP2_DateTimeOutput1 {
  top: 6px;
  position: absolute;
}

#HlavickaP2_DateTimeOutput1 {
  left: 8px;
  position: absolute;
}

#HlavickaP2_DateTimeOutput1 {
  height: 50px;
}

#HlavickaP2_DateTimeOutput1 {
  z-index: 0;
}

#HlavickaP2_DateTimeOutput1 {
  border-width: 3px;
}

#HlavickaP2_DateTimeOutput1 {
  border-radius: 5px;
}

#HlavickaP2_DateTimeOutput1 {
  background-color: lightgray;
}

#HlavickaP2_DateTimeOutput1 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#HlavickaP2_DateTimeOutput1 {
  border-color: black;
}

#HlavickaP2_DateTimeOutput1 {
  border-style: solid;
}

#HlavickaP2_DateTimeOutput1 span {
  color: black;
}

#HlavickaP2_DateTimeOutput1 {
  justify-content: center;
  text-align: center;
}

#HlavickaP2_DateTimeOutput1 {
  font-size: 20px;
}

#HlavickaP2_DateTimeOutput1 {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP2_ButtonResetCS {
  top: 6px;
  position: absolute;
}

#HlavickaP2_ButtonResetCS {
  left: 230px;
  position: absolute;
}

#HlavickaP2_ButtonResetCS {
  width: 150px;
}

#HlavickaP2_ButtonResetCS {
  height: 50px;
}

#HlavickaP2_ButtonResetCS {
  z-index: 1;
}

#HlavickaP2_ButtonResetCS:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#HlavickaP2_ButtonResetCS {
  justify-content: flex-end;
  text-align: right;
}

#HlavickaP2_ButtonResetCS:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP2_ButtonResetCS.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP2_ButtonResetCS.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP2_Image1 {
  top: 16px;
  position: absolute;
}

#HlavickaP2_Image1 {
  left: 240px;
  position: absolute;
}

#HlavickaP2_Image1 {
  width: 30px;
}

#HlavickaP2_Image1 {
  height: 30px;
}

#HlavickaP2_Image1 {
  z-index: 2;
}

#HlavickaP2_Image1 {
  border-width: 0px;
}

#HlavickaP2_ButtonZadneDvere {
  top: 6px;
  position: absolute;
}

#HlavickaP2_ButtonZadneDvere {
  left: 395px;
  position: absolute;
}

#HlavickaP2_ButtonZadneDvere {
  width: 150px;
}

#HlavickaP2_ButtonZadneDvere {
  height: 50px;
}

#HlavickaP2_ButtonZadneDvere {
  z-index: 3;
}

#HlavickaP2_ButtonZadneDvere:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#HlavickaP2_ButtonZadneDvere {
  justify-content: flex-end;
  text-align: right;
}

#HlavickaP2_ButtonZadneDvere:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP2_ButtonZadneDvere.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP2_ButtonZadneDvere.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP2_ImageListZadneLaveDvere {
  top: 16px;
  position: absolute;
}

#HlavickaP2_ImageListZadneLaveDvere {
  left: 402px;
  position: absolute;
}

#HlavickaP2_ImageListZadneLaveDvere {
  width: 30px;
}

#HlavickaP2_ImageListZadneLaveDvere {
  height: 30px;
}

#HlavickaP2_ImageListZadneLaveDvere {
  z-index: 4;
}

#HlavickaP2_ImageListZadneLaveDvere {
  border-width: 0px;
}

#HlavickaP2_ButtonPredneDvere {
  top: 6px;
  position: absolute;
}

#HlavickaP2_ButtonPredneDvere {
  left: 560px;
  position: absolute;
}

#HlavickaP2_ButtonPredneDvere {
  width: 150px;
}

#HlavickaP2_ButtonPredneDvere {
  height: 50px;
}

#HlavickaP2_ButtonPredneDvere {
  z-index: 5;
}

#HlavickaP2_ButtonPredneDvere:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#HlavickaP2_ButtonPredneDvere {
  justify-content: flex-end;
  text-align: right;
}

#HlavickaP2_ButtonPredneDvere:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP2_ButtonPredneDvere.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP2_ButtonPredneDvere.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP2_ImageListZadnePraveDvere {
  top: 16px;
  position: absolute;
}

#HlavickaP2_ImageListZadnePraveDvere {
  left: 566px;
  position: absolute;
}

#HlavickaP2_ImageListZadnePraveDvere {
  width: 30px;
}

#HlavickaP2_ImageListZadnePraveDvere {
  height: 30px;
}

#HlavickaP2_ImageListZadnePraveDvere {
  z-index: 6;
}

#HlavickaP2_ImageKarta {
  top: 7px;
  position: absolute;
}

#HlavickaP2_ImageKarta {
  left: 1050px;
  position: absolute;
}

#HlavickaP2_ImageKarta {
  width: 48px;
}

#HlavickaP2_ImageKarta {
  height: 48px;
}

#HlavickaP2_ImageKarta {
  z-index: 7;
}

#HlavickaP2_ImageKarta {
  border-width: 0px;
}

#HlavickaP2_ImageOperator {
  top: 12px;
  position: absolute;
}

#HlavickaP2_ImageOperator {
  left: 1120px;
  position: absolute;
}

#HlavickaP2_ImageOperator {
  width: 38px;
}

#HlavickaP2_ImageOperator {
  height: 38px;
}

#HlavickaP2_ImageOperator {
  z-index: 8;
}

#HlavickaP2_ImageOperator {
  border-width: 0px;
}

#HlavickaP2_TextOutputOperator {
  top: 6px;
  position: absolute;
}

#HlavickaP2_TextOutputOperator {
  left: 1174px;
  position: absolute;
}

#HlavickaP2_TextOutputOperator {
  width: 184px;
}

#HlavickaP2_TextOutputOperator {
  height: 50px;
}

#HlavickaP2_TextOutputOperator {
  z-index: 9;
}

#HlavickaP2_TextOutputOperator {
  border-width: 3px;
}

#HlavickaP2_TextOutputOperator {
  border-radius: 5px;
}

#HlavickaP2_TextOutputOperator {
  background-color: lightgray;
}

#HlavickaP2_TextOutputOperator {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#HlavickaP2_TextOutputOperator {
  border-color: black;
}

#HlavickaP2_TextOutputOperator:before {
  border-color: black;
}

#HlavickaP2_TextOutputOperator:after {
  border-color: black;
}

#HlavickaP2_TextOutputOperator {
  border-style: solid;
}

#HlavickaP2_TextOutputOperator:before {
  border-style: solid;
}

#HlavickaP2_TextOutputOperator:after {
  border-style: solid;
}

#HlavickaP2_TextOutputOperator span {
  color: black;
}

#HlavickaP2_TextOutputOperator {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#HlavickaP2_TextOutputOperator {
  font-size: 20px;
}

#HlavickaP2_TextOutputOperator {
  box-shadow: 2px 2px 10px black;
}

#HlavickaP2_TextOut_Warnings {
  top: 62px;
  position: absolute;
}

#HlavickaP2_TextOut_Warnings {
  left: 8px;
  position: absolute;
}

#HlavickaP2_TextOut_Warnings {
  width: 1350px;
}

#HlavickaP2_TextOut_Warnings {
  height: 35px;
}

#HlavickaP2_TextOut_Warnings {
  z-index: 10;
}

#HlavickaP2_TextOut_Warnings {
  border-width: 4px;
}

#HlavickaP2_TextOut_Warnings {
  border-radius: 4px;
}

#HlavickaP2_TextOut_Warnings {
  border-color: #999999;
}

#HlavickaP2_TextOut_Warnings:before {
  border-color: #999999;
}

#HlavickaP2_TextOut_Warnings:after {
  border-color: #999999;
}

#HlavickaP2_TextOut_Warnings {
  border-style: ridge;
}

#HlavickaP2_TextOut_Warnings:before {
  border-style: ridge;
}

#HlavickaP2_TextOut_Warnings:after {
  border-style: ridge;
}

#HlavickaP2_TextOut_Warnings span {
  color: black;
}

#HlavickaP2_TextOut_Warnings {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#HlavickaP2_TextOut_Warnings {
  font-size: 20px;
}

#HlavickaP2_TextOut_Warnings {
  box-shadow: 2px 2px 10px transparent;
}
