#LoginDialogP34_RectangleLogin {
  top: 0px;
  position: absolute;
}

#LoginDialogP34_RectangleLogin {
  left: 0px;
  position: absolute;
}

#LoginDialogP34_RectangleLogin {
  width: 500px;
}

#LoginDialogP34_RectangleLogin {
  height: 350px;
}

#LoginDialogP34_RectangleLogin {
  z-index: 0;
}

#LoginDialogP34_RectangleLogin {
  border-width: 2px;
}

#LoginDialogP34_RectangleLogin {
  border-radius: 0px;
}

#LoginDialogP34_RectangleLogin {
  background-color: #99b4d1;
}

#LoginDialogP34_ImageLogin {
  top: 10px;
  position: absolute;
}

#LoginDialogP34_ImageLogin {
  left: 20px;
  position: absolute;
}

#LoginDialogP34_ImageLogin {
  width: 60px;
}

#LoginDialogP34_ImageLogin {
  height: 60px;
}

#LoginDialogP34_ImageLogin {
  z-index: 1;
}

#LoginDialogP34_ImageLogin {
  box-shadow: 2px 2px 10px black;
}

#LoginDialogP34_TextOutput1 {
  top: 15px;
  position: absolute;
}

#LoginDialogP34_TextOutput1 {
  left: 130px;
  position: absolute;
}

#LoginDialogP34_TextOutput1 {
  width: 240px;
}

#LoginDialogP34_TextOutput1 {
  height: 50px;
}

#LoginDialogP34_TextOutput1 {
  z-index: 2;
}

#LoginDialogP34_TextOutput1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#LoginDialogP34_Line1 {
  z-index: 3;
}

#LoginDialogP34_Line1 line {
  stroke: white;
}

#LoginDialogP34_Line1 line {
  stroke-width: 3px;
}

#LoginDialogP34_LogoutButton_Exit {
  top: 270px;
  position: absolute;
}

#LoginDialogP34_LogoutButton_Exit {
  left: 60px;
  position: absolute;
}

#LoginDialogP34_LogoutButton_Exit {
  width: 150px;
}

#LoginDialogP34_LogoutButton_Exit {
  height: 40px;
}

#LoginDialogP34_LogoutButton_Exit {
  z-index: 4;
}

#LoginDialogP34_LogoutButton_Exit {
  border-radius: 10px;
}

#LoginDialogP34_LogoutButton_Exit:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#LoginDialogP34_LogoutButton_Odhlasenie {
  top: 270px;
  position: absolute;
}

#LoginDialogP34_LogoutButton_Odhlasenie {
  left: 290px;
  position: absolute;
}

#LoginDialogP34_LogoutButton_Odhlasenie {
  width: 150px;
}

#LoginDialogP34_LogoutButton_Odhlasenie {
  height: 40px;
}

#LoginDialogP34_LogoutButton_Odhlasenie {
  z-index: 5;
}

#LoginDialogP34_LogoutButton_Odhlasenie {
  border-radius: 10px;
}

#LoginDialogP34_LogoutButton_Odhlasenie:not(.disabled):not(.active):not(.checked) span {
  color: black;
}
